[2022-07-20 07:58] spydon commented on #1808
Just like the error says, you removed the component before it was added (or maybe you removed it twice in the same tick).

[2022-07-20 08:25] #1808 closed

[2022-07-20 11:16] alestiago opened #1809 "ci: Include a spell checker in the pipeline"
# What could be improved
Include a spell checker that automatically checks spelling for us.
This could be done by adding a github action. And a `json` file to include exceptions.

For example:
[code]

# Why should this be improved
Guarantee higher quality on our code. And avoid PRs such as #1807 #1246 #1332 #1280, and so on.

# Any risks?
No risk involved. If abused, perhaps on the GitHub billing.

[2022-07-22 02:25] wl1395182472 commented on #1784
Can soundpool cause frame rate loss?

[2022-07-22 08:04] spydon commented on #1784
@hukusuke1007 you should use `AudioPool` from `flame_audio` instead of the `AudioPlayer` class directly when playing the same audio multiple times within a short time span.

[2022-07-23 09:52] ufrshubham opened #1810 "Jittering when camera is following a component"
# Current bug behaviour
When using `FlameGame.camera` to follow a component, some jittering is observed.

# Expected behaviour

Camera should following the component without any jitter.

# Steps to reproduce

Here is simple Flame game which should be enough to se this issue. After running it, press `A` or `D` key to move the square left or right.
[code]

# Flutter doctor output

[code]

# More env

[2022-07-23 18:06] #1810 closed

[2022-07-23 21:33] erlend-sh commented on #1213
I agree an editor is out of scope. However, examples/tutorials of *how to make editor UI in Flame* would be greatly appreciated, speaking as a gamedev who’s on the fence about Flame for a game project.

It seems highly likely that Flame’s deep integration with Flutter will make this kind of thing very easy to do, but actually seeing it done in practice is far more compelling.

[2022-07-23 22:18] st-pasha commented on #1653
The problem here is that Flutter's `Path` doesn't support any kind of path effects: there are no along-path gradients, no across-path gradients, no way to change stroke width along the path, not even path patterns such as dashed/dotted. So I'm not sure how this could be implemented in practice.

[2022-07-24 01:17] #1800 closed

[2022-07-24 13:13] #1798 closed

[2022-07-24 13:17] spydon commented on #1653
The rendering wouldn't necessarily have to be with path, I think we fairly easily could just render particles along a path for example. We'll have to make sure to get in performant though, because I remember that when I played around with trails for the Padracing game some of the solutions became very inefficient.

[2022-07-24 16:59] chris-rutkowski opened #1816 "Lock to 30 FPS?"
Hey, excellent work with Flame, congrats!

In games there are scenarios where we may need to reduce the FPS, reasons such as:
- reduce battery consumption
- address the performance
- synchronise the frames with available frames in spritesheets

I checked the `FlameGame` and `Game` and I don't see the property such as desired/maximum FPS. Is there one? Otherwise, is it a planned feature? Shall we i

[2022-07-24 17:16] spydon commented on #1816
There is currently no such feature.
But it should be quite easy to implement yourself, just override `update` in `FlameGame` and do something like this:

[code]

[2022-07-25 09:58] #1774 closed

[2022-07-25 19:11] garysm opened #1818 "Add cursor components mixin to Game"
# Problem to solve

It would be convenient to propagate PointerHoverEvents to child Components, not just handle them from the base game.

# Proposal

Make a HasCursorHandlerComponents mixin on FlameGame, could be very similar to HasKeyboardHandlerComponents.  See example below:
[code]
# More information

Interested in a PR, basic implementation already tested.

[2022-07-25 19:12] spydon commented on #1818
Hi, we already have this. :)
The mixin for the components is called `Hoverable` and for the game it is `HasHoverableComponents`.

[2022-07-25 19:15] spydon commented on #1818
Ah, or you mean that it should propagate all mouse movement to all children all the time even when the pointer is not within the bounds of the component?

[2022-07-25 20:39] garysm commented on #1818
Correct, the latter.  It would be useful to handle the mouse movement from each component to do interesting things like updating the angle of components according to where the cursor is hovering.

[2022-07-26 09:57] Cubel89 opened #1820 "Illegal audio focus gain type 0 in FlameAudio.bgm.play"
# Current bug behaviour
When trying to play an audio with FlameAudio.bgm.play (flame_audio: ^1.3.0) it shows me the following error:

[ERROR:flutter/lib/ui/ui_dart_state.cc(198)] Unhandled Exception: PlatformException(Unexpected error!, Illegal audio focus gain type 0, java.lang.IllegalArgumentException: Illegal audio focus gain type 0

Example:
[code]

# Expected behaviour
Until previous versions

[2022-07-26 09:59] spydon commented on #1820
Does this happen on all audio files that you try, or only this one?

[2022-07-26 10:02] Cubel89 commented on #1820
In all the audios that have FlameAudio.bgm.play (which are two, I am applying one for the start music and the other as background music in the game). The rest of the audios work fine (audios for button presses, jumps, death, etc...).

[2022-07-26 10:21] Cubel89 commented on #1820
From what I understand flame_audio works with audioplayers library. Would there be the possibility of being able to assign a manual playerId when assigning a sound? I think I remember that in previous versions, sometimes it would fail me because it reached an audios limit. But I think I remember that what I am telling you now, happened to me with the short audios.

[2022-07-26 11:25] spydon commented on #1820
And it also happens if you use your audio for jump for example with the bgm?

[2022-07-26 11:26] spydon commented on #1820
For short audios that you play a lot you should use `AudioCache`, which is part of `flame_audio`.

[2022-07-26 13:37] Cubel89 commented on #1820
No no, for small audios I use play ("FlameAudio.play('explosion.mp3')"), but previously I have cached everything as indicated in the documentation of version 1.1.0 (https://docs.flame-engine.org/1.1.0/flame_audio/audio.html)

I use this function FlameAudio.audioCache.loadAll(['explosion.mp3', 'music.mp3']) as the documentation indicates

[2022-07-26 13:54] spydon commented on #1820
I mean if you use the `explosion.mp3` file but with `bgm`, just to see whether it could be a problem with the file format or something like that.

Sorry typo, I meant `AudioPool`. But if it works for you just with `FlameAudio.play` then no need to change it.

[2022-07-26 14:29] Cubel89 commented on #1820
If I have time this afternoon, or if not tomorrow, I'll prepare a mini-project where I replicate what I do, page 1 I put everything in cache, page 2 reproduces the content.

I haven't tried changing the bgm format. But I'll try it too. I have not tried it because the same thing happens to me with 2 different files. Both versions worked back but now the error appears in both.

[2022-07-26 17:07] chris-rutkowski commented on #1816
Thanks @spydon ! That will work.

[2022-07-26 17:07] #1816 closed

[2022-07-27 06:51] Kantino777 opened #1822 "SpriteAnimationComponent doesn't render on web"
# Current bug behaviour

I am using Flame and try to render a `SpriteAnimationComponent`. It works on an Android emulator but not on web. I tried with both Chrome and Edge.

# Expected behaviour

`SpriteAnimationComponent` should render on web.

# Steps to reproduce

I am following this tutorial: https://blog.codemagic.io/flutter-flame-game-development/
Source code available here: https://github.c

[2022-07-27 10:26] spydon commented on #1822
I'm not sure what is wrong, but the `SpriteAnimationComponent` is working like it should on all platforms on the example page:
https://examples.flame-engine.org/#/Animations_Basic%20Animations

For your usecase I would use `SpriteAnimationGroupComponent` which can handle several different animation states.

[2022-07-27 10:50] Kantino777 commented on #1822
I still have the problem with `SpriteAnimationComponent`: rendered on android emulator, not on web.

<details>
<summary>
DinoPlayer
</summary>

[code]

</details>

[2022-07-27 16:22] spydon commented on #1773
I like the first option, but would your suggestion work when the user isn't coming in to the root page as the first page?
If they'd for example click on https://docs.flame-engine.org/1.2.0/flame_forge2d/forge2d.html the Flame section shouldn't be expanded.

[2022-07-27 16:27] immadisairaj commented on #1773
Yes, the Flame section won't be expanded then. The only place it is expanded is when it is in the home page of the complete docs site.

[2022-07-27 19:09] #1773 closed

[2022-07-30 14:39] ufrshubham commented on #1822
@Kantino777 Web example of `SpriteAnimationGroupComponent` is also working as it should: https://examples.flame-engine.org/#/Animations_Basic%20Animations. On of my game also uses `SpriteAnimationGroupComponent` and is running perfectly fine on web. https://github.com/ufrshubham/dino_run

[2022-07-30 14:47] ufrshubham opened #1827 "Sharing SpriteAnimation"
# What could be improved

Would be better to warn users when same `SpriteAnimation` is shared between multiple `SpriteAnimationComponent`s or `SpriteAnimationGroupComponent`s.

# Why should this be improved

Right now, if a `SpriteAnimation` is shared between multiple components, it gets ticked by all the components that are using it, causing the animation to essentially speed up.

# Any risks?

N

[2022-07-30 14:52] spydon commented on #1827
Since the animation have no sense of a parent, how do you plan to show the warning?

[2022-07-30 15:56] ufrshubham commented on #1827
Haven't thought this through, but I am thinking of extending `SpriteAnimation` from `Component`. That way we can it as an child of `SpriteAnimationComponent` every time it is set.

[2022-07-30 16:26] spydon commented on #1827
`SpriteAnimation` is unfortunately a class that should be able to live outside of FCS, just like `Sprite`. I guess that it could still have a parent field that is manually set though, but it feels a bit dirty.

[2022-07-30 16:35] st-pasha commented on #1827
You could add the `animationIndex` in the SpriteAnimationComponent, and set it to be the same as in the SpriteAnimation. Then, whenever in the future you detect that the animation indices had diverged, it would be a clear indicator that the SpriteAnimation is being used improperly.

[2022-07-30 16:43] ufrshubham commented on #1827
`animationIndex` will diverge even when users explicitly modify `SpriteAnimation`'s `currentIndex`

[2022-07-30 20:48] Kantino777 commented on #1822
@ufrshubham Good to know it works in the general case. Can you test the project https://github.com/Ivy-Walobwa/flutter_flame_game_example and see if you can see the dino character ? To know if the problem is specific to my environment. Because I don't see what could be wrong in the code

[2022-07-31 04:11] st-pasha opened #1829 "HasDecorator with PositionComponent"
# What could be improved

Currently, the `HasDecorator` mixin works by wrapping the component's `renderTree()` with the decorator's `apply()` method. This works fine for position-independent decorators (such as those that manipulate the paint), but is problematic for decorators that need to know the component's coordinates.

Specifically, the `PositionComponent` in its `renderTree` method applies

[2022-07-31 07:03] ufrshubham commented on #1822
I checked the project shared by @Kantino777 and was able to reproduce the problem. The spritesheet used in that project is quite huge (20460 x 474 px) and it seems that `Image` is struggling to load this on web builds. It works if I lower the resolution of the whole spritesheet or even if I split it into multiple smaller chunks. The problem might be in Flutter because same behavior is observed whe

[2022-07-31 08:36] Kantino777 commented on #1822
@ufrshubham Thanks for checking and your investigation. Since this was just a tutorial, I am glad to see that the problem comes from this specific spritesheet. I shouldn't get this trouble when building my own game then.

[2022-07-31 11:45] spydon commented on #1829
Hmm, I'm undecided, seems like 1 is more convenient, but also it breaks the separation in a way that might not be very nice.

[2022-07-31 13:09] spydon commented on #1822
We should probably introduce a warning when loading that big spritesheets, I realize this isn't the first time someone has had this problem.

[2022-07-31 14:22] obrunsmann commented on #1710
Is it already known in which release the fix will be included?

[2022-07-31 14:42] spydon commented on #1710
Have you tried adding the `KeyboardEvents` mixin to the game?

[2022-08-02 03:36] juliavi commented on #182
The link above doesn't work

[2022-08-04 03:57] ChadCSong opened #1832 "`onTapXX` method called incorrect with TapCallbacks on Flame 1.2.0+"
# Current bug behaviour
I am using  `FlameGame` and try to add a `PositionComponent` to game. `onTapXX` method called incorrect with TapCallbacks when I change the PositionComponent's position on version 1.2.1
I found the method `componentsAtPoint` in `Component` class is incorrectly pass the global point into `containsLocalPoint`.

# Expected behaviour
I think the point need parentToLocal first w

[2022-08-04 08:53] st-pasha commented on #1832
The method `componentsAtPoint(point)` is supposed to accept a `point` which is in the local coordinate space. So I believe that it works as it's supposed to.

The tap events do get dispatched as they are supposed to, as can be seen in demos at
https://docs.flame-engine.org/main/tutorials/klondike/step4.html and https://docs.flame-engine.org/main/flame/inputs/tap-events.html#demo.

If you did find

[2022-08-04 09:39] ChadCSong commented on #1832
Tap the PeopleComponent first and the TapEvent will incorrect call when the Component moving down( Tap area is far from the drawed Rect).

[code]

[2022-08-04 09:42] ChadCSong commented on #1832
Override the follow method can resolve this bug, but I think that is not the origin design.
[code]

[2022-08-04 09:54] ChadCSong commented on #1832
The follow method called `componentsAtPoint` by pass canvasPosition value.
Is the canvasPosition is global position,not the local position?

[code]

[2022-08-04 09:56] st-pasha commented on #1832
If you turn on the debug mode `add(PeopleComponent()..debugMode=true);`, you'd see where the component is considered to be for the purposes of tap detection. You'll notice that the position of the component diverges from where the yellow square is rendered.

This is because `PositionComponent`'s `render()` is executed after the canvas translation, i.e. in the component's local coordinate space. Th

[2022-08-04 09:58] ChadCSong commented on #1832
thanks for your anwser, I will try.

[2022-08-04 10:02] #1832 closed

[2022-08-05 12:36] NashIlli commented on #1258
Hey! That issue [airbnb/lottie-ios#1314](https://github.com/airbnb/lottie-ios/issues/1314) was recently solved and closed. So maybe it i a good time for including lottie in Flame Engine? It would be an amazing feature!

[2022-08-08 01:38] st-pasha opened #1835 "Collision detection improvements"
This is a proposal for some changes to the hitbox/collision-detection system, for the purpose of improving efficiency and interoperability with other parts of Flame. This issue is intended as discussion / collaboration with @spydon, before we start the actual work.

First problem that needs to be addressed is that currently the collision detection system can only "live" at the root FlameGame level

[2022-08-08 16:22] spydon commented on #1835
Sounds good, should be fairly simple to implement.

The problem with this is that we want to be able to add hitboxes as components and we want the shape class to be more generic and possible to be used outside of FCS. Otherwise we'll go back to how the first collision detection system was, with `addHitbox` and I think the current system is nicer for the user.

We'll have to make sure that this cla

[2022-08-08 18:42] spydon commented on #182
Here is the correct link:
https://docs.flame-engine.org/1.2.0/flame/game.html#flutter-widgets-and-game-instances

[2022-08-08 19:33] st-pasha commented on #1835
Yeah, we may need to think this through a bit more carefully. Let's stick with the idea that from a user's perspective a "hitbox" is a component: call it `HitboxComponent`. This component contains: a `Shape` of the hitbox, and the `collisionType` property. Now, the collision detection system keeps a reference to this object, and also creates projections of the hitbox shape onto the root plane. We

[2022-08-09 18:16] nmarafo opened #1836 "Install Flame audio package crash project if you run with linux"
# Current bug behaviour
Installing the flame_audio package from pub.dev causes a crash if you run the project on linux.

It works again when uninstalling the package.

# Expected behaviour
install the package normally.

# Steps to reproduce
1. Create a flutter project
2. Install flame_audio package
3. Run project on linux

# Flutter doctor output

[code]

# More environment information

# Log info

[2022-08-09 18:36] spydon commented on #1836
That is this issue: https://github.com/bluefireteam/audioplayers/issues/1197

If I remember correctly Ubuntu based distros bundle a ridiculously old cmake version.

[2022-08-10 06:24] #1375 closed

[2022-08-11 12:55] cmedamine commented on #1836
[nmarafo](https://github.com/nmarafo) I think you should install flutter manually instead of using snap if you are using a Linux distro thats because snap doesn't have proper CMake support.

[2022-08-11 13:54] nmarafo commented on #1836
Thank you very much for the reply. I'll try to do the manual installation to see if that fixes it.
Greetings.

[2022-08-12 07:25] spydon commented on #1836
I think that you should also be able to get it working by install it from snap too if you manually set the channel:
`snap refresh --channel=edge/core20 flutter`
Since that is using this PR https://github.com/canonical/flutter-snap/pull/61

[2022-08-13 08:50] nmarafo commented on #1836
Thanks Lukas, but it didn't work for me... I tried to install Flutter manually but it keeps getting the path of the old installation. I hope it will be fixed when I upgrade to Ubuntu 22...

[2022-08-13 08:52] spydon commented on #1836
Did you make sure that it was fully uninstalled first?

[2022-08-13 09:36] nmarafo commented on #1836
I followed these steps:
`
$ sudo snap remove flutter
$ sudo snap install flutter --classic
$ flutter sdk-path
$ snap refresh --channel=edge/core20 flutter
`
but doesn't work

[2022-08-13 10:17] spydon commented on #1836
I'm not fully aware of how snap works, but shouldn't you set the channel before you install, otherwise you'll just install the same version again?

[2022-08-13 11:19] nmarafo commented on #1836
If I uninstall flutter before updating ```snap --channel=edge/core20 flutter```

I get the message ```snap "flutter" is not installed```.

I have reinstalled flutter again with ```sudo snap install flutter --classic --channel=edge/core20```.

Also refresh channell and install flutter...

Maybe it's related to this issue?...
https://github.com/Dart-Code/Dart-Code/issues/2791

[2022-08-14 14:46] spydon commented on #1829
We discussed this on the meeting now and generally we wouldn't add new fields on `PositionComponent`, but this one is probably important enough to make an exception. So go ahead with option 1 if you want. Hopefully we can get this in before the release right? :)

[2022-08-14 19:01] alestiago commented on #1733
@st-pasha what is the status of this? Have you started working on a solution?

[2022-08-14 21:06] CalvinMT opened #1843 "SpriteButton not releasing upon tap cancellation"
# Current bug behaviour
When cancelling a tap on a `SpriteButton`, the sprite of the `SpriteButton` stays in its pressed version, although the finger isn't pressing the screen anymore.

# Expected behaviour
It was expected for the `SpriteButton` to appear released upon cancelling its press.

# Steps to reproduce
Add a `SpriteButton.asset()` to a widget's build function and give it the paths to two

[2022-08-14 22:43] st-pasha commented on #1829
I've been thinking about this, and here's what comes to mind:

1. Since `PositionComponent` is the ancestor for almost every other component in the game, we definitely want to make sure that it is as lean and efficient as possible. Which means we ought to be really cautious about adding new fields there.
2. Currently, `PositionComponent` is **not** as lean as possible: all its properties are `Valu

[2022-08-15 06:48] #1843 closed

[2022-08-15 08:18] spydon commented on #1829
Option 3 sounds like quite a big breaking change, or would it be possible to do it in a non-breaking way? And would we be able to get this done before the release (which is on friday at the latest)?

[2022-08-15 08:18] spydon commented on #1843
Thanks for your fix!

[2022-08-15 18:23] rivella50 commented on #1762
As i understand overlays in Flame context these are Flutter widgets.
What about overlays which extend Component? Currently such classes can only be added to another component or used as pages when used with the just added routing mechanism, but not as overlays supported by routing.
Is such a support also possible?

[2022-08-15 18:40] spydon commented on #1762
@rivella50 that is possible with #1755, to use that functionality you can either depend on `main` or wait a few days until we release v1.3.0.

[2022-08-15 20:28] rivella50 commented on #1762
@spydon Ah ok, good to know. Thanks for clarifying.

[2022-08-16 16:07] st-pasha commented on #1733
@alestiago I haven't, this could probably wait until after the next release (which is in just a few days).

[2022-08-16 19:48] ufrshubham commented on #1835
Sometime back there was a discussion about introducing a concept of layers for hitboxes, but it was shot down at that time 😅. I'm hoping that it gets considered in one of these improvements some day. Some use cases do not work very well with just the existing 3 `CollisionType`s and having collision layers would benefit such cases. #980

[2022-08-17 07:21] immadisairaj opened #1849 "Key Event dings in MacOS when using KeyboardHandler in Component"
I am trying to add a key event for the sprite component in the game. I have used `KeyboardHandler` mixin in `SpriteComponent` and `HasKeyboardHandlerComponents` mixin in game.

# Current bug behaviour
With `KeyboardHandler`, I when overriding the `bool onKeyEvent`, and returning true to handle key events, The macOS dings telling it's not handled (which is not).
But, when using `KeyboardEvents` in

[2022-08-17 11:20] spydon commented on #1849
The boolean that is returned from the component mixin is not for marking whether the event is handled or not, but whether it should keep on propagating to the next component or not. But maybe there is still a fix needed in the `HasKeyboardHandlerComponents` mixin.

[2022-08-17 13:07] immadisairaj commented on #1849
Looking at `keyboard.dart`

[code]

I think, if a child gets the event, the `blockedPropagation` has to be true which should result in the event handled?

I might be missing something here.

On a side note: we can add the doc comments in `keyboard_handler.dart` to easily understand the use of return type.

[2022-08-18 04:57] dshukertjr opened #1850 "`SpriteBodyComponent` seems to not exist"
# Current bug behaviour
I was trying to create a `BodyComponent` with an image and I found [SpriteBodyComponent](https://docs.flame-engine.org/1.0.0/forge2d.html#spritebodycomponent) on the docs, but it seems like `SpriteBodyComponent` does not exist in the code base.

# Expected behaviour
I think this is an outdated documentation, so it would be amazing if the section about `SpriteBodyComponent`

[2022-08-18 06:25] spydon commented on #1850
That must be updated in the docs indeed! The correct way now is to create a `BodyComponent` and add a `SpriteComponent` as a child to it.

[2022-08-18 07:00] dshukertjr commented on #1850
@spydon
Thank you so much for the quick response!

[2022-08-18 22:24] #1777 closed

[2022-08-19 12:29] #1829 closed

[2022-08-19 16:27] tboyce021 opened #1851 "ConcurrentModificationError using changeParent"
# Current bug behaviour

Calling `changeParent` throws a `ConcurrentModificationError`.

# Expected behaviour

Calling `changeParent` shouldn't throw an exception.

# Steps to reproduce

Run the following game and wait 5 seconds:
[code]

# Flutter doctor output

[code]

# More environment information

# Log information

[code]

# More information

[2022-08-19 16:50] spydon commented on #1851
You should not modify the component tree from within a timer (it can run at any time), set a boolean or something from the timer and then do the actual modification in `update`.

[2022-08-19 17:08] tboyce021 commented on #1851
I actually tried that but it's the same result:
[code]

[2022-08-19 17:10] #1762 closed

[2022-08-19 17:15] tboyce021 commented on #1851
FWIW, the same code using the flag doesn't crash with flame 1.0.0 but does with 1.1.0+.

[2022-08-19 17:40] tboyce021 commented on #1851
It seems to only be an issue when the child component was previously a sibling of the parent.

This works:
[code]

This doesn't:
[code]

[2022-08-19 19:30] spydon commented on #1851
Very strange, since that feels like quite a common usecase, but it's probably a bug then.
Could your write up some full tests that fail, that we can have a look at?

[2022-08-19 19:55] st-pasha commented on #1851
[code]
[code]

[2022-08-19 20:36] st-pasha commented on #1851
I think I know what happens here. As we traverse the component tree during the `update` phase, we process the lifecycle events for each component, and then execute the `update()` and recurse into the children. However, if the child's lifecycle attempts to move that component to a different parent -- the one that is currently on the call stack, then a concurrent modification occurs.

Not yet sure h

[2022-08-20 23:02] wolfenrain commented on #1851
Should we not do the all the lifecycle events before the update, then do the update that can create new lifecycle events but those should only be consumed in the next tick?

[2022-08-20 23:23] st-pasha commented on #1851
I was thinking along the same lines: instead of having LifecycleManager on each component, make a single global lifecycle queue which would store pending lifecycle events for all components and then resolve them in bulk at the beginning of each game tick.
This might be even more efficient, since the number of such events on every tick is not very big.

[2022-08-22 05:18] alestiago opened #1859 "(flame_forge2d) provide a `ContactListenerComponent`"
# Problem to solve
There is a lack of an API to enable doing so. Currently, stacking ContactCallbacks is particularly challenging.

**For example consider solving the following scenario:**
Given body component `A` that contacts  body component `B` and components `C` and `D` which are `A`'s children that want to listen to `A` and `B` contacts.

# Proposal
The main idea is to favour composition over

[2022-08-22 05:20] alestiago commented on #1859
(cc: @spydon , @wolfenrain)

[2022-08-22 05:57] alestiago opened #1860 "(flame) allow specifying when a Component requires repaint"
# What could be improved
As a flame user I would like to be able to specify which components require a repaint.

For example:
[code]

The above snippet would shows how the `render` method is called multiple times. Instead, as a flame user I would like this method to only run once if I know nothing has changed.

As a flame user I would expect that if my game is idle and nothing is changing the rend

[2022-08-22 05:58] alestiago commented on #1860
(cc: @jamesblasco)

[2022-08-22 06:03] alestiago commented on #1797
@realvotum thanks for opening an issue.

Can you provide a minimal reproductive sample?

Also, have you tried doing so for your component?
[code]

[2022-08-22 06:10] alestiago opened #1861 "(flame) allow theming `paint`"
# What could be improved
As a flame developer I would like to set all my component paints to `paint.filterQuality = FilterQuality.medium`. However, flame currently doesn't expose an API to achieve so.

Currently the paint is hard coded and can't be changed https://github.com/flame-engine/flame/blob/275ca17d7e780deb9c72c8b439309a1f1413b7a1/packages/flame/lib/src/components/mixins/has_paint.dart#L15

[2022-08-22 06:11] alestiago commented on #1861
(cc: @erickzanardo , @wolfenrain)

[2022-08-22 06:39] spydon commented on #1797
There is already a MRE in the issue.

[2022-08-22 06:47] spydon commented on #1859
I don't think one would like to add a whole level in the component tree just to listen to events, that doesn't seem like a very performant solution?

[2022-08-22 06:54] spydon commented on #1860
I think this is close to impossible, or maybe only possible in very few cases and it would add insane complexity to add this, since Flame wouldn't be able to start off with a fresh canvas each time. Or do you have a solution in mind that you could share?

[2022-08-22 07:39] wolfenrain commented on #1860
We already have the layer API if you wish to cache results and such.

As @spydon mentioned, if we want to do this we somehow have to reuse the same canvas and clip out parts that we want to repaint, but imho that is a complexity that isn't scalable for something like a game engine.

Considering we already have the layer API that can cache render results, I would suggest looking into that first.

[2022-08-22 09:47] wolfenrain commented on #1859
Instead of making it a component, what about a mixin?

It could work the same way as we have the flame collision system. On collision check if the body has a component that `is ContactListenerMixin`, if so trigger that otherwise check for any registered `ContactListeners`. That wouldn't add to the cost of the component tree but would be flexible for any kind of game made with FlameGame.

[2022-08-22 09:55] alestiago commented on #1859
We already can mix it in, however it only works for one component, since it can only be assigned to a single `userData`. We should defiantly improve on it to allow mixit in with multiple. So indeed, this is something this issue points at. It can be done with a mixin or a component, or both.

Also, I personally feel like the developer experience is better with components over mixins. I do understan

[2022-08-22 10:14] wolfenrain commented on #1859
We already have the `KeyboardHandler` mixin that does this btw ;-), but we draw the line at performance, we prefer to optimize for performance over user-ability unless the performance is negligible (which is subjective of it's own)

The patterns from third party packages are not a main concern for the engine it self, as mentioned above we prefer to optimize for performance over user-ability. If a

[2022-08-22 10:24] alestiago commented on #1859
I don't think we need to traverse the tree to do that. We can create a system that avoid traversing by improving the `WorldContactListener`. The game already holds an instance of the world which has this listener. So a `ContactListenerComponent` can register itself.

[2022-08-22 11:31] spydon commented on #1861
How do you propose to solve this?
If the user sets a manual paint, how will you know if the user wants to use the global setting or the setting from the paint that it has currently set?
You can do:
[code]
But you won't know if you overwrite a user set value.

[2022-08-22 11:38] spydon commented on #1859
So the most common usecase here is for the `ContactListenerComponent` to pass the information of the callbacks to its children? Or was there a point in having the `children` in the example?
Or is the usecase just to handle the contacts itself? If so, I don't understand why it needs to be in the component tree, since it isn't dependent on `update` or `render`.

[2022-08-22 11:57] alestiago commented on #1859
Indeed, `ContactListenerComponent` doesn't need to be on the component tree.

I think we can get rid of the proposed `ContactListenerComponent` and just improve the `ContactCallbacks` listener mixin so that it can be used more than once and with a nice API to detect fixuture contacts only.

[2022-08-22 12:04] alestiago commented on #1861
I'm open to proposals.

If we had an `InheritedComponent` concept we can have a `DefaultPaintStyleComponent` and when painting the closest `DefaultPaintStyleComponent` would be fetched (in O(1)) and used. This would only be done if the user has not specified a paint via the constructor.

(Note: this mimics https://api.flutter.dev/flutter/widgets/DefaultTextStyle-class.html)

This way you can scope

[2022-08-22 12:27] spydon commented on #1859
That sounds much better indeed

[2022-08-22 14:26] alestiago commented on #1859
@spydon I'll close this issue and open a new one where we can discuss proposed `ContacCallback` API.

Does this sound good to you?

[2022-08-22 14:35] #1859 closed

[2022-08-22 16:13] alestiago commented on #1861
Yes.

[2022-08-23 05:54] rivella50 commented on #1763
Hopefully the planned transitions will eventually also be available for the overlays part.

[2022-08-23 06:24] rivella50 commented on #1776
I'm not sure if a dedicated loading screen would be a good solution since it forces the developers to use that screen-based approach only.
What about a fully styleable component which _can_ be used (if wanted) on a loading screen (created and navigated to like all other screens with the new routing system) or anywhere else?

For not having tight coupling and therefore possibly having problems pass

[2022-08-23 10:45] ufrshubham opened #1865 "Raycast from within CircleHitbox ignores the hitbox"
# Current bug behaviour
I found an issues when using CircleHitboxes and raycast. It seems that if I cast a ray from inside a circular hitbox, it automatically ignores that hitbox. But if the hitbox is replaced with a rectangular hitbox, it works fine.

# Expected behaviour
Ideally the raycast should stop at the circular hitbox similar to how it does for rectangle.

# Steps to reproduce
Here is an

[2022-08-23 11:32] spydon commented on #1865
I wonder if it is because the ray is straight up or something, because it works on here:
https://examples.flame-engine.org/#/Collision%20Detection_Raytracing
Very strange, will try to solve it tomorrow if I get some time!

[2022-08-23 17:37] st-pasha commented on #1763
The regular `Route`s are `PositionComponent`s, so you can apply a number of effects to them in order to create a transition: move them in any direction, or scale, or apply transparency, or blur out, etc.

All of that is already working, there's no need to create the transition effects per se. The only thing that's currently missing is that for the duration of transition both the old and the new ro

[2022-08-23 18:52] rivella50 commented on #1763
@st-pasha Thanks for your opinion. Transitions for overlays is definitely not the same as for `Component`s.
I'm looking forward to the new release.

[2022-08-24 10:10] realvotum commented on #1797
@alestiago Thank you for your response.

There's a link to github repo with minimal reproductive sample in the "Steps to reproduce" section above.
As for `paint.filterQuality = FilterQuality.high;` , I'm using the `SvgComponent` from the `flame_svg-1.2.0` package to render my .svg image. The `SvgComponent` neither takes `Paint` as a parameter nor exposes `Paint` field anywhere. I may miss somethin

[2022-08-25 10:59] spydon commented on #1152
Not really a solution, but if you run with Impeller this issue shouldn't occur.

[2022-08-27 19:16] raulmabe commented on #1457
Hello! I am new to Flame and I was trying to set the priority of my components in order to achieve what you said @spydon.
I thought the priority system was broken until I saw this discussion and read the following line:

I didn't understand that priority is scoped to the parent's children just by looking at the [documentation of this section](https://docs.flame-engine.org/1.3.0/flame/components.ht

[2022-08-27 19:23] spydon commented on #1457
Thanks for the feedback! Do you want to add that to the docs and put up a PR for it? :)

[2022-08-28 04:37] Hwan-seok opened #1871 "game.overlays.removeAll causes concurrentModificationException"
# Current bug behaviour
Imagine that you do not know current active overlays and want to remove all overlays.
You should use `game.overlays.removeAll(overlays.activeOverlays)`.

But when you use `game.overlays.removeAll(overlays.activeOverlays)`, the overlays throws `ConcurrentModificationException`.

# Expected behaviour
Safely remove all overlays.

# Steps to reproduce
- You can reproduce it by

[2022-08-28 10:27] Hwan-seok commented on #1871
I think it is related to the usage of overlays but not the overlay itself.

The following is the workaround.
[code]

[2022-08-28 10:27] #1871 closed

[2022-08-28 10:54] spydon commented on #1871
You can call `overlays.clear()` if you want to remove all the overlays.

[2022-08-28 11:00] akvus opened #1872 "Allow children of `ComposedParticle` to have varied lifespan"
# Problem to solve
`ComposedParticle` propagates its lifespan to all its children when it is constructed. This overrides the lifespan assigned to its children (i.e. while using `Particle.generate`).

# Proposal
Make a version of `ComposedParticle` that would allow children to use their own lifespan.

[2022-08-28 11:03] spydon commented on #1872
Sounds sensible, it could probably be an optional argument to the constructor. Do you want to work on a PR for this?

[2022-08-28 11:29] Hwan-seok commented on #1871
You are right. When simply removing all overlays, `overlays.clear()` would be OK.

Actually, in my case, it has more implementation internally about "protected" overlay.
I have many overlays in my app and sometimes all should be removed except for "protected".
So when I remove all overlays, I should filter the "protected" from overlays.activeOverlays and use removeAll.
So it is different from `cle

[2022-08-28 11:52] spydon commented on #1871
If you filter it first you shouldn't get a `ConcurrentModificationException` since you get back a new iteratable after doing `where`:
[code]

[2022-08-28 15:33] raulmabe opened #1873 "Doc of `RenderableTileMap.getLayer<T extends Layer>` from `flame_tiled` is misleading"
# What could be improved

The documentation or implementation of `RenderableTileMap.getLayer<T extends Layer>(String name)` from `flame_tiled`

# Why should this be improved

Doc of `RenderableTileMap.getLayer<T extends Layer>(String name)` from `flame_tiled` is misleading IMO:

  /// of this map. If no such layer is found, null is returned.

Reading this I thought it would recursively check from

[2022-08-28 15:39] spydon commented on #1873
I vote for number 2. It will be a breaking change of course, but I doubt anyone's current code will be affected by it. I'll assign you to the issue.

[2022-08-28 15:48] raulmabe commented on #1873
Good! Let me propose another solution and you decide:

3. Update the docs of the current method and add another one to `RenderableTileMap` maybe called `getLayerRecursively()` or `getDeepLayer()` with the new implementation.

This way it won't be a breaking change; although I also doubt anyone's code will be affected by it.

[2022-08-28 16:43] raulmabe opened #1874 "`flame_tiled` `RenderableTileMap ` does not render nested `TileLayer` & `ImageLayer`"
Very related to https://github.com/flame-engine/flame/issues/1873

I don't know if this is expected as I am not a heavy Tiled user, but seems off to me and libGDX did render every TileLayer without caring about levels deep.

# Current bug behaviour
Currently [`RenderableTileMap` does only consider the first level of layers to render](https://github.com/flame-engine/flame/blob/main/packages/flame_t

[2022-08-28 16:59] spydon commented on #1873
I think 2 is fine still.

[2022-08-28 17:19] spydon commented on #1874
This will probably be quite a big undertaking, but we are of course open to PRs if you're interested in building this!
What do you think @kurtome @ufrshubham @nathanaelneveux?

[2022-08-28 17:42] kurtome commented on #1874
It might be really simple to just add the child layers of Groups recursively as independent renderable layers.

I'm not sure if parent Group properties (like offset x/y) can affect the children though.

[2022-08-28 17:42] ufrshubham commented on #1873
We should proceed with caution with option 2, because layers from different groups can have same name. In fact, any 2 layers in the same level can have same name too. So searching recursively for just one will return just the first match. Maybe we should add a `getLayerById()` because `id` is unique for each layer.

[2022-08-28 17:45] ufrshubham commented on #1874
Yeah, they do affect all the child layers.

[2022-08-28 18:36] spydon commented on #1873
Alright, maybe better to add a boolean optional argument to `getLayer` that is used to decide whether it should search recursively or not then? And seems fitting to use BFS here, to make that the result is alike as the current one as possible.

Sounds like something we could also add.

[2022-08-28 19:49] munsterlander commented on #1873
When we wrote that code, the basic thinking was you wouldn't create layers with the same name, but I agree in that it should probably use by id because that is truly unique. That makes the code less understandable though. Another thought is using dot notation for nested layers so you can use names and not recurse.

[2022-08-28 22:56] Hwan-seok commented on #1871
Yes, but creating a new Iterable does not prevent it.
it should be used with `...where(...).toList()`.

I added both tests, you can check them in here
https://github.com/Hwan-seok/flame/blob/b6e06389e95ae8703774aaf2c4782834e9cefa44/packages/flame/test/game/overlays_manager_test.dart#L162-L187

[2022-08-29 08:16] spydon commented on #1871
True true, I forgot that the iterable is lazy.

[2022-08-29 13:03] raulmabe commented on #1873
I am looking at the libGDX code to see how they did it and get some inspiration:

1. [They keep a reference of the parent layer in each Layer.](https://github.com/libgdx/libgdx/blob/b86c20cf1a354f5345fd1e8612dcd46c9b46a972/gdx/src/com/badlogic/gdx/maps/MapLayer.java#L31)
2. [They invalidate/validate the layer offset when some parent layer has updated its offset](https://github.com/libgdx/libgdx/bl

[2022-08-29 14:53] akvus commented on #1872
I believe there is one question first.
If we'll have separate lifespans for the particles within `ComposedParticle`, then they won't get removed once they reach the end of their lifecycles. They will get removed when `ComposedParticle` reaches the end of its lifespan. This means a developer would need to manually stop rendering the particles when `progress` reaches 1 so they don't just keep hangin

[2022-08-30 14:31] raulmabe commented on #1874
What do you think about the following solution:

- Render all renderable layers without caring about its level deep, doing a DFS.
- Each layer should have a reference to its parent layer in order to calc the resulting properties.

So if each layer has a reference to its parent layer, forming a LayerTree; we could have the following getters:

- opacity -> `get opacity => (parent?.opacity ?? 1) * op

[2022-08-30 14:43] spydon commented on #1874
Sounds like these layers possibly could be built with `PositionComponent`s? Which would enable a lot of cool things.

[2022-08-30 18:33] raulmabe commented on #1874
That sounds interesting although I don't know the full benefits as I am just learning about flame. Would you care elaborating? As I understand the current layers are not build as `PositionComponent`s are they?

[2022-08-30 18:47] ufrshubham commented on #1874
Yeah, extending layers from the position component seems worth it. Along with handling the transformations automatically and correctly, it will also allow users to play around with priority values for each layer. Creating a foreground and background layer using the same tilemap will become possible.

[2022-08-31 13:03] kurtome commented on #1874
This looks right to me, I played with Tiled a bit and the offsets are definitely additive and the opacity is multiplicative. I'm guessing the `parallaxX` and `parallaxY` are also multiplied with their parent (so, 0.5 and 0.5 => 0.25), similar to opacity. Although I didn't test the parallax much.

Another important note here is that you can nest groups within groups, so when calculating the value f

[2022-08-31 18:10] uristrimber opened #1880 "Background music coming out of earpiece speaker only on iOS (Flame audio)"
# Current bug behaviour

Background music coming out of earpiece speaker only on iOS
# Expected behaviour

The sound should come out of the main speaker also
# Steps to reproduce

Initialize bgm music, play any file.

# More environment information

Create a list of more environment information, like:
* Flame version: 1.3.0
* Platform affected: ios
* Platform version affected: ios 15

[2022-08-31 20:13] spydon commented on #1880
Duplicate of #1194

[2022-08-31 20:15] #1880 closed

[2022-08-31 20:21] uristrimber commented on #1880
@spydon do you want me to pr the fix to flame_audio? I just came to the same solution as on https://github.com/bluefireteam/audioplayers/issues/1194

[2022-08-31 23:33] spydon commented on #1880
The PR should go to audioplayers (we maintain that too) if you have a good fix, flame_audio is just a thin wrapper.

[2022-09-02 21:59] jtmcdole opened #1882 "Isometric support in `flame_tiled`"
# What could be improved
`flame_tiled` (and thus flame) could support Tiled's isometric tile maps.

![image](https://user-images.githubusercontent.com/1924313/188240447-411b8c1f-8db8-4602-a65f-a6190433dd33.png)

# Why should this be improved
Gota have that shadowrun returns isometric feel.

# Any risks?
Doesn't seem like it at first glance; but I'm not an expert.  I didn't look into the painted la

[2022-09-02 22:09] jtmcdole commented on #1882
Happy to put this up as a change - assumption is that no one is using isometric right now, so it would be "experimental" at best.

[2022-09-03 05:34] jtmcdole commented on #1882
I'll have a pull request soon once I write some tests - but it works with the RSTransform, so that's nice.

[2022-09-04 18:38] kurtome commented on #1874
Related to Group layers generally: https://github.com/flame-engine/tiled.dart/pull/51

[2022-09-04 19:28] kurtome commented on #1874
This isn't the prettiest solution, but it seems to get the job done: https://github.com/flame-engine/flame/pull/1886

[2022-09-04 23:18] jtmcdole opened #1887 "Hexagonal Support in `flame_tiled`"
# What could be improved
Support Tiled's Hexagonal maps

![image](https://user-images.githubusercontent.com/1924313/188337151-08a11ced-a004-4d64-a98e-8accc9363f94.png)

# Why should this be improved
Gota have that Catan  hexagonal feel.

# Any risks?
Doesn't seem like it at first glance; but **I'm not an expert**. I didn't look into the painted layer. I didn't try to render objects from the object

[2022-09-05 00:58] jtmcdole opened #1888 "`flame_tiled` does not render on Web with packed tilesets"
# Current bug behaviour
`TiledComponent.load()` with a tmx file containing an internal (packed) tileset does not render when running Flame on Chrome or Edge targets.

# Expected behaviour
It renders on web.

# Steps to reproduce
E.g. embedded tileset:

[code]

To get it working:

[code]

# Flutter doctor output
[code]

# More environment information
* Flame version: 1.3.0
* Platform affected: web

[2022-09-05 06:00] jtmcdole commented on #1888
In _RenderableTileLayer._cacheLayerTiles():

[code]

If `flip` is true, `SpriteBatch.addTransform`, a synchronous function, calls an unawaited async function `_makeFlippedAtlas`.

Whatever `_makeFlippedAtlas` is doing is broken on Web.  Even with an unpacked `tsx` file, if it contains a single tile that's flipped, it will not be rendered.  However - is `flip: true` even needed if the rotation is a

[2022-09-05 06:11] jtmcdole commented on #1888
`flip` is needed (for you guessed it.. flips not rotations) - but `_makeFlippedAtlas` does not work on web.

[2022-09-05 08:38] spydon commented on #1888
Have you tried running it in any non-chrome based browsers?

[2022-09-05 09:48] #1872 closed

[2022-09-05 16:25] spydon commented on #1888
Any difference on different renderers?
https://docs.flutter.dev/development/platform-integration/web/renderers#command-line-options

[2022-09-05 16:26] jtmcdole commented on #1888
Last comment:

in `_RenderableTileLayer.load` - if you pass `useAtlas: !kIsWeb` to SpriteBatch.load, it at least fixes that issue with localhost.

[2022-09-05 16:31] jtmcdole commented on #1888
Chrome-desktop with HTML render:  no images loaded. FpsTextComponent shows "2" - not 100.
Chrome-android with HTML render: no images loads, FpsTexTcomponent shows "15" - was showing 30 (on other flame games, I was getting 120fps).
Safari on iPad with HTML render: some images broken, isomorphic with individual images loads. Fps 3.

[2022-09-05 16:40] jtmcdole commented on #1888
**--web-renderer canvaskit and useAtlas: !kIsWeb**

`flutter run -d web-server  --web-port 8080 --web-hostname 0.0.0.0 --web-renderer canvaskit`

Chrome Desktop (localhost, ip:port): 100fps (smooth as glass) all images load
Chrome Android (ip:port): ~95fps, all images load
Safari iPad (ip:port): 60fps (smooth), all images load.

[2022-09-05 16:49] jtmcdole commented on #1888
I'm also not getting bad boundary paints with `useAtlas: !kIsWeb`  whereas before I was getting a sliver of texture painted at the top of tiles at different zoom levels.

I could put up my hacky "codefu is playing with tiled way more than he should be" project if you'd like to see the repos.

[2022-09-05 18:11] spydon commented on #1888
The sliver you are talking about is probably this issue: https://github.com/flutter/flutter/issues/14288
It should be possible to solve by using this viewport (or using Impeller :sweat_smile:) https://github.com/flame-engine/flame/pull/1866

I wonder if this is a degradation in Flutter then, because we used to have this by default in the code some versions ago if I remember correctly.

[2022-09-05 19:59] #1882 closed

[2022-09-05 20:16] jtmcdole commented on #1888
The sliver problem is not vertical lines, but horizontal.  If zoom level is 1, no problems.  I think it is more around the non-power-of-2 sprite sheets.

![image](https://user-images.githubusercontent.com/1924313/188507788-39413041-a307-4bd0-a809-5c4b4c806241.png)

[2022-09-06 02:09] jtmcdole opened #1890 "Make TiledMapComponent positionable"
# What could be improved
`TiledMapComponent` extends `Component` - in discord conversations it was agreed that they should extend `PositionComponents`

bonus points: tiles could also be positionable, leading to some interesting animations of tiles entering the world.

# Why should this be improved
No other way to position aside from wrapping the map in a Position component.  No way to position til

[2022-09-06 05:25] ufrshubham commented on #1860
IMO very few type of games will benefit from such a system. For example, to actually see any performance improvement from such a system, the component in question needs to satisfy these conditions:
- Does not animate
- Does not change position, angle, scale, size
- Does not use effects/decorators
- Nothing dynamic gets rendered on top of it
- Nothing dynamic gets rendered behind it
- Is big/high q

[2022-09-06 07:31] spydon commented on #1890
It will be very cool when you can start applying effects to tiles!
Definitely worth making breaking changes here, I think a lot of the code can be simplified when it makes use of the fields in the `PositionComponent`.

I assigned you to the issue.

[2022-09-06 08:56] immadisairaj commented on #1849
I tried to play with it a bit and following are what I have observed.

- When we don't override `onKeyEvent`:
  - The `blockedPropogation` is being set to `false` when no event is being handled - which is expected

- When we override `onKeyEvent`:
  - The `blockedPropogation` is being set to `false` when we return `true` in the method
  - The `blockedPropogation` is being set to `true` when we ret

[2022-09-06 08:57] spydon commented on #1107
I wonder what we could name this, I feel that `orientation` might be a bit confusing.
Maybe one of these (not completely convinced by any of them though so please add more suggestions if you have any):
 * `initialAngle`
 * `initialOrientation`
 * `startAngle`
 ...

[2022-09-06 10:13] ufrshubham commented on #1107
As this new property is just going to offset the actual angle, calling it `angularOffset` would be appropriate. Words like `initial` and `start` make it seem like it gets applied only at the beginning and not throughout the lifetime of the component.

[2022-09-06 10:29] spydon commented on #1890
As mentioned in Discord, making the tiles `PositionComponent` won't be efficient enough sadly, but it should be fine to have the `TiledMapComponent` as a `PositionComponent`.

[2022-09-06 16:28] jtmcdole commented on #1890
Yeah - I think this warrants more exploration. If someone has a smaller map games (e.g. Into the Breach has only 8x8 tiles!) might not care about all the optimizations if they want to do their animations:

![image](https://user-images.githubusercontent.com/1924313/188687705-655bbcba-218b-477d-8516-f0bdc423478d.png)

[2022-09-06 17:46] st-pasha commented on #1107
* `nativeAngle`
* `intrinsicAngle`

I think it's best to stick to the naming pattern "*Angle", to make it clear that this property is a kind of angle and not anything else.

[2022-09-06 18:50] jtmcdole commented on #1890
(note: this grid is similar to hex grids. its h = w*.75).. will have to play with this concept later...

[2022-09-07 04:15] jtmcdole commented on #1888
It's this bug!  flutter/flutter/issues/103803

Closing this as its a Flutter bug for 3.3.0

[2022-09-07 04:15] #1888 closed

[2022-09-07 04:16] jtmcdole commented on #1888
for anyone else on flutter 3.3.0 and testing:

[code]

[2022-09-07 13:30] jtmcdole opened #1893 "Support Tiled's Isometric Staggered"
# What could be improved
Support the last layout featured in Tiled - Isometric Staggered.  In this mode, the tiles do not follow the isometric coordinate system, but instead resemble the hexagonal staggering.

# Why should this be improved
I'm a completionist.

# Any risks?
None.

# More information
I'll work on this PR

[2022-09-08 07:58] spydon commented on #1107
`nativeAngle` is the best one so far I think.

[2022-09-09 07:56] spydon commented on #1865
@ufrshubham does this happen if you cast the ray in any other direction?

[2022-09-09 07:57] ufrshubham commented on #1865
Nope. I observed this behaviour only for vertically up raycasts.

[2022-09-09 08:00] spydon commented on #1850
I realized that this is actually already updated, the link in the issue is going to an old version of the docs.
This is the latest version https://docs.flame-engine.org/1.3.0/flame_forge2d/forge2d.html

I wonder if we can tell google to only index the last version...

[2022-09-09 08:00] #1850 closed

[2022-09-09 08:02] spydon commented on #1836
@nmarafo could you try again now? Since https://github.com/canonical/flutter-snap/pull/61 is merged I'm hoping that it would work now.

[2022-09-10 21:30] jtmcdole commented on #1893
Slightly on hold as the current use of `SpriteBatch` on RenderableTileMap is breaking in all contexts where there could be tile overlaps (staggering, tall tiles, etc).

[2022-09-11 00:06] jtmcdole opened #1898 "Flame Tiled: Batch caching by image name leads to incorrect painting."
# Current bug behaviour

Tiled maps multiple images (either multiple atlases, or multiple single-sourced images) will not render correctly in staggered modes. It may not operate correctly in other modes as well.

# Expected behaviour

Maps that match what Tiled renders.

# Steps to reproduce

1. Create a tiled map (isometric, staggered, x-asis, even or odd).
2. Use multiple, oversized images for t

[2022-09-11 03:27] jtmcdole commented on #1898
wssy on discord also suggested dynamically creating new batches could also be a solution.

[2022-09-11 05:07] jtmcdole commented on #1898
Generating a single Atlas from all the images in a layer works and appears performant. I know the Atlas is made one per layer - further optimizations would be to make one and only one Atlas for the map.

![image](https://user-images.githubusercontent.com/1924313/189513296-d639aef0-fe2a-4ba2-9923-2566a82ebdfa.png)

[2022-09-11 11:19] spydon commented on #1893
Any idea how that could be solved?

[2022-09-11 12:34] jtmcdole commented on #1893
I have a bug open for it and ideas that are planning out!  This is unblocked.

[2022-09-11 15:41] #1873 closed

[2022-09-11 15:41] #1874 closed

[2022-09-11 19:53] jtmcdole commented on #1890
Skipping individual tile positioning for now; going with the title "just let me move this thing around".

[2022-09-12 05:32] ufrshubham commented on #847
I know this is quite old, but @renancaraujo, were you able to reproduce this issue? If not, we can ask @vlladislav45 to check this again in latest Flame release. If it works now, this can be closed.

[2022-09-12 11:40] nmarafo commented on #1836
Hi @spydon, after refresh with ```snap refresh --channel=edge/core20 flutter```, I get the following error message:
[code]
flutter doctor it's OK.

Actually I'm working with Ubuntu 22.04.1 LTS

[2022-09-12 11:41] spydon commented on #1836
Since the channel has been merged now I don't think you should need to do that step.

[2022-09-12 11:55] nmarafo commented on #1836
looking at /snap/flutter/127/ the folder is empty....

[2022-09-12 13:10] renancaraujo commented on #847
Couldn't reproduce it on both windows and mac. We have a bug in the logic of the example when there are 3+ keys pressed, but nothing related to anything in the engine.

[2022-09-13 07:22] #1893 closed

[2022-09-13 23:25] jtmcdole opened #1904 "Minor Bug: Layer offsets in tiled map don't respect scaling"
# Current bug behaviour
TiledMaps with destination tile sizes smaller/larger than the Tiled map have offsets that do not scale.

Two examples:
![image](https://user-images.githubusercontent.com/1924313/190026481-e029204a-98af-4aa2-b7bf-1514716cf38c.png)

The offsets calculated in #1886 need to include scale.

# Expected behaviour
Small or larger maps look like regular maps... just smaller or bigge

[2022-09-14 01:51] st-pasha opened #1905 "Camera should be able to slide along the world boundary"
# What could be improved

As discussed in #1902, whenever the target moves outside of camera bounds, the camera would "stick" to the boundary and remain there until the target removes into the allowed region. A more natural behavior would be for the camera to "slide" along the camera boundary, so that it always remains as close as possible to the target within the allowed region.

# Why should thi

[2022-09-15 06:13] #847 closed

[2022-09-15 07:32] #1890 closed

[2022-09-17 13:13] spydon commented on #926
I'm closing this as inactive, it's most likely solved in the new version of AudioPlayers anyways.

[2022-09-17 13:13] #926 closed

[2022-09-17 13:17] #1307 closed

[2022-09-17 13:21] spydon commented on #1641
I'm closing this as inactive.

[2022-09-17 13:21] #1641 closed

[2022-09-17 13:25] spydon commented on #1622
I think you fixed this, right @st-pasha?

[2022-09-17 17:59] ufrshubham commented on #1503
I've been playing around with [dcdg](https://pub.dev/packages/dcdg) package and it seems like it might work. I was able to generate this using output from that package and the command line tool from [graphviz](https://graphviz.org/)

![dot1](https://user-images.githubusercontent.com/33748002/190869858-2a621006-e579-44a0-855c-408f34a10c28.png)

The output is not very presentable, but I think it eno

[2022-09-17 18:42] securez opened #1913 "Refactor packages/flame_tiled/lib/src/renderable_tile_map.dart"
# What could be improved
Split some large files that holds several classes, Ex: packages/flame_tiled/lib/src/renderable_tile_map.dart

# Why should this be improved
To ease refactor and work on the package.

# Any risks?
I don't recall for any

# More information
I already refactored packages/flame_tiled/lib/src/renderable_tile_map.dart to split them in multiple files that are parts, and split a c

[2022-09-17 18:50] ufrshubham commented on #1913
I literally did the same thing today. It is definitely worth it to refactor that file before it goes out of control. Splitting into part should be fine.

As for making _RenderableTileLayer public, not sure how much value it can add. If someone really wants to do custom rendering they can always directly access the layers from the tiled package.

[2022-09-17 19:08] spydon commented on #1913
Should I assign you to the issue @ufrshubham?

[2022-09-17 19:12] ufrshubham commented on #1913
Yeah I can create a PR for this, unless @securez already has plans to take up this issue.

[2022-09-17 19:32] securez commented on #1913
I already did split all the files but didn't change visibility:

[code]
One class that I'm started to think to split is _RenderableTileLayer into _RenderableIsometricTileLayer, etc. but I'm need some more use case testing with object over the map prior to refactor _RenderableTileLayer.

I can submit a PR with the split files only.

[2022-09-17 19:34] spydon commented on #1913
@kurtome @jtmcdole

[2022-09-17 19:45] spydon commented on #1503
@st-pasha made something that looked pretty good a long time ago as a poc, but I don't remember which library he used.

[2022-09-17 20:01] jtmcdole commented on #1913
I can split the renderable tile layer, but not sure how much value that brings when it's only caching that is different.

I do see value in the caching math being exposed for path finding more so than messing with the blitting.

[2022-09-17 20:47] ufrshubham commented on #1913
@jtmcdole maybe in your PR just move the layer classes into part files and let it merge. After that we can think of splitting the renderable tile layer if needed.

[2022-09-17 20:50] ufrshubham commented on #1503
Yeah, style-wise, mermaid's output is the closest to the image that we have right now in docs.

[2022-09-17 21:36] st-pasha commented on #1503
Yes, we can already generate mermaid diagram in the docs, just add a snippet like
[code]
The problem is that the default styles assume light page theme, and so the output doesn't look very good on a dark page. So, we need to figure out how to fix that.

[2022-09-17 21:49] jtmcdole commented on #1913
Which PR :D

[2022-09-17 22:08] st-pasha commented on #1622
Not quite: there is a work-around where one can use a `RichTextComponent` to display multi-paragraph text, but that's not quite the same.

[2022-09-18 04:08] jtmcdole opened #1914 "Support animated tiles"
# What could be improved

Tiled supports animated tiles. tiled.dart looks to parse them.  We can support animated tiles easily once #1910 lands.

# Why should this be improved

Animations rock:
![Animation](https://user-images.githubusercontent.com/1924313/190887021-30901a80-0c6b-4660-a73c-57baa6d7f8aa.gif)

# Any risks?

Update to layers to be more component like - they need an update() phase.

#

[2022-09-18 04:21] ufrshubham commented on #1913
I was thinking #1906, but since it is now fully ready, let's do this refactor in a separate PR.

[2022-09-18 15:08] #1904 closed

[2022-09-18 16:22] #1865 closed

[2022-09-18 18:57] #1107 closed

[2022-09-18 20:21] #1772 closed

[2022-09-19 10:51] #1913 closed

[2022-09-19 11:30] spydon commented on #1914
Couldn't they just be components?

[2022-09-19 11:31] jtmcdole commented on #1914
They can, but that is a different pr

[2022-09-20 08:23] wl1395182472 opened #1925 "Gesture: System gesture gate timed out."
## [SystemGestureGate] <0x101c8d590> Gesture: System gesture gate timed out.

1.i use flame in my project.
2.i add  'HasTappableComponents','HasDraggableComponents' these two mixin about Gesture into Class FlameGame.
3.it worked normally on ios 15.4,it makes error when i update on ios 16.0.
4.but it works normally on android.

flutter doctor:
[✓] Flutter (Channel stable, 3.0.1, on macOS 12.6 21G11

[2022-09-20 09:23] spydon commented on #1925
Can you post the full stacktrace/error that you get?
This sounds like a Flutter bug, but I couldn't find any open issues related to the error you wrote in the title.

[2022-09-20 12:20] rivella50 opened #1926 "[flame] Allow InfiniteEffectController be stopped"
# What could be improved
It should be possible that a running `InfiniteEffectController` can be stopped.

# Why should this be improved
Since `InfiniteEffectController` simplifies running a repeating effect (also without knowing the amount of steps yet) it would be great if that controller could be stopped from outside by considering the 2 possible end cycles (after completing `duration` and/or `r

[2022-09-20 13:49] spydon commented on #1926
@st-pasha what do you think of this design?

[2022-09-21 03:39] iBinbro opened #1929 "How to simulate the software effect? Like a rope."
# Problem to solve
flame is a very good game engine, thank you very much for your contributions. Now I have a problem in using it, how to simulate the software effect? Like a rope.

# More information
![rope](https://user-images.githubusercontent.com/15324447/191409057-713eb0e8-ca6e-4641-a8e4-77105df57a31.gif)

[2022-09-21 04:31] ufrshubham commented on #1929
This is already supported by forge2d's rope joint.

[2022-09-21 04:56] st-pasha commented on #1929
You could model a rope like that by creating a chain of stick-shaped rigid bodies, each with some small but nonzero mass.

[2022-09-21 06:16] iBinbro commented on #1929
Thanks, it's a really good idea so far.
But is there a performance issue if my rope is too long?
How do I achieve a stretchable rubber band effect?

[2022-09-21 06:18] iBinbro commented on #1929
Thanks, I know. But what I'm trying to achieve right now is that rope.

[2022-09-21 14:28] jtmcdole opened #1932 "TiledComponent.size `Y` size wrong"
# Current bug behaviour

`isometric` vertical size is wrong (e.g. map of x:4, y:1) - its meant to be more like hexagonal.

# More information
I'll fix it

[2022-09-21 16:12] pdeveltere commented on #1326
this still seems to be a problem. The tappable events are not correct, whem I do camera movements. e.g. zoom or snapTo...

[2022-09-21 16:51] st-pasha commented on #1326
You would need to use the new CameraComponent, see https://docs.flame-engine.org/1.3.0/flame/camera_component.html

[2022-09-22 04:14] wl1395182472 commented on #1925
![image](https://user-images.githubusercontent.com/55087590/191656959-2655b5ac-3815-48f3-96f6-6dd9f4ae5192.png)

[        ] "method: resume"
[        ] "playerId: 752aa0f9-2c42-4af5-a8ca-bab58f16aef2"
[+2966 ms] [SystemGestureGate] <0x1026557b0> Gesture: System gesture gate timed out.
[+3016 ms] "method: setReleaseMode"
[        ] "playerId: 5a79fcc1-cd84-4cab-a7ab-22850e4c01ad"

[+2966 ms] [Syste

[2022-09-22 04:17] wl1395182472 commented on #1925
thank for your help @spydon
but i test common flutter project about gesture and it does not have this error

[2022-09-22 06:59] st-pasha commented on #1925
In any system there are 2 kinds of errors: (1) errors caused by incorrect use of the API of that system (external errors), and (2) errors caused by internal inconsistencies within the system (internal errors). The external errors will normally have messages indicating where the problem is and what the user did wrong. The internal errors will typically be vague and indecipherable.

By the looks of

[2022-09-22 15:40] filiph opened #1934 "Allow the new TapCallbacks API to recognize secondary mouse button clicks"
# Problem to solve

Allow desktop and web games to use the second mouse button. The right-click is a common input method for some games. Think deselecting in a city builder, issuing commands in an RTS, or secondary weapon fire in a top-down shooter.

# Background

Flame is currently in transition from the `TapDetector`-`Tappable` API to the newer `HasTappableComponents `-`TapCallbacks` API. The ol

[2022-09-22 15:44] filiph commented on #1934
Actually, since `MultiTapListener` already takes care of so much, maybe all we need is a `SecondaryTapListener`? Basically just keeping `MultiTapListener` to be the hero, just adding the extra case for secondary / tertiary buttons.

[2022-09-22 17:49] ASGAlex commented on #1653
I have made "trail" implementation using combinations of Component, Picture and Image. Here is the algorithm, in general:
1. We adds "trail" components into special map-sized PositionComponent while object moving
2. At update() all added components are painted into Picture. After component has been painted, it removed from list
3. Picture periodically being saved into Image to avoid performance de

[2022-09-23 01:34] st-pasha opened #1935 "Create SpriteFont class"
Currently we have `SpriteFontTextFormatter`, but not the `SpriteFont` class. Encapsulating the font  information into a dedicated class would make it easier to create multiple formatters from the same font definition (i.e. for different font sizes, colors, etc); and also to support sprite-fonts from the `TextStyle` class.

The change would affect the construction of the `SpriteFontTextFormatter`.

[2022-09-23 01:46] st-pasha opened #1936 "[core] Create a new BareFlameGame class"
The `BareFlameGame` class would be like the `FlameGame` (i.e. based on a component tree), but without the built-in camera (hence, "bare"). Thus, its structure would be something like this:
[code]

This would essentially be a bare-bones FCS game, without any additional features.

This class would make it easier to use the new `CameraComponent` without having to carry around the old camera too.

[2022-09-23 04:54] jtmcdole commented on #1936
For components that care about the camera (`TiledComponent`), how would they get access to the camera?

[2022-09-23 11:13] #1926 closed

[2022-09-23 13:31] spydon commented on #1936
The `TiledComponent` will have to take a `CameraComponent` into consideration too,  how is the current `TiledComponent` using the old camera?

[2022-09-23 13:33] spydon commented on #1936
Sounds good, I think in Flame 2.0 this would be the new `FlameGame` and the other camera completely removed.

[2022-09-23 14:21] spydon commented on #1935
How would the slow deprecation cycle look like here when it is the constructor that needs to be deprecated?
Are there only optional arguments that need to be deprecated?

[2022-09-23 14:50] NashIlli commented on #1258
Any comments on this? I think that the previous issue was resolved on Lottie Ios https://github.com/airbnb/lottie-ios/issues/1314
Is it on your roadmap or something similar? Thanks in advance! :)
@doug-orchard

[2022-09-23 14:53] spydon commented on #1258
If anyone makes a bridge package (`flame_lottie`) just like with rive we will happily review and accept it into the code base. We don't have any plans of creating this package ourselves at the moment.

[2022-09-23 14:55] #1914 closed

[2022-09-23 14:55] #1932 closed

[2022-09-23 17:53] st-pasha commented on #1935
We could make the new constructor a factory one, and deprecate the default constructor. Then, after few releases the default constructor can be removed, and then later we can make the default constructor do the same thing as the factory constructor and deprecate the latter.

A slightly more breaking approach would be to rename the current constructor into `.legacy()`, and make the new default cons

[2022-09-24 00:03] jtmcdole commented on #1936
With the mixin `with HasGameRef<T>` where `T extends FlameGame` - so you can see that's immediately wrong.

`onLoad` it grabs the camera and then shoves it on the `RenderableTileMap`.

So in the future, it is expected that `CameraComponent` will be passed to render? The TiledComponent is in the "world" and multiple cameras can render it... so you could just say `TileComponent()..camera = myCamera1

[2022-09-24 01:53] st-pasha commented on #1936
@jtmcdole Generally, components shouldn't really care about the camera; though there could be some that may want to take into account certain properties related to the camera: the currently visible region of the world, camera zoom level, etc. We were planning to pass this information along with the `RenderingContext`, see #1684 for the discussion around that.

[2022-09-24 10:24] spydon opened #1938 "Flame v2 breaking changes"
# Flame v2 breaking changes

This issue doesn't mean that we are soon to release v2, it's not even on the horizon yet.
In here we'll track breaking changes that we would want to do for Flame v2 so that they are not forgotten.

- [ ] Rename `HasGameRef` to `HasGameReference`.
- [ ] Convert the use of `ShapeComponent` in the collision detection to use pure shapes instead.
- [ ] Remove the `Camera` f

[2022-09-24 13:41] spydon commented on #1935
The first approach sounds good.

[2022-09-24 14:27] #1574 closed

[2022-09-27 06:41] ufrshubham opened #1940 "Expose button state for `SpriteButtonComponent`"
# What could be improved
The `_ButtonState` enum for `SpriteButtonComponent` can be made public.

# Why should this be improved

We already expose `current` state of the component which indicates that users can change it manually if they want. Use case would be to trigger button down sprite based on some other in game events (like a key press).

# Any risks?

None.

# More information

This came u

[2022-09-27 07:15] #1940 closed

[2022-09-27 07:31] ufrshubham opened #1942 "Windows specific test failures"
# Current bug behaviour

When I run `melos run test` on Windows, 2 tests constantly fail. These are the 2 test:
- Vector2 test scaleTo (packages\flame\test\extensions\vector2_test.dart)
- SpriteAnimationWidget can safely change animation parameter (packages\flame\test\widgets\sprite_animation_widget_test.dart)

These tests do not fail in the github workflow (runs on Ubuntu).

The first test fails

[2022-09-27 18:08] rivella50 opened #1944 "Row and Column for Flame Components"
# Problem to solve
With `Row` and `Column` classes children `Component`s could be placed and layouted correctly without overlapping and without having to care about repeating size and position calculations.
In my games i often have `Component`s (Sprites, buttons, etc.) which have to be placed either in rows or columns, where it's always quite an effort to calculate their positions and sizes.
The g

[2022-09-27 18:25] spydon commented on #1944
Sgtm, do you want to work on this?

[2022-09-27 19:26] rivella50 commented on #1944
@spydon I don't have that much spare time at the moment, therefore rather no, sorry.

[2022-09-27 19:29] erickzanardo commented on #1944
I've a few things on my queue, but I could try tackling this after clear some space on it

[2022-09-27 21:17] spydon opened #1945 "Handle child component queues before `onMount`"
# What could be improved
When awaiting added components in `onLoad` one could expect that the components were added to `children` before `onMount` runs, but they are not available until the first `updateTree` iteration has run.

# Why should this be improved
Because then you could for example start effects on the children or do anything really on the `children` list in `onMount`.

# Any risks?
It'

[2022-09-27 22:04] st-pasha commented on #1942
The second test is weird - why does it catch a `TestFailure`? Perhaps if we removed that try-catch, the error would be more apparent. Not to mention that the test runs itself 1000 times, which is also not good.

[2022-09-28 01:58] ufrshubham commented on #1942
Yeah, that try-catch is totally unnecessary. Removing it was the first thing I tried, but then the `isNotZero` checks on `.elapsed` fail. Even if I run the loop 5 times, it still fails.

[2022-09-28 08:11] JCzz opened #1946 "Flame_bloc: The method 'removeWhere' isn't defined for the type 'SpaceShooterGame'"
[code]

Update: Same for channel stable

In `packages/flame_bloc/example/lib/src/game/game.dart` line 21 I get:
'removeWhere' isn't defined for the type 'SpaceShooterGame:

[code]

[2022-09-28 08:27] ufrshubham commented on #1946
Seems to be working fine for me. @JCzz are you on the latest commit? `removeWhere` seems to have been added a month back by this commit abd28f28a627799ea4602026d91f52bc97feb91e

[2022-09-28 08:27] spydon commented on #1946
This is an unreleased feature, you'd have to depend on `main` (or wait for the next release) for this to work.

[2022-09-28 08:46] JCzz commented on #1946
Ahh ok right, thanks @spydon and @ufrshubham I will do that. Thanks for verifying that it works. 5 min, I will get back...

[2022-09-28 08:54] JCzz commented on #1946
@spydon & @ufrshubham

It totally works, I also just needed to run  `flutter pub global activate melos`. It has ben a while since I had to build flame. Love this, good work.

[2022-09-28 08:54] #1946 closed

[2022-09-28 17:18] mattmyne opened #1947 "Allow flame_forge2d followBodyComponent to follow body's center of mass instead of position"
# What could be improved

The flame_forge2d camera allows following a BodyComponent with the followBodyComponet method. This method only allows following the body's position vector. It can be improved by optionally allowing the body's center of mass to be followed instead.

# Why should this be improved

Rotations in forge2d occur about the body's center of mass, not always its visual center (the

[2022-09-29 07:11] #1947 closed

[2022-09-29 15:03] rivella50 commented on #1944
Here are my first attempts:
[code]
It can be used like this:
[code]
I'm sure there are lots of things i didn't think of and which need to be considered.
But hopefully it's a start.

[2022-09-29 18:49] spydon opened #1949 "Interactive docs: `MoveEffect`"
# Interactive doc for the `MoveEffect`s

The three `MoveEffect`s should have small examples that show how the effect is applied and how it works. This could for example be just clicking somewhere in the game and moving a geometrical shape to the position where the reader clicked.

https://docs.flame-engine.org/1.3.0/flame/effects.html#movebyeffect
https://docs.flame-engine.org/1.3.0/flame/effects.

[2022-09-29 19:19] spydon opened #1950 "Interactive docs: `RotateEffect`"
# Interactive doc for the `RotateEffect`s

The two `RotateEffect`s should have small examples that show how the effect is applied and how it works. This could for example be just clicking somewhere in the game and rotating a geometrical shape to the position where the reader clicked.

https://docs.flame-engine.org/1.3.0/flame/effects.html#rotateeffect-by
https://docs.flame-engine.org/1.3.0/flame/e

[2022-09-29 19:21] spydon opened #1951 "Interactive docs: `ScaleEffect`"
# Interactive doc for the `ScaleEffect`s

The two `ScaleEffect`s should have small examples that show how the effect is applied and how it works. This could for example be just clicking somewhere in the game and scaling a geometrical shape.

https://docs.flame-engine.org/1.3.0/flame/effects.html#scaleeffect-by
https://docs.flame-engine.org/1.3.0/flame/effects.html#scaleeffect-to

# What are intera

[2022-09-29 19:23] spydon opened #1952 "Interactive docs: `SizeEffect`"
# Interactive doc for the `SizeEffect`s

The two `SizeEffect`s should have small examples that show how the effect is applied and how it works. This could for example be just clicking somewhere in the game and resizing a geometrical shape.

https://docs.flame-engine.org/1.3.0/flame/effects.html#sizeeffect-by
https://docs.flame-engine.org/1.3.0/flame/effects.html#sizeeffect-to

# What are interacti

[2022-09-29 19:26] spydon opened #1953 "Interactive docs: `AnchorEffect`"
# Interactive doc for the `AnchorEffect`s

The two `AnchorEffect`s should have small examples that show how the effect is applied and how it works. This could for example be just clicking somewhere in the game and dynamically changing the anchor of a geometrical shape.

https://docs.flame-engine.org/1.3.0/flame/effects.html#anchorbyeffect
https://docs.flame-engine.org/1.3.0/flame/effects.html#anch

[2022-09-29 19:29] spydon opened #1954 "Interactive docs: `SequenceEffect`"
# Interactive doc for the `SequenceEffect`

The `SequenceEffect` should have small examples that show how the effect is applied and how it works. This could for example be just clicking somewhere in the game and applying a sequence of effects to a geometrical shape to the position.

https://docs.flame-engine.org/1.3.0/flame/effects.html#sequenceeffect

# What are interactive docs?

On our document

[2022-09-29 19:32] spydon opened #1955 "Interactive docs: `OpacityEffect`"
# Interactive doc for the `OpacityEffect`

The `OpacityEffect` should have a small example that show how the effect is applied and how it works. This could for example be just clicking somewhere in the game and changing the opacity of a geometrical shape or `SpriteComponent`.

https://docs.flame-engine.org/1.3.0/flame/effects.html#opacityeffect

# What are interactive docs?

On our documentation s

[2022-09-29 19:32] erickzanardo opened #1956 "Add Component.removed"
# Problem to solve
We need a way to subscribe/listen for a component removal.

# Proposal
All Flame components already provide a `mounted` property that returns `Future` that is completed when the component is mounted on the tree.

We could follow this approach (both in concept and implementation) and implement an equivalent for a `removed` property.

[2022-09-29 19:36] spydon opened #1957 "Interactive docs: `RemoveEffect`"
# Interactive doc for the `RemoveEffect`

The `RemoveEffect` should have a small example that show how the effect is applied and how it works. This could for example be just clicking somewhere in the game and then have a count down and after that count-down remove a geometrical shape.

https://docs.flame-engine.org/1.3.0/flame/effects.html#removeeffect

# What are interactive docs?

On our documen

[2022-09-29 19:38] spydon opened #1958 "Interactive docs: `ColorEffect`"
# Interactive doc for the `ColorEffect`

The `ColorEffect` should have a small example that show how the effect is applied and how it works. This could for example be just clicking somewhere in the game and changing the color of a geometrical shape or `SpriteComponent`.

https://docs.flame-engine.org/1.3.0/flame/effects.html#coloreffect

# What are interactive docs?

On our documentation site has

[2022-09-29 19:43] spydon opened #1959 "Interactive docs: Collision detection"
# Interactive doc for the collision detection

The collision detection section of the docs should have small examples showing how to add different hitboxes to components and how collisions between components work.

https://docs.flame-engine.org/1.3.0/flame/collision_detection.html

# What are interactive docs?

On our documentation site has the possibility to run inline interactive examples and we

[2022-09-29 19:52] spydon opened #1960 "Use Mermaid for diagrams"
# Diagrams as code by using Mermaid

Today we are having some static pictures for diagrams, like these ones:
https://docs.flame-engine.org/1.3.0/flame/components.html

These are hard to maintain and should therefore be replaced by a system that can generate diagrams from code. Preferably this system should be [Mermaid](https://mermaid-js.github.io/mermaid/#/), but if you know of another system tha

[2022-09-29 20:01] spydon opened #1961 "Bridge package docs: `flame_bloc`"
# Bridge package docs for `flame_bloc`

This bridge package should have its own documentation section on the docs site, similarly to `flame_audio` for example:
https://docs.flame-engine.org/main/flame_audio/flame_audio.html

For inspiration (and copy-pasting) you can have a look at the documentation for the package written in the `README.md` file and the documentation that the package is bridging

[2022-09-29 20:04] spydon opened #1962 "Bridge package docs: `flame_fire_atlas`"
# Bridge package docs for `flame_fire_atlas`

This bridge package should have its own documentation section on the docs site, similarly to `flame_audio` for example:
https://docs.flame-engine.org/main/flame_audio/flame_audio.html

For inspiration (and copy-pasting) you can have a look at the documentation for the package written in the `README.md` file and the documentation that the package is bri

[2022-09-29 20:05] spydon opened #1963 "Bridge package docs: `flame_rive`"
# Bridge package docs for `flame_rive`

This bridge package should have its own documentation section on the docs site, similarly to `flame_audio` for example:
https://docs.flame-engine.org/main/flame_audio/flame_audio.html

For inspiration (and copy-pasting) you can have a look at the documentation for the package written in the `README.md` file and the documentation that the package is bridging

[2022-09-29 20:09] spydon opened #1964 "Bridge package docs: `flame_svg`"
# Bridge package docs for `flame_svg`

This bridge package should have its own documentation section on the docs site, similarly to `flame_audio` for example:
https://docs.flame-engine.org/main/flame_audio/flame_audio.html

For inspiration (and copy-pasting) you can have a look at the documentation for the package written in the `README.md` file and the documentation that the package is bridging t

[2022-09-29 20:10] spydon opened #1965 "Bridge package docs: `flame_tiled`"
# Bridge package docs for `flame_tiled`

This bridge package should have its own documentation section on the docs site, similarly to `flame_audio` for example:
https://docs.flame-engine.org/main/flame_audio/flame_audio.html

For inspiration (and copy-pasting) you can have a look at the documentation for the package written in the `README.md` file and the documentation that the package is bridging

[2022-09-29 20:12] spydon commented on #1965
@ufrshubham @jtmcdole maybe one of you already started this, or did I dream that? :sweat_smile:

[2022-09-29 20:20] spydon opened #1966 "Unit tests for particles"
# What could be improved

Currently the particles and the particle system barely has any tests, it would be good to improve the test coverage here.

# Why should this be improved

So that we don't accidentally break anything when doing changes.

# More information

https://github.com/flame-engine/flame/tree/main/packages/flame/lib/src/particles
https://github.com/flame-engine/flame/tree/main/packa

[2022-09-29 20:24] spydon opened #1967 "Unit tests for `SpriteButtonComponent`"
# What could be improved

Currently the `SpriteButtonComponent` doesn't have any tests, it would be good to improve the test coverage here.

# Why should this be improved

So that we don't accidentally break anything when doing changes.

# More information

https://github.com/flame-engine/flame/blob/main/packages/flame/lib/src/components/input/sprite_button_component.dart

(This directory doesn't

[2022-09-29 20:28] spydon opened #1968 "Unit tests for extensions"
# What could be improved

Currently the extension methods aren't very well tested, it would be good to improve the test coverage here.

# Why should this be improved

So that we don't accidentally break anything when doing changes.

# More information

https://github.com/flame-engine/flame/tree/main/packages/flame/lib/src/extensions
https://github.com/flame-engine/flame/tree/main/packages/flame/te

[2022-09-29 20:38] st-pasha commented on #1960
Instructions for building the documentation site on your computer: https://docs.flame-engine.org/1.3.0/development/documentation.html#building-documentation-locally

Also see [this comment](https://github.com/flame-engine/flame/issues/1503#issuecomment-1250144157) for how to add a mermaid diagram into the documentation. That comment also shows how to use the "dark" theme for the diagram, which wor

[2022-09-29 21:21] spydon commented on #1945
@st-pasha did we discuss this on some other issue too? :thinking:

[2022-09-30 00:37] trunghq3101 commented on #1964
Working on this!

[2022-09-30 00:48] immadisairaj commented on #1951
I would be interested in adding examples to ScaleEffect.

[2022-09-30 01:41] erickzanardo commented on #1951
Awesome @immadisairaj , assigned you to the issue :D

[2022-09-30 02:50] ufrshubham commented on #1965
I haven't. I think it was @jtmcdole.

[2022-09-30 04:36] hey24sheep commented on #1956
Dispose is unmount equivalent. Event's can be fired from overriden dispose to other subscribers.
[code]

[2022-09-30 05:02] ufrshubham commented on #1956
It is not the same. One can hold a reference to unmounted component and mount it at a later point. Dispose is more like a destructor. Also, `Component` does not extent anything to override dispose from.

[2022-09-30 05:29] hey24sheep commented on #1956
I see, there is also ["unmount"](https://api.flutter.dev/flutter/widgets/StatefulElement/unmount.html). In my previous org, we used to dispose most component to save memory and make the app faster. So, I never looked into unmount.

Could you give a file or line ref where this base abstract class resides. So, I can understand how mount and other stuff is working, I would really appreciate it. As, i

[2022-09-30 05:41] ufrshubham commented on #1956
Okay, just to make it clear, component in Flame's context means the `Component` class. It has nothing to do with Flutter widget and/or the state lifecycle events (maybe conceptually they do have some similarities).

Code for that class can be found [here](https://github.com/flame-engine/flame/blob/main/packages/flame/lib/src/components/core/component.dart). You should be able to get there using yo

[2022-09-30 06:11] rivella50 commented on #1944
Now supports a constant gap between the children which can be changed dynamically:
[code]
To be used like this:
[code]

[2022-09-30 07:50] rivella50 commented on #1956
This feature can be used to detect if a relayout is necessary for the children of the planned components `ComponentRow` and `ComponentColumn`. #1944

[2022-09-30 09:42] quentin7b commented on #1968
Hi there !

I'd like to work on this :)

[2022-09-30 09:52] spydon commented on #1968
Super! Assigned you to the issue, make sure to join our Discord server if you have any questions. :)

[2022-09-30 10:08] anilorcn commented on #1963
I'm working on it.

[2022-09-30 10:10] spydon commented on #1963
Super! Assigned you to the issue, make sure to join our Discord server if you have any questions. :)

[2022-09-30 10:58] adityathakurxd commented on #1967
Hi, Can take up this issue?

[2022-09-30 11:05] spydon commented on #1967
Assigned you to the issue, make sure to join our Discord if you have any questions. :)

[2022-09-30 11:31] Rutam21 commented on #1958
@spydon I would love to work on this.

[2022-09-30 11:44] spydon commented on #1958
Super! Assigned you to the issue, make sure to join our Discord server if you have any questions. :)

[2022-09-30 12:10] jtmcdole commented on #1965
We talked about doing it as a step - instead of a subsection.  good hackathon topic though

[2022-09-30 12:24] 2002Bishwajeet commented on #1955
Hey 👋,

I would like to work on this issue😄

[2022-09-30 12:27] erickzanardo commented on #1955
Awesome! I assigned you to the issue. Join our discord if you have any doubts

[2022-09-30 12:58] spydon commented on #1965
What do you mean with "as a step"? 🤔

[2022-09-30 14:28] jtmcdole commented on #1965
I meant I shouldn't write comments at 5am 🤣 I was intending to say it was one of the steps to "make a new release" for tiled.  I wrote a sub-section for tile stacking and it was suggested there we write a whole new section.

[2022-09-30 14:33] thisisamank commented on #1966
Hi there, can I take this up?

[2022-09-30 15:03] spydon commented on #1965
Yeah, so we should both have more more docs in the `Other modules/tiled` and then also the new `flame_tiled` section that describes the bridge package, and that is what this issue is about. :)

[2022-09-30 18:52] st-pasha opened #1973 "Add Component.onChildrenChanged() lifecycle method"
# Problem to solve

Currently a component has no way of knowing when it acquires new children or loses existing ones. Which is a shame really, because how it can take good care of its children if it doesn't know what happens to them?

# Proposal

Add a new lifecycle method `.onChildrenChanged()` which would fire whenever new children are added to the component, or existing children removed.

The m

[2022-09-30 19:19] shresthkapoor7 commented on #1957
Would like to work on this

[2022-09-30 19:26] erickzanardo commented on #1957
Awesome! I 've assigned you to the issue. Let us know if you have any questions

[2022-09-30 19:48] ufrshubham commented on #1973
Quite irresponsible parent they are 😅

[2022-09-30 22:25] PawelSzymanski89 opened #1974 "Problem with isomeric maps from Tiled app"
# Current bug behaviour
<img width="1106" alt="Zrzut ekranu 2022-10-1 o 00 08 08" src="https://user-images.githubusercontent.com/26041449/193364323-c71f3464-bc9f-4b8b-a144-93ac275a3361.png">

# Expected behaviour
<img width="1109" alt="Zrzut ekranu 2022-10-1 o 00 06 39" src="https://user-images.githubusercontent.com/26041449/193364365-6d49ce7b-c284-45dc-b1df-9c11fdb4cbb5.png">
<img width="1082" al

[2022-10-01 02:14] ufrshubham commented on #1974
@PawelSzymanski89 support for isometric maps was added recently via https://github.com/flame-engine/flame/pull/1885
You might have to wait for next version of `flame_tiled` or you can depend on the `main` branch.

[2022-10-01 03:34] spydon commented on #1962
Great! I've assigned you to the issue, don't forget to join our Discord if you have any questions etc. :)

[2022-10-01 04:56] Bharat123rox commented on #1961
I would like to work on this!

[2022-10-01 06:58] viveknshah commented on #1950
I'd be interested in contributing here.

[2022-10-01 09:05] spydon commented on #1950
Super! I've assigned you to the issue, remember to join our Discord server if you have any questions etc. :)

[2022-10-01 09:06] spydon commented on #1964
Super! I've assigned you to the issue, remember to join our Discord server if you have any questions etc. :)

[2022-10-01 09:07] spydon commented on #1961
Super! I've assigned you to the issue, remember to join our Discord server if you have any questions etc. :)

[2022-10-01 10:32] bernandez commented on #1952
Hi @spydon I would love to work on this

[2022-10-01 11:43] sshiv5768 commented on #1966
Hey, I want to work on this issue! Please assign me!

[2022-10-01 12:09] spydon commented on #1952
Super! I've assigned you to the issue, remember to join our Discord server if you have any questions etc. :)

[2022-10-01 12:09] spydon commented on #1966
Super! I've assigned you to the issue, remember to join our Discord server if you have any questions etc. :)

[2022-10-01 12:52] ufrshubham opened #1977 "Building docs fails on Windows"
# Current bug behaviour

Running `make html` while for building docs on Windows fails.

# Expected behaviour

It should work similar to other platforms.

# Steps to reproduce

Just try to build the docs on a Windows machine.

# Flutter doctor output

[code]
Not required

# More environment information
* Flame version: 3.3.3
* Platform affected: Windows
* Platform version affected: 11
* Python vers

[2022-10-01 13:48] #1977 closed

[2022-10-01 13:51] ufrshubham commented on #1956
Hey @hey24sheep, can you confirm if you are working on this? If so @spydon or someone else can assign it to you.

[2022-10-01 14:09] alestiago commented on #1944
Can we rename the Component to be RowComponent instead of ComponentRow?

That way it follows the current naming convention.

[2022-10-01 14:48] rivella50 commented on #1944
@alestiago Done

[2022-10-01 15:16] dipakp2726 commented on #1960
Hi , i would like to work on this

[2022-10-01 15:48] spydon commented on #1960
Super! Assigned you to the issue, make sure to join our Discord server if you have any questions. :)

[2022-10-01 16:46] sccalabr commented on #1949
id like to get this a try

[2022-10-01 17:56] spydon commented on #1949
Great! You are assigned to the issue, please join our Discord server if you have any question. :)

[2022-10-01 20:36] munsterlander commented on #1959
I can take this.  I am thinking since we are going this route, do we scrap snippets?  Some of the code/updates in that PR area already merged through other PR's.

[2022-10-01 21:41] spydon commented on #1959
I think that snippets could be useful for examples where multiple features are used?

You don't have to have an example for each section. :)

[2022-10-01 21:42] spydon commented on #1974
`flame_tiled` 1.8.0 is now released with isometric tile support.

[2022-10-01 21:42] #1974 closed

[2022-10-02 03:56] sshiv5768 commented on #1966
Thanks @spydon for assigning me this issue.

[2022-10-02 04:34] jtmcdole commented on #1974
I love it when other people use the same tileset as me!

[2022-10-02 06:02] munsterlander commented on #1954
This one is easy.  I will take it as well.

[2022-10-02 06:03] munsterlander commented on #1953
I should be able to do this one as well.

[2022-10-02 08:10] spydon commented on #1973
@rivella50 have to tag you here to be able to assign you to the issue seemingly.

[2022-10-02 08:15] rivella50 commented on #1973
@spydon Done

[2022-10-02 12:45] #1503 closed

[2022-10-02 12:45] #1960 closed

[2022-10-02 18:03] munsterlander opened #1990 "docs: Python version"
# What could be improved

The docs currently state Python 3.6 is required; however, in order to build the docs, you need at least Python 3.8+ due to one of the packages used in Sphinx.

# Any risks?

Nope.

# More information

PR inbound.

[2022-10-02 18:17] PawelSzymanski89 commented on #1974
xd thanks all :) working now!

[2022-10-02 18:31] #1990 closed

[2022-10-02 18:59] aakash-pamnani commented on #1809
I would like to wok on this.

[2022-10-02 21:05] alestiago commented on #1809
Thanks @aakash-pamnani looking forward to the PR!

[2022-10-02 21:05] spydon commented on #1809
Assigned you to the issue, make sure to join our Discord if you have any questions.

[2022-10-02 21:13] spydon opened #1998 "Unit tests for `AssetsCache`"
# What could be improved

Currently the `AssetsCache` class doesn't have any tested, it would be good to improve the test coverage here. It is a lot simpler to write these tests than it sounds like, just have a look at how the tests for the other caches are written here:
https://github.com/flame-engine/flame/tree/main/packages/flame/test/cache

# Why should this be improved

So that we don't accid

[2022-10-02 21:33] spydon opened #1999 "Documentation search and highlight is broken due to Sphinx upgrade"
# Current bug behaviour
When searching for something on the docs the search never completes and in the console you can see:
[code]

# Expected behaviour
That the search returns results

# Steps to reproduce
Go into the docs and search for something.

# More information
It is most likely due to a newer version of Sphinx since it is defined as a `>=` in the requirements file.
The sphinx site lives h

[2022-10-02 21:35] spydon commented on #1956
I think this issue is up for grabs, hey24sheep most likely only tripped into this repo after I made a PR on one of their repos. :smile:

[2022-10-02 22:29] munsterlander commented on #1958
I will gladly help out if needed.

[2022-10-02 22:29] munsterlander commented on #1957
I will gladly help out if needed.

[2022-10-02 22:29] munsterlander commented on #1955
I will gladly help out if needed.

[2022-10-02 22:29] munsterlander commented on #1952
I will gladly help out if needed.

[2022-10-02 22:29] munsterlander commented on #1951
I will gladly help out if needed.

[2022-10-02 22:29] munsterlander commented on #1950
I will gladly help out if needed.

[2022-10-02 22:29] munsterlander commented on #1949
I will gladly help out if needed.

[2022-10-03 03:06] hey24sheep commented on #1956
@ufrshubham I apologize for delayed response, keep it open for anyone. As, I can see there is already a lot of progress farther than I can make as I still do not understand clearly the problem. I can see there is a base remove function and it is being used in the new PR of LayoutComponent. I think of `StreamBuilders` and `InheritedWidget` as that's what I have used in past to update parents about

[2022-10-03 03:48] shresthkapoor7 commented on #1957
Sure, thanks

[2022-10-03 06:03] ShwetaChauhan18 commented on #1967
Hi, I know it's already assigned but still Can I take this issue ??

[2022-10-03 06:27] ayrotideysarkar commented on #1999
Can you assign me some documentation issue so that I can rectify them?

[2022-10-03 06:36] st-pasha commented on #1999
I think we should just use fixed versions of all sphinx-related packages

[2022-10-03 06:42] spydon commented on #1999
Indeed, do we know what versions that were the last to work?

[2022-10-03 06:59] ayrotideysarkar commented on #1999
so what I am supposed to do in there?
can you guide me?

On Mon, 3 Oct 2022 at 12:12, Lukas Klingsbo ***@***.***>
wrote:

[2022-10-03 07:34] viveknshah commented on #1950
Almost done - getting a 404 for the animated example when I run the docs on  localhost though so figuring that out

[2022-10-03 07:34] st-pasha commented on #1999
Here's the versions that I have in my environment:
[code]

@ayrotideysarkar This issue can be solved by replacing the contents of `requirements.txt` file with the list above (or similar -- need to verify that these versions actually work, and whether or not updating to more recent versions is beneficial).

[2022-10-03 07:35] spydon commented on #1999
@ayrotideysarkar And you can verify this by following these instructions for how to build and run the docs locally:
https://docs.flame-engine.org/main/development/documentation.html#building-documentation-locally

[2022-10-03 07:54] spydon commented on #1967
If @adityathakurxd is not planning to finish this you can take this, otherwise I can recommend [this issue](https://github.com/flame-engine/flame/issues/1998) if you want to write up some unit tests.

I also see in your commit that you have added `@mustCallSuper` where we have missed them, you can upload that as a separate PR. Don't import `material` though, import `package:meta/meta.dart` instead

[2022-10-03 08:00] ShwetaChauhan18 commented on #1967
@adityathakurxd : Hi, let me know if you are not planning to complete this issue. I have already implemented my code but I will create PR if you are not planning to complete as you have taken this first.

[2022-10-03 08:20] JigneshWorld commented on #1998
Hi @spydon!

I'd like to work on this :)

[2022-10-03 08:29] spydon commented on #1998
Let me just verify that @ShwetaChauhan18 isn't already working on this since I recommended it to her.

[2022-10-03 08:32] ShwetaChauhan18 commented on #1998
@spydon : I am taking this

[2022-10-03 08:41] ufrshubham commented on #1965
An additional things that should be done as part of this is updating the Getting Started section of Flame docs. In [`file structure section`](https://docs.flame-engine.org/main/flame/structure.html#structure), where it specifies that `assets/audio` and `assets/images` folders, we should also specify `assets/tiles`. It is the location where `TiledComponent` from `flame_tiled` looks for the map file

[2022-10-03 08:57] JigneshWorld commented on #1998
Thanks @spydon @ShwetaChauhan18 🎉

Let me know if any input I can add.

[2022-10-03 09:01] ufrshubham opened #2002 "Documentation: Minor improvements"
# What could be improved

1. Getting Started -> Installation -> Multiple links to latest version (https://docs.flame-engine.org/main/#installation)
2. `repository, It contains quite a` should be `repository. It contains quite a` or `repository, it contains quite a` (https://docs.flame-engine.org/main/#id1)
3. This section needs some rephrasing. Specifically the second sentence. It feels too length

[2022-10-03 09:02] spydon commented on #1956
Makes sense. :)
Components in Flame are not widgets, that's why `StreamBuilder` or `InheritedWidget` can't be used btw.

[2022-10-03 09:13] ufrshubham commented on #1956
If this issues is still free till October last week, I will take a look. Will drop a comment here when I do start working on it.

[2022-10-03 11:27] ufrshubham opened #2003 "Documentation: Structural inconsistencies"
# What could be improved

Flame's documentation covers almost everything that it has to offer, but at times it feels out of order. For example:

1. `Router` section is placed way before `Components` section, but the documentation in `Router` assumes that users already knows what `FlameGame`, `Component`s, `FCS` and `overlay` is. Probably `Router` should be moved below `Components` section.
![Route

[2022-10-03 12:25] vikramadityasinghs commented on #2002
hey, @spydon @ufrshubham could this issue be assigned to me?

[2022-10-03 12:57] spydon commented on #1956
@JigneshWorld I can't assign you to this before you have commented on it. :)

[2022-10-03 13:09] AbhishekTiwari23 commented on #2003
I want to contribute to this. Please assign it to me

[2022-10-03 13:23] immadisairaj commented on #1951
Thanks you @munsterlander. But, I have figured it out already :) (just didn't had time to send a PR)

By the way, I have a doubt @spydon. How do we reset the code again so that it can be interacted again? Or is it not needed?

[2022-10-03 13:42] immadisairaj commented on #1951
Yep, that can be done. Would be better. I think similar has to be done in the other examples also? (because if it is uniform it will be a good one)

Also, `ScaleEffect.to` in example contains `Vector2.zero()` maybe I have to change it a bit in documentation as well as interactive example? (as if the scale is down to zero, it won't be able to react)

[2022-10-03 14:13] tozu commented on #1258
I would be interested looking into this feature :)

[2022-10-03 15:02] spydon opened #2005 "Documentation: Forge2D joints"
# What could be improved

All the different joint types in Forge2D should be explained and have examples, currently there is no pure `other moduler/forge2d` section so either create that section or put these docs under `flame_forge2d` meanwhile.

https://docs.flame-engine.org/main/flame_forge2d/forge2d.html

# Good to know
Make sure that you comment on the issue that you will be working on this be

[2022-10-03 16:24] AbhishekTiwari23 commented on #2003
Thanks for assigning me. I will respond as soon as possible.

[2022-10-03 16:38] spydon commented on #1951
You have to do `changeParent` if you want to add and remove a component in the same tick (an effect is a component), but here you shouldn't need to. You should probably just create a new effect every time the user clicks instead (if an effect isn't already active).

[2022-10-03 16:42] omar6260 commented on #2003
I want to contribute to this. Please assign it to me

[2022-10-03 16:43] ufrshubham commented on #2003
@AbhishekTiwari23 feel free to open a draft PR if you want to have an early review or discussion

[2022-10-03 16:47] ufrshubham commented on #2003
It is already assigned to someone, but if you want you can take a look at the other unassigned documentation issue.

[2022-10-03 17:11] st-pasha opened #2007 "Add `toString()` methods to Event objects"
# What could be improved

The `Event` objects in `flame/lib/src/events/messages/` are pure data objects, and can benefit from having meaningful `toString()` representations.

# Why should this be improved

Occasionally users need to debug events, and in that case printing the event object into a console is the easiest. However, without a `toString()` method, the objects are printed as "Instance of

[2022-10-03 17:31] immadisairaj commented on #1951
Works perfectly fine if I create a new effect every time

[2022-10-03 17:44] munsterlander commented on #1951
I will update my prs to reset as well then.

[2022-10-03 17:46] immadisairaj commented on #1951
I have pushed a new commit with these changes in the PR. Please have a look at it @munsterlander.

[2022-10-03 18:19] AbhishekTiwari23 commented on #2005
Please assign to me

[2022-10-03 18:35] adityathakurxd commented on #1967
Hi @ShwetaChauhan18, sure please go ahead and make the pull request if you're already done with the code. I am still trying to understand how to write unit tests. It might take me some time to get hold of that and contribute here. Still somewhat new to writing tests.

[2022-10-03 18:48] ayrotideysarkar commented on #1999
So i have to replace

linkify-it-py>=1.0
myst-parser>=0.15.2
pygments>=2.10
sphinx>=5.0
sphinxcontrib-mermaid>=0.7.1
sphinx-autobuild>=2021.3.14

With

linkify-it-py==2.0.0
myst-parser==0.18.0
Pygments==2.12.0
Sphinx==5.0.2
sphinxcontrib-mermaid==0.7.1
sphinx-autobuild==2021.3.14

Right?

On Mon, 3 Oct, 2022, 3:14 pm ayroti dey sarkar, ***@***.***>
wrote:

[2022-10-03 19:11] spydon commented on #1999
@ayrotideysarkar yep, that should do it!

[2022-10-03 19:24] spydon commented on #2005
Super! I've assigned you to the issue, remember to join our Discord server if you have any questions etc. :)

[2022-10-03 19:26] omjikush09 commented on #2007
@st-pasha   If I am understanding right then, I think I  have to add a method to base event class to convert its object to json string
like this
  Map<String, dynamic> toJson() => {
        'handled': handled,
        'continuePropagationl': continuePropagation,
      };

[2022-10-03 19:36] spydon commented on #2007
There is no need to convert it to json, you just have to return a string that has a meaningful representation of the object.
See this one from the tutorial as an example:
https://github.com/flame-engine/flame/blob/main/doc/tutorials/klondike/app/lib/step4/components/card.dart#L31
Here the card should be represented as a string and that is done with:
[code]

So for this issue you have to create mea

[2022-10-03 20:07] st-pasha commented on #1143
Duplicate of #1963

[2022-10-03 20:07] #1143 closed

[2022-10-03 20:18] ayrotideysarkar commented on #2002
Can you assign this to me I can do some rephrasing of the sentences and also omit the typos..

[2022-10-03 20:26] spydon commented on #2002
This is already taken by @vikramadityasinghs

[2022-10-03 20:34] ayrotideysarkar commented on #2002
Okay🥲

[2022-10-03 22:08] AbhishekTiwari23 commented on #2005
Thanks, @spydon, for assigning me. I will respond as soon as possible.

[2022-10-04 04:56] amoghrajesh commented on #2007
@spydon @st-pasha is this issue still open. Would like to work on it

[2022-10-04 05:03] munsterlander commented on #1965
So who is taking this one?

[2022-10-04 05:24] himanshugarg08 commented on #2007
[code]

If this is a good example of what needs to be done, I can also take this up :)

[2022-10-04 06:05] ShwetaChauhan18 commented on #1967
Thanks @adityathakurxd

@spydon: Can you please assign this issue to me

[2022-10-04 06:14] spydon commented on #1967
Done!

[2022-10-04 07:24] ufrshubham opened #2011 "Add scan distance input for raycast"
# Problem to solve

Current raycast API allows for ignoring hitboxes, but it does not allow limiting the hit scan distance for the cast. As a result users have to perform additional check on distance in their code.

Use case: Implementing an entity with ranged sight. For example, an enemy that can see objects within a certain range.

![image](https://user-images.githubusercontent.com/33748002/1937

[2022-10-04 10:51] spydon commented on #2011
Haha, love the images!

[2022-10-04 11:00] spydon commented on #2007
@amoghrajesh @himanshugarg08 this has already been handled by @sumit7577 (they forgot to write in here though, so I can't assign them).

[2022-10-04 13:01] #1951 closed

[2022-10-04 13:30] #1968 closed

[2022-10-04 13:47] #1998 closed

[2022-10-04 14:29] ShwetaChauhan18 commented on #1966
@sshiv5768: Let me know if you are not planning to complete this issue. I can start work ASAP.

[2022-10-04 14:34] ShwetaChauhan18 commented on #1966
@spydon: Let me know if you have unit test, widget test task.

[2022-10-04 14:48] ufrshubham commented on #1999
This should be high priority fix. It must be affecting everyone going through docs.

[2022-10-04 14:49] #1967 closed

[2022-10-04 15:26] spydon commented on #1966
I'll create a task for you, you have done great work so far! :)

[2022-10-04 15:28] spydon opened #2017 "Unit tests for event mixins"
# What could be improved

Currently the event mixins are not tested at, it would be good to improve the test coverage here.

# Why should this be improved

So that we don't accidentally break anything when doing changes.

# More information

https://github.com/flame-engine/flame/tree/main/packages/flame/lib/src/events/component_mixins
https://github.com/flame-engine/flame/tree/main/packages/flame/

[2022-10-04 15:29] spydon commented on #2017
@ShwetaChauhan18 here is an issue you can tackle!

[2022-10-04 15:33] spydon opened #2018 "Unit tests for component mixins"
# What could be improved

Currently the component mixins barely have any tests, it would be good to improve the test coverage here.

# Why should this be improved

So that we don't accidentally break anything when doing changes.

# More information

https://github.com/flame-engine/flame/tree/main/packages/flame/lib/src/components/mixins

# Good to know

Make sure that you comment on the issue that

[2022-10-04 15:41] spydon opened #2019 "Unit tests for gesture detectors"
# What could be improved

Currently the gesture detectors are not tested at, it would be good to improve the test coverage here.
The tests should be widget tests where mocked gesture input is used.

Do note that this issue is probably a bit more complicated than the other ones if you are not used to widget tests.

# Why should this be improved

So that we don't accidentally break anything when doi

[2022-10-04 15:53] ShrutiJ-01 commented on #2019
Hey @spydon , I'd like to take this up

[2022-10-04 16:00] spydon commented on #2019
Super! I've assigned you to the issue, remember to join our Discord server if you have any questions etc. :)

[2022-10-04 16:16] spydon commented on #1999
It is already fixed!

[2022-10-04 21:13] #1954 closed

[2022-10-04 21:26] #1973 closed

[2022-10-05 02:09] munsterlander commented on #2003
@AbhishekTiwari23 Let me know if you plan to abandon this PR.  I have some additional changes stacked up that I am waiting for your PR before I submit as I don't want to deal with the merge conflicts.

[2022-10-05 02:19] munsterlander commented on #1950
Did you get it solved?  I build the docs a ton, so happy to help you out so you can get your PR submitted.

[2022-10-05 03:45] dipakp2726 commented on #2018
Hi lukas,
i would like to work on it

[2022-10-05 03:59] munsterlander opened #2021 "Documentation: Override MyST parser to allow external links to open in a new tab"
# What could be improved

Currently in the help docs, any external link opens in the current window.

# Why should this be improved

Allowing these links to open in new tabs means developers do not lose their point of reference in flame documentation for the issue they are working.

# Any risks?

This requires overriding the existing MyST htmltranslation parser and augmenting a method.

# More inf

[2022-10-05 04:00] munsterlander commented on #2021
I will take this if you all think this is smart to do.

[2022-10-05 05:03] munsterlander commented on #1942
Can confirm the issues and solutions and the causes.  I would like to think this is due to how amazingly fast Windows machines are....

[2022-10-05 05:09] ShwetaChauhan18 commented on #2017
Ok, I am taking this

[2022-10-05 07:06] AbhishekTiwari23 commented on #2003
I am working on it. If You want any change, then please let me know.

[2022-10-05 07:34] spydon commented on #2021
Do we really need that, can't we use `<a href= target=` directly?

[2022-10-05 07:36] spydon commented on #2018
Super! I've assigned you to the issue, remember to join our Discord server if you have any questions etc.

[2022-10-05 07:40] st-pasha commented on #2021
I believe it is actually recommended that links open in the same tab by default. For example see https://uxdesign.cc/linking-to-a-new-tab-vs-same-tab-f88b495d2187 or https://ux.stackexchange.com/questions/31579/when-if-ever-should-links-be-opened-in-a-new-window

[2022-10-05 08:00] #2021 closed

[2022-10-05 08:20] st-pasha opened #2023 "Support SpriteFonts in FlameTextStyle"
# What could be improved

Both `SpriteFont` (#1992) and `FlameTextStyle` (#1915) are new Flame features; it would be nice if they worked with each other. In particular, it should be possible to specify within `FlameTextStyle` that a particular piece of text ought to be rendered using a SpriteFont. Likewise, `FlameTextStyle` can support custom `TextRenderer`s too.

# More information

This is block

[2022-10-05 08:23] munsterlander commented on #2021
You would think, but no.

[2022-10-05 08:33] munsterlander commented on #2021
I guess, but it's annoying. Oh well.

[2022-10-05 09:02] viveknshah commented on #1950
Have unassigned myself. I broken my head too long on the local build. Tried to start from scratch and can't get that to be built also let alone after my changes. Feel free to go ahead @munsterlander

[2022-10-05 09:03] viveknshah commented on #1950
![image](https://user-images.githubusercontent.com/7208041/194023139-7acc8d46-b6df-494f-a74f-9205a62a2e50.png)

The build errors I keep seeing even when I start afresh from a git pull

[2022-10-05 09:04] munsterlander commented on #1950
@spydon can this be assigned to me?

[2022-10-05 09:04] munsterlander commented on #1950
@spydon @st-pasha It's not just me!

[2022-10-05 09:27] ufrshubham commented on #1950
@viveknshah @munsterlander it might be because you guys have not run `melos bootstrap` in your local repo. I can reproduce this problem if I clean melos and just try to build that `doc/flame/examples`.

[2022-10-05 09:39] viveknshah commented on #1950
That fixed the local build for me.

@munsterlander I still see the following though when I try running locally for all animations- the same issue I saw when trying to test my changes.

![image](https://user-images.githubusercontent.com/7208041/194030455-39caafeb-e4c0-4e0f-bec8-4fc9d6ee60ca.png)

[2022-10-05 09:42] spydon commented on #1950
Hmm, I see those 404s now too... Seems like the examples aren't built properly.

[2022-10-05 09:43] munsterlander commented on #1950
Everything works for me....well melos bootstrap is still running, so maybe after that, it no longer will.

[2022-10-05 13:11] immadisairaj opened #2025 "Documentation code blocks' "dart" position changes"
The flame documentation is good which contains code blocks that shows the code language also. But, there is a slight problem in it while scrolling the block horizontally. The language tag also moves along with it.

Maybe below screenshot will better explain.

# Current bug behaviour

![image](https://user-images.githubusercontent.com/40348358/194067493-e602effc-f30b-4ca3-b13e-d4a81629c167.jpeg)

#

[2022-10-05 14:38] ufrshubham opened #2026 "Live Examples: Improvements"
# What could be improved

Flame has a lot of live examples along with their source code to help new users understand how Flame's APIs work. But here are some problem in those examples:

- Example stops responding to key inputs after visiting instructions panel or viewing source code:
  - Camera & Viewport->Follow Component
  - Collision Detection->QuadTree collision
  - Experimental->Follow and Wo

[2022-10-05 14:41] Aatmaj-Zephyr commented on #2002
is this fixed by @vikramadityasinghs yet or can I try to fix it?

[2022-10-05 14:52] ayrotideysarkar commented on #2002
I also want to try if it can still be assigned to me eagerly waiting

On Wed, 5 Oct 2022 at 20:11, Aatmaj ***@***.***> wrote:

[2022-10-05 15:08] ufrshubham commented on #2026
@ayrotideysarkar would be interested in working on this?

[2022-10-05 15:55] ayrotideysarkar commented on #2026
what needs to be done? can you tell me first? and how to do it?

[2022-10-05 16:11] ayrotideysarkar commented on #2026
Okay can you guide me so that i can do the work in here and can I chat with you in another platform ? it's getting lengthy and i don't wanna spam

[2022-10-05 16:14] ayrotideysarkar commented on #2026
and I want to work on this

[2022-10-05 16:23] spydon commented on #2026
Join our discord server here: https://discord.com/invite/pxrbmy4

[2022-10-05 16:53] ayrotideysarkar commented on #2026
the discord link is expired

[2022-10-05 16:55] ufrshubham commented on #2026
Use the one from [contributing](https://github.com/flame-engine/flame#contributing) section of the readme

[2022-10-05 16:57] st-pasha commented on #2021
Not necessarily. If you click on "API docs", it would often be because you want to go and see the APIs.

[2022-10-05 17:11] munsterlander commented on #2021
True.  My thought process though was because this isn't linked in an actual section but in the side bar, if I'm viewing say the SpriteAnimationComponent section of the help docs, I often like to look at the api docs and the examples too, so I can see the code and the available methods so I understand what the docs are saying.   This is no big deal, just thought it could provide benefit while I was

[2022-10-05 18:33] ayrotideysarkar commented on #2026
@spydon is it fine if I submit a PR fixing only the broken links?

[2022-10-05 19:10] spydon commented on #2026
Hmm, it's a little bit too small task, but alright.

[2022-10-05 19:45] ayrotideysarkar commented on #2026
can you check discord little bit?

On Thu, 6 Oct 2022 at 00:40, Lukas Klingsbo ***@***.***>
wrote:

[2022-10-05 22:02] munsterlander commented on #2025
Its a bug, but we also have been changing these blocks to proper multi-lines so mobile users aren't scrolling.

[2022-10-06 05:53] #1898 closed

[2022-10-06 08:06] depimomo commented on #1966
Hi @spydon ! I'm also interested if you have any unit test task, please let me know if you need more help 😆

[2022-10-06 08:24] spydon commented on #1965
@munsterlander I'll assign it to you and you can do the basis, and then the rest of us can fill in with more PRs later.

[2022-10-06 08:27] spydon commented on #2025
Would be good to fix this anyways if it is possible, I fear it might be quite hard since it comes from Sphinx.

[2022-10-06 08:37] spydon opened #2031 "Unit tests for `flame_forge2d`"
# What could be improved

Currently the bridge library `flame_forge2d` barely has any tests, it would be good to improve the test coverage here.

- The `BodyComponent` should be tested
- It should test that you can add children to the `BodyComponent`
- That those children move and rotate properly with their `BodyComponent` parent
- Tests for `Forge2DGame`
- Other things that you can come up with

[2022-10-06 08:42] spydon opened #2032 "Unit tests for `flame_rive`"
# What could be improved

Currently the bridge library `flame_rive` barely has any tests, it would be good to improve the test coverage here.

- The `RiveComponent` should be tested
- The `RiveComponent` should move around and transform correctly
- It should test that you can add children to the `RiveComponent`
- Other things that you can come up with

# Why should this be improved

So that we don

[2022-10-06 08:44] spydon commented on #2026
The rest of this issue is now open for someone else to tackle.

[2022-10-06 08:50] spydon commented on #1567
Is your usecase solved by using the new `nativeAngle` on `PositionComponent`, or do you need it to be fully configurable?

[2022-10-06 08:58] depimomo commented on #2031
Okay, I'll give it a shot!

[2022-10-06 10:07] spydon commented on #2025
You should have written here and been assigned to the issue before you started it @lex111 (since @immadisairaj is already assigned to it), but what's done is done, maybe you can review it @immadisairaj?

[2022-10-06 10:15] immadisairaj commented on #2025
I was working on it and almost got to the end 😮‍💨 @spydon

I was checking the PR and have a simpler solution for it. The PR is a bit similar but I feel is overdone.

[2022-10-06 10:19] spydon commented on #2025
Then your PR will be prioritized of course. :)

[2022-10-06 10:20] immadisairaj commented on #2025
The below is a working screen recording of what I have done. Shall I proceed with PR @spydon?

https://user-images.githubusercontent.com/40348358/194288688-b966bbbe-0530-4944-99ac-07e4f2279ec4.mov

[2022-10-06 10:21] spydon commented on #2025
Sure, lgtm!

[2022-10-06 13:34] idlehart commented on #1797
I could take a look at this issue :)

[2022-10-06 13:41] Anas35 commented on #2032
Hey, I would like to work on this issue.

[2022-10-06 13:43] spydon commented on #2032
Super! I've assigned you to the issue, remember to join our Discord server if you have any questions etc. :)
https://discord.gg/tREXPqMPnV

[2022-10-06 13:48] idlehart commented on #1956
I can have a look at this unless JigneshWorld is on it already :)

[2022-10-06 14:59] #1950 closed

[2022-10-06 18:46] st-pasha opened #2037 "docs: Split the Components page"
# What could be improved

Currently, the "Components" page (https://docs.flame-engine.org/1.4.0/flame/components.html) is very long, and becomes bigger and bigger with every new component added. It would be easier to read if each of these components got a separate page. The Components page itself would then only contain the links to pages for each of the components (perhaps grouped by subtopics),

[2022-10-06 18:51] ufrshubham commented on #2037
This is reported in #2003 as well

[2022-10-06 18:52] idlehart commented on #1797
Have anyone looked at repro sample? I've run on several simulators, iphone 11, 12, SE(3rdgen) / Google Pixel / Web / MacOS. All SVGs look pretty sharp to me.

[2022-10-06 18:55] munsterlander commented on #2037
I'm reworking the docs right now. I will just take this on.

[2022-10-06 18:57] munsterlander commented on #2037
Are we against going to 3 levels in the table of contents?

[2022-10-06 19:32] st-pasha commented on #2037
Ah, right, I somehow missed that part.

Not at all.

[2022-10-06 19:32] #2037 closed

[2022-10-06 21:37] munsterlander commented on #2026
More than likely I can tackle this.  Give me a bit today to review please.

[2022-10-07 05:06] ufrshubham commented on #1504
Isn't this fixed by #1986? Or are we talking about automating the whole process of generating the mermaid as well?

[2022-10-07 06:09] spydon commented on #1504
It is for sure, this is a duplicate :)

[2022-10-07 06:09] #1504 closed

[2022-10-07 06:12] #2025 closed

[2022-10-07 07:45] spydon commented on #1734
Hmm, I see your point, but I also think that we need to have gestures working while the engine is paused, because how would the user otherwise get out of a paused state if they have their menus written as Flame components?
A test was just added for this use case:
https://github.com/flame-engine/flame/pull/2040/files

[2022-10-07 07:52] ufrshubham commented on #1734
An inspiration:
In Godot engine, each node (similar to components) has a `Pause Mode` which controls what should happen when game is paused. It has 3 modes:

- Inherit: Process depending on the state of the parent, grandparent, etc. The first parent that has a non-Inherit state.
- Stop: Stop the node no matter what (and children in Inherit mode). When paused this node will not process.
- Process:

[2022-10-07 08:13] spydon commented on #1734
I don't think we'd like to add something to the base component just for this though, with a mixin we could just propagate the events to the components with that mixin (and maybe their children?) when the engine is paused.

[2022-10-07 08:46] dipakp2726 commented on #2031
hello,
i would like to work on it

[2022-10-07 08:57] Hwan-seok opened #2042 "Performance & rendering issue came out after #1982"
# Current bug behaviour
After bc2db2b17af997fd529800abe0124b0f8918295f, tiled map performance & rendering issue came out.
FPS drops to 0~10s and it renders inappropriate tile.

- On Android you can see the video below

### Before bc2db2b17af997fd529800abe0124b0f8918295f

https://user-images.githubusercontent.com/38072762/194514541-f87f3039-a1d3-4b01-a1a7-6dfb9a577a64.mp4

### After bc2db2b17af997f

[2022-10-07 09:12] spydon commented on #2042
It looks like it tries to render a non isometric game in an isometric way?
@jtmcdole

[2022-10-07 12:13] #2011 closed

[2022-10-07 13:55] jtmcdole commented on #2042
How many tile images do you have in the tiled map? I'm curious if this is hitting a device limit, even though I've tested with 8k textures

[2022-10-07 14:10] ShwetaChauhan18 commented on #2017
@spydon : If you have any unit testing task then let me know

[2022-10-07 14:25] spydon commented on #2017
This one is open if you want to tackle that one:
https://github.com/flame-engine/flame/issues/2031

[2022-10-07 14:38] ShwetaChauhan18 commented on #2031
@dipakp2726: Let me know if you are not working on this.

@spydon: If @dipakp2726 is not going to complete then I will take this.

[2022-10-07 14:51] #2017 closed

[2022-10-07 14:52] spydon commented on #2031
@dipakp2726 finish your current one first and then we can create some a new one for you. :)

[2022-10-07 14:57] Hwan-seok commented on #2042
This is my map settings
[code]
Has 31 tilesets

Each tileset's tilecount is 100~ 4134 as follows
[code]
The sum of tilecount is approximately > 13000

Unfortunately, this is not open source so I cannot explicitly upload it here...
But I am ready to figure it out together.

I used macOS and physical devices. Is this answer right for your question?

Is this mean that uploading the `data.png` here?

[2022-10-07 14:59] #1935 closed

[2022-10-07 15:27] Anas35 opened #2043 "[flame_rive] null exception when no artboard with specified name is exists"
# Current bug behaviour
Throws Null Exception [Null Checks used on null value]

# Expected behaviour
Return null or throw new Exceptions?

# Steps to reproduce
In Rive Component's Example Code, change
`final skillsArtboard = await loadArtboard(RiveFile.asset('assets/skills.riv'));` to
`final skillsArtboard = await loadArtboard(RiveFile.asset('assets/skills.riv'), artboardName: 'Not Exist')`;

# Mo

[2022-10-07 15:30] ayrotideysarkar commented on #2002
Is this still open?

[2022-10-07 15:39] munsterlander commented on #2002
They merged a few fixes. The major sections are still left.  I would opine that my other assignment will clash slightly with this, so be ready for merge conflicts.

[2022-10-07 15:53] ayrotideysarkar commented on #2002
I am also ready to take it... i don't have any other assignments in my hands right now, so if it is assigned to me I can try my best to solve issues..

[2022-10-07 15:58] spydon commented on #2002
This is already assigned to @vikramadityasinghs, let's not stress people. If you decide to not do it @vikramadityasinghs, please let us know. 🙂

[2022-10-07 16:15] munsterlander commented on #2002
I just saw the merged so I thought a partial fix was implemented,  lol

[2022-10-07 16:31] ayrotideysarkar commented on #2002
Me too but I think it is still open😅

On Fri, 7 Oct, 2022, 9:45 pm Munsterlander, ***@***.***>
wrote:

[2022-10-08 00:14] munsterlander commented on #1965
@st-pasha Quasi related as I am re-working the docs, but about a year ago when you setup Sphinx's `conf.py` you included `summary.md` and @spydon has been maintaining and updating this as of 18 days ago.  My question though, what is the purpose of ignoring `summary.md`?  I can't find any other link to that document other than the conf.  Do we need to be updating that summary document with all file

[2022-10-08 02:35] spydon commented on #2043
I think Image.asset for example throws an exception when there is a non existent asset, we should do the same, if we aren't already doing that?

[2022-10-08 04:05] munsterlander opened #2045 "docs: Reorganize the help docs and implement standards throughout all the existing files"
# What could be improved

The docs currently suffer from clear versions of additions.  Meaning, as they are today, you can tell which parts where added after each version and by different people.  The writing styles vary, file names vary, directory structure varies, etc.  Additionally, the `toctrees` vary across files and it causes a very weird caching issue with repeat builds.

# Why should this

[2022-10-08 04:18] jtmcdole commented on #2042
Thanks for the info!

At 8K textures, 32x32 individual tiles would fit about 65536 tiles, which is far less than 13,000.  It would be helpful to know what the eventual packed texture is. I suspect that if they are all 39 columns wide, that leads to only 6 atlases packed. per row... and about 2 atlas tall, so 6x2x4134 ~= 49500 tiles still packed.  It really depends on the shape of each tileset atla

[2022-10-08 07:18] ufrshubham commented on #1734
Although this is true for a large percentage of games, it is not always the case. City builder style game or some strategy games do need to receive updates even when the are not in foreground. [Virtual Cottage](https://duandigames.com/our-games/virtual-cottage.html) is probably the best examples of such a game. By design it is meant to be played in the background.

Not the perfect way to go, becau

[2022-10-08 09:13] spydon commented on #1734
That will not help here though, the only thing that will happen is that a really big `dt` value is sent back when the app comes into focus again.

[2022-10-08 09:44] ayrotideysarkar commented on #2002
Any update? 😅

[2022-10-08 10:05] spydon opened #2046 "Platformer tutorial"
# What could be improved
Currently we only have a card game tutorial, it would be great to include a tutorial (which is also starting from the basics) for a platformer game, since they are quite common and also uses pretty much all of Flame's features.

# Why should this be improved
To make is easier for new users to start with Flame.

# More information
The tutorial should live in the tutorial se

[2022-10-08 10:06] spydon commented on #2046
@ufrshubham @munsterlander I was thinking of you two when I wrote this issue, is this maybe something that you two would like to team up on? :)

[2022-10-08 10:07] spydon commented on #2046
I'll add the `hacktoberfest-special` tag to this issue too, because it is quite a big undertaking.

![image](https://user-images.githubusercontent.com/744771/194702262-12cc5816-9c5c-4037-8536-7a279838b0cc.png)

[2022-10-08 11:31] Hwan-seok commented on #2042
Please excuse me that I am not an expert in game programming. So I have less knowledge about the terms.

Sorry, but I cannot understand what exactly this means.

1.
It seems the exact tile count is 15130.
[code]

2. Is this means git HEAD? or something else?

[2022-10-08 12:08] munsterlander commented on #2046
I'm down if @ufrshubham is!

[2022-10-08 14:39] Aatmaj-Zephyr opened #2047 "Contributors on github"
Can you please add Contributors' images on GitHub readme?

[2022-10-08 15:38] spydon commented on #1797
Thanks a lot for your investigation @idlehart! As we spoke about on discord, another person will take over this one and you can focus on some other issues. :)

[2022-10-08 15:43] jtmcdole commented on #2042
First: Thank you for the report and data!

Running your tileset dimensions through the rectangle packer does show its capable of packing to 8k textures as seen in the bottom image... but either my rendering is wrong or I have a bug / missed test case (totally possible!)

I will try to simulate / reproduce this today on an older pixel phone (either 2xl or 3).

![packed](https://user-images.githubus

[2022-10-08 16:06] trunghq3101 commented on #1797
Hi @spydon, I can take a look at this. I just found another performance issue related to how SVG is drawn. If I try to solve that issue, this one might be solved too. So, please count me in 😄

[2022-10-08 16:58] ufrshubham commented on #2047
I feel it will make the readme unnecessarily bloated. Contributors are anyways listed under the `contributors` section on GitHub.

[2022-10-08 17:50] st-pasha commented on #2045
Note: the "weird thing" with TOC caching is that if you update TOC in one file those changes won't be visible in every other file after a `make build`. I believe it's an intended behavior, not a bug, since it minimizes the rebuild time when prototyping.

In order to get all files updated, run `make clean` -- it will force rebuilding of all files.

[2022-10-08 17:57] st-pasha commented on #2043
I think if the user passes a name for an artboard, they expect that artboard to exist. So, we should signal an error if it doesn't.

In this case I'd recommend to use a simple `assert()` that `artboardByName()` returned a non-null result. Thus, the only difference from the current behavior would be that the error message would be nicer and tell the user what exactly went wrong.

[2022-10-08 17:59] Anikalp1 commented on #2046
I wanna work on this too.

[2022-10-08 18:13] st-pasha commented on #1965
Oh.
So, originally we had the documentation as a simple directory of .md files on GitHub. And that `summary.md` served as a table of contents for all other files. At that point we were trying to set up a "real" documentation site -- but since we weren't sure whether it'd be reliable and how it was going to work, we wanted to keep things backward-compatible as much as possible. So we kept the `summ

[2022-10-08 18:28] st-pasha commented on #2046
@spydon Should we also move the space-shooter tutorial to the documentation site, and finish it? (Separate issue though)

[2022-10-08 18:29] munsterlander commented on #1965
I just wasn't sure what all was needed in it as it was missing items and I saw git blame for Spydon, but I realized later that this is from the build process and so no actual updates have been added.  I will remove this and the entry in the conf file in my docs redo branch.  Its getting massive, but its not unreviewable as most everything is spelling/grammar changes that grammarly picked up (which

[2022-10-08 18:36] munsterlander commented on #2046
What about pad racer in examples?

[2022-10-08 18:40] munsterlander commented on #2045
So the weird caching thing I was referencing was actual how a few toctrees were rst and not myst.  They worked, but viewing the file would sometimes go crazy between refreshes and you would get warnings about missing files.  Once I converted them all to myst markdown, it disappeared.  It very well could be what you reference as well.  Either way, I felt that making them all the same through out th

[2022-10-08 18:42] spydon commented on #2046
That one isn't a tutorial, it's just an example game so I think it fits pretty well on the examples page.

[2022-10-08 18:42] spydon commented on #2046
I think it sounds like a pretty good plan, but what do you think @erickzanardo?

[2022-10-08 18:43] spydon commented on #2046
Sorry, this one is already taken.

[2022-10-08 18:53] munsterlander commented on #2046
Perfect.  Was just trying to see what all should be reorganized overall.

[2022-10-08 18:53] ufrshubham commented on #2046
Sorry, I'll have to pass. I already have my own simple platformer series, so this is a conflict of interest for me.

[2022-10-08 18:54] munsterlander commented on #2046
You can assign me and I will do my best.

[2022-10-08 19:04] st-pasha commented on #2045
`make html` should still work, as long as you're in the `doc/_sphinx` directory. But the equivalent of `make clean` would be `melos doc-clean`.

[2022-10-08 19:07] munsterlander commented on #2047
I mean, its there already and done automatically:

![image](https://user-images.githubusercontent.com/17042581/194723606-93709b43-9b89-42c1-a9c5-4e3d8d9b5a0a.png)

[2022-10-08 19:11] st-pasha commented on #1965
The spelling errors should be fixed within the #2006 PR. But grammarly may also flag up some grammatical or sentence structure errors in addition.

[2022-10-08 19:15] munsterlander commented on #2045
I guess I meant if you have not ran melos bootstrap (which I have now added to the docs for building the docs) first, when you run make html it throws errors as documented here: https://github.com/flame-engine/flame/issues/1950.  Is there any benefit and should we document which is preferred (after melos setup), `make html` or `melos doc-build`?

[2022-10-08 19:15] st-pasha opened #2049 "Parse Markdown into document nodes"
# Problem to solve

Currently we have the ability to render a rich text, where the text is represented as a tree of `Node`s. However, that's not very convenient from user's perspective. A better approach would be to allow some common textual representation -- such as Markdown -- to be translatable into a node tree so that it can later be rendered.

# Proposal

A special utility class to translate

[2022-10-08 19:20] sccalabr commented on #1949
I think everything looks ok but when build the docs the flower doesnt show up. Any ideas on why that would be happening

https://github.com/flame-engine/flame/compare/main...sccalabr:flame:moveeffect?expand=1

[2022-10-08 19:23] munsterlander commented on #1965
Grammarly has definitely picked up a lot of small errors.  Lots of missing commas, incorrect word choice, i.e. `this components` should be `these components`, etc.  Its a wonderful free extension for VS Code.  None the less, the initial PR is fairly large, but its lots of little stuff.  Here is the re-org (I will remove the placeholders for the bridge packages unless those folks start submitting t

[2022-10-08 19:24] st-pasha commented on #2045
Either one works. The `melos doc-build` command has the advantage that you can run it from any directory in the flame repo. The `make html` can only be run from `doc/_sphinx`, but then its output is colorized, and wherever it prints %-progress statuses, those get overwritten correctly instead of spanning multiple lines. So, whatever you find more convenient.

Regarding the `CONTRIBUTING.md` -- I w

[2022-10-08 19:29] Smartmind12 commented on #2046
Hey @munsterlander can i assist you in this issue in place of @ufrshubham ??

[2022-10-08 20:06] munsterlander commented on #2045
Absolutely can do on the including the `contributing.md`.  It is a bit lengthy and not all required for docs where in that section it was how to setup the local environment for building the docs, BUT because of the live examples, if you aren't running melos, then the builds fail and you get 404's and such, so it definitely is a requirement.

Having said that, because it is outside the `doc` direct

[2022-10-08 20:25] st-pasha commented on #2045
It works fine (at least for the local builds). For docs-site build needs to be verified (and perhaps the publish script adjusted).

[2022-10-08 20:27] munsterlander commented on #2045
Well this is the warning that I get `WARNING: 'myst' reference target not found: ../../CONTRIBUTING.md#environment-setup` .  Can you not do relative links  in this method?  The linter and auto-complete shows everything correctly.

[2022-10-08 20:35] munsterlander commented on #1949
Several things:

- Use the naming convention already established for file and class names.  `MoveToEffectGame` move_to_effect.dart, etc.
- The other sections use the factory: `MoveEffect.to` and not `MoveToEffect`.
- You are creating the effect and applying it after when you will be better served to create the effect in the `onTap`.
- Reset the effect so users do not need to refresh the whole page

[2022-10-08 20:58] st-pasha commented on #2045
No, I don't think you could make a link like that.
I was suggesting rather to include the contributing file like
[code]
so that it becomes a proper file inside the doc-site, but the content of that file is fetched from an outside source.

[2022-10-08 20:59] munsterlander commented on #2045
Ok, I knew the include but I hadn't tried it because its so large.  I will play with that a bit more.

[2022-10-08 21:18] munsterlander commented on #2045
So I also want to bring to here some options that I had been discussing with Spydon in Discord.

- I created a grouping called Bridge Packages but in the Flame readme, its referenced as Bridge Libraries.
  - What is the preference?
- Flame Oxygen is listed under Other Modules in the docs currently, but is listed under Bridge Libraries in the readme.
  -  Should it be with bridge_packages(libraries

[2022-10-08 22:12] sccalabr commented on #1949
is there a fast way to debug dart files the build clean and build takes forever

[2022-10-08 22:34] munsterlander commented on #1949
Just run main in web debugger and put your route name in the url like: `http://localhost:61757/?move_to_effect`

[2022-10-08 22:37] munsterlander commented on #1949
Here is a full working `move_to_effect.dart` file.  Compare to yours so you can see what is going on:

[code]

[2022-10-09 00:26] sccalabr commented on #1949
Thanks I think I figured everything out. Let me know what you think.

[2022-10-09 03:19] munsterlander commented on #2046
@spydon Do you want this to use tiled or no?

[2022-10-09 03:19] munsterlander commented on #2046
@Smartmind12 Hit me up in discord.

[2022-10-09 03:35] Smartmind12 commented on #2046
Can you share me your discord ID??

[2022-10-09 03:57] munsterlander commented on #2046
Munsterlander in the flame discord.

[2022-10-09 10:30] spydon commented on #2046
Yeah I'm thinking that too, that pure Flame would be best for this one. :)

[2022-10-09 12:28] ufrshubham opened #2053 "OpacityEffect should allow using generic `paintId`"
# Problem to solve

- `OpacityEffect`s cannot be applied on components using HasPaint with custom `paintId`.
   If a component is using multiple paints, with a custom type for `paintId`, it is not possible to use opacity effect. This is because right now opacity effect supports only string type `paintId`.

- Single `OpacityEffect` cannot be applied to multiple paints easily.
  This is because `Opa

[2022-10-09 13:17] spydon commented on #2047
Agree, let's not bloat the readme.

[2022-10-09 13:17] #2047 closed

[2022-10-09 13:45] ufrshubham opened #2055 "OpacityEffect overrides custom paint"
# Current bug behaviour

If opacity effect is applied to a component using custom paint, the custom paint gets replaced with the default `paint` from `HasPaint`

# Expected behaviour

Custom paint shouldn't be replaced.

# Steps to reproduce

Here is a simple example where a custom `bluePaint` is used by `MyComponent`. But due to opacity effect, the actual color of the rendered circle turns out to

[2022-10-09 16:23] #1942 closed

[2022-10-09 16:39] #2055 closed

[2022-10-09 17:31] #1949 closed

[2022-10-09 17:47] st-pasha commented on #2053
Generally, we want OpacityEffect to be applicable in a broader context - so the best course of action would be to define an `OpacityProvider` interface (which would be implemented by HasPaint).

[2022-10-09 18:12] ufrshubham commented on #2053
I assume this is roughly what you have in your mind.

[code]
I am right?

[2022-10-09 18:50] st-pasha commented on #2053
Rather,
[code]

Then, if an object has multiple paints, then you can define multiple ways to set its opacity:
[code]

The idea is that `OpacityEffect` should be applicable to components that don't use `HasPaint`. After all, `HasPaint` is pretty inefficient: it uses a map even for components that need a single paint. Also, there could be situations where you want a gradient color or something like

[2022-10-09 19:36] munsterlander commented on #1502
This can be added in the community snippets that we have open in another issue.

[2022-10-09 21:13] munsterlander commented on #2045
As mentioned here: https://github.com/flame-engine/flame/issues/2046 Do you want me to move spaceshooter under tutorials proper?

[2022-10-10 04:08] ufrshubham commented on #2053
Okay, but this approach will remove the ability to apply `OpacityEffect` to a specific paint from `HasPaint`. Logically this makes sense because each component should ideally have only one opacity. Just trying to confirm if this is what we are aiming for?

[2022-10-10 06:16] spydon commented on #2043
Agree that an asserr would be best here, to make it non-breaking.

[2022-10-10 06:18] spydon commented on #2045
That is up to @erickzanardo, personally I think it would be good so that all tutorials are gathered on the same place.

Yeah, that sounds good.

[2022-10-10 06:55] TheZal commented on #1964
Is this still available? I can work on that!

[2022-10-10 06:55] TheZal commented on #1963
Is this still available? I can work on that!

[2022-10-10 06:55] TheZal commented on #1962
Is this still available? I can work on that!

[2022-10-10 06:55] TheZal commented on #1961
Is this still available? I can work on that!

[2022-10-10 07:04] trunghq3101 commented on #1964
@TheZal Yes, currently I'm working on another issue. So, freely take it from me.

[2022-10-10 07:08] TheZal commented on #1964
Perfect!

[2022-10-10 07:23] spydon commented on #1963
@TheZal take one of them at the time, so start with `flame_svg` that I just assigned to you.

[2022-10-10 07:32] ufrshubham commented on #2003
@AbhishekTiwari23 no pressure, but just checking in if you are still planning to work on this and/or facing any problem with this?

[2022-10-10 07:42] TheZal commented on #1963
ok!

[2022-10-10 11:03] #1955 closed

[2022-10-10 11:19] spydon commented on #1964
Read the "Good to know" section in the issue description.

[2022-10-10 12:56] TheZal commented on #1964
I did everything in the guide and also installed `sphinx` without any problem. The `melos bootstrap` ran fine but after that  I just can't run the `melos sphinxdoc` command

[2022-10-10 12:59] ufrshubham commented on #1964
The command is `melos doc-build`. Not sure from where you got `melos sphinxdoc`

[2022-10-10 13:02] ufrshubham commented on #1964
Oh, my bad. Just saw the `Good to know ` section. I think it is either wrong or is referring to some old command.

[2022-10-10 13:12] TheZal commented on #1964
Yeah, now the command ran but got this error: `Extension error: Could not import extension myst_parser (exception: No module named 'myst_parser')`.
Btw inside the doc directory i can't find `doc/_build/html/index.html`. There's not even the _build folder.
I got this inside the doc folder
![image](https://user-images.githubusercontent.com/12339188/194874378-072b2d15-c898-42f8-891e-25205a0a7974.png)

[2022-10-10 13:17] ufrshubham commented on #1964
Did you install all the python packages listed in the `requirements.txt` located at _sphinx?

`_build` will be created while the actual doc build starts. In your case it is failing because a required package is not found.

[2022-10-10 13:20] Anas35 opened #2057 "[flame_rive] `antialiasing` props does not change Artboard's antialiasing"
# Current bug behaviour
When `antialiasing` is set to false, The Artboard's antialiasing doesn't change to false.

# Expected behaviour
When `antialiasing` is set to false, The Artboard's antialiasing should change to false.

# Steps to reproduce
 `antialiasing` properties is defined in the constructor, act as an empty member that does nothing.

Test case that fails
[code]

# More information
**Do

[2022-10-10 13:34] Anas35 opened #2058 "[flame_rive] functionality of `useArtboardSize` is missing"
On looking into the source code, `useArtboardSize` variable acts as an empty instance variable that does nothings.

From rive-flutter source code,
https://github.com/rive-app/rive-flutter/blob/6d229dcdd990ca20450c160f5877566e3b7095a0/lib/src/rive.dart#L12-#L29

# Current bug behaviour
Does nothings

# Expected behaviour
Should do same as Rive?

# More information

[2022-10-10 13:37] TheZal commented on #1964
Now I got it, thx, I'm new at this!

[2022-10-10 13:51] AbhishekTiwari23 commented on #2003
I will make a PR in 24 hr the college has started, and I was getting less time for all this, and I am also trying to solve the issues I made in previous days. Please give me the last 24hr. If I cannot make a pr by that time, you can assign it to someone else.
Thanks.

[2022-10-10 19:13] munsterlander commented on #2003
I have this addressed if they unassign themselves, otherwise, I will resolve the conflicts as they arise.

[2022-10-10 19:23] munsterlander commented on #2003
No no, by all means, you should try, I am just saying if you decide to back out, then I have it as well.

[2022-10-10 19:49] AbhishekTiwari23 commented on #2003
no issue, I am a beginner and this is my first hacktoberfest. And I am learning.

[2022-10-11 03:56] cnsumner commented on #1027
I can take a look at this.

[2022-10-11 06:20] spydon commented on #1027
Great! I'll assign you to this and join our Discord if you have any questions.

[2022-10-11 06:24] spydon commented on #2058
Are you interested in taking on this one too?

[2022-10-11 06:44] AmarNathH commented on #1836
Hey @nmarafo, on going to that particlular line in CMakeLists.txt, I found out that it was a gstreamer issue. Installing that in my system fixed this CMakeError.
Btw, I am running Ubuntu 20.04 with manually build flutter and I'm using v1.4.0 release of flame engine.

[2022-10-11 08:49] st-pasha opened #2066 "Add bridge package for YarnSpinner"
# Proposal

Yarn Spinner (https://github.com/YarnSpinnerTool/YarnSpinner) is a library for writing dialogues for games. They create `.yarn` text files which describe the dialog in a simple format close to plain text. For example:
[code]

Supporting this library would entail:
- Parsing `.yarn` files into an internal representation;
- Creating a configurable system for displaying these dialogs, toge

[2022-10-11 09:17] ayrotideysarkar commented on #1999
Thanks!

So i have to replace

linkify-it-py>=1.0
myst-parser>=0.15.2
pygments>=2.10
sphinx>=5.0
sphinxcontrib-mermaid>=0.7.1
sphinx-autobuild>=2021.3.14

With

linkify-it-py==2.0.0
myst-parser==0.18.0
Pygments==2.12.0
Sphinx==5.0.2
sphinxcontrib-mermaid==0.7.1
sphinx-autobuild==2021.3.14

Right?

On Mon, 3 Oct, 2022, 1:06 pm Lukas Klingsbo, ***@***.***>
wrote:

[2022-10-11 15:28] #1965 closed

[2022-10-11 16:07] #2018 closed

[2022-10-11 16:22] dipakp2726 commented on #2018
i would love to take on more issues.
please let me know more @spydon

[2022-10-11 18:49] #2032 closed

[2022-10-11 20:19] erickzanardo commented on #2046
SGTM!

[2022-10-11 20:44] munsterlander commented on #2046
Ok, I can do this under the main doc reorg pr.  How does the subdomain for tutorials get dropped? Just simply moving the folder does it?

[2022-10-11 20:54] nmarafo commented on #1836
Hi, @AmarNathH, thanks for your answer, If you are talking about install gstreamer I install this on my Ubuntu 22
[code]
but doesnt work. Where is the CMakeLists.txt issue?

[2022-10-11 21:18] spydon commented on #2046
Better do that in a separate PR, it will be quite a lot of changes. We can sort out dropping the subdomain once everything is moved.

[2022-10-11 21:26] munsterlander commented on #2046
Will do.

[2022-10-12 03:05] dipakp2726 commented on #2019
hello @ShrutiJ-01, let me know if you are not working on it,

[2022-10-12 07:47] nmarafo commented on #1836
In my console appear:
[code]
I have all gstreamer packages installed.
In Stackoverflow say that "FetchContent" appear in CMake 3.11... any idea how reapair?

[2022-10-12 07:56] ufrshubham commented on #1836
Can you run `cmake --version` and check what version you are using?

[2022-10-12 10:04] nmarafo commented on #1836
In my system I have
[code]
If in flutter/ephemeral/.plugin_symlinks/audioplayers_linux/linux/CMakeLists.txt I change
[code]
to
[code]
I get this out:
[code]

[2022-10-12 11:14] dipakp2726 commented on #2019
hi @spydon ,
may be Assignee is inactive,
let me know if you can assign it to me

[2022-10-12 11:32] ShrutiJ-01 commented on #2019
Hey @spydon , I am relatively new to writing unit tests, and after looking at the code I think it is a little too complex for me right now.I think it would be better if this issue was assigned to @dipakp2726 instead

[2022-10-12 12:44] dipakp2726 commented on #2019
thank you @ShrutiJ-01 ,

[2022-10-12 18:07] vikramadityasinghs commented on #2002
hey @spydon, im interested in working on this.
I'm starting work on this particular issue. 😀

[2022-10-12 18:49] munsterlander commented on #2002
This has been addressed in:  https://github.com/flame-engine/flame/pull/2063

[2022-10-12 20:28] mattmyne opened #2072 "Allow second paint for ShapeComponents"
# Problem to solve
To have both a fill and outline on a `ShapeComponent` (`PolygonComponent`, `RectangleComponent` or `CircleComponent`) a `ShapeComponent` has to be created with the fill, then an entirely new `ShapeComponent` has to be added to draw the outline on top. This is an unnecessary duplication of code and resources.

# Proposal
Add a new optional named parameter `paintSecond` to `ShapeC

[2022-10-13 12:37] #2031 closed

[2022-10-13 13:39] #2043 closed

[2022-10-13 13:42] spydon commented on #1966
Any progress here @sshiv5768? Otherwise I'll assign this to @ShwetaChauhan18.

[2022-10-13 13:44] spydon commented on #1952
Hi @bernandez, any progress on this? If you don't plan to do this please let us know so that we can open up this issue for other people. :)

[2022-10-13 13:46] spydon commented on #1961
Hi @Bharat123rox, any progress on this? If you don't plan to do this please let us know so that we can open up this issue for other people. :)

[2022-10-13 13:46] spydon commented on #1962
Hi @basil08, any progress on this? If you don't plan to do this please let us know so that we can open up this issue for other people. :)

[2022-10-13 13:47] spydon commented on #1963
Hi @anilorcn, any progress on this? If you don't plan to do this please let us know so that we can open up this issue for other people. :)

[2022-10-13 13:52] shresthkapoor7 commented on #1957
Not a lot of progress but I have completed the setup and was just messing around with flame engine, trying out different things to better understand.  I am planning on doing this, its just taking me a little time to understand it :)

[2022-10-13 14:12] immadisairaj commented on #1958
Hello @Rutam21, If you aren't currently working on this issue, I would like to take this up. Thank you.

[2022-10-13 15:02] immadisairaj opened #2075 "docs: use `melos doc-serve` which replaces `melos doc-build-live`"
# Problem to solve

The command to build the documentation site (which serves) : `melos doc-build-live` doesn't exactly makes sense and a bit lengthy.

# Proposal

The proposed solution is that to use `melos doc-serve` command that replaces the `melos doc-build-live` command.

Making it as `serve` will make it on par with other site build commands and easier to remember.

Also, this issue addresse

[2022-10-13 15:21] basil08 commented on #1962
Yes, please unassign me. I am busy rn. Sorry for the delay.

On Thu, Oct 13, 2022, 19:16 Lukas Klingsbo ***@***.***> wrote:

[2022-10-13 15:30] Rutam21 commented on #1958
Hello @spydon I was just getting started with flame engine, so it took me a while. I will complete this asap. Thanks.

[2022-10-13 15:37] immadisairaj commented on #2075
This will need to add a documentation update of documentation which might conflict with #2063. But, it won't be that big of an issue.

[2022-10-13 18:42] spydon commented on #1957
Great to hear! :)

[2022-10-13 18:46] spydon commented on #2075
What would be the reason for having two ways of serving the docs locally?

[2022-10-13 18:47] spydon commented on #2005
Good to hear!

[2022-10-13 18:48] spydon commented on #2042
Can I assign this to you @jtmcdol? :)

[2022-10-13 19:47] st-pasha commented on #2075
The `make clean` command deletes the `build` directory entirely (and then `make build` creates a new directory again); so if you were serving from that directory, then at least in MacOS the server will continue serving files from the deleted directory. Which is SUPER confusing, because what you see in the browser will be different from what you see in the file system.

Now, doing `doc-clean` is no

[2022-10-13 21:25] spydon commented on #2075
But you could just as well do `doc-clean` and then `doc-build-live` to get a server up and running with the docs?
Possibly we could rename `doc-build-live` to `doc-serve` and just document that it automatically updates once the files change?

[2022-10-14 01:06] immadisairaj commented on #2075
You are correct @st-pasha. The new proposed command will not be able to solve this. We would have to use `doc-clean` again to build.

Yep, I could have done that. I hadn't got that idea 😬

This can work. Please let me know if it's a go so that I can work up on this.

I have another one to propose after thinking and reading a bit. How about we combine both the commands into one?
Combining the clean

[2022-10-14 02:06] Hwan-seok commented on #2042
@jtmcdole
No problem!
Are there any actions that I can help you with?

[2022-10-14 05:20] dipakp2726 commented on #1962
hi @spydon i would like to take on this

[2022-10-14 06:20] spydon commented on #1962
Thanks for the quick reply @basil08, I'll assign this to @dipakp2726 since @TheZal  still has an open PR to finish.

[2022-10-14 06:26] spydon commented on #2075
I think have too many commands for the docs will confuse people more than it will help them, and they might end up using the one that cleans everything out even though it is very rarely needed. When they need to clean everything out it's not hard to keep a line with `&&` and the existing Melos commands in their shell history.

[2022-10-14 06:44] immadisairaj commented on #2075
Yep, I understand. Now that I've found the `make clean livehtml`, I will be using this often probably or `melos doc-clean && melos doc-build-live`. We don't need to confuse with many commands. Please feel free to close this if no longer needed.

[2022-10-14 06:49] ufrshubham commented on #2075
Should we also remove all the `make` commands from docs? Having just the `melos` commands will make sure that all the contributors follow same workflow and setup `melos` properly.

[2022-10-14 08:10] #2019 closed

[2022-10-14 10:44] immadisairaj commented on #2075
Can I work on this? Or is it better for this to be included in the major docs redo PR by @munsterlander?

[2022-10-14 10:46] spydon commented on #2075
Do you want to sort that out @immadisairaj? I think we can rename the current `doc-live-build` to `doc-serve` instead too (and update the docs regarding that).

[2022-10-14 10:48] spydon commented on #2075
Didn't see you comment before I posted mine, go ahead! Can you repurpose this issue to reflect what you'll do on the description and title? I'll assign you to it.

[2022-10-14 10:48] immadisairaj commented on #2075
Sure thing. Then, I'll get working on it.

[2022-10-14 10:49] #2007 closed

[2022-10-14 12:59] munsterlander commented on #2075
I had already removed make from the docs but you will need to update your section. Don't worry though, I will just resolve the conflicts.

[2022-10-14 13:33] immadisairaj opened #2079 "interactive examples doesn't work when serving documentation using melos"
The issue arises when a contributor wants to work on interactive examples and tries to build the documentation locally using `melos doc-build-live` (or upcoming `melos doc-serve`)

# Current bug behaviour

When building using the above command, the interactive examples loaded in web give out "404 : Not Found" error (shown in below screenshot).

![Screenshot 2022-10-14 at 18 48 13](https://user-ima

[2022-10-14 14:16] munsterlander commented on #2079
I believe @ufrshubham and I have identified the issue. I assume you are on windows?  If so, I have the fix ready, I just need to verify one more thing and can submit the pr.

[2022-10-14 14:22] immadisairaj commented on #2079
Nah, I am on macOS. As from what shubham and I discussed recently, windows uses "make.bat" and others use "Makefile" (which i am not completely sure).

The issue in windows is that `make livehtml` isn't working which is a separate issue.

[2022-10-14 14:27] munsterlander commented on #2079
Well my bad, lol

[2022-10-14 15:10] spydon commented on #2079
Does this work if you do `melos doc-build` before `melos doc-build-live`?

[2022-10-14 15:16] immadisairaj commented on #2079
No, it doesn't. It only work when we do `melos doc-build` and then the python serve command

[2022-10-14 15:39] jtmcdole commented on #2042
Yes.  I still havn't reprod the case yet - but I've been really side tracked.  I'm interested if forcing only 4K textures would be the correct solution.

[2022-10-14 20:18] idlehart commented on #1952
I can make this happen!

[2022-10-14 20:19] spydon commented on #1952
Since there hasn't been any activity or replies on this issue for 2 weeks I'll assign this to @idlehart.

[2022-10-14 23:51] #2079 closed

[2022-10-15 00:00] #1925 closed

[2022-10-15 00:05] spydon commented on #1836
Are you still running the Flutter snap package? Because they are the ones bundling old versions of cmake, so it doesn't matter if you have a newer version installed on your system.
If I were you I would just completely purge the snap package and install Flutter from the `.tar.xz`

[2022-10-15 00:15] #1310 closed

[2022-10-15 03:00] dipakp2726 commented on #1963
i would be interested in working if available😀

[2022-10-15 03:34] dipakp2726 commented on #1952
hi @spydon, i am interested in working it

[2022-10-15 03:41] dipakp2726 commented on #1963
hello,
i am interested in working on it,

[2022-10-15 13:36] #2075 closed

[2022-10-15 15:43] munsterlander commented on #2075
@immadisairaj No problem resolving merge conflicts in my PR.  Thanks for making it super easy!

[2022-10-15 15:55] Bharat123rox commented on #1961
Sorry I was swamped with work and I've unassigned myself from this issue, apologies for the delay @spydon

[2022-10-15 15:59] munsterlander commented on #2026
@erickzanardo Are you the focus specialist?

[2022-10-15 16:06] spydon commented on #1961
No worries!

@TheZal are you experienced with bloc?

[2022-10-15 22:31] nmarafo commented on #1836
Thanks all for your answers....
Indeed, the problem was when using the snap version. After installing Flutter manually, the version used in CMake is 3.22.1 (I imagine it takes the one from my system) while with snap it was 3.10 which does not support "FetchContent". After deleting the "build" folder, I do a build again and now it works. SOLVED!!!

[2022-10-15 22:31] #1836 closed

[2022-10-16 04:29] dipakp2726 commented on #1961
hi @spydon ,
i have experience with bloc and i am interested working on it. 🙋‍♂️

[2022-10-16 14:26] #1952 closed

[2022-10-16 14:34] #1797 closed

[2022-10-16 16:36] spydon opened #2087 "Use `SizeProvider` on the components where it is applicable"
# What could be improved
The `SizeProvider` mixin should be used on some components derived from `PositionComponent` (possibly others too).

This ticket is about investigating and adding `SizeProvider` to classes that could use it but currently don't have it.

# Why should this be improved
Since the components that don't have it can't make use of the `SizeProvider`.

# Any risks?
I don't think so,

[2022-10-16 16:42] idlehart commented on #2087
I should be able to figure this out 😍

[2022-10-16 16:52] SarojWasti opened #2088 "docs: Guideline Links Unavailable in CONTRIBUTING.md"
# What could be improved
The links for [Style Guide and Testing Writing Guide](https://github.com/flame-engine/flame/blob/main/CONTRIBUTING.md#how-to-contribute) in CONTRIBUTING.md are pointing towards default homepage of Flame instead of their own sections.

# Why should this be improved

Because it will be easier for everyone to visit the recommended section and follow guidelines for contributin

[2022-10-16 16:57] spydon commented on #2088
Thanks for notifying us, the fixed links should be up momentarily.

[2022-10-16 17:04] #2088 closed

[2022-10-17 03:39] dipakp2726 opened #2091 "set opacity on SvgComponent"
# Problem to solve

currently you can't set opacity on `SvgComponent` as paint in svg is private.

# Proposal

expose paint from svg to so can get paint and set opacity on `SvgComponent`

# More information

yes i am intersted on working on this

[2022-10-17 06:19] st-pasha commented on #2087
The problem with having `SizeProvider` on `PositionComponent` is that many components that derive from `PositionComponent` treat their `size` property as read-only. That is, they may declare that their size is, say, 100x100, but they wouldn't work properly if some external code changed to, say, 200x50.

Some components do allow such flexibility -- and it is these components that should declare tha

[2022-10-17 07:03] idlehart commented on #2087
So this would only work for some components and would cause massive frustration for the ones that would not accept the size?

[2022-10-17 07:10] spydon commented on #2087
The user can still change the `size` of those components, just like they can with the `SizeEffect. If the user changes the `Size` of a component that it doesn't intend to change the size on I think that should be classified as the user's fault. And also, which built-in components are you talking about that treat their `size` as read-only currently?

[2022-10-17 07:13] TheZal commented on #1961
@spydon I can leave it to @dipakp2726 :)

[2022-10-17 07:34] #1956 closed

[2022-10-17 09:05] ShwetaChauhan18 commented on #1966
@sshiv5768 , @spydon: Can I start this?

[2022-10-17 10:25] spydon commented on #1966
Since we've had no reply I've assigned it to you.

[2022-10-17 16:51] st-pasha commented on #2087
`ClipComponent`, `IsometricTileMapComponent`, `ParticleSystemComponent`, `PolygonComponent`, etc. Generally, any component which doesn't declare it is implementing `SizeProvider`.

Indeed, this is an unfortunate side-effect of our API choices for the `PositionComponent`. But at least when it comes to `SizeEffect`s we've built some degree of type safety with the `SizeProvider` interface. After all,

[2022-10-17 17:08] spydon commented on #2087
`ClipComponent` could use `SizeProvider` if I read the code correctly.
But I see your point, I'll re write this ticket to be about investigating whether any components is missing it then instead.

[2022-10-18 10:26] idlehart commented on #2087
Nice, i will start looking into what components will allow the use of SizeProvider :) Good compromise.

[2022-10-18 11:16] pastordougdev opened #2095 "FlameBlocListenable error when revisiting a Route"
# Current bug behaviour
After visiting a Route containing a component that uses FlameBlocListenable and popping that route, if the same route is visited again, a LateInitializationError occurs when the onMount method of the mixin sets the _subscription variable.

See below for a link to a Github repo with a small Demo app to reproduce this issue.

# Expected behaviour
Expecting that the component(

[2022-10-18 11:32] spydon commented on #2095
@erickzanardo @felangel

[2022-10-18 11:43] spydon commented on #2095
Ah, I missed this, I'll assign you @pastordougdev! :)

[2022-10-18 11:51] erickzanardo commented on #2095
Good catch!

From an initial look at the code, I think we need to drop the `final` from the subscription declaration: https://github.com/flame-engine/flame/blob/main/packages/flame_bloc/lib/src/flame_bloc_listenable.dart#L11

Since the same component can be removed and mounted again. I am unsure if that is all, but definitely where I would start. @pastordougdev lmk if you need any help with the PR

[2022-10-18 12:00] pastordougdev commented on #2095
In my current project, I cloned the mixin and dropped the `final` from the declaration and the component remounts without error.  Since the subscription is being canceled in onRemove, it seemed safe to me to be able to reassign subscription in the subsequent onMount.

@erickzanardo thanks for the offer of assistance.  Will be my first PR so I will reach out for any questions!  Thanks!

[2022-10-18 21:21] #2057 closed

[2022-10-19 07:24] juanoboif25 opened #2096 "MoveToEffect, RemoveEffect and SpeedEffectController not working inside SequenceEffect"
# Current bug behaviour

When i put a `MoveToEffect` with a `SpeedEffectController`and a `LinearEffectController` and also a `RemoveEffect` inside a `SequenceEffect`, the component subject to them doesn´t move but instantly teleports to the desired `Vector2` (regardless of what `speed` i specify) and it doesn´t get removed from the game. If the Speed and Linear `EffectController`'s get replaced by

[2022-10-19 21:10] erickzanardo commented on #2095
Fixed on #2098

[2022-10-19 21:10] #2095 closed

[2022-10-20 06:23] #1966 closed

[2022-10-20 16:38] #1961 closed

[2022-10-21 02:47] dipakp2726 commented on #1341
@phamconganh @spydon
the package [spine_core](https://pub.dev/packages/spine_core) is not an open source.
please check License.

[2022-10-21 03:25] dipakp2726 commented on #1258
Hi,
@tozu please let me know if you are not planing to do this,

@spydon i am intersted in taking this one

[2022-10-21 05:09] tozu commented on #1258
Hi @dipakp2726

I'm still planning to do this, and I'm currently in the works

My apologies that it takes a bit longer 😥

// Tozu

[2022-10-21 06:41] spydon commented on #1341
I don't know how common spine is, but if it is quite heavily used I think it could bring value to our users by having a bridge package for it. Possibly we shouldn't include it in the monorepo though.

[2022-10-21 08:04] dipakp2726 commented on #1258
Hi @spydon
this is indeed special issue and shouldn't have ticket reservation.
if he doesn't able to complete it than an only special issue is going to be wasted,

[2022-10-21 10:07] #1964 closed

[2022-10-21 10:57] glitcha opened #2101 "Sprite sheet animation not running in SpriteAnimationWidget"
Hi everyone, this engine is amazing. Just hitting a small problem with the SpriteAnimationWidget. Any help would be massively appreciated.

# Current bug behaviour
The animation only displays the first frame of a spritesheet that is loaded from cache.

# Expected behaviour
The animation should play through the sequence

# Steps to reproduce
[code]

# Flutter doctor output
Flutter doctor is all gre

[2022-10-21 11:07] dipakp2726 commented on #1341
i am interested in working on this.

[2022-10-21 12:20] #1962 closed

[2022-10-21 12:28] #2091 closed

[2022-10-21 14:30] spydon commented on #2101
It seems to work here: https://examples.flame-engine.org/#/Widgets_Sprite%20Animation%20Widget

Have you tested your `SpriteAnimation` in a normal `SpriteAnimationComponent`?

[2022-10-21 15:12] glitcha commented on #2101
Thanks for the reply. If i use that code from the sample it comes up blank. The SpriteAnimationWidget.asset() doesnt work for me and i have to use SpriteAnimationWidget() which only loads the first frame. Will try with the SpriteAnimationComponent thanks.

[2022-10-21 15:32] spydon commented on #2101
What does your spritesheet look like?

[2022-10-21 16:58] spydon commented on #2026
I think @renancaraujo is even more a focus specialist.

[2022-10-21 17:08] #1567 closed

[2022-10-21 17:14] idlehart commented on #1351
Is this something i can do for hacktoberfest?

[2022-10-21 17:16] spydon commented on #1351
Go for it! I'm not sure how many unconverted tests that there are left, but I guess that is part of the ticket to find out. :)

[2022-10-21 17:18] spydon commented on #1698
It's now fixed in Flutter beta.

[2022-10-21 17:28] #2053 closed

[2022-10-21 17:58] michaelrampl opened #2104 "Bad Framerate for "Hello World" Project on Linux"
The following main.dart
[code]
and mygame.dart
[code]
only renders with about 20 FPS on my WQHD (2.560 x 1.440) Screen for both Debug and Release Builds on Linux. I'm using an NVIDIA GTX 1080 together with an i7 and 32GB of Memory. Whats interesting: If i lower the resolution (something like half of screen width/height) It goes up to around 59/60 FPS. The weird thing is that neither system monitor

[2022-10-21 18:24] spydon commented on #2104
I tried this too and I get around 40 FPS.
I don't think this has anything to do with Flame though, but just like you say it has something to do with one of the underlying layers.

[2022-10-21 18:32] michaelrampl commented on #2104
Is there any limitation on fps? I assumed that my PC should even be capable of handling around 120fps. I also saw that the same project renders with 90fps on my android phone.

Anyway I also support your idea of this being an issue with some "underlying technology" (eventually something within flutter itself). I would really like to get to the bottom of that - Any hints on what I could do to furth

[2022-10-21 18:36] spydon commented on #2104
There is no limitation on the fps, more than what the hardware reports that it can handle.

I would have a look at the Flutter issue tracker and see if there is anything related to this on there. If there is not, I would try to create a minimal reproducible example that doesn't use Flame and just uses the canvas and post that as an issue on Flutter. (you can link this issue)

[2022-10-22 14:13] dipakp2726 commented on #1341
hey @spydon, i would like to work on this

[2022-10-22 14:49] spydon commented on #1341
Alright, I've assigned you!

[2022-10-22 14:58] spydon opened #2108 "Fix all typos reported by cspell"
# What could be improved

**Do note that only proficient native English speakers (or proof of proficiency by published articles or similar) will be considered for this ticket, otherwise there will be too much work for the reviewers.**

All reported errors by the spell checker should either be fixed or added to the [word list](https://github.com/flame-engine/flame/blob/main/.github/cspell.json#L5).

[2022-10-22 17:51] spydon commented on #1351
Do we have to create a new function that replaces the widget tests too?

[2022-10-22 21:54] munsterlander commented on #2108
So oddly enough, I am just intrigued enough to and like misery enough to want to do this.  If no one else wants it, I can do it, but I would say let others have a chance and if its open in a few more days, I will take it.

[2022-10-22 22:18] munsterlander commented on #2096
Ok, I took a bit of time to look at this and can confirm something is going on, but it is not based on the `MoveToEffect`.  The issue stands with the `SpeedEffectController`, because if you open the test for that controller, the linter automatically flags all the tests as invalid that its missing `duration` as a defined parameter.  I created a test file and I had it pass linting once and then it h

[2022-10-22 22:28] munsterlander commented on #2096
Ok, so after putting this together, this works fine but it does not remove the component.

[code]

[2022-10-22 22:31] SirusCodes commented on #1809
This can be closed

[2022-10-22 22:33] munsterlander commented on #2026
@renancaraujo Looking for any help as to why the keyboard listener would stop after the popup is being shown.  An alternative would be, how do you trigger the keyboard listener to be rebound on an event?

[2022-10-22 23:51] #1809 closed

[2022-10-22 23:54] st-pasha commented on #2096
Thanks for checking @munsterlander. It means there are probably 2 different bugs here: one with the RemoveEffect, and another with the MoveEffect.

[2022-10-23 00:04] munsterlander commented on #2096
Well, I should add, the error is only with that controller. Other controllers work correctly - see the existing sequence effect live example.

[2022-10-23 02:39] dipakp2726 commented on #2108
i am interested in working on it

[2022-10-23 04:19] Anas35 commented on #2058
Hey @spydon, #2076 doesn't fixed it. The functionality of `useArtboardSize` is still missing.

[2022-10-23 05:09] Dojeto commented on #2108
I wanna work on this issue.

[2022-10-23 09:12] tksoh commented on #2096
[disclaimer: I am new to flutter]

I traced into apply() of RemoveEffect which tries to remove it's parent. But when wrapped within SequenceEffect, its parent is not the component, but SequenceEffect itself. I'm not sure what would happen if there are more effects after RemoveEffect, though I'd believe they will just be ignored since SequenceEffect has been removed?

For now I just utilize the onC

[2022-10-23 11:34] spydon commented on #2108
@dipakp2726 sorry, but this issue is only for really proficient English speakers (I've already had to correct both grammar and typos in your PRs). This PR will just be too massive for us to review if it is not somebody that is on a native (and skilled, some native speakers are terrible at their own language) level that takes on it.

@Dojeto are you a native English speaker and have some article or

[2022-10-23 11:55] Dojeto commented on #2108
I am not a native speaker, but just give me some time definitely my contribution will help you a lot.

[2022-10-23 12:03] aryabyte21 commented on #2108
I am a native english speaker. I have written [an article on MLOps.](https://aryabyte.hashnode.dev/mlops-for-data-scientist)

[2022-10-23 12:45] spydon commented on #2058
Aaah right, I'll open it up again

[2022-10-23 14:08] munsterlander commented on #2108
I haven't read this but this may be able to use the files generated as well:  https://marketplace.visualstudio.com/items?itemName=streetsidesoftware.code-spell-checker

I mention this because it seems there might be some config options that mean we do not have to add all the words exactly.

[2022-10-23 14:13] spydon commented on #2108
Perfect, I'll assign you @aryabyte21!
Tell us if you need help with anything and I recommend joining our discord server if you haven't already. :)

[2022-10-23 14:40] spydon commented on #2096
You are completely correct @tksoh, it should be using `target` and not `parent`.
I'll write up a PR for it.

[2022-10-23 21:02] #2002 closed

[2022-10-23 21:02] #2003 closed

[2022-10-23 21:02] #2045 closed

[2022-10-23 21:04] spydon commented on #1958
With a week left now @Rutam21, how does it feel? Do you think you'll be able to complete this in time?

[2022-10-23 21:05] spydon commented on #1957
With a week left now @shresthkapoor7, how does it feel? Do you think you'll be able to complete this in time?

[2022-10-23 21:09] spydon opened #2111 "Interactive docs: Ray casting and Ray tracing"
# Interactive doc for ray casting and ray tracing

The ray-casting and ray-tracing functionality should have interactive examples in the docs.
The examples should be much simpler than the examples that exist on the [examples site](https://examples.flame-engine.org/#/Collision%20Detection_Raytracing).

You can have a look at the interactive examples for effects to get some inspiration:
https://docs

[2022-10-23 21:10] spydon commented on #2005
Hi @AbhishekTiwari23, there is less than a week left of Hacktoberfest now, do you think that you'll be able to complete this issue in time?

[2022-10-23 21:12] spydon commented on #1963
Hi @anilorcn, there is less than a week left of Hacktoberfest now, do you think that you'll be able to complete this issue in time? If not we'll open it up to other contributors.

[2022-10-23 21:12] spydon commented on #1027
Hi @cnsumner, there is less than a week left of Hacktoberfest now, do you think that you'll be able to complete this issue in time? If not we'll open it up to other contributors.

[2022-10-24 02:35] dipakp2726 commented on #2111
hi @spydon ,
i would like to work on it.

[2022-10-24 02:36] dipakp2726 commented on #1963
i am interested in working on it

[2022-10-24 03:58] dipakp2726 commented on #2111
i would like to work on it🙋‍♂️.

[2022-10-24 08:44] spydon commented on #1963
Alright, since there hasn't been any reply for almost two weeks I'll assign it to you @dipakp2726

[2022-10-24 08:45] spydon commented on #1027
Thanks for letting us know, then I'll unassign you so that someone else can take it on. :)

[2022-10-24 10:45] spydon commented on #1957
Alright, thanks for telling us, then I'll open this up for other Hacktoberfest contributors. :)

[2022-10-24 12:35] renancaraujo commented on #2026
As far as I could test, this pr fixes this: https://github.com/flame-engine/flame/pull/1725

[2022-10-24 15:18] munsterlander commented on #2026
Thank you!

[2022-10-24 19:58] idlehart commented on #1957
I'll have a look at this :)

[2022-10-24 22:18] #2111 closed

[2022-10-24 22:26] #2096 closed

[2022-10-24 22:37] #2072 closed

[2022-10-25 04:57] st-pasha commented on #1502
So, I looked through the standard internationalization library in Flutter, and also the `i18n_extension` -- and I came to the conclusion that they may not be well-suited for games.

The main use case of these libraries is a widget-based App with some simple buttons, labels, and occasional text messages. Thus, the number of elements to translate is both small and known at compile time.

The needs i

[2022-10-25 05:06] sumit7577 commented on #2058
i want to work on this issue

[2022-10-25 05:21] Anas35 commented on #2058
Feel free to work on this. I haven't quite yet gone into depth. This should have same features as this, https://github.com/rive-app/rive-flutter/blob/6d229dcdd990ca20450c160f5877566e3b7095a0/lib/src/rive.dart#L12-#L29

[2022-10-25 05:40] dipakp2726 commented on #1958
in case, if it will be open,
I will be interested to take on it

[2022-10-25 05:57] dipakp2726 opened #2119 "Bridge package docs: flame_flare"
Bridge package docs for `flame_flare`

# Problem to solve
This bridge package should have its own documentation section on the docs site

# Proposal
Bridge package docs for `flame_flare`

# More information

[2022-10-25 07:32] spydon commented on #2119
We don't need (or want) docs for flame_flare on the site since it is deprecated.

[2022-10-25 07:32] #2119 closed

[2022-10-25 08:20] spydon commented on #1958
Let's give @Rutam21 another day to reply and if there is no reply I'll assign it to you.

[2022-10-25 08:46] sumit7577 commented on #2058
The artboard size doesn't change even if size is given in rive constructor so I assume i have to set the sizes according to user if useArtboardSize is true.

[2022-10-25 08:47] spydon commented on #2058
That is already fixed in #2076.

[2022-10-25 08:51] sumit7577 commented on #2058
Any more info about this issue?

[2022-10-25 08:56] mursalfk commented on #2108
Hello.
I would also love to work on this issue. Can you assign it to me?

[2022-10-25 09:06] spydon commented on #2108
This is already assigned to @aryabyte21.

[2022-10-25 09:11] Anas35 commented on #2058
You have to understand how `useArtboardSize` works in `rive-flutter` package first.

The current behavior in `flame-rive`: Artboard's size is set up `size` property.

According to `flutter-rive` docs,

   constraints instead of the artboard size.

The current behaviour of `flame-rive`. i.e, Sizing should be based on `size` property.

    Using the artboard size has the benefit that the widget now

[2022-10-25 15:07] spydon commented on #1511
@pdeveltere I missed your ping here, is this an issue for you in Flame v1.4.0 too? If so, could you provide a minimal reproduction?

[2022-10-25 15:19] spydon commented on #1511
Super! Thanks for the quick response.

[2022-10-25 22:22] munsterlander commented on #2026
I was able to run everything and can confirm the prior PR fixes the keyboard focus problem.  This issue can be closed.

[2022-10-26 05:56] #2026 closed

[2022-10-26 09:45] dipakp2726 commented on #1958
looks like I am good to go.

[2022-10-28 17:56] Kritika30032002 commented on #2108
is this still available?

[2022-10-28 21:44] spydon commented on #2108
Unfortunately not, there are already PRs open for it.

[2022-10-29 09:24] #1958 closed

[2022-10-29 09:32] Kritika30032002 commented on #2108
But none of them is merged since it has been 4 days.
That's why I asked

[2022-10-29 10:03] #1963 closed

[2022-10-29 12:45] spydon commented on #2108
One of them has been merged, we're waiting for the author to fix up the other two so that it's all contained in one PR.

[2022-10-29 16:44] #1027 closed

[2022-10-29 18:59] #2046 closed

[2022-10-30 19:59] munsterlander commented on #2005
Less than 48 hours remaining.

[2022-10-30 23:28] st-pasha opened #2137 "Glow "effect" implementation"
This thread is about the glow "effect" and the best strategy for applying it. This follows our discussion from PR #2129, moved here for better visibility (as that PR is now merged).

The `GlowEffect` which is currently in the `main` branch is useful in some circumstances, but has a number of deficiencies that need to be addressed. Those are:

- The term "effect" was misapplied here. The phrase "gl

[2022-10-30 23:45] st-pasha commented on #2137
Here's how different blur styles look like when applied to a white circle (blur radius = 10). The images, in order, are: no-blur, normal, solid, outer, and inner:

<img width="504" alt="Screen Shot 2022-10-30 at 4 30 36 PM" src="https://user-images.githubusercontent.com/4231472/198907291-d4dc5d0d-de75-4dca-8055-551f6fcffcad.png">

Here's the same picture, but when the original paint is of type "st

[2022-10-30 23:57] st-pasha commented on #2137
One possibility to make the glow brighter is to draw the same paint several times. In this picture, I first show a single paint with blur, then 2 paints with blur, then 3 paints with blur (all with the same blur radius 10):

<img width="396" alt="Screen Shot 2022-10-30 at 4 55 31 PM" src="https://user-images.githubusercontent.com/4231472/198908194-5dfbb89c-5da5-4508-9ef9-31e245995d38.png">

[2022-10-31 00:00] st-pasha commented on #2137
This picture is similar to the last one, but 3 blurs have different radii -- 30, 20 and 10:
<img width="198" alt="Screen Shot 2022-10-30 at 4 59 37 PM" src="https://user-images.githubusercontent.com/4231472/198908353-80457cb4-29e7-4e01-b78c-f5806b4e37cc.png">

[2022-10-31 00:11] st-pasha commented on #2137
Here I once again have only one glow for each circle. However,
- in the first image the glow is based on the circle of the same radius as the base;
- in the second image the blur mask is applied to a circle which has +10 radius compared to the base;
- in the third image the blur mask is applied to a circle with +20 radius.

<img width="481" alt="Screen Shot 2022-10-30 at 5 06 34 PM" src="https://u

[2022-10-31 04:26] munsterlander commented on #2137
Would this be possible to be applied to text?

[2022-10-31 07:22] st-pasha commented on #2137
Here are some experiments with text. As before, I have text with no blur, then normal, solid, outer, and inner blur styles. The blur radius is 5 in the first picture and 2 in the second:

<img width="167" alt="Screen Shot 2022-10-31 at 12 16 15 AM" src="https://user-images.githubusercontent.com/4231472/198952397-0bc25b4b-c270-4043-9c66-e57fd5bb592e.png"> <img width="157" alt="Screen Shot 2022-10-3

[2022-10-31 07:35] st-pasha commented on #2137
In this experiment I'm once again using normal blur with radius 5; plus the text is then rendered a second time on top, using the original paint.
- first image uses the original paint with the blur mask;
- second image uses paint with `style = PaintingStyle.stroke` and stroke with 2;
- third image has stroke width 4;
- fourth image has stroke width 8:

<img width="146" alt="Screen Shot 2022-10-31

[2022-10-31 07:37] spydon commented on #2137
One can also use other techniques to apply a glow to text, which can be seen here:
https://examples.flame-engine.org/#/Rendering_Text

[2022-10-31 08:28] st-pasha commented on #2137
https://examples.flame-engine.org/#/Rendering_Text

Those are still the same techniques: apply a paint with MaskFilter.blur, then render the blurred text at some offset.

[2022-10-31 09:42] spydon commented on #2137
Yeah, but not done manually, in your case you have a separate paint that you handle outside of the text style right?

[2022-10-31 17:22] #2066 closed

[2022-10-31 23:07] rexthecoder commented on #2137
Just wanna join the Flame party 🎉

@st-pasha Can you elaborate on how you go about with the implementation and probably add some simple code? I am just joining the Flame party, so I am a bit lost. But I am interested in this discussion 😁

[2022-11-01 08:56] #2104 closed

[2022-11-01 20:56] NashIlli commented on #1258
Hello @tozu ! Is there an ETA for this issue? We are planning how to handle the animations in Flame and we really hope that we can use Lottie animations.

Thanks a lot for your work!

[2022-11-01 21:19] duck-dev-go opened #2141 "HasTappableComponents with FixedResolutionViewport appears register taps in the wrong place"
# Current bug behaviour
Using HasTappableComponents with TapCallbacks gives strange results in a FixedResolutionViewport game. The router seems to render my component centered and then the tap seems to register on the place where it would be if my component wasn't centered. The image below shows where the tap registers with a red arrow.

![image](https://user-images.githubusercontent.com/15832303/

[2022-11-01 21:23] duck-dev-go opened #2142 "HoverCallbacks mixin"
# Problem to solve
When using the new flame router, hoverables seem to be still detected when you are on a different page. This can be a problem when for example you want to change the mouse cursor when hovering a component. The cursor will also change on the different page.

# Proposal
@spydon suggested in the discord channel

[2022-11-01 21:23] spydon commented on #2142
I'll create the needed mixins.

[2022-11-02 02:58] GraysonE commented on #2141
@duck-dev-go you beat me to it. I'm experiencing this as well. I have a FixedResolutionViewport of 800x360 and the tap is registering above the component, but not directly on the component.

[2022-11-02 03:15] gnarhard opened #2143 "TextBoxComponent's boxConfig timePerChar generates "Optimized Out" error"
# Current bug behaviour
When using the TextBoxComponent with a custom box config, having a fast timePerChar value generates this error:

# Steps to reproduce
[code]

File attached for convenience.
[main.dart.zip](https://github.com/flame-engine/flame/files/9915601/main.dart.zip)

# More environment information

Create a list of more environment information, like:
* Flame version: 1.4.0
* Platform

[2022-11-02 09:35] spydon commented on #2141
Have you tried using the `CameraComponent` instead of the camera on FlameGame?

[2022-11-02 15:28] GraysonE commented on #2141
No sir. I'll give that a shot.
On Nov 2, 2022, 3:35 AM -0600, Lukas Klingsbo ***@***.***>, wrote:

[2022-11-02 16:23] spydon commented on #2143
Interesting, so the assert that it fails on is this one:
[code]

[2022-11-03 09:24] r0kan opened #2144 "CameraComponent position type for children component"
# Current bug behaviour
When adding a component with a viewport position type, it moves along with viewfinder.

# Expected behaviour
component with viewport position stays in place

# Steps to reproduce
[code]

[2022-11-03 09:42] spydon commented on #2144
When using the `CameraComponent` you don't use the `positionType`, you add the component directly to the `viewport` instead of adding it to the `world`.

[2022-11-03 09:54] spydon commented on #2144
Did you remove the `positionType` too?

[2022-11-06 10:21] figengungor commented on #1646
It happens with version 1.0.4, too. You can run this example(increase the flame version first) and see: https://github.com/codetricity/flame_2022_visual_novel_tutorial/
When dialog button is added after first scene in the example, you can see the error in console.

[2022-11-06 13:29] spydon commented on #1646
If this can't be reproduced on the latest Flame version I'll close this. If anyone can reproduce this on 1.4.0 we can re-open it, but I don't think that is the case.

[2022-11-06 13:29] #1646 closed

[2022-11-06 14:06] #2108 closed

[2022-11-09 08:22] TheZal commented on #1964
Hi @spydon, this was tagged as hacktoberfest-special when I saw it the first time, is this still eligible for the hacktoberfest special pack?

[2022-11-09 08:36] spydon commented on #1964
It is not unfortunately, I had misunderstood what the `hacktoberfest-special` tag did so I accidentally put it on all of our issues.

[2022-11-09 08:58] TheZal commented on #1964
Yeah I saw it now, no problem, my bad! BTW this is still an hacktoberfest-accepted eligible pr right? So where I can claim the swag?
![image](https://user-images.githubusercontent.com/12339188/200785397-56eae46d-acc3-4727-a2e9-4084d3f3e0e4.png)

[2022-11-09 11:55] khanhduy39nn opened #2156 "TapDetector sometime not working when Flutter flame app embeded by ifame inside another website"
# Current bug behavior
All event onTapUp, onTapDown... are not working when I Flutter flame app (iframe) inside another website even though the drag event still works
Only happen on Android devices with chrome.
Frequency of error cases: 6/10

# Expected behavior
Tap event is good

# Steps to reproduce
1. Create a small app that counts the number of touches
2. flutter build web --web-renderer canva

[2022-11-09 12:00] spydon commented on #2156
Do the taps work normally if you just use a tapdetector in Flutter web without Flame?

[2022-11-09 21:18] st-pasha opened #2158 "chore: Make spellchecker a required action"
We have already fixed all the 2000+ spelling errors that we had had in the repository; so in order to stop them from proliferating again we should make Spellcheck the required action (that is, a PR is blocked if there are spell errors).

[2022-11-09 21:22] spydon commented on #2158
Should I do it, or do you want to do it?

[2022-11-09 21:52] #2158 closed

[2022-11-10 13:30] pastordougdev opened #2160 "Add property to Route to allow the page to rebuild when the route is revisited"
When a Route is popped from the stack, its state is maintained by the Router.  Therefore, if the Route is pushed back onto the stack, the state of the Route's child Component is exactly where it was when the Route was popped.  There are some use cases where it would be beneficial for the Route's build method to be called each time the Route is pushed on the stack, thereby, rebuilding the Route's c

[2022-11-10 16:02] tty215 commented on #1013
Is there a workaround for this problem?

[2022-11-10 16:14] spydon commented on #2160
@st-pasha

[2022-11-12 03:24] #1929 closed

[2022-11-12 15:55] lukepighetti opened #2163 "[flame_audio] normalize simultaneously playing sounds"
Right now if you play multiple sounds simultaneously the audio volume will increase until the signal clips

I understand this is probably upstream in `audioplayers`, but I wanted to track it here since `flame_audio` specializes in low latency simultaneous playback

I'm not aware of what algorithms are used in video game audio engines to control this phenomenon, but it's absent in all modern video

[2022-11-12 19:02] couturmi opened #2164 "[flame_audio] "onPositionChanged" for AudioPlayer is sending incorrect position"
# Current bug behavior
When using the `onPositionChanged` lisitener for the FlameAudio provided `AudioPlayer`s, it will initially send the correct audio position, but after about 1-2 seconds, the audio position value resets, even though the audio is still playing normally. After the initial reset, the audio position value continues to increase normally, but the actual position is about 1-2 seconds

[2022-11-13 04:10] spydon commented on #2164
This is a bug for https://github.com/bluefireteam/audioplayers not `flame_audio`, so please open the issue there if there isn't already one open.

[2022-11-13 04:59] couturmi commented on #2164
Thanks. Adding the link to that issue for reference: https://github.com/bluefireteam/audioplayers/issues/1324

[2022-11-13 04:59] #2164 closed

[2022-11-13 13:42] lukepighetti opened #2166 "RectangleComponent does not re-render paint after construction"
# Current bug behavior
RectangleComponent doesn't re-render paint after construction

# Expected behavior
RectangleComponent does re-render paint after construction

# Steps to reproduce

<img width="595" alt="Screen Shot 2022-11-13 at 8 48 43 AM" src="https://user-images.githubusercontent.com/666539/201525148-41eaa248-9673-4fc3-b5e0-b26730da925d.png">

[code]

# Flutter doctor output

[code]

# M