[2017-11-20 13:20] andreugrimalt opened #3 "Error detected in pubspec.yaml when including Flame"
Hi @luanpotter,

First of all thanks for making this tool, looks amazing and just what I need.

I'm having an issue when I add Flame as a dependency.

This is how my **pubspec.yaml** looks like:
[code]
I run `flutter packages get` which exits with 0.

Then I run `flutter run` and I get the output below:
[code]

`flutter --version` gives me this output:
[code]

Am I missing anything?

[2017-11-20 13:50] feroult commented on #3
Hi @andreugrimalt

Check the file `ios/Podfile`. It should have `use_frameworks!` as the first command of the `target 'Runner' do` block.

Like this:

[code]

[2017-11-20 14:38] luanpotter commented on #3
Let's add that instruction to the README in a visible place.

[2017-11-20 21:16] feroult commented on #3
@luanpotter I think I've found a better solution.

Look this [commit](https://github.com/luanpotter/audioplayer/commit/025811fa0c440b9729eed0abb2363712cf5baecd) on __audioplayers__.

There was a unnecessary swift file forcing the calling of `use_frameworks!`.

I did some tests and it is not necessary anymore. The problem will be solved in the next release of both libs.

Regards

[2017-11-20 22:15] andreugrimalt commented on #3
Thanks @feroult !

[2017-11-30 04:14] Joseph-W-E opened #4 "Method for terminating Game"
Hello. I'm really enjoying working with flame, and am actively building a game for a class of mine.

I was wondering if there was a way to "destroy" a `Game`, in that I can successfully terminate a `Game` after I've invoked `.start()`?

I imagine something like `myGame.stop();` for terminating the window rendering loop would be helpful for transitioning between Flutter widgets (for main screen han

[2017-11-30 23:13] Joseph-W-E commented on #4
I've taken a stab at allowing transitioning between flutter widgets and the game scene:
https://github.com/Joseph-W-E/flame/commit/5dfa97a07ded97b6a570ee477d106bfd01af27d7
There's still infinite exceptions thrown, but for this being a class project that's due soon, I'm going to shamefully pretend they don't exist.

[2017-12-01 01:37] feroult commented on #4
Hi @Joseph-W-E

Great you are enjoying Flame!

Would you please explain the specific use case where you need to transition to Flutter widgets?

We've been discussing about this, it would be great to understand your needs.

Regards

[2017-12-01 01:48] Joseph-W-E commented on #4
Sure thing. https://github.com/Joseph-W-E/angry_arrows is a project I'm working on for fun / class. Basically, the class is an Android specific class, but we are allowed to use Flutter under the guise that we demonstrate how Flutter's UI architecture differ from Android's. To have some fun with this, we (my friend and I) are making a simple game that has two parts:

1. The home screen / main menu

[2017-12-02 13:47] luanpotter commented on #3
Nice, @feroult ! I'm closing this and the related audioplayers issue, if anything else arises, please let us know!

[2017-12-02 13:47] #3 closed

[2017-12-02 14:03] luanpotter commented on #4
This is a very important use case and one we definitely intend to support. Currently, as @feroult mentioned, there has been some discussion but we didn't find a clear-cut best way to do it. In fact, we ought to rework the whole ServiceBinding strategy because of the supermixins issue.

I'll definitely take a look at your code soon, and if we can fix all the exceptions, we can PR you :))

Thanks fo

[2017-12-03 04:43] Joseph-W-E commented on #4
Sounds good! For what it's worth, here's my solution thus far. I've gotten rid of the exceptions happening on each frame, and have finally reached a bandaid solution good enough for this little project.

https://github.com/Joseph-W-E/flame/pull/1/files?diff=split

[2017-12-22 18:36] luanpotter commented on #4
I have 0.8.0 which fixes this issue! @Joseph-W-E, see if the solutions fits your needs :)

[2018-02-01 02:01] samjxn opened #6 "Update readme.md for v0.8.x"

[2018-02-02 10:54] luanpotter commented on #6
Most of the documentation was updated; I also split it into two: the README, which has the basic details to get your game up and running, and the complete docs. There are somethings still missing from the complete docs, that I plan to finish shortly :)

[2018-03-04 19:19] p3e7 opened #7 "Drawing sprites on iOS"
Hi, today I had some time to test your engine an I really appreciate the effort, but I ran into a problem.
If I use the old version 6.2 I can easily draw sprites, but with version 8.1 nothing happens.
I tried all documentation hints and tutorials I could find.

[2018-03-04 20:13] p3e7 commented on #7
I'm sorry, I assigned the sprite in the render method... my bad...

[2018-03-04 20:13] #7 closed

[2018-03-04 20:41] luanpotter commented on #7
Indeed, the sprite loads asynchronously when created, so if you re-assign every render method to a new instance, it will never finish loading to be rendered. Your code should look something like this:

[code]

Also, consider using the new `BaseGame` in `0.8.x`, as it deals with rendering and updating for you (simply add your components to the array via the `add` method.

I'm glad your are having p

[2018-03-04 21:47] luanpotter commented on #6
The full docs have been updated and completed with details \o/

If something is missing, please let me know ;)

[2018-03-04 21:47] #6 closed

[2018-03-04 21:48] luanpotter commented on #4
This was no longer an issue on our tests, and the systems are very well integrated.

Feel free to open a new issue if you encounter any problem whatsoever, we'd love to help :)

[2018-03-04 21:48] #4 closed

[2018-04-15 20:54] matejthetree opened #8 "repetitive sound not playing randomly"
Hello,

I have been using Audio file from flame to play sounds.

Now, the issue I get is that the file sometimes get played and sometimes it doesnt.

I even tried to create one instance of AudioPlayer, to see if the issue is in multiple creation of AudioPlayer or async checking of cache. Same problem.

Every 0.5 Second I play one `.wav` file, just a FX tick. Same error with `.m4a`
[metronome.wav.z

[2018-04-18 13:58] luanpotter commented on #8
Hi, @matejthetree! Thanks for your feedback :)

This is an interesting problem, probably with the [audioplayers](https://github.com/luanpotter/audioplayer) lib.

What version of flame/audioplayers are you using? On version 0.5.0 of the latter, there was a big refactoring (theoretically improving performance); maybe check out versions 0.4.1 and 0.5.0 and see if the problem persists, or which one pe

[2018-04-18 20:47] matejthetree commented on #8
Hello,

overwhelmed here as well :)) I am not in a rush for this project as it is a personal one, so I will try to do this tests in a few day and update you. I am using latest pub version of both packages

[2018-04-27 02:54] matejthetree commented on #8
I got some time, so I will try now.

As I remember, your lib was creating new instance of audio player when used directly from Flame, so we can rule that one out.

I will check now 0.4.1, and I will compare iOS and Android versions.

[2018-04-27 03:57] matejthetree commented on #8
Ok, I made a mistake :)

So creating new Audioplayer each time works.
The sound plays now every time.

Now just to sort out some performance issues. Sound playing is lagging, and I am making metronome. The first time it is played it lagging and then later now and then it lags again.  I wonder why playing sounds perform so bad? It should be basic stuff to play audio :)

I think we can close this is

[2018-04-27 12:16] luanpotter commented on #8
It works, but it's not ideal; it should work with the same instance. So I'll try to take a look at this on audioplayers to see if there is a performance hit or concurrence problem of some sort.

The first time it takes longer because it has to load the audio; you can pre-load the audios beforehand, as per instructed [here](https://github.com/luanpotter/flame/blob/master/doc/audio.md). The others o

[2018-04-27 12:16] #8 closed

[2018-04-27 16:12] matejthetree commented on #8
Thank you, let me know If I should help or test.

I preload the audio beforehand with flame audio library. Still get performance spike on the first one.

[2018-06-08 02:59] coolzilj opened #10 "Is it possible to support skeletal animation tools like Spine?"

[2018-06-08 03:16] luanpotter commented on #10
Not currently.

Is [this](http://esotericsoftware.com/) the Spine you are referring to? I'm unfamiliar with it, could you elaborate on that?

From what I've gathered, sadly it's a proprietary and paid software, so I don't know how we could integrate with it. From what I quickly saw at their website, they allow to create more natural feeling animations that would take an inordinate amount of frames

[2018-06-08 03:30] coolzilj commented on #10
Thx for the quick response, yes, we're talking the same Spine.

Actually the Spine [runtimes](http://esotericsoftware.com/spine-runtimes) are all open sources, including the official ones, except the Spine Editor(Paid), so specification is not hard to find(I supposed, actually this is my first time to work with it).

I found two dart runtimes but all based on html/webgl, [StageXL_Spine(based on St

[2018-06-08 03:38] luanpotter commented on #10
I see, it looks like there is plenty of documentation and open implementations for several languages, including Dart for web, which would make it very feasible to understand and implement this inside flame.

It would be a great addition to the platform, but also a monumental work, for which I sadly don't quite have the time right now. If you want to help creating this binding, please feel free, an

[2018-06-08 03:57] coolzilj commented on #10
Sure thing, I'd like to help.

[2018-06-15 11:43] #10 closed

[2018-07-07 16:20] gtsipina opened #11 "Flame.audio.play crashes `'Future<dynamic>' is not a subtype of type 'Future<int>'`"
In my project with Dart2, when I use `Flame.audio.play`, it prints following exception to the console.

[code]

[2018-07-09 23:51] luanpotter commented on #11
Thanks for your feedback! What version of Flame are you using? This was fixed in audioplayers 0.5.1, which should be included in the latest version of flame. Could you verify that, please?

[2018-07-11 14:45] gtsipina commented on #11
Thank you for answer. Version of Flame: ^0.8.4. I didn't find newer version...

[2018-07-11 15:09] luanpotter commented on #11
I just released 0.9.0 with the new audioplayer version! See if that helps. Otherwise check in your pubspec.lock what version of audioplayers is being resolved :)

Indeed the latest released version of flame potentially allowed for an older version of audioplayers that didn't compatibility for Dart 2.

[2018-07-13 04:41] spkingr opened #12 "Why I cannot import the component.dart library?"
I use the dependencies: `flame: ^0.9.0`, but I cannot import the `component` library, what I can import is the line below:

[code]

This line is useless... What I miss?

[2018-07-13 11:51] gtsipina commented on #11
Thank you! The new version works!

[2018-07-13 11:51] #11 closed

[2018-07-13 12:12] luanpotter commented on #12
All component related files have been moved inside the components folder, therefore you must import it like so:

[code]

Or if you want the AnimationComponent, for example:

[code]

I forgot to update the README and documentation, thanks for the feedback! I'll change it right away.

[2018-07-14 06:26] spkingr opened #13 "type 'List<Comparable<dynamic>>' is not a subtype of type 'Iterable<Pair>' of 'iterable'"
When I make a simple game, I got the error again and again, how to solve it, thanks!

[code]

And the stack:

[code]

[2018-07-14 17:39] luanpotter commented on #13
Could you please provide your code relevant to the error? I can only guess that you created a world (Box2DComponent) and added inside Components that are not bodies (BodyComponent). All components added directly inside a Box2DComponent must be BodyComponents.

[2018-07-15 01:55] spkingr commented on #13
Here is my test code:

[code]

And another file:

[code]

Thanks very much for help!

[2018-07-15 13:18] feroult commented on #13
Hi @spkingr, thanks for your code.
I was able reproduce the problem and I'm trying to fix it.

[2018-07-15 17:06] feroult commented on #13
It was a bug in Box2D Dart port. Since the original maintainer was not merging this [PR](https://github.com/google/box2d.dart/pull/11) from Feb, we decided to fork the project and create our own package.

You'll need to change any reference to `box2d` package or sub-packages to add the `_flame` suffix:

[code]

Just wait @luanpotter to release next Flame version and you should be ok with your code

[2018-07-15 21:40] luanpotter commented on #13
@spkingr the new version was released (0.9.1). Could you verify if the problem is solved? Thanks!

[2018-07-16 05:56] spkingr commented on #13
It works now! Happy to go on flutter game. :) @luanpotter  @feroult

[2018-07-16 05:56] #13 closed

[2018-07-17 04:15] spkingr opened #15 "What's the difference in the coordinates in Flame components"
When I make the little game, I am confused with the different coordinates in the widgets or components:

1. Is the stage(phone) width/height equatable to the viewport's width/height in Box2dComponent? So does the dimension from `Flame.util.initialDimensions()` ?
2. Where is the origin in the body in `Box2dComponents` when specifys the `BodyDef` in `_createBody`? Actually it is a `Vector2` value:
[

[2018-07-17 12:07] feroult commented on #15
@spkingr Hi there.

I can explain the coordinate system in more depth later.

But basically, the Box2D coordinate system uses the point (0, 0) as the center of the screen. Left and Bottom positions are negative x or y values.

The total world dimension is something that I've made some changes last days. Right now, you need to set the desired dimensions through the constructor when creating your Bo

[2018-07-17 14:46] spkingr commented on #15
@feroult  Thanks very much, and I have already cloned your sweet haunt game to play with, and the questions are brought out just because of the digitals in your game code, such as 6.2 as `height`, -16 as the box `y` position.
But now, with your explanations, I have ready got a lot! Thanks again and I will get it a try! :)

[2018-07-17 14:46] #15 closed

[2018-07-19 20:58] abhishekUpmanyu opened #16 "Audio keeps playing even if the app is in background. To kill the audio, one must close the app."

[2018-07-20 04:59] spkingr opened #17 "Why my sequenced animation works incorrectly?"
I use `AnimationComponent.sequenced` to make the animation sprite in my code, but it renders the whole images again and again(just flash in my screen), that is not what I wanted, the animation should be played with one frame and then another, here is the code:

[code]

The image is 2000 pixels width and 250 height, with 8 swan-sprite made. How to use the animation components? Help and thanks very

[2018-07-20 07:01] spkingr commented on #17
Another question:
* How to destroy or remove the component from the game world? I use `component.world.destroyBody(component.body);` , but it not works.
* Can `ContactListener` work with `KINEMATIC` boy type? And how to test the collision between `DYNAMIC` body with `KINEMATIC` body?

Thanks!

[2018-07-20 14:49] feroult commented on #17
@spkingr  Inside a `Box2DComponent` we have the `world` and `components` attribute. The first controls the mechanics and the later the rendering. You can check the top of the file:

[code]

I think the problem is that the `world.destroyBody` is not removing the component from the `components` list.

It is probably a better design to have an API to make the process of creating and destroying bodies

[2018-07-20 19:11] feroult commented on #17
Just created an API: https://github.com/luanpotter/flame/commit/443f3049c71f1c6552f5b665e343f73cf6bfc36a

`Box2DComponent.remove(BodyComponent)`

[2018-07-21 01:08] spkingr commented on #17
@luanpotter  Thanks very much! I have tried and it works fine now. Is there any API like `flip` or `scaleX` to flip the animation sprites? The swan sprite is always backward with face forward.

[2018-07-21 01:37] spkingr commented on #17
@feroult
I got it, thank you!
I edit the source code in my project, and I found some problems:

1. I cannot add any common `component` like `ParallaxComponent` and `AnimationComponent` anymore
2. I removed the body, however, it still situated in the world, and responses the physics
3. I found that `userData` defined in `BodyDef` or `Body` is useless. After reading the source code, I change the cod

[2018-07-21 01:44] feroult commented on #17
I made this change to the API so the Box2D Component would only accept `BodyComponents` and no  regular components anymore.

You can still mix then in the higher-level Game `render` method.

I think this way we have a better design, what do you think?

[2018-07-22 15:59] abhishekUpmanyu commented on #16
Thank you for replying. Sorry it took me 2 days to come back here, I wasn't able to access the PC for that time. Being new to app development I didn't know about AppLifecycleState. Thank you so much for the solution, and really sorry for bothering you with the issue, I am closing the issue now 😅

[2018-07-22 15:59] #16 closed

[2018-07-23 06:18] spkingr commented on #17
That's okay, separate the physic components with regular ones will be much more efficiency. And I think sometimes the simple game won't need physic at all, supply some util methods for math is enough.
By the way, can we use `libgdx` in Flutter?

[2018-08-06 01:30] luanpotter commented on #17
@spkingr, AFAIK it's not possible to use libgdx with flutter; libgdx is a different framework that works with Java and also provide the ability to make multi-platform games, but their are not compatible. In flame we use Flutter low levels API to render, witch are similar to OpenGL bindings, but not exactly the same.

[2018-08-06 15:04] spkingr commented on #17
@luanpotter I got it. I have cloned `flame` library just now, I will try to make clear how the code works, try to have a look insight into it. I think make games in Flutter is great and challengeable. By the way, where should I get started to dive into? Thanks.  :)

[2018-08-07 13:41] luanpotter commented on #17
I'd suggest reading the `README.md` tutorial, it's the very basic needed for a very simple game (probably you've already done so and are more advanced). Then, you can read the complete guide for more in-depth explanations, the source code & docs have pretty good details too. Finally, take a look at our 'sample' games;

* [flame-example](https://github.com/luanpotter/flame-example): is VERY simple,

[2018-08-12 13:51] luanpotter commented on #17
@spkingr I will close this issue for now, if you have more questions or would like to submit issues, prs, et cetera, please feel free to open new issues!

[2018-08-12 13:51] #17 closed

[2018-08-30 12:53] aleslanik2 opened #18 "Saving game state"
Hi, i am begining developing simple game in flame. And i have no idea how to save game state in situation when  application goes to background.
In current state, after moving back to foreground, is the game restarted.

Thank you for your reply and have a nice day

PS. Sorry for my English, my language skill is very poor :-)

[2018-09-03 13:42] erickzanardo commented on #18
Hello @aleslanik2 I don't if I quite understand what you are asking, but when the app is moved to background, it is not killed (at least on Android, I'm not sure about iOs) you could keep your state on memory and use the lifecycleStateChange method to resume the game from your state.

Another option is to save your state on the shared preferences of the device, flame doesn't provide any solution f

[2018-09-05 16:11] luanpotter commented on #18
Perfectly put, @erickzanardo, thanks! I'm closing this issue, but please feel free to open new ones if necessary :)

[2018-09-05 16:11] #18 closed

[2018-10-17 12:19] renancaraujo opened #20 "Allow Component composition"
I have a `SpriteComponent` that will be substituted by an `AnimationComponent` during the game. I've been thinking to compose this logic into a single `PositionComponent` that controls whether I render `SpriteComponent` or `AnimationComponent`, to improve semantics.
Looking into that, how about `Component` class have an `OrderedSet` of subcomponents just like `BaseGame`? I this way, methods like `

[2018-10-17 13:37] AttSee opened #21 "flame It supports 2.5D or not ?"

[2018-10-17 14:33] erickzanardo commented on #20
Wouldn't an new component class be better? Like a `ComposeComponent` or `ComponentGroup` that wraps how many components you need?

This new class would them be responsible by wrapping these inner components and the orchestration of the calls of `render` and `update`.

[2018-10-17 14:43] renancaraujo commented on #20
@erickzanardo That coud work. Since my "wrapper" component is a PositionComponent, I think `ComposedComponent` could be a mixin.
Example of usage:
[code]

[2018-10-17 14:58] AttSee commented on #21
flame  can do this?
https://youtu.be/HlL3OVZqwUk?t=128

[2018-10-17 16:59] luanpotter commented on #20
I like the idea of a mixin, I'm feeling more and more inclined about replacing this hierarchy of components with mixins in the future, I've already created several of them  inside one of my games that could potentially be extracted to flame.

[2018-10-22 16:53] scrobot opened #24 "Dart 2.0 support"
Hi! Can you tell me, please, when you are planning to integrate support of dart v2.0 to engine? Is it have some problems?

[2018-11-02 14:21] luanpotter commented on #24
Hi, @scrobot !

Thanks for the comment!

Flame fully supports the latest version (2.1) of Dart. If you have any problems regarding this, please feel free to open a specific issue :)

[2018-11-02 14:21] #24 closed

[2018-12-08 16:39] luanpotter commented on #20
Merged #25

[2018-12-08 16:39] #20 closed

[2018-12-19 03:50] wonsuyon opened #26 "Does flame support large size images?"
I tested 3000px x 4000px 1MB png x 100 files in /assets/images.
and

void main() async {
    ....
    await Flame.images.loadAll(list);
}

40 images loaded but over 50 failed out of memory. (3g ram device)
android:largeHeap="true" didn't help.

Do you have any solutions?

(actually i need 1MB x 500 images..)

[2018-12-24 00:44] luanpotter commented on #26
I agree with @datayeah , maybe you should consider splitting your sprite sheet into several bits? Then you can load one bit per level, that is, I'm assuming you don't use the entirety of your enormous sprite sheets at the same time!

Or, you could compress your image, using jpg or some sort of loss-y compression algorithm.

Otherwise, there is simply no solution; you could load all sprites on dema

[2018-12-24 01:45] wonsuyon commented on #26
Thank you.
The tinyPNG helps and the Flame works fine with no delay for the 40MB loading.
But at this moment i need Unity instead..

[2018-12-24 10:20] luanpotter commented on #26
I'm glad it worked out! If there is any feature missing from flame that you'd like to use, please feel free to open an issue or even contribute with a PR! It'd be really neat if we provided everything you need. Best regards!

[2018-12-24 10:20] #26 closed

[2018-12-24 13:19] feroult opened #27 "Ho Ho Ho!"
Merry Christmas Flame Fellows! 🎅 🎄🎄🎄🎄

Santa Claus is asking which features we'd like to have on Flame next year

Make your wish list here, and let's see what happens next :))  🎁🎁🎁

[2018-12-24 13:30] erickzanardo commented on #27
- Full gamepad support (currently only android is supported and there is no support for the analog sticks)
- Keyboard support (but needs to check if flutter is ready for this)

[2018-12-24 13:34] luanpotter commented on #27
* Desktop Support (using Flutter for Desktop, now being worked on on v1.0)

[2018-12-24 14:15] erickzanardo commented on #27
- add native support for commonly used by the gamede community, like tiled for example

[2018-12-24 22:20] feroult commented on #27
I think it will be nice to work on that. It looks like some [already started to support TMX](https://github.com/radicaled/tmx.dart) files 4 years ago :)

I played a little bit with this lib and it seems to be well written... I'm in contact with the owner.

Huh, Santa has listen to one wish 🎁

[2018-12-30 18:45] Panthro commented on #27
- Update the documentation. :-P I'm a heavy flutter developer, but new to flame, currently having a hard time to a hello world!

[2018-12-31 15:22] Panthro opened #29 "How to Tile a background?"
**Disclaimer:** Flame is one of my first attempts at game development overall, just because I love flutter.

I know this isn't a issue and more a stackoverflow question, but being the case that the docs and the examples does not show how to do that you might want take the issue to add a documentation action.

I'm currently trying to implement a flappy bird with Flame, but it's being really hard to

[2018-12-31 16:01] erickzanardo commented on #27
@Panthro could you list the issues you had with the documentation, so we can be more assertive improving it where it lacks information?

[2018-12-31 16:11] erickzanardo commented on #29
I am not sure if I understand what is your problem, Flappy Bird's background is static if I recall correctly, but If you want to keep the background moving, the way you explained does not seems odd to me, I would actually do something similar.

Could you list the parts of the documentation that you had problems with? We would sure try to improve it.

[2018-12-31 16:16] Panthro commented on #27
@erickzanardo From my point of view, looks like you guys are heavy game developers that are porting something you know very well to flutter. This makes the documentation expecting a lot of knowledge from guys like me that has never developed a gameLoop aware game in my life try to tear my eyes and throw them out of the window when I can't make things like a background continuously tile.

The examp

[2018-12-31 16:18] Panthro commented on #27
BTW, amazing work on abstracting a lot of things to a non regular game developer, just realised you guys are from 🇧🇷as well, me too :-)

Obrigado pela ferramenta.

[2018-12-31 16:31] erickzanardo opened #31 "Add more tutorials step-by-step"
We should add more tutorials step-by-step on how to use the components of flame, focusing on people who never developed games and has chose Flame to start.

Tutorial example:

 - Basic project startup
 - Handle input
 - Images and rendering things
 - Camera
 - etc

If anyone feels the need of other tutorials, just comment here on this issue

[2018-12-31 16:31] erickzanardo commented on #27
I see, indeed we could add some tutorials to the docs, maybe some step by step examples to help who never developed games and chose flame as its starting tool in the gamedev life.

Sadly this is kind of a lot of work and I don't know when we will be able to do that, so I created an [issue](https://github.com/luanpotter/flame/issues/31) here so we don't forgot about it and you can keep track of the

[2018-12-31 17:13] luanpotter commented on #29
It seems fine to me to use two sprites, you could use only one if you did the following: make it twice the width of the screen, repeated twice, render it as you are moving, when you get x = [half width of the sprite | full screen width] we are in the scenario where the bg is exactly repeated, at this point you can move x = -width to x = 0 again and nothing will change, then the bg will continue to

[2018-12-31 17:17] luanpotter commented on #29
PS. note that in the end in BGUG example we ended up drawing 4 sprites instead of 2, because it can move in the y direction too. Just make sure your background is cyclic (can be connect in the desired directions start to end) and to be at least as big as the screen. It's a very good solution (even better than using larger images as I described in the first paragraph, actually, because you need sma

[2018-12-31 17:51] feroult commented on #31
I have 2 ideias for this:

*  Provide a `examples` folder collecting different games and complexity
* and/or create a complete gallery game with different show cases.

[2018-12-31 17:57] erickzanardo commented on #31
@feroult I like both ideas, but I think this could be complemented by some step-by-step tutorials, like the [unity](tutorials for example: https://unity3d.com/pt/learn/tutorials), they really help people getting started with Unity

[2018-12-31 21:14] arcanosam commented on #31
I consider myself totally newbie in this days of game programming.

I would to see notions about how to understand metrics, proportion, building a scene,  export 3d models, using blendrr for example

[2019-01-02 10:58] erickzanardo commented on #31
So, checking the README again, there is already a good [QuickStart tutorial](https://medium.com/@luanpotter27/a-comprehensive-flame-tutorial-or-how-to-make-games-with-flutter-74f22c4ecbfa) that covers a lot of the basics.

Some topics that we can still create tutorials about are:

- Camera
- Box2d
- Background handling
- GamePad usage

Anything else I am missing @luanpotter ?

[2019-01-05 03:15] erickzanardo commented on #29
Closing this in flavor of #31 , @Panthro if there is any more documentation or tutorials that you feel the need, please open another issue.

[2019-01-05 03:15] #29 closed

[2019-01-06 10:34] luanpotter commented on #31
I'd also like to have more examples, I thought about having a collection of small, very dedicated example showcasing specific features. I started working on that on our new release branch (0.10.0), but still needs more work as well.

[2019-01-17 22:00] Mirodil opened #33 "NoSuchMethodError: The getter 'pointerRouter' was called on null."
Hi,
The code `Flame.util.addGestureRecognizer(createTapRecognizer());` throws the following error:
[code]

The code example:

[code]

Am I doing something wrong?

[2019-01-18 15:44] Mirodil commented on #33
I found solution I had to call `Flame.initializeWidget();` in the beginning of the program.

[2019-01-18 15:44] #33 closed

[2019-01-21 20:27] JamesMudge opened #34 "Flame.audio performance issues"
Calls to Flame.audio.play() have a high performance impact.

I lose 5-15 frames making as few as two calls per second on a physical android s5.

[2019-01-22 14:15] luanpotter commented on #34
Hi, @JamesMudge , thanks for your feedback! If you are playing audios on that high frequency, you probably should consider using an AudioPool, instead of Flame.audio. Creating and buffering audioplayers instances is indeed very, very expensive. There is nothing you can do, other than preload everything before you use it. Could you please test that and see if the results are better?

[2019-01-22 15:12] erickzanardo opened #35 "Method to verify if a gamepad is connected"
Add a method to verify if a gamepad is connected, this will be useful to for example show different tutorial for the player

Here is a starting point: https://developer.android.com/training/game-controllers/controller-input#input

[2019-01-22 18:37] JamesMudge commented on #34
I should have noted that I am using Flame.audio.loadAll([...]) to pre cache all the sounds well before I try to use them.

[2019-01-22 19:26] #34 closed, assigned to nobody

[2019-01-23 13:56] erickzanardo opened #36 "Update text apis docs"
Docs for the Text APIs is outdated, we must update it to the latest implementation

[2019-01-23 23:32] #36 closed

[2019-02-03 05:13] Arham4 commented on #31
I'm confused as to why Github's wiki isn't being utilized for this. [LibGDX](https://github.com/libgdx/libgdx/wiki/) does so beautifully, I don't see why the same isn't done here. Perhaps a beginning to this issue hasn't been initialized, but an index page would be a great start surely.

[2019-02-03 17:39] luanpotter commented on #35
This was implemented by [flame_gamepad](https://github.com/fireslime/flame_gamepad) :)

[2019-02-03 17:39] #35 closed

[2019-02-07 12:37] #27 closed

[2019-02-14 08:57] olisteadman opened #40 "because flame >=0.10.0 depends on tiled ^0.2.0, flutter_driver from sdk is incompatible with flame >=0.10.0"
Building my app 'nanny_mc', I see this error in CI/CD (using Codemagic):
[code]

In `pubspec.yaml`, if I replace `flame: 0.10.1` with `flame 0.10.0` the build still fails. Alternatively, if I remove flame entirely as follows,
<img width="822" alt="screen shot 2019-02-14 at 08 37 30" src="https://user-images.githubusercontent.com/12253176/52773880-dfefa280-3033-11e9-946c-4366de95f417.png">

... the

[2019-02-14 12:17] erickzanardo commented on #40
It seems that flutter_driver is depending on an older version of the convert package, tiled uses the newer one, `2.1.1` and by the looking of your error log, flutter_driver dependes on `2.0.2`.

I have looked about this flutter_driver package and it seems to be provided by the flutter sdk itself, are you using an updated version of flutter?

[2019-02-14 18:06] olisteadman commented on #40
[code]

[2019-02-19 20:17] Monotoba commented on #40
Can't compile Flame on Android Studio 3.3.1

Android Studio 3.3.1
Build #AI-182.5107.16.33.5264788, built on January 28, 2019
JRE: 1.8.0_152-release-1248-b01 amd64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
Linux 4.15.0-45-generic

This error only occurs when Flame is added to the pubspec.yaml file of any project on my system. I've tried changing Flame version to no avail. I've tried using a

[2019-02-20 02:10] erickzanardo commented on #40
@Monotoba this seems very odd, we will take a look into it, but this seems like a completely different problem from the error reported originally on this issue, could you please open a different issue? So we can target each problem individually?

Also, just fyi @olisteadman we are looking into this issue, and will report back as soon as we get to a solution

Thanks

[2019-02-21 15:54] erickzanardo opened #43 "ComposedComponent doc"
Create docs for the ComposedComponent class

[2019-02-21 15:56] erickzanardo opened #44 "Debug features doc"
Create docs and example for debug features, like fps, debug_component and etc

[2019-02-21 15:58] erickzanardo opened #45 "Project startup doc"
Create documentation on how to start a new game using Flame.

There could be two tutorials here
1- A classic game only application
2- Adding a game as a widget inside an existing Flutter app

[2019-02-21 15:59] erickzanardo commented on #31
Closing this issue in favor to separate issues per feature, please, feel free to open a new issue in case that you find something that needs documentation, and still does not have an issue for it.

[2019-02-21 15:59] #31 closed

[2019-02-21 16:01] erickzanardo opened #46 "Lock flutter version on flame pubspec"
We should lock the flutter version on Flame's pubspec to avoid people trying Flame on unsupported Flutter version.

[2019-02-22 00:00] erickzanardo opened #47 "Box2d doc and example"
Add box2d docs and an example

[2019-02-22 18:50] Monotoba opened #48 "Can't Compile Flame on Android Studio 3.3.1"
Can't compile Flame on Android Studio 3.3.1

Android Studio 3.3.1
Build #AI-182.5107.16.33.5264788, built on January 28, 2019
JRE: 1.8.0_152-release-1248-b01 amd64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
Linux 4.15.0-45-generic

This error only occurs when Flame is added to the pubspec.yaml file of any project on my system. I've tried changing Flame version to no avail. I've tried using a

[2019-02-22 23:39] feroult commented on #40
I couldn't reproduce your problem with `flutter_driver`.

But anyway I've downgraded the `convert` version of `tiled` to the same of `flame`.

Just waiting @luanpotter to release next version to check if it is working, please.

Regards

[2019-02-24 14:06] luanpotter commented on #48
Hi, @Monotoba

Not sure what might be causing, but what gradle version are you using? Older versions might give weird errors.

Also, you say you can't build from Android Studio; if you try to compile by hand (using gradle), does it work?

I'm not sure what is the problem but these questions will give some guidance to the solution.

[2019-02-24 21:56] luanpotter commented on #47
Maybe @feroult can help with this?

[2019-02-25 22:07] Monotoba commented on #48
Android Studio is kept up to date. My gradle version is a 4.10.2 version. I get the same results trying to compile from the command line or in MS Code. Flutter plugin is 3.33.

[2019-02-28 01:37] feroult commented on #47
Yes I can.

I'm planning to promote `haunt` as Box2D tutorial.

[2019-03-02 11:50] luanpotter commented on #47
That'd be awesome! We should to bump it to flame 0.10.2 (latest), though.

[2019-03-05 17:51] #46 closed

[2019-03-05 20:25] erickzanardo commented on #40
`0.10.2` is out for sometime now, have you tried on that version @olisteadman ?

[2019-03-06 02:07] erickzanardo opened #51 "Support Aseprite animation json data"
Aseprite exports its animations in spritesheet format, along side the image, it can also export a json with the information from that animation, I think it would be a great feature for Flame with we add some support for that, since Aseprite is one of most used 2d pixel art tools out there, here is an example of the json:

[code]
My suggestion for an API for this would be something like:

[code]

W

[2019-03-06 10:12] luanpotter commented on #51
Sounds really cool! But you are missing a chunck of the file there, that's no valid json by any means.

[2019-03-06 11:42] erickzanardo commented on #51
Yeah, copy/paste has failed me, but you got the idea, will try to be begin work on this as soon as I can.

[2019-03-06 18:24] Monotoba commented on #48
Has their been any progress on this issue. Or perhaps you have some insight or need additional info from me? I have a small project I need to complete by next Tuesday that I really wanted to use Flame on. However, this issue will force me to find an alternative. If there is anything I  can provide that would help, please let me know.

[2019-03-06 18:54] erickzanardo commented on #48
Hello @Monotoba, this issue you are reporting is really odd, this does not seems to be a problem with Flame, but rather with gradle, at least as far as I reserached.

I have tried compiling one of our projects that uses Flame with Android Studio, and everything worked fine.

Have you tried cleaning gradle cache? This sometimes fixes these weird kind of problems, and I have found this on stackoverf

[2019-03-06 21:45] Monotoba commented on #48
Hopefully this will help:
(base) @dev:~/projects/flutter/test03/android$ ./gradlew --stacktrace
Starting a Gradle Daemon, 2 incompatible Daemons could not be reused, use --status for details

[Fatal Error] asm-5.1.pom:1:44: Content is not allowed in prolog.
[Fatal Error] proguard-gradle-5.3.3.pom:1:44: Content is not allowed in prolog.
[Fatal Error] asm-commons-5.1.pom:1:44: Content is not allowed

[2019-03-06 22:52] erickzanardo commented on #48
This stills points to the same problem:

[code]

For some reason Gradle is not been able to parse the pom from some dependencies, which is very odd, because I downloaded the pom, took a look, and there is nothing wrong with it.

Have you tried the suggestions on the stackoverflow link I sent on the previous message?

Try running `rm -rf ~/.gradle` to delete the gradle cache (assuming you are on a

[2019-03-06 22:54] erickzanardo commented on #51
Working on it!

[2019-03-07 00:59] Monotoba commented on #48
I did as you suggested but still get the same error. I also completely removed Android Studio and flutter from my machine and re-installed. I used Ubuntu snap to re-install where my previous install was from a download from google. I removed the android studio settings files in my home directory before reinstalling and I still have the same error. It only occurs when flame is included in the proje

[2019-03-07 01:05] Monotoba commented on #48
I just found this: https://github.com/facebook/react-native/issues/15756 I still need to grok it myself but it may have some helpful info as it looks like the same or similar issue.

[2019-03-07 01:44] Monotoba commented on #48
I found the issue! I can successfully compile the examples and include Flame in my own projects now. :-) The issue is that the asm-5.1.pom I am getting has a space before the opening "<!--" removing the space solved the issue. I found this by opening the file in a hex editor. After finding a similar issue on Android Studio's issue list. The issue there is closed and marked as resolved. You may wan

[2019-03-07 02:13] erickzanardo commented on #48
What, this is really strange :laughing:

Anyway, glad that you got it working!

Will be closing this but feel free to open new issue if you got any more problems :)

[2019-03-07 02:13] #48 closed

[2019-03-07 22:58] erickzanardo commented on #45
Added a Getting started section on README with great articles: https://github.com/luanpotter/flame#getting-started

[2019-03-07 22:58] #45 closed

[2019-03-09 21:41] #51 closed

[2019-03-10 17:54] luanpotter opened #54 "Game as Widget - Improvements"
There are a couple of things that requires doing because of #50. These are important things to fix, so I'm adding here for us not to forget!

* Fix all examples, docs and guides to use the new, non-deprecated syntax.
* Fix the following problem: now that Game is itself a stateless widget, if cannot have non final (changing) variables. However, a game instance should be able to add non final refere

[2019-03-10 18:07] luanpotter commented on #54
Currently we have all these warnings that need to be fixed:

[code]

[2019-03-10 18:58] feroult commented on #54
@Luan what do you think about making those classes immutable?

[2019-03-10 19:00] luanpotter commented on #54
I think the classes that extend Game cannot be forced to be immutable, because every game is going to want to add stuff to their game class that are not necessarily final. I think our implementation must have a way to take care of that in a way that flutter is happy with in the end and doesn't give the warnings. Maybe convert to a final wrapper or something...

[2019-03-10 19:43] feroult commented on #54
I couldn't find any  solution, since all Widget hierarchy is `@immutable`.

It is a Flutter patter to make Widgets, even the `StatefulWidget` immutable. Users should have some `final state`-ish design in their classes to control their state.

Don't know, if we decide that a Game to be mutable and allow non-final members I seems its better to keep the current API.

[2019-03-10 19:56] feroult commented on #54
Correcting myself.

`StatefullWidgets` have a `State`. This state can have non-final members... That what we should have two classes also... Don't know if it is easy to understand.

[2019-03-11 12:35] erickzanardo commented on #54
@feroult you mean we should add the game instance on the Widget state?

[2019-03-11 18:10] erickzanardo commented on #54
We also need to change here: https://github.com/luanpotter/flame#game-loop

[2019-03-12 01:34] erickzanardo opened #55 "Tiled docs"
Create docs for the Tiled support

[2019-03-12 02:17] feroult commented on #54
Yeah something like this. I mean.... Flutter has a `StatefullWidget` which is `@immutable` and a seperated `State` object, which is _not_ `@immutable`.

We need to have something similar to allow `non-final` members in `Game`.

It seems harder than what we have with `.widget` API.

[2019-03-12 04:11] BSChuang opened #56 "Creating animationAsWidget in moving widget places animation in wrong position"
I'm not sure if I'm doing something wrong, but whenever I place a widget created with Flame.util.animationAsWidget in a moving Widget such as a GridView or ListView, the animations are in the completely wrong position. For example, the skeleton sprite should be within the green container, but it is not at all. There is no problem with placing the animationAsWidgets in rows or columns, only when in

[2019-03-12 12:32] luanpotter commented on #56
Hi, @BSChuang , thanks a lot for reporting this issue!

That is indeed a bug because I have not considered this possibility of moving widgets on the implementation of EmbeddedGame. The fix should relatively simple, we need to update the viewport position for the game whenever the parent changes us.

I can take a look at this later to fix, or, if you ware interested, you can contribute with a PR!

[2019-03-13 01:41] renancaraujo commented on #54
@feroult @erickzanardo @luanpotter
Stateless and Stateful widgets are ideal for composing. I mean, there is two kinds of Widgets:

### Second type: the ones who paints stuff ([RenderWidgets](https://docs.flutter.io/flutter/widgets/RenderObjectWidget-class.html))
Those widgets are generally responsible for having its own rendering characterists, like Columns that puts children on a vertical ordenat

[2019-03-13 01:44] renancaraujo commented on #54
[For example, Flare-flutter uses LeafRenderObjectWidget.](https://github.com/2d-inc/Flare-Flutter/blob/master/flare_flutter/lib/flare_actor.dart)

[2019-03-13 02:17] feroult commented on #54
`abstract class LeafRenderObjectWidget extends RenderObjectWidget`
`abstract class RenderObjectWidget extends Widget`

All that comes from `Widget` still `@immutable`

[2019-03-13 02:30] renancaraujo commented on #54
Why  Game has to be an Widget?

[2019-03-15 13:08] erickzanardo commented on #55
@feroult can you help us here?

[2019-03-15 13:09] erickzanardo commented on #40
Closing this due inactivity, if you still got problems with the new version, please let us know @olisteadman

[2019-03-15 13:09] #40 closed

[2019-03-18 01:05] erickzanardo commented on #43
Resolved by #58

[2019-03-18 01:05] #43 closed

[2019-03-18 01:07] erickzanardo commented on #54
This has been resolved by [this commit](https://github.com/luanpotter/flame/commit/502b74e939271d647cc3af8e4f0230a1a573083c) right?

[2019-03-18 01:22] feroult commented on #54
Yes... For now, this is a rollback. We're going to discuss this again someday soon :)

[2019-03-18 09:10] erickzanardo commented on #54
Sure, but we should close this right? Since this are because of problems that does not happen anymore since the rollback

[2019-03-18 12:02] renancaraujo commented on #54
There are some errors on master after that commit: #59

[2019-03-18 12:29] erickzanardo commented on #54
Thanks @renancaraujo, already merged

[2019-03-18 12:59] #54 closed

[2019-03-18 13:03] erickzanardo opened #60 "Implement low latency audio API on Flame"
The AudioPlayers lib now has a low latency API, this would be great for flame when playing sound effects.

We could implement an API here to take advantage of that.

[2019-03-21 02:14] renancaraujo commented on #56
Just opened a PR addressing this problem: #63

[2019-03-21 12:21] luanpotter opened #64 "Add option to flip position components on prepareCanvas"
This is a very useful override of the prepareCanvas method that I've been using:

[code]

This flips horizontally. PositionComponent should have a field to control that and allow for easy flipping of sprites, both horizontally and vertically (or both).

It would be a really good to have feature.

[2019-03-21 12:24] luanpotter opened #65 "Add option to construct a new animation but reversed, based on an existing one"
Something like

[code]

possible implementation:

[code]

Something like this. Would be really useful.

[2019-03-21 12:29] luanpotter commented on #65
It'd be a good opportunity to actually fix this: the loop optional parameter in the animation nameless constructor should have default value true.

[2019-03-24 10:26] luanpotter commented on #65
This was fixed by #66.

[2019-03-24 10:26] #65 closed

[2019-03-26 13:15] Panthro opened #69 "Upgrade path_provider"
[code]

[2019-03-26 13:15] Panthro commented on #69
just a reminder to self (or anyone else) to create a PR for this.

[2019-03-26 13:32] erickzanardo commented on #69
Fear not @Panthro , this update will be happening on this PR: https://github.com/luanpotter/flame/pull/68/files#diff-fb2d52cd953afedcafc9fe7629c6f132R15

[2019-03-26 22:59] luanpotter commented on #69
Are we ready to merge that, though, @erickzanardo ? Or should we split the PR? The whole thing LGTM, AFAIC. But it's a breaking change, ofc. What do you think?

[2019-03-26 23:02] erickzanardo commented on #69
@luanpotter right now, no. But I may be able to finish that PR tomorrow.

[2019-03-26 23:10] luanpotter commented on #69
Ok, that's perfectly reasonable. We release a new version tomorrow-ish then.

[2019-03-29 20:03] renancaraujo commented on #56
@BSChuang Since this problem has been tackled in #63, which was merged and released on 0.10.3, I will close this issue now. If you still face this problem or think it was not saved properly, consider reopening it and let's keep discussing.

[2019-03-29 20:03] #56 closed

[2019-03-30 18:58] erickzanardo commented on #60
resolved on #68

[2019-03-30 18:58] erickzanardo commented on #69
Resolvd on #68

[2019-04-01 08:28] yum650350 opened #70 "Massive audio play on ios lead to memory leaks."
I'm making a game contains a sound effect that plays frequently.
After playing for a while, first the sounds missing, and then app crash, ios crash.

The first method I use is
`Flame.audio.play('xxx.mp3');`
On Android it works perfectly, but ios will crash after playing a while.

After some researching, according to [this](https://github.com/luanpotter/audioplayers/issues/56).
I try `AudioPool` as

[2019-04-01 23:43] feroult commented on #70
Hi @yum650350 thanks for reporting.

Just to make clear, does it work without crash using the `MyAudio` with 3 static players?

It could tell us that the problem is in `AudtioCache` but it does work on `Android`.

[2019-04-02 18:53] yum650350 commented on #70
Yes, after I use `MyAudio`, no crash anymore.

[2019-04-05 09:33] pgainullin opened #72 "TextBoxComponent example code error text_box_component.dart:140:36: Error: A value of type 'Future<Image>' can't be assigned to a variable of type 'Image'."
Code:

[code]

Error:

[2019-04-06 03:17] alefcarlos opened #73 "AniationAsWidget does not update after setting state"
[code]

After upgrading to version 0.10.3, animationAsWidget is not updating the animation. It was working in previous version.
 @renancaraujo has fixed this, but with 0.10.3 release it is broken again.

I've created a StatelessWidget to show current Sprit:

[code]

.. and the StatefullWidget:

[code]

Source code is available [here](https://github.com/alefcarlos/pokedex_flutter)

Thanks !

[2019-04-06 13:14] luanpotter commented on #72
Hi, @pgainullin , thanks for the report!

What version of flutter/dart are you using?

This is probably caused by a recent change in the flutter SDK that required refactoring of flame, using a new API that used to return Image and now returns a Future<Image>.

Currently we are using flutter version 1.2.0 here, though that's up to debate (which version we should support).

[2019-04-06 15:47] erickzanardo commented on #73
@renancaraujo are you able to take a look on this?

[2019-04-08 04:00] pgainullin commented on #72
Thanks for quick response. I'm using 1.2.1:

[2019-04-08 15:15] renancaraujo commented on #73
Looking into it now

[2019-04-09 17:15] luanpotter commented on #72
Please try to update to flutter version 1.4.10; it should work on the newer versions :)
You can do that by changing the flutter channel to anything greater than stable, I believe.

[2019-04-10 05:28] pgainullin commented on #72
I'm clearly doing something wrong but I'm getting a different error at compile in this case:

I was only able to solve it by going back to Flame v. 0.10.2 which then results in the original error related to the TextBoxComponent.

[2019-04-10 17:55] oth-aw opened #74 "Does not compile anymore"
Suddenly this error occurs:

`Compiler message:
file:///Users/XXXX/.pub-cache/hosted/pub.dartlang.org/flame-0.10.3/lib/svg.dart:26:17: Error: Too few positional arguments: 3 required, 2 given.
    svgRoot.draw(canvas, null);`
Reason is in file lib/src/vector_drawable.dart from [flutter_svg](https://github.com/dnfield/flutter_svg/commit/60b66967d09d850569ecfe6df5b3d31709d78b30)
`void draw(Canvas ca

[2019-04-10 19:32] erickzanardo commented on #74
Hey @oth-aw thanks for reporting this, yes that is the reason, there was a breaking change on this package from the version we used, and the latest version, and since we did not locked the patch version of flutter_svg on flame pubspec, flame is breaking.

We will resolve this for the next version. In the meantime, as a workaround, you can change your pubspec.lock and set the flutter_svg version to

[2019-04-10 21:34] luanpotter commented on #72
Fixed on `0.10.4`; @pgainullin , would you please test that for us? Thanks!

[2019-04-10 22:20] erickzanardo commented on #74
We just published 0.10.4 yo address this, could you test please?

[2019-04-11 03:08] pgainullin commented on #72
Thanks! this works without errors though I can't seem to be able to get it to render anything using the pattern

`(MyTextBox instance).render(canvas)
`

within my game render function. best I can do is force it to drawBackground by adding it to the render override of MyTextBox.

[2019-04-14 07:43] impulse opened #76 "Add readme notice for stable channel"
Adding flame >=0.10.3 to pubspec while using the stable channel results in following error.

There should probably be a notice that using the latest version requires switching to master/dev channel.

[2019-04-14 18:37] feroult commented on #76
I was discussing with @luan and @erickzanardo ...

I all agree to make `flame` depend on `flutter` stable.

We're making this change...

[2019-04-15 20:55] erickzanardo commented on #74
Did you get to test the fix on `0.10.4` @oth-aw ?

[2019-04-15 20:57] erickzanardo commented on #76
Yes, this may be included on the next release.

[2019-04-16 12:12] luanpotter commented on #76
I agree; @feroult , if you could please add a PR for that. Depending on how long this might take, we can add a small disclaimer to the readme as well until then.

[2019-04-16 12:14] luanpotter commented on #72
Hi, @pgainullin! Have you seen the example app called text inside the docs/examples folder? Does that app work? Could you compare and see the differences? Or show your code that is not working and why? So that we can better understand the problem...

[2019-04-16 12:14] luanpotter commented on #70
@feroult do we need to change anything over audioplayers? We can open this issue there, what do you think?

[2019-04-16 12:29] feroult commented on #70
Just opened the issue there: https://github.com/luanpotter/audioplayers/issues/141

[2019-04-17 03:02] luanpotter commented on #76
Just added that for now, but we should really accept stable, at least as soon as they release the fix for the ImageRecorder thingy.

So I'm closing this (see 6f68ff7c102a681c2ba77428d28b3bda9ade9952).

[2019-04-17 03:02] #76 closed

[2019-04-17 03:11] luanpotter commented on #69
Released on 0.11.0

[2019-04-17 03:11] #69 closed

[2019-04-17 03:11] luanpotter commented on #60
Released on 0.11.0

[2019-04-17 03:11] #60 closed

[2019-04-18 09:09] oth-aw commented on #74
Hi, sorry for the late answer. Yes it works! Thanks!

[2019-04-18 10:44] #74 closed

[2019-04-18 12:29] erickzanardo commented on #73
News on this @renancaraujo ?

[2019-04-18 23:24] AnorakRPO opened #77 "Using the Parallax Component as described in the docs results in an dart(new_with_abstract_class) error"
The docs state to create a new instance of ParallaxComponent, which results in an `dart(new_with_abstract_class)` error.

https://github.com/luanpotter/flame/blob/master/doc/components.md

Abstract classes have to be extended like

[2019-04-19 14:38] renancaraujo commented on #73
I was look in the wrong place. Thats why it took this long. Solution in #78.

[2019-04-19 15:43] luanpotter commented on #73
Merged.

[2019-04-19 15:43] #73 closed

[2019-04-19 15:44] luanpotter commented on #70
Closing in favour of luanpotter/audioplayers#141.

[2019-04-19 15:44] #70 closed

[2019-04-19 15:46] luanpotter commented on #77
@feroult IIRC, one needed to subclass ParallaxComponent to specify some details, right? I think the docs might be incorrect, @AnorakRPO . Thanks for the notice :)

[2019-04-19 20:21] sede10 opened #81 "Incorrect screen size in release mode"
In my game class, resize() gets called with size (0,0) in release / profile mode. In debug mode it provides correct size. Also sprites size on screen changes depending on mode.
Could be related to this:
https://github.com/flutter/flutter/issues/14113

[2019-04-21 01:42] erickzanardo commented on #81
Like the issue says, there is indeed differences between the debug and release mode. Is you need the screensize, please use `Flame.util.initialDimensions`.

[2019-04-21 14:01] sede10 commented on #81
This is example faulty code:
`
SampleGame demo;
Widget w;

void main() {
  demo = SampleGame();
  w = demo.widget;
  start(() => Wrapper());
}

class Wrapper extends StatefulWidget {
  @override
  _WrapperState createState() => _WrapperState();
}

class _WrapperState extends State<Wrapper> {
  _WrapperState() {
    window.onMetricsChanged = () {
      print("on metrics changed");
    };
  }

  @ov

[2019-04-21 16:24] erickzanardo commented on #81
Yeah, Flame uses onMetricsChanged on that helper method that I sent you earlier: https://github.com/luanpotter/flame/blob/709e52e04dbf6239b4e322f7cbc77c1a9986600e/lib/util.dart#L41

Do you need to use this listener for some reason? If this is the case we could wrap it somehow and provide a way to set this listener and keep `Flame.util.initialDimensions` working

[2019-04-21 17:10] luanpotter commented on #72
Hi, @pgainullin , we tested here with the latest versions of flame, the docs/examples/text example is working fine. Could you please either refer to that to see if something is wrong or provide your code that you claim is not working?

[2019-04-21 22:59] sede10 commented on #81
Now that I know about this, I can avoid setting this listener, but some unaware user might spend time figuring it out. For example onMetricsChanged listener is set in main menu screen built with standard flutter widgets. Then a next page containing Flame is opened and silently replaces this global listener. Too bad its not a list.

[2019-04-22 01:03] pgainullin commented on #72
Hi,

Thanks very much - I'm sure I'll figure it out but I'm travelling for a few
weeks now and won't be able to test. Thanks again for being so responsive!

On Mon, 22 Apr 2019 at 01:10, Luan Nico <notifications@github.com> wrote:

--

Pjotr Gainullin
+65 9669 8721
pgainullin@gmail.com

[2019-05-01 06:09] impulse opened #82 "Powered by Flame badge"
Add a Flame badge to the README so people can show that they use flame.
I would suggest one of the following:

[![Powered by Flame](https://img.shields.io/badge/Powered%20by-%F0%9F%94%A5-orange.svg)](https://flame-engine.org)
[![Powered by Flame](https://img.shields.io/badge/Powered%20by-%F0%9F%94%A5-orange.svg?style=flat-square)](https://flame-engine.org)
[![Powered by Flame](https://img.shields.

[2019-05-03 14:27] erickzanardo commented on #82
That is a very cool idea @impulse, @renancaraujo can take care of this?

[2019-05-03 15:34] renancaraujo commented on #82
Yes sir

[2019-05-05 12:44] luanpotter commented on #77
@feroult can you take a look into this? I believe we can improve the docs a bit :)

[2019-05-05 12:44] luanpotter commented on #82
I love it!

[2019-05-05 13:14] erickzanardo commented on #77
@luanpotter We fixed that on the last version, Parallax Component is not abstract anymore

[2019-05-05 13:16] luanpotter commented on #77
Ok, so this can be closed, right?

[2019-05-05 14:06] erickzanardo commented on #77
Sure

[2019-05-05 14:06] #77 closed

[2019-05-07 16:19] luanpotter opened #86 "Use new audioplayers API"
The audio_pool class is using deprecated methods from audioplayers:

[code]

We need to fix that ASAP to use the new stream APIs.

[2019-05-14 13:41] paulpmi opened #87 "add method within a Drag Controller works only on the first screen."
Trying to render a white path where the User has inputs via his touch drag controller. It works fine using Flame addGestureRecognizer method, but unfortunately the add() method renders the PathSprites on a one time screen. For example, if I open the window containing the GameScreen, the path the user drags his fingers is shown, but once I close it and reopen it the screen (creating another instanc

[2019-05-14 13:48] erickzanardo commented on #72
This has been inactive for some time now and the issue was resolved on a couple of versions earlier.

I will be closing this, but feel free to open a new issue if you still have problems @pgainullin.

[2019-05-14 13:48] #72 closed

[2019-05-16 08:42] impulse commented on #81
Having the same issue even if using `Flame.util.initialDimensions`
Code: https://github.com/impulse/flutters/blob/master/lib/flutters-game.dart#L44

❯ flutter doctor -v

[2019-05-16 13:21] impulse opened #89 "Add troubleshoot / configuration section"
To have the best game experience it might be needed to do additional configuration.

One example for that would be drawing over the notch area in android ([fix here](https://github.com/impulse/flutters/commit/25d4ce726cd18e426483e605fe3668ec68b3c12c )).

It would be nice to have a collection of those configurations available in the documentation or in the readme.

[2019-05-17 07:48] vladest opened #90 "Is it possible to add support for rotating sprites?"
Actually, more common is to add components animation support

[2019-05-17 11:10] erickzanardo commented on #90
We have this on our backlog, we will need to see prioritize that.

[2019-05-17 12:41] erickzanardo commented on #90
But, it may take a while to be done, you could do this by using the methods available on flutters's canvas

[2019-05-17 17:05] luanpotter commented on #90
Hi, @vladest, that's already achievable for children of position component, including animation component. Just update the angle variable in the update method by the dt parameter and angular speed. For example:

[code]

Please let us know if you have any more questions, feel free to open issues :)

[2019-05-17 17:47] vladest commented on #90
yes, I've done similar just subclassing SpriteComponent
the only problem: if you will not save Canvas state before call prepareCanvas(), whole scene will rotate

[2019-05-17 18:04] erickzanardo commented on #90
@vladest a couple of questions, which version of Flame are you using? Are you using the class `BaseGame` to handle your components?

Angle from a component should affect other components

[2019-05-17 18:19] vladest commented on #90
11.2
I'm subclassing fom Game class, which is subclassing BaseGame afaik, so yes

yes, thats correct, w/o canvas save/restore all the component changes angle around some point in the center of the screen (afaik)

[2019-05-17 19:05] erickzanardo commented on #90
@vladest when using BaseGame, components should not affect others, because it already restore the canvas state, check out this simples example:

[code]
Let me know if you still have doubts or problems.

[2019-05-17 21:45] luanpotter commented on #90
@vladest

no, that is absolutely not true. Game is the interface. BaseGame implements game. You can use the game interface, but it will do nothing for you, not even resetting the canvas. If you want to have things easy, use BaseGame and the canvas will be reset for you. If you want to use Game, please take a look at the BaseGame implementation just to be aware of what flame does for you that you w

[2019-05-18 06:39] vladest commented on #90
that's make sense thanks. probably I was confused with naming. I'm usually use "Base" in abstract class
sorry for misunderstanding
@erickzanardo thanks for code sample

[2019-05-19 00:16] gabrielpacheco23 opened #91 "Issue with "flutter_svg" dependency"
I've tried to run a Flame project on Linux, but it didn't work with the latest version. It seems to be an issue with `flutter_svg` dependency.

[2019-05-19 16:10] erickzanardo commented on #91
@gabrielpacheco23 desktop support is on our plans, but right we do not offer support for it, mainly because flutter desktop is in its very early stages, and they already warned that breaking changes will happen. So we are waiting, at least a little while to offer support to it, we may start support this, when the desktop support land on flutter dev channel.

In the mean time, since you have alread

[2019-05-19 16:10] #91 closed

[2019-05-19 16:11] erickzanardo commented on #87
@luanpotter any thoughts on this?

[2019-05-19 17:07] luanpotter commented on #87
How are you handling your `Game` class and your `PathSprite` class? Can you share some more code on those bits? Basically if you are saving your data in a class that's going to get disposed when the user minimizes the app, it will be lost afterward. You can add it to the static context or inside a class that is going to be resilient towards that. However, if the user really closes (kills) your app

[2019-05-21 14:40] erickzanardo commented on #82
Any news on this @renancaraujo ?

[2019-05-21 17:13] renancaraujo commented on #82
Waiting promise to resolve.

[2019-05-27 02:00] luanpotter commented on #90
@vladest if you have any more problems with rotating sprites, please let us know :)

[2019-05-27 02:00] #90 closed

[2019-05-27 17:05] impulse commented on #82
Added in #95

[2019-05-27 17:05] #82 closed

[2019-05-29 22:48] illiapoplawski opened #97 "Incorrect toRect() Rect in PositionComponent when using non default topleft anchor"
`Rect toRect() => Rect.fromLTWH(x, y, width, height);`
does not take into account the offset introduced when using a non default anchor leading to a rect that is not in the same place as the component.

Instead it should use the relative position variable from the anchor to calculate the correct rect such as:
`Rect toRect() => Rect.fromLTWH(x - anchor.relativePosition.dx * width, y - anchor.relati

[2019-05-30 15:10] luanpotter commented on #97
Agreed, that's a confusing behaviour . Would you like to help us out with a pr? Should be a minor fix

[2019-05-30 22:54] erickzanardo commented on #97
Fixed by #98  and #99

[2019-05-30 22:54] #97 closed

[2019-05-31 15:34] paulpmi commented on #87
Hi sorry for the late reply

    @override
    void initState() {
        super.initState();

       _getGameStart();
     }
    _getGameStart() async {

          Flame.audio.disableLog();
          Flame.audio.loadAll(['Calm.mp3']);
          Flame.images.loadAll(['star.png', 'starGlow.png', 'starCalm.png', 'path.png', 'starTrial.png']);

          var dimensions = await Flame.util.initialDimens

[2019-06-01 14:41] luanpotter opened #102 "Fix flame to use pub accepted stuff"
Pub pandas/analyzer is not capable of using our version of flutter/dart etc.
We need to urgently fix all these problems: https://pub.dev/packages/flame#-analysis-tab-

[2019-06-03 11:08] renancaraujo commented on #102
Facing same problem on photo_view. The analyzer uses the stable channel version to analyze packages. What you can do: release "master" versions when you need to fix breaking changes on Flutter's most recent versions (master and dev). Something like `0.11.2-master`
Versions like that are not rated by pub.

In this way, flame becomes "stable compatible": The main releases must be compatible with sta

[2019-06-12 10:34] Harmonic999 opened #107 "How to correctly handle taps and gestures when using basic flutter widgets for home/settings screens and flame's game.widget on other screens"
So this is our basic screen with flutter widgets. When we press the button it redirects us to the game screen where i register new TapGestureRecognizer. The thing is that it doesn't trigger onTapUp action at all on the game screen and works only when we return back to the base screen. Could you tell me please what is wrong in my actions and how to do it correctly?
[code]
[code]

[2019-06-12 11:36] jonasfj commented on #102
Yeah, pre-releases like `-master` or `-dev` is a great way to release stuff that depends on non-stable Flutter or Dart.. It won't hurt your score and you won't drop in search results.

Side note: git dependencies is also going away.

You can, if you file a deletion request (manually), but right now we don't have tooling to delete latest version... But more importantly, it's always better to just p

[2019-06-12 13:24] luanpotter commented on #102
We have downgraded in 0.13 to use flutter stable. All changes were made to support that on #106. Thanks a lot @erickzanardo and @jonasfj for taking look into this. Our score is back up again! \o/

[2019-06-12 13:24] #102 closed

[2019-06-13 19:26] FrankenApps opened #108 "Custom Flare Animation does not show up."
I created a custom flare animation which can be found [here](https://www.2dimensions.com/a/NearCZ/files/flare/new-file-1/preview).

The file works fine, when using the latest version of [flare_flutter](https://github.com/2d-inc/Flare-Flutter) (I tried it with the simple example).

For testing my file with flame, I used [this App](https://github.com/FrankenApps/flame_flare_test) which is heavily ba

[2019-06-13 20:35] FrankenApps commented on #108
Ok, I think I found out what the problem was: When I created the flare file, at some point I resized the artboard. Apparently, flare was built to handle this, but it somehow messed up the coordinate system when rendering with flame. I guess this can be closed now, just be warned not to resize the artboard when creating a flare animation.
Btw.: [This](https://www.2dimensions.com/a/NearCZ/files/flar

[2019-06-13 20:35] #108 closed

[2019-06-14 18:35] luanpotter commented on #107
Hi, @Harmonic999 , normally I bind every custom event via addGestureRecognizer on the Flame.util on the `main` function, and then I save a static instance of the game class (in order for not to recreate it needless during re-render and lose game state), and then I check if the game instance is not null, my handler calls the methods on the instance, otherwise, it does nothing.

Please take a look a

[2019-06-14 18:40] luanpotter commented on #87
@paulpmi , I'm assuming your GameWrapper is your implementation of the Game/BaseGame class. If you are saving that as a field of another component, it might get disposed, and then the constructor would be called again. I'd suggest creating a static variable to hold your instance, and only instantiate it once, as for the game state not to get lost. I'd suggest to add some logs in the constructor, w

[2019-06-17 05:41] amfangYahoo opened #109 "How I can create a Sprite.fromImage from a new image with ImageRepeat characters?"
HI guys, I hope to create a moving background Sprite by 1 image loaded and created with repeat: ImageRepeat.repeatY, but when I create the Sprite with this image by Sprite.fromImage, there has the issue with below:

Error: The argument type 'Image/*1*/' can't be assigned to the parameter type 'Image/*2*/'.

How can I work this? Thanks.

Image nebulaImg = Image.asset(
    "assets/images/nebula.png"

[2019-06-17 08:12] Harmonic999 commented on #107
@luanpotter thanks for your answer. I found a solution to all my problems.
1. On the new screen make game's widget as a child of Scaffold like this, or user's input won't work correctly.

[code]
2. Never create second instance of the game, because it starts to behave very strange, as said @luanpotter create and use only one instance of the game. My solution below, create singleton and just bind a

[2019-06-17 15:35] truongsinh opened #110 "Support `shouldRepaint` method"
In my game, sometimes there is no pixel change at all, it's kind of waste to repaint if I know Skia should not.

[2019-06-17 16:11] erickzanardo commented on #110
I am not sure about this, in a Game it is very unusual not needing to re draw something, that is why game usually uses active rendering instead os passive rendering, like normal/simpler applications do.

Also, I think this would change basically nothing on perfomance, since Flutter always strives for, and achieves 60fps on apps, we would only add unnecessary complexity with this method.

That said

[2019-06-17 16:13] erickzanardo commented on #107
Glad you got your problems solved @Harmonic999 , let us know if have any more issues.

[2019-06-17 16:13] #107 closed

[2019-06-17 16:18] erickzanardo commented on #109
I am not sure why you are having this problem, but I think what you want to do, is better achieved with Flame's Animation class, check its documentation here: https://github.com/flame-engine/flame/blob/master/doc/images.md#animation

[2019-06-18 02:18] amfangYahoo commented on #109
I tried there can created a Component to put 2 copies of 1 image Sprite into together to make the image Sprite repeat load. Thanks.

[2019-06-18 02:41] erickzanardo commented on #109
I don't understand, did you solved your issue?

[2019-06-18 02:57] amfangYahoo commented on #109
There has one example of https://github.com/flame-engine/trex-flame/blob/master/lib/game/horizon/horizon_line.dart, horizon_line(image sprite) cycles unlimited, I just want to act this, now I can do it.

[2019-06-18 02:59] truongsinh commented on #110
Just to clarify, the performance is great for my game (just a simple clone of Flappy Bird), even on a crappy Samsung A3 2014.

That being said, when I turn on performance overlay, I see it's always repainting (as you describee as active rendering). I wonder whether having `shouldRepaint` could even further improve performance for some complicated games with hundreds of sprites (both rendering and

[2019-06-18 03:10] erickzanardo commented on #109
Alright, glad you figured it out.

[2019-06-18 03:10] #109 closed

[2019-06-18 12:17] erickzanardo commented on #110
@truongsinh I am still not sure about this, nevertheless, I created a branch named `should-repaint` which adds a method `shouldRepaint` on the Game class, that you can override and controls its, its default implementation always returns true.

Would you mind making a test and see how this improves the perfomance, battery consumption? To make sure that this is worth the small added complexity?

[2019-06-23 02:38] brendonanderson opened #111 "Scrollable Screen"
Is it possible to make it so that my screen is twice as high (in portrait mode) or twice as wide (in landscape mode) and use gestures to scroll to the far right to see what might be happening there, and scroll back to the far left to see what is going on there (or scroll to the top and scroll to the bottom)?

[2019-06-23 03:18] erickzanardo commented on #111
You should be able to achieve that by just rendering the screen the size you want, even if it is out of the screen, and using gestures you can use the translate method from canvas to "move the camera" and create the scroll effect you refer to.

Since this is not an issue with flame, I am closing this, but feel free to ask more questions on this thread, or join our discord to get help.

[2019-06-23 03:18] #111 closed

[2019-06-25 16:02] Harmonic999 opened #113 "Anti aliasing issue"
When rotating sprite component 'edges' appear like you can see on the screenshots below. Are there any solutions to smooth them?

1. Card without rotation.

![1](https://user-images.githubusercontent.com/39963047/60113245-05c34b80-977a-11e9-896b-268ee3bd3454.png)

2. Card with rotation.

![2](https://user-images.githubusercontent.com/39963047/60113288-1b387580-977a-11e9-99f4-c7858d7e8c46.png)

[2019-06-25 16:09] erickzanardo commented on #113
Hey @Harmonic999

Are the cards images big enough for the resolution of the game? Even the seven of hearts on the first image seems to be a little "crisp".

Another thing that you can test, `drawImage` from the canvas receives a Paint, which has an antiAlias property, you could try changing it to see if there is any difference.

https://api.flutter.dev/flutter/dart-ui/Canvas/drawImage.html
https:/

[2019-06-26 00:36] erickzanardo commented on #81
We are still investigating why this happens, but the problem is not with `Flame.util.initialDimensions`, this seems to return correctly. But looks like the game widget does not knows how to proper resize itself when the correct metrics is set.

But I have found a good workaround, you can call and await `initialDimensions` on your main function before calling `runApp`, and then just pass the size t

[2019-06-26 11:37] truongsinh commented on #110
Hi, I just tried the `shouldRepaint` method, but the performance overlay is still running (the expectation is that the green indicator not moving anymore when `shouldRepaint` is false).

<img width="400" alt="Screen Shot 2019-06-26 at 6 36 03 PM" src="https://user-images.githubusercontent.com/358585/60176725-59e53300-9841-11e9-8a23-130f38ad0732.png">

[2019-06-26 12:26] Harmonic999 commented on #113
Thank you for your quick response @erickzanardo. I have just tried using drawImage but unfortunetly it doesn't give any promising results.

resolution of the game is 360x592.
card's original size is 180x240 pixels.

I tried using high quality assets and still result is the same when trying to rotate something..

[code]

![3](https://user-images.githubusercontent.com/39963047/60178856-0bc23680-9825

[2019-06-26 13:03] erickzanardo commented on #110
hm, weird, I have added another commit to the branch. if there any other repaints now, it should be because of stuff of flutter, Flame should not paint anything when the method returns false now. Can't you give your test another try?

[2019-06-26 13:11] erickzanardo commented on #113
Just be aware that this is not in pixels, that is usually logical pixels, so a 180x240pixels image is kind small.

Have you tried turning the isAntiAlias to `false`? it is `true` by default, sometimes these anti alias functions can mess up with things, maybe it is worth a try.

I will try to make some tests with rotating images and will try to report back here.

Also if possible, can you share the

[2019-06-26 13:42] Harmonic999 commented on #113
Yes i have tried, but it looks like it doesn't affect anything.

Sure, here is the card.

![card_deselected](https://user-images.githubusercontent.com/39963047/60184119-264ddd00-9830-11e9-85e8-0d2842cd2570.png)

I will also try to experiment a little with rotations.

[2019-06-26 14:42] dd-celerity commented on #113
What device are you testing this on?
The core of the Sprite render method uses drawImageRect, which relies on the Paint's FilterQuality attribute. AntiAlias isn't going to do much.

The default FilterQuality value is Low, which is standard bilinear filter and should look fine.  Here's your card rendered on my iPhoneSE:

![card_high](https://user-images.githubusercontent.com/32303954/60188150-d0ac0

[2019-06-26 14:47] Harmonic999 commented on #113
@dd-celerity Wow, thanks, setting filter quality really helped, now everything renders fantastic

[2019-06-26 14:50] ddonze commented on #113
You're welcome!  Glad it helped.
(dd-celerity is my work account. I didnt realize i was logged in with that account when I posted that response.  Oop!)

[2019-06-29 16:22] erickzanardo commented on #113
Thanks for the help @ddonze closing this since the problem is solved.

[2019-06-29 16:22] #113 closed

[2019-06-29 16:24] erickzanardo commented on #86
@luanpotter Do you think we still need the AudioPool class now that we have the LOW_LATENCY mode?

[2019-06-30 12:32] ProgrammingLife commented on #110
I also do not need to repaint every frame. There are many small games that don't need it. Such as: Sudoku, simple games for kids, educational tests, puzzles/jigsaw (this should be repainted only when we dragging some piece and the rest of the time player just thinks what to do next) and other educational stuff. We don't need aggressive repainting. It would be cool to stop it from repainting when w

[2019-06-30 12:40] ProgrammingLife opened #116 "How to adapt Flame's game for different screen resolutions?"
Can I set a scale for all sprites on the scene with just one line? Something like this:
`game.setScale(1.45);`

It would be useful for adapting a game for different screen resolutions. For example, I know that my sprite assets is generated to work with 1920x1080. If the user starts flame's game on 1280x720 then I can do a simple math:
1920 / 1280 => I get my scale factor: 1.50 => now I can do: gam

[2019-06-30 13:42] erickzanardo commented on #116
You don't need to worry about this, Fluttet already handles this. Every coordinate, size on the canvas are no real pixels, they already takes in consideration the device pixel rate.

But if you want to scale everything on the game, you can use this method on your Game.render method https://api.flutter.dev/flutter/dart-ui/Canvas/scale.html

[2019-06-30 15:45] ProgrammingLife commented on #116
@erickzanardo
Wow. That's really good news!
Thanks for scaling trick! Is that the best way of doing it? For example if I need to increase a scale of my Crossword game for some time and decrease it back to see the full view?

[2019-06-30 15:47] erickzanardo commented on #116
If you want to scale the whole game screen, I can't think of another way,
you just need to remember to apply the scale before rendering the rest of
the game, so all the other renders are scaled.

Em dom, 30 de jun de 2019 às 12:45, ProgrammingLife <
notifications@github.com> escreveu:

--
Sent from MetroMail

[2019-06-30 19:31] luanpotter commented on #116
Hi, @ProgrammingLife , this is an example we have on one of our games:

[code]

Hope this can help you out in your endeavor :)

[2019-06-30 19:35] luanpotter commented on #86
@erickzanardo not sure... maybe we could have it for larger audios? is low latency mode good with very quick, short firing audios that need to be played immediately?

[2019-06-30 19:36] erickzanardo commented on #86
Yeah, but do you think we need audio pool for larger files, wouldn't that heavy on memory?

[2019-06-30 19:41] luanpotter commented on #86
yes, for sure. but that's the trade off. Let's first replace audiopool with low_latency on all our games and if we have complete success, we can get rid of it.

[2019-07-01 16:04] ProgrammingLife opened #117 "Can I set one sprite as a child of another one?"
Can I set one sprite as a child of another one? For example, for applying some transformations like rotation, scaling to the root of bunch of sprites.

[2019-07-01 16:06] erickzanardo commented on #117
Take a look on the Composed component, I think it is what you want https://github.com/flame-engine/flame/blob/master/doc/components.md#composed-component

[2019-07-02 13:21] erickzanardo commented on #117
Closing this, if you have any more questions, feels free to comment here.

[2019-07-02 13:21] #117 closed

[2019-07-02 13:23] erickzanardo commented on #116
Closing this since this is not an issue with Flame and apparently we got your questions answered, if you have any more questions regarding this issue, feel free to comment here though.

[2019-07-02 13:23] #116 closed

[2019-07-02 15:27] shawnlg opened #118 "Only One Sound Plays when Playing Simultaneous Sounds"
Audio Player does not play simultaneous sounds.  In the documentation it talks about 2 ways of calling the audio player.  One shares the flame cache and one has its own cache.  I tried making different audio players for each sound
 FlameAudio audio = new FlameAudio();
When I play two sounds at once, only the second one plays.  I'm using the play() method for short audio clips.  Is it supposed to w

[2019-07-02 19:18] erickzanardo opened #119 "Add Buy Me a Coffee button"
![orange_img](https://user-images.githubusercontent.com/835641/60540201-fcd7fa00-9ce4-11e9-87ec-1e98568e9f58.png)

[2019-07-02 19:19] erickzanardo commented on #119
Resolved on https://github.com/flame-engine/flame/commit/c92b8d6a4ff11816d5c2bac4ab4d89d08e6fd0bd

[2019-07-02 19:19] #119 closed

[2019-07-03 11:15] bajabob commented on #116
https://flutter.dev/docs/development/ui/assets-and-images#resolution-aware

After reading this I too would like to clarify which approach I should take for loading sprites of different scales. For instance, I may specify the following asset paths in my project yaml:
[code]
Going off what you are saying, I should continue to place sprites in:
[code]
The Flutter framework will decide which to load d

[2019-07-03 12:16] erickzanardo commented on #116
@bajabob I am not sure this structure works on Flame (tbh I was not aware of this before you linking it to this issue).

On Flame we does not uses `AssetImage`, we do use `AssetBundle`, but we read the image as bytes and creates an `Image` from `dart:ui`.

I will open an issue to check if AssetBundle already is aware of this, even if we images as bytes, and if it is not, will think on a way to be

[2019-07-04 15:02] ProgrammingLife opened #120 "Are there any particle system in Flame?"
Is that possible to work with particle system in Flame?

[2019-07-04 19:06] erickzanardo commented on #120
Hey, we have not implemented anything specifically for flame, but the box2d port that we bundle alongside Flame has some implementation that you could try.

https://github.com/feroult/box2d.dart/tree/master/lib/src/particle

[2019-07-04 19:06] #120 closed

[2019-07-05 10:38] impulse opened #121 "Add example games to docs"
Could be one or two sections:

1) Barebone examples like the existing one in the repo
2) Community made open source projects f.ex Alekhins stuff

[2019-07-05 14:55] bajabob commented on #116
@erickzanardo thanks for looking into that! I forked the repo and am willing to contribute if you need any assistance with a change. I am primarily interested in using a Texture Packer to generate Sprite Sheets of different scale sizes so that the proper size loads depending on the DPI of the device.

For instance,

[code]

[2019-07-05 17:25] erickzanardo commented on #116
@bajabob If you are willing to implement this, would be very helpful. I can take a look on it eventually, but right now we a little overwhelmed, so it may be a while to implement this.

I think it would be great to support TexturePacker on Flame, but I think the pixel ratio aware image loading could be a generic thing, because it could be used outside the Texture Packager.

I am thinking on having

[2019-07-06 22:05] luanpotter commented on #121
@impulse totally agree! There are some specific examples in the doc/examples folder, but I think we should add more complete examples as well in the README, like BGUG, haunt, renan's trex, erick's games, alekhin's games...

[2019-07-06 22:11] luanpotter commented on #118
Hi, @shawnlg, FlameAudio uses AudioCache without a fixedPlayer, which means each call to play should return a new instance of AP, which means it should play two audios at once. Certainly you've stumble upon some problem. FlameAudio uses the new LOW_LATENCY mode for AP; I wonder if you could try creating your own AudioCache not in LOW_LATENCY mode to see if it's a problem specific to that feature?

[2019-07-08 12:36] impulse commented on #121
@luanpotter it would also be an option to put community made games in an external curated list and link it from the docs. Would require a new repo though since the awesome-flutter owner does not want to accept small games anymore.

[2019-07-09 02:09] erickzanardo commented on #110
Hey @truongsinh have you had any chance to test this?

[2019-07-09 14:52] truongsinh commented on #110
Hi sorry for the late reply, it's still the same, you can check it out at https://github.com/truongsinh/fluttery_dash/tree/should-repaint

[2019-07-10 17:31] eskalera opened #125 "Slow TapGestureRecognizer"
I register a TapGestureRecognizer like this:
[code]

which removes one of many SpriteComponents, in a smiliar fashion as done [here](https://github.com/japalekhin/langaw/blob/b255ccb15d9572e0dbeb9049ed2bbfe020cd526d/lib/langaw-game.dart#L208) in the Langaw Game, by calling this method
[code]
My problem is that the response of the `onTapDown` is not smooth. The component must be tapped a bit longer

[2019-07-10 22:03] erickzanardo commented on #86
Resolved on 0.14.1

[2019-07-10 22:03] #86 closed

[2019-07-10 22:03] erickzanardo commented on #87
Hey @paulpmi did @luanpotter advice fixed your problem?

[2019-07-10 22:36] erickzanardo commented on #125
A couple of questions to help us try to track your problem:

Where did the problem happen? iOs? Android? Both?
Are you using `Game` or `BaseGame` class?
Did you tried setting a `print` on the beginning of the onTap method? To be sure that the problem is with the gesture or the game logic?

About using a `for` I don't much problem, unless the number of components are really, really high, otherwise

[2019-07-11 00:37] shawnlg commented on #118
You can find some code here:
https://github.com/shawnlg/flutter_ball/tree/12_drum_machine

Just hit record.  It will play a beat and let you record drum sounds.  If a
recorded sound happens at the same time as the beat sound, you do not hear
the beat.

Shawn

On Sat, Jul 6, 2019 at 5:11 PM Luan Nico <notifications@github.com> wrote:

[2019-07-11 07:09] eskalera commented on #125
It happened in a OnePlus 5 with Android 9. I haven't tried on an iPhone.
My Game class extends BaseGame.

I did set a print on the onTap method. When it prints, it also does the rest of the onTap method. The problem is that is hard/slow  to get into invoke the event. I need to press the component for a little too long. This behaviour seems to be more accussed some times than others. Usually it nev

[2019-07-11 10:42] erickzanardo commented on #125
But does the print also has delay to happen?

20 to 50 components is not that much and should not bring you any problems.

Do you have any sample code with the problem so we can try to run and test it?

[2019-07-11 12:30] eskalera commented on #125
The print happens at the same time as the event. The problem is the event is not responding unless it is long.

I mean, it is not that after tapping I can lift the finger and wait for a delayed response. It is rather that I tap the component multiple times without response, unless I intentionally hold the tap a little longer.

I wouldn't really know what other code to share with you to reproduce t

[2019-07-11 12:57] erickzanardo commented on #125
I see, so this problem may happens because of the arena.

If you have multiple gesture detectors, all possible gestures (drag start, swipe, tap, double tap) will enter the arena and the system will "wait" for one gesture to win before calling the handler for that gesture

Do you have multiple gesture detectors added?

[2019-07-11 14:27] eskalera commented on #125
No, this is the only GestureDetector I have. I have read somewhere that the Listener class might be faster than the GestureDetector. Any clue about this?

[2019-07-11 20:57] erickzanardo commented on #47
Fixed on #126

[2019-07-11 20:57] #47 closed

[2019-07-11 20:58] erickzanardo commented on #44
Fixed on #127

[2019-07-11 20:58] #44 closed

[2019-07-12 13:07] luanpotter commented on #55
Closed by #129.

[2019-07-12 13:07] #55 closed

[2019-07-13 21:41] paulpmi commented on #87
Busy month, sorry. Yes making the class that extends the BaseGame, in my case the Controller which is not shown, static fixes this problem. Thank you, I would have never thought of this !

[2019-07-13 21:41] #87 closed

[2019-07-13 23:17] erickzanardo commented on #87
No problem, thanks for the feedback

[2019-07-16 09:19] vanlooverenkoen opened #133 "Flare animation for Flame"
Create flare animations for Flame.

It would be nice to have some "official" flare animations for Flame.
- powered by flame
- flame logo by itself
...

[2019-07-19 11:15] renancaraujo commented on #121
How about a "Flame awesome" kind of stuff?

[2019-07-19 21:23] magicleon94 opened #134 "Scrolling background loop anomaly with ParallaxComponent"
Hi,
I'm trying to achieve an infinite scrolling background by looping an image which has end and beginning contiguous.
As far as I discovered from the docs, using a `ParallaxComponent` should do the trick, so this was my test:

[code]

Now, the scrolling is ok, but even if it loops in the first place, it jumps to the beginning unexpectedly while scrolling, like the animation resets or something.
[

[2019-07-30 17:17] phturb opened #136 "Flare Animation doesnt fully load with Flare Bitmap Animation"
I dont have any exemple of the error since it's work related, but here is how it happened. When we import a flare animation file that is purely made of svg files, it shows up alright, therefore when I try to import my own flare animation made with png files, what I get is the box contour of each of the png files and thats it. The animation turn into boxes of the size that the png should render in.

[2019-07-31 14:00] erickzanardo commented on #136
@phturb Fixed on `develop` branch, this should be shipped on the next version, mean while, with you already want to use it, I suggest you pointing your dependency to flame's git developer branch.

Thanks.

[2019-07-31 14:00] #136 closed

[2019-08-02 19:12] erickzanardo commented on #134
A new ParallaxComponent was added on #138 I think this will solve what you are trying to achieve, if you want to try right away you can point your Flame dependency to the develop branch. Otherwise a new release of Flame should be shipped next week.

Sorry for the delay to handle this issue.

[2019-08-02 19:12] #134 closed

[2019-08-06 03:19] spydon commented on #125
`onTapDown` should trigger after 100ms regardless of whether it has won the arena or not, if it wins the arena and is no longer in contact with the screen `onTapUp` will be called and if it doesn't win the arena `onTapCancel` is called. So I don't think this is a problem with the arena.

[2019-08-11 22:43] luanpotter commented on #118
@shawnlg so you can record sounds? What lib are you using for that? AFAICR audioplayers does not provide recording capabilities. Maybe this other lib is conflicting with AP for media resources and thus the cancelling occur... Can you try to comment out the recording bit and try to play some sounds at the same time? Probably that should work better and we can then focus on this specific interferenc

[2019-08-15 15:49] shawnlg commented on #118
No I don't record sounds.  It's a drum machine where I record drum patterns and play them back.  I play back the sounds in the order and time they were tapped on.

BTW, it works fine on an iOS device.  Multiple sounds play together just fine.  It's Android where only the last sound plays when sounds play together.

[2019-08-20 07:49] eskalera commented on #125
I finally solved this although I'm not sure why it happened. It had something to do with the way I bound the BaseGame class with the GameUI, built with Material Widgets.

[code]
I now do this every time I build the `PlayScreen`, which is a `Stack` with `game.widget` and `gameUI` as children.

[2019-08-20 09:14] erickzanardo commented on #125
I am glad you solved it, thanks for reporting back

[2019-08-20 09:14] #125 closed

[2019-08-21 10:54] ProgrammingLife commented on #110
Has it already fixed?

[2019-08-22 19:52] JaviBonilla opened #141 "Flame audio and hot restart produce unhandled exceptions"
This instruction in **main** and a **hot restart** in Android Studio produce the following two exceptions repeated over timer.

`Flame.audio.loopLongAudio('song.mp3');`

[code]

- Android Studio 3.5
Build #AI-191.8026.42.35.5791312, built on August 9, 2019
JRE: 1.8.0_202-release-1483-b49-5587405 amd64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
Linux 5.2.8-1-default

- Flutter 1.7.8+hotfix.4

[2019-08-23 11:53] vikk opened #142 "Frame rate sometimes drop when audio is played."
I have started to create a little game using flame( [app-release.zip](https://github.com/flame-engine/flame/files/3534268/app-release.zip)). The problem is that frame rate sometimes(seems randomly to me) drop when audio is starting to play. Literally there is 0.1- 0.2 second where the rendering is completely blocked. The sounds are very short (1 second). If I comment out lines where audio is playe

[2019-08-24 10:11] SumeetMathews opened #143 "Unit testing in Flame"
how to do unit testing in flame. for component like Rect

[2019-08-24 18:10] luanpotter commented on #142
@vikk to avoid this, you must pre-load the audios. It takes a few millis to do so, and doing it on the fly might be noticeable. Use `Flame.audio.load` or `Flame.audio.loadAll` and wait for the promises while you show a loading screen :)

[2019-08-24 18:12] luanpotter commented on #143
for unit tests you can use Flutter test packages normally. For example, take a look at the unit tests for position class in the flame repo: https://github.com/flame-engine/flame/blob/master/test/position_test.dart

for more advanced tests, like component or integration tests, you are going to need to mock and monkey patch stuff. there is nothing built in yet, but it's not very hard either.

[2019-08-24 18:12] luanpotter commented on #141
possibly a bug in [audioplayers](https://github.com/luanpotter/audioplayers)?

[2019-08-24 18:30] luanpotter commented on #133
@renancaraujo what do you think? :)

[2019-08-24 18:31] luanpotter commented on #89
I'm thinking about a `FAQ.md` file with a list of tips and headsup in FAQ format

[2019-08-25 10:19] JaviBonilla commented on #141
@luanpotter Probably, I followed this approach, https://jap.alekhin.io/background-music-in-a-flame-game, and still have the same issue.

Is anyone having the same problem?

[2019-08-26 17:27] vikk commented on #142
I preload the audios in here(see previous comment):
``Future<void> _getSounds() async => await Flame.audio.loadAll(['point.mp3','flip.mp3','boom.mp3']);``
which I call in a constructor. Does not matter if the audio is playing 10s - 20s after preload. It is still somehow blocking canvas rendering.

[2019-08-27 18:11] ddonze opened #145 "Audio not respecting silent phone"
When playing audio on an iOS device, Flame does not respect the phone's silent mode and plays the audio regardless. The plugin has a field to handle this, but it is not exposed through Flame.

[2019-08-27 19:19] holyxiaoxin opened #146 "Release app bugs"
When in debug mode, the app is rendering the dimensions properly, but when I install the app from the apk generated in release mode from `flutter build apk`, there is about 50% chance that I'm getting some weird size issues where the whole screen is blackout, with some misplaced widgets. I'm already using `await Flame.util.initialDimensions()`. I'm not sure what's causing the sizing race condition

[2019-08-29 00:13] luanpotter commented on #145
It should be, as an optional parameter...

[2019-08-29 00:21] erickzanardo commented on #145
I was going to start developing exactly that @luanpotter, but then I realised that it is not necessary.

You can just do `Flame.audio.audioCache.respectSilence = true`

Should this be enough @ddonze ?

[2019-08-29 14:28] dd-celerity commented on #145
Yes, that solves the problem! Thanks.

[2019-08-29 14:29] ddonze commented on #145
Yup, this solves it! Thanks!

[2019-08-29 14:29] #145 closed

[2019-08-30 09:20] damienaicheh opened #147 "Load sprite sheet"
Hi! I would like to know if you can provide a way to load sprite sheet (A sprite sheet packs a number of smaller images into a single large image.) ? Some tools like TexturePacker help you to create these sprite sheets and it's based on json to load these images.

Thanks for your answer!

[2019-08-30 11:40] erickzanardo commented on #147
We provide this already, you can use both the class `Sprite` and `SpriteSheet`.

https://github.com/flame-engine/flame/blob/master/doc/images.md

[2019-08-30 12:13] damienaicheh commented on #147
Yes I saw it but it looks like very simple and it's only possible to load animations of a character that is design in a single line. In my case I would like to load a big sprite sheet with a lot of different images that can be objects, menu assets, a lot of images that will be not animated. All these objects are not of the same size. Like in this image for example : https://amakaseev.github.io/spr

[2019-08-30 12:35] erickzanardo commented on #147
You can already load this using the `Sprite` class, when creating a new Sprite it receives parameters `x`, `y`, `width` and `height`, with those parameters you can select parts of the image.

The only annoying thing about this is that given that image you provided as example, it would be a very manual process.

The Spritesheet class is meant to be only a help class on top of the Sprite class, and

[2019-08-30 12:41] damienaicheh commented on #147
Yes manual job it's not a good thing. [TexturePaker](http://www.codeandweb.com/texturepacker) provide you a generic json file that discribe how you put your images here is an example it's pretty basic :

[code]

[2019-08-30 12:48] erickzanardo commented on #147
Okay, we could add support to TexturePacker, since we already have spritesheet support on flame, and what you need is support for a third party tool format, I will close this and ask you to open a new issue, asking specifically for TexturePacker support.

On the new issue, please link the documentation for this tool format, and if you could provide an example image and its metadata file, would hel

[2019-08-30 12:48] #147 closed

[2019-08-30 13:04] damienaicheh opened #148 "Add support to Texture Packer free tool."
Hi!
To load multiple images inside a single sprite sheet we have a tool that is used a lot in the game world : [TexturePacker](https://www.codeandweb.com/texturepacker).
Here is the [free version](https://www.codeandweb.com/free-sprite-sheet-packer) of TexturePacker with the basic tool. This is enough for Flame developpement to generate sprite sheet. It could be added to the Flame documentation to

[2019-08-30 13:15] erickzanardo commented on #146
About the size problem there seems to be a problem with Flutter regarding this, we can see some workaround on this issue: https://github.com/flame-engine/flame/issues/81

The font problem, never saw that happening, is this happening on a specific device? Have you tried testing on different devices/emulators?

The log issue, is indeed something annoying, but so far we couldn't do much about it, it

[2019-08-30 14:01] erickzanardo commented on #141
@JaviBonilla when you hot reload, some stuff get deallocated from the memory, and this kind of errors starts to happen. I don't know if there anything we can do about this. What we usually do here, is to disable the audio when testing in debug mode.

It has come to my attention recently that there is a `hot reload` hook that you can listen on Flutter.

You could stop the music from playing on that

[2019-08-30 14:04] erickzanardo commented on #118
@shawnlg I see that you are using version `0.11.0` of Flame, have you tried on new versions? A lot of improvements were done on audio regarding android on newer versions.

[2019-08-30 14:05] erickzanardo commented on #110
So, I did some progress on this, but this is more complicated than I expected.

[2019-08-30 14:37] JaviBonilla commented on #141
Thanks for the info @erickzanardo.

Yes, for `hot reloads` stopping the music in the `reassemble` method works. But for `hot restarts` I haven’t found a way to make it works.

The `reassemble` method executes before both, `hot reloads` and `hot restarts`, but I think there is no way to know which one is going to be performed. Also, I don’t what to do in the ‘hot restart’ case, maybe ‘removeAll’?

[2019-08-30 14:41] erickzanardo commented on #141
What I do, is usually hold the instance of the current music looping (you probably won't be looping more than one instance) and then stop it.

You could take a look on how I manage sounds on this game: https://github.com/fireslime/bounce_box/blob/master/game/lib/sound_manager.dart

maybe you can take some ideas from it.

[2019-08-30 14:47] JaviBonilla commented on #141
Thanks a lot @erickzanardo!

[2019-08-30 18:50] shawnlg commented on #118
I updated all my branches to version 14 and I hear the same. Only 1 sound.

The drum machine branch is the easiest to hear this. When it starts up, it
plays the sound of every sprite component as it is created so you should
hear all the sounds at once. On android you hear one sound and on ios you
hear all of them.

Shawn Gordhamer

On Fri, Aug 30, 2019, 9:04 AM Erick (CptBlackPixel) <
notification

[2019-08-31 01:26] erickzanardo commented on #118
I am gone mark this as a bug them, and try to solve it.

[2019-09-01 14:00] vikk commented on #142
I am using version: 0.15.1 (the latest one)

[2019-09-01 15:46] holyxiaoxin commented on #146
@erickzanardo I tried running `https://github.com/flame-engine/flame/tree/master/doc/examples/text` on flame v0.15.1, android note 9. Still having the same issues.

[2019-09-01 16:33] holyxiaoxin commented on #146
@erickzanardo seems that the author for https://jap.alekhin.io/create-mobile-game-flutter-flame-beginner-tutorial is having the same issue.

![image](https://user-images.githubusercontent.com/5796213/64079286-617cf880-cd18-11e9-82af-1a2bddaa5cbf.png)

It seems that material's textPainter is not rendering it properly, a current workaround is to render a Text Widget instead. https://jap.alekhin.io/s

[2019-09-04 22:38] jkmosa01 opened #149 "Does flame support Desktop?"
Will this work on MacOS, Windows, and/or Linux?

[2019-09-04 22:45] erickzanardo commented on #149
Kind of, most of it already works, I have made some initial tests with
flutter desktop embedding project and the go-flutter-desktop project, and
it worked great. The only thing missing is an implementation of the
AudioPlayers lib for desktop, because this is the only native thing on
Flame so far.

Em qua, 4 de set de 2019 às 19:38, jkmosa01 <notifications@github.com>
escreveu:

--
Sent from MetroM

[2019-09-04 22:55] ddonze commented on #149
In theory, the MacOS implementation of audioplayers should be almost the same as iOS. AVFoundation works for both.

[2019-09-05 04:34] d-apps opened #150 "Improve documentation for beginners"
I am a beginner and I'm having so much difficults trying to understand the documentation and how to implement in my project.

For example, when I tried to add animation to a sprite, the main.dart example just calls the animation directly, but for "best practices" we add the sprite in a "character.dart" a different class for example, but I had no idea how to call from there (and components etc..).

[2019-09-05 11:04] erickzanardo commented on #149
Good to know @ddonze , we have someone working on audioplayers in go, so the go-flutter-desktop may be a soon possibility.

[2019-09-05 11:18] erickzanardo commented on #150
I don't know if we should provide tutorials like the ones Alekhin has already written, it would be very redundant, and we even link his tutorials on Flame's README.

His tutorials are very cool for beginners and currently, the best way to start learning Flame.

Flame is an unopinionated framework, so the best practices that apply to a Flame game, is the same ones that would apply to common softwar

[2019-09-05 11:18] #150 closed

[2019-09-08 19:45] kurtome opened #151 "Camera documentation is lacking/confusing"
Hello, I'm new to Flutter so it's possible I'm mis-understanding how Canvas rendering works (although it looks similar to android).

I'm having trouble figuring how what the "correct" usage of camera positioning is based on the docs and the behavior when I run it. The docs for `BaseGame.camera` are:

Which I assume means if the Camera's position is [10, 10] and my component's position is [10,10],

[2019-09-08 22:36] luanpotter commented on #151
Yes, you are correct in your final conclusion. If you'd like to submit a PR improving the wording on the docs/comments, I'd be happy to merge :)

[2019-09-10 01:55] erickzanardo commented on #151
Fixed on #152

[2019-09-10 01:55] #151 closed

[2019-09-10 01:56] erickzanardo commented on #149
If you have any more questions, feel free to comment here.

[2019-09-10 01:56] #149 closed

[2019-09-11 21:30] JaviBonilla opened #153 "Flame.util.initialDimensions - Unhandled Exception: Bad state: Future already completed"
I am getting this error message only on _release_ mode with _Flutter 1.9.1_, although it seems to be working fine.

[code]

This is the code:

[code]

This does not produce the error.

[code]

flutter doctor -v
[✓] Flutter (Channel stable, v1.9.1+hotfix.2, on Linux, locale en_US.UTF-8)
    • Flutter version 1.9.1+hotfix.2 at /home/javi/flutter
    • Framework revision 2d2a1ffec9 (5 days ago), 2019

[2019-09-11 21:38] luanpotter commented on #153
Maybe you are calling initialDimensions twice? It's says future already completed, meaning someone was awaiting for the same future as you... Just a guess, though.

[2019-09-11 23:12] JaviBonilla commented on #153
@luanpotter, It is strange that I am getting this error only on release mode, but I will check what you mention, thanks.

[2019-09-13 14:49] ProgrammingLife commented on #110
@erickzanardo it will be the great feature I'm pretty sure! :)

[2019-09-17 22:30] erickzanardo commented on #153
@JaviBonilla can you share more of your code? So we can have a better informations to help you?

[2019-09-17 22:38] erickzanardo commented on #143
Closing due inactivity, if you still have questions, please try contacting us on the Discord server.

[2019-09-17 22:38] #143 closed

[2019-09-17 22:43] erickzanardo commented on #146
@holyxiaoxin the resize(0,0) bug is a know issue, caused by a weird Flutter behaviour, like I commented before it has a workaround: https://github.com/flame-engine/flame/issues/81, I am going to close this and open an specific issue about the TextPainter.

[2019-09-17 22:43] #146 closed

[2019-09-17 22:44] erickzanardo opened #154 "TextConfig issue on release mode"
Originally reported on: Reported on https://github.com/flame-engine/flame/issues/146

[2019-09-19 10:10] HumbleCarl opened #155 "Tapeable mixin not working on grandchildren component"
tap events not working on children components of composed component can anyone help me with this?

[2019-09-19 23:02] Gericop opened #156 "Problem with gestures"
No matter what I try, I can't make the `PanGestureRecognizer` work and I don't know whether I'm doing something wrong, or the engine is failing, or Flutter is having some weird fun.

When I touch the screen, `onDown` is called (twice, actually, for whatever reason). Then if I start moving my finger, nothing happens even though I expect the `onStart` / `onUpdate` to be called. After moving my finge

[2019-09-19 23:20] erickzanardo commented on #156
I am not very expert on Flutter gestures, but I think Pan has some delay indeed, I suggest you trying this recognizer: https://api.flutter.dev/flutter/gestures/ImmediateMultiDragGestureRecognizer-class.html

I have used it and it seems to work very well, and without delays.

[2019-09-19 23:20] luanpotter commented on #156
@renancaraujo knows a lot about advanced flutter gesture recognizers

[2019-09-19 23:21] erickzanardo commented on #155
Indeed this is something that we didn't anticipated, marking this as a bug.

[2019-09-19 23:21] luanpotter commented on #155
It's a bug indeed, I think composed component must call preAdd on its children, must find a good way to do this

[2019-09-19 23:21] erickzanardo commented on #154
@luanpotter you have worked a lot with TextPainter classes, any clues on this?

[2019-09-19 23:38] Gericop commented on #156
@erickzanardo The problem with that is that I need to detect the end of drag (i.e. when the users lift their fingers). To better understand the problem, here's the use case:
_There are 2 objects on the screen and the user needs to connect them with a line. This means that the user must tap and hold on object 1, move the finger to object 2, and lift it up._

I assumed `PanGestureRecognizer` would s

[2019-09-20 03:45] HumbleCarl opened #157 "LongPressGesture produces error"
Hi guys I need some help regarding with this, I have a button which will change the position of one of my component, the long pressed event of that button it will continuously trigger my func/method. But after I tried to use LongPressGestures I encounter some error

Here's my code:
[code]

Here's the error I got:
_══╡ EXCEPTION CAUGHT BY GESTURE LIBRARY ╞═══════════════════════════════════════════

[2019-09-21 08:10] HumbleCarl opened #158 "Box2D implementation documentation"
Hi guys, does anyone here have idea on implementing Box2d on my proj. cause I need the collision effect for my 2 sprite component. Thanks in advance

[2019-09-21 15:22] luanpotter commented on #118
Hi, @shawnlg , it seems that indeed there is a bug with the LOW_LATENCY mode if you play two audios EXACTLY at the same time (a few instructions apart on the same method chain). It indeed seems to play only a portion of the audios. However I switched to the old api in a fork I made:

https://github.com/shawnlg/flutter_ball/pull/1

And it seem to work fine. Certainly this is a bug in audioplayers,

[2019-09-21 15:22] #118 closed

[2019-09-21 15:24] luanpotter commented on #158
Hi, @HumbleCarl , our docs for box2d are [here](https://flame-engine.org/docs/box2d.md), but currently the only docs are:

* the box2d repository itself
* the game haunt by @feroult that exemplifies the usage of box2d apis.

However ours is a simple wrapper over box2d, so any box2d tutorial you might find for other languages (java, c) should give you enough information to understand the basis.

Ho

[2019-09-21 15:27] luanpotter commented on #142
@vikk please try using the AudioPool class for minimum delays when playing audio :)

[2019-09-21 16:59] luanpotter commented on #155
should be fixed in dev branch, added a test for it.

[2019-09-22 13:59] Gericop commented on #157
Okay, so I had the same problem but finally figured it out. The problem is that Flame internally registers with the `pointerRouter` but that seems to be not enough (I'm fairly new to Flutter so can't fully understand the internals yet). What I did to resolve this issue is that instead of using the `Flame.util.addGestureRecognizer(...)` I created a `RawGestureDetector` at the top of the widget tree

[2019-09-23 08:09] HumbleCarl commented on #158
Thank you for your response! Will take a look at it.

[2019-09-24 22:03] erickzanardo commented on #153
Fixed on #160

[2019-09-24 22:03] #153 closed

[2019-09-24 22:04] erickzanardo commented on #155
Fixed on https://github.com/flame-engine/flame/commit/0d9d847ff731fe1c22a98874e0efba9b90d88e3c

[2019-09-24 22:04] #155 closed

[2019-09-24 22:21] JaviBonilla commented on #153
@erickzanardo I am sorry I forgot to answer you here. Thank a lot for the fix!

[2019-09-28 17:44] ProgrammingLife commented on #110
So what about this issue? Is this fixed?

[2019-09-29 02:39] luanpotter commented on #110
@ProgrammingLife performance when there are no changes in the screen is the same as when there are changes, which is already very good.

It could possibly be improved even more for that case, but it's an edge case for a game to have no change/animation/motion whatsoever. If @erickzanardo is busy and you'd like to take a look at it, I'd be glad to review and then merge your PR :)

You could create

[2019-09-29 12:47] ProgrammingLife commented on #110
@luanpotter
Well, it has a sense. Is Flame possible to update only the whole screen doesn't matter even when just one little object has changed or it can update just one little piece of the screen where the changes happened? As I believe should Skia do :)

[2019-09-29 13:03] lastant opened #164 "Add support for Pointer events"
As written here, Flutter supports both Gestures and raw Pointer events: https://flutter.dev/docs/development/ui/advanced/gestures

But for multi-touch applications Gestures have some limitations:

Also, there are no Move gestures.

[2019-09-29 13:35] luanpotter commented on #110
@ProgrammingLife we always update the whole thing. If an object moves, you'd need to repaint where it was with calculating what should be behind it (maybe a complex mix of other objects) plus update where it is now with itself. If you have things like transparency, it gets even trickier. I think doing these kinds of computations is way more expensive than just repainting the whole thing and leavin

[2019-09-30 09:06] ProgrammingLife commented on #110
@luanpotter but what if we have just a little changing piece of the screen such as a small particles effect area at the right bottom of the screen where we don't need to update the whole screen. Might be it would be better to set engine to special mode where it finds and updates only the changing areas?

[2019-09-30 12:06] erickzanardo commented on #110
@ProgrammingLife I don't think updating only a part of the screen would be better, specially on the example you used, a particle system, even on a small area, makes changes a lot, both on pixel positions, colors, opacity and etc. The algorithm to detect the area that changed, and what changed, would not be very easy to implement, would be error prone and I have serious doubts if that would bring p

[2019-09-30 12:11] erickzanardo commented on #164
Hey @lastant, what do you mean about add support? Flame does not implement any gestures, all we do is to add some helpers functions to help the developer with what we thinks are the most common used gesture recognizar (taps). But you can always wrap the game widget on a `RawGestureDetector` and use all that flutter has to offer, you can see a good example here: https://github.com/flame-engine/flam

[2019-09-30 12:21] HumbleCarl opened #165 "DestroyBody error"
I got this error when I try to destroy the body of the box. Using world.destroyBody(this.brick.body); after they collide. Here's the error log:

'package:box2d_flame/src/dynamics/world.dart': Failed assertion: line 329 pos 12: 'isLocked() == false': is not true.

Or does anyone uses different way to destroy the body after collision.

Hope you'll notice this :)

[2019-09-30 12:22] erickzanardo commented on #165
@japalekhin can you help us on this?

[2019-09-30 13:04] lastant commented on #164
Yes, what I did eventually was
[code]

[2019-09-30 17:32] japalekhin commented on #165
@HumbleCarl I think you're destroying it too early. Please paste your code. I'm assuming you're trying to destroy a body from a `ContactListener` which at that point, the body is still locked.

The best way would be to have a flag (`isForDeletion` for example) and set it to true in the `ContactListener`. Inside `update` destroy the body (preferably at the tail end of the update).

[2019-10-01 01:04] HumbleCarl commented on #165
@japalekhin here's my full code

import 'package:flame/box2d/box2d_component.dart';
import 'package:flame/flame.dart';
import 'package:flutter/gestures.dart';
import 'package:box2d_flame/box2d.dart';
import 'package:game_structure/classes/layout/SampleBricks/Brick.dart';
import 'characterobject/samplecharacterboject/SampleCharacter.dart';
import 'characterobject/samplecharacterboject/SampleCharact

[2019-10-01 01:11] japalekhin commented on #165
[code]

yup, add a flag somewhere (`bool isForDestruction = false;` or `bool isForDeletion = false;` for example).

in the `world.destroyBody(...` line, replace it with `isForDestruction = true;`. then in update put the following:
[code]

[2019-10-01 01:20] HumbleCarl commented on #165
@japalekhin hi sir I encountered new error here's the log:

'package:box2d_flame/src/dynamics/island.dart': Failed assertion: line 541 pos 12: '_bodyCount  _bodyCapacity': is not true.

[2019-10-01 01:39] japalekhin commented on #165
Hmm check the stack trace and paste the code around the line that gives the error that is in your project (not in `package:box2d_flame` or `package:flame`)

[2019-10-01 01:41] HumbleCarl commented on #165
When the exception was thrown, this was the stack:
 #2      Island.addBody (package:box2d_flame/src/dynamics/island.dart:541:12)
#3      World.solve (package:box2d_flame/src/dynamics/world.dart:1001:16)
#4      World.stepDt (package:box2d_flame/src/dynamics/world.dart:597:7)
 #5      Box2DComponent.update (package:flame/box2d/box2d_component.dart:40:11)
#6      GameWorld.update (package:game_struc

[2019-10-01 01:42] HumbleCarl commented on #165
Here it is po

[2019-10-01 01:44] japalekhin commented on #165
hmmm, you see this inside `initializeWorld`?
[code]

i think when you destroy the body, you need to remove this brick too.

[2019-10-01 01:46] HumbleCarl commented on #165
Like this po?

[code]

[2019-10-01 01:46] japalekhin commented on #165
something like that yes, please try it out.

[2019-10-01 01:50] HumbleCarl commented on #165
The error was still there.

[2019-10-01 01:51] japalekhin commented on #165
Please describe when the error happens. Does it happen on collision or on initialization?

[2019-10-01 01:51] HumbleCarl commented on #165
It happens on collision.

[2019-10-01 01:54] japalekhin commented on #165
please paste your `beginContact` and `update` again

[2019-10-01 01:55] HumbleCarl commented on #165
Here's my beginContact method
[code]
and for update
[code]

[2019-10-01 02:01] japalekhin commented on #165
can you identify which specific line in those 2 functions throws the error? you can use `print` in between lines to see which `print` message is shown just before the error.

also since you're accessing `this.brick.body`, it's a good idea to remove `this.brick` after the `destroyBody` call. just for safety measures. highly unlikely, but maybe GC will clean up the removed/freed `this.brick` before

[2019-10-01 02:07] HumbleCarl commented on #165
it is being called more than once since it was update method and there's no error on remove and destroyBody method it just don't take effect, however I tried to set the flag to false to avoid the being execute more than once. But still the object was still there.

[2019-10-01 02:08] japalekhin commented on #165
also @HumbleCarl, this doesn't seem like a Flame issue, more like a support request so if possible let's take this into the [FireSlime Discord server](https://discord.gg/pxrBmy4) so i can close this here.

[2019-10-01 02:13] japalekhin commented on #165
@erickzanardo let's close this one out, thanks.

[2019-10-01 09:11] #165 closed

[2019-10-08 00:16] kurtome opened #167 "ComposedComponent and Resizable are tricky to use together with base classes"
So bear with me me on this one... I'm not sure if it's really just impossible to simplify due to how inheritance has to work with mixins but I recently spent over an hour trying to figure out why `Resizable.resize` wasn't being called, only to realize it was due to the order of inheritance with `ComposedComponent`.

Essentially, I have a base class called `PhysicalComponent` which most of the obje

[2019-10-08 01:40] #141 closed

[2019-10-08 01:41] erickzanardo commented on #141
Closing this, if you have any more trouble with this, let us know, thanks!

[2019-10-08 01:43] erickzanardo commented on #142
Closing this due inactivity, Luan suggestions should help you with the frame drop, but if you still have trouble, let us know.

[2019-10-08 01:43] #142 closed

[2019-10-08 01:46] erickzanardo commented on #64
Fixed on #166

[2019-10-08 01:46] #64 closed

[2019-10-08 01:46] erickzanardo commented on #64
Thanks @kurtome

[2019-10-08 02:40] dvlj opened #168 "Better example within the library?"
It would be great to have better example with more use of components and mixins~

[2019-10-08 15:20] luanpotter commented on #168
@dvlj there is an example folder inside the docs with lots of examples showcasing flame features. for more complete examples, our open source games work as good, complete examples as well. Is there any component/mixin in particular that you think we could improve or add an example to?

[2019-10-08 15:26] dvlj commented on #168
ok thanks, i will look into those examples u mentioned. Somehow, project with version 0.15.2 is not compatible with 0.16.1 when i upgraded, especially the ComposedComponent, any idea?

[2019-10-08 19:47] luanpotter commented on #168
it's not, since we are pre 1.0.0 we have breaking changes on minor and minor changes on patch. composed component was remodelled to have better interop with Resizable and Tapables. you will need to update your code, there is a test file for that if you want to take a look

[2019-10-09 04:29] dvlj commented on #168
Thanks for the reply~ i will try this later, close issue!

[2019-10-09 04:29] #168 closed

[2019-10-12 21:34] luanpotter commented on #89
@impulse take a look, maybe you want to add something :) #169

[2019-10-13 06:20] impulse commented on #89
Not as of now. Thanks for already adding my fix 👍🏻. I guess we can close up this issue now

[2019-10-13 06:20] #89 closed

[2019-10-13 06:22] impulse commented on #121
Further discussion on the flame-awesome repo: https://github.com/flame-engine/flame-awesome/pull/1

[2019-10-13 06:22] #121 closed

[2019-10-14 06:04] yash365 opened #170 "How to Navigate to a new screen ?"

[2019-10-14 06:05] rubberbird opened #171 "Landscape mode not working iOs"
Trying out the below code from one of your example for parallax, however when I update the device to be landscape only it does nothing. Simulator is landscape but game in portrait.

Versions:

flame: ^0.16.1

[code]

![image](https://user-images.githubusercontent.com/5005762/66731749-61dee680-eeb5-11e9-9a7b-f19ec9f7f4d0.png)

Same Code - Android Emulator

![image](https://user-images.githubusercon

[2019-10-14 16:02] erickzanardo commented on #171
On iOS you need to mark the orientation allowed on Xcode

[2019-10-14 16:04] erickzanardo commented on #170
You can use Flutter navigation stuff, since a Flame game is in the end a widget.

If you want an example take a look on this game: https://github.com/fireslime/bounce_box

[2019-10-14 16:04] #170 closed

[2019-10-14 16:05] erickzanardo commented on #167
cc @luanpotter

[2019-10-14 18:30] rubberbird commented on #171
Oh, you mean via editing the deployment info like below?

![image](https://user-images.githubusercontent.com/5005762/66774263-af8f3980-ef1d-11e9-88ce-36c7af8f4df1.png)

[2019-10-14 19:51] luanpotter commented on #171
A perfect addition to our brand new FAQ! @erickzanardo @rubberbird

[2019-10-14 22:24] erickzanardo commented on #171
Indeed @luanpotter

Em seg, 14 de out de 2019 às 16:51, Luan Nico <notifications@github.com>
escreveu:

--
Sent from MetroMail

[2019-10-15 06:11] #171 closed

[2019-10-15 06:11] rubberbird commented on #171
Working. Cheers team.

[2019-10-15 15:23] seth35us opened #174 "Unable to remove Flame util Gesture Recognizer"
I am navigating between a main page and several games. I am unable to remove the gesture recognizer when navigating away from the game widget. I have tried both methods below and created a singleton class, but the gesture recognizer won't go away.
    Flame.util.removeGestureRecognizer(tapper);
    tapper.dispose();

I am including a basic implementation to recreate the issue. As you can see the O

[2019-10-15 18:45] r1sim commented on #174
I had a similar issue with a PanGestureRecognizer a few hours ago. I figured out that everything works as expected when setting the event handler to null.

Try removing the GestureRecognizer like this:

[code]

You don't have to dispose the tapper because that's what the removeGestureRecognizer method does. (check https://github.com/flame-engine/flame/blob/master/lib/util.dart#L133)

Anyway, this

[2019-10-15 20:28] seth35us commented on #174
Thanks r1sim, but this didn't work. I tried

[code]
The _tapper and _tapDownCallBack are defined only once in the init of a singleton class. I know you said that I don't have to dispose the tapper, but it didn't make a difference either way, so I left it in for good luck. I will remove it later if I can figure out how to get rid of the tapper.
[code]

[2019-10-15 21:28] r1sim commented on #174
I checked your example project and got it to work.
You passed a `new TapGestureRecognizer` instance instead of `tapper` when calling the addGestureRecognizer method.

So when you change:
[code]

to:

[code]
and change `handleInput(Offset globalPosition)` to `handleInput(TapDownDetails details)` it should work.

[2019-10-15 23:21] seth35us commented on #174
@r1sim Works perfectly! Thank you for your help.

[2019-10-18 22:02] seth35us commented on #174
@r1sim One other issue. When I add the addGestureRecognizer the second time the tap is extremely delayed and sometimes does not even fire.

Here is the relevant code:

`  factory MathBlocksGame({MathBlocksUIState uiState}) {
    _singleton.ui = uiState;
    _singleton.ui.currentScreen = UIScreen.home;
    _singleton.initialize();
    if (_singleton.isTapperInitialized) return _singleton;
    _sing

[2019-10-23 23:04] erickzanardo commented on #174
@seth35us The addGestureRecognizer can be a little cryptic sometimes and lead to situations like the one you are facing, we are even thinking on maybe deprecate that method and create a new API.

In the meantime, I strongly suggest you using `GestureDetector` widget to wrap your game and use it to detect the gestures, since it is a widget, the callbacks should be destroyed alongside the widget, wh

[2019-10-26 09:11] sdullaghan opened #178 "Animated sequence works on Sim but not on Device (iOS)"
Great library.

Having a small issue, been at it a while but not seeing what i am doing wrong.

If i render on Sim, the animated sequence of images, starts proper and runs (albeit slow), correctly from start to end

If i render on Device, the animation seems to always move over to the left, as if the whole spritekits moving, instead of showing the next part of each image only.

Edit: Also tried on

[2019-10-26 13:37] luanpotter commented on #178
could you please provide the `logo-spritesheet-h@2x.png` image?

also, the speed at which it plays you can control with the stepTime variable :)

[2019-10-26 14:33] sdullaghan commented on #178
Hey

Yeah man, used the steptime, but on Sim its soooo slow and on Device, too
fast, but was going to check into that after and try to find the happy
number

Attached the sprite file

On Sat, Oct 26, 2019 at 3:37 PM Luan Nico <notifications@github.com> wrote:

--

Thanks

Steve

[2019-10-26 16:28] seth35us commented on #174
Great suggestion @erickzanardo. Here is my final code:

[code]

[2019-10-26 16:28] #174 closed

[2019-10-29 06:10] HumbleCarl opened #180 "Game simulation becomes slow after lock screen."
My app becomes slow after my phone screen locked and also when I switch to another app. How can I fix this? Thank you in advance

[2019-10-29 11:54] erickzanardo commented on #180
Can you provide more info? How do you know that the game has slowed down if the screen is locked or if you have other app opened?

[2019-10-29 12:06] erickzanardo commented on #178
@sdullaghan do you also have a 3x density image and a normal density image? My guess if that on the device it is loading a different density and then the value on textureWidget will not work on bigger or smaller images.

[2019-10-30 01:34] HumbleCarl commented on #180
The movement of the body slow down.

[2019-10-30 08:52] HumbleCarl commented on #180
https://drive.google.com/open?id=1-H0eiI401zeC_6zUIUhoEqMbCpsM_-Av here's the link of the screen record of the game

[2019-10-31 08:29] HumbleCarl commented on #180
Anyone who encounter the same problem as mine?

[2019-10-31 09:55] KevinAtlans opened #182 "How to use textfield?"
How to use the input box in the game?

anybody any suggest?

[2019-10-31 10:03] KevinAtlans commented on #182
Oh, maybe i find it!   https://jap.alekhin.io/setup-widget-tree-flame-flutter-game

[2019-10-31 10:03] #182 closed

[2019-10-31 10:35] ddonze commented on #180
I have seen a similar issue in iOS, but it is very inconsistent and I have not been able to reliably reproduce it.

[2019-10-31 10:37] HumbleCarl commented on #180
It seems it's related with the box2d. Have you figured it out?

[2019-10-31 12:42] ddonze commented on #180
I’m not using Box2D. I wrote my own very simple physics code. But I have noticed that my physics methods generally run at 10-20microseconds but will occasionally jump to several hundred microseconds. I’m inclined to believe it’s an issue with Flutter or the Dart runtime, and not a Flame issue. But I still can’t reliably reproduce anything so it’s all speculation.

[2019-11-02 10:55] HumbleCarl commented on #180
I see. I put logic on the `lifecycleStateChanged` to apple force once that state was `AppLifecycleState.resumed`; on the bodies that are moving, but the speed does not change at all.

[2019-11-02 17:20] luanpotter commented on #180
do you pause the game when it backgrounds? normally I pause the game and I have to add custom logic to update to avoid having a gigantic time step

[2019-11-02 17:47] luanpotter commented on #167
@kurtome dart mixins become extremely convoluted quickly with the Composed Component, because it needs to override other mixins if they are found, so that is very nasty. One solution would be to make ComposedComponent a proper component, not a mixin. Would that solve your problem? Or do you have a better solution that would work for all cases?

[2019-11-02 23:32] HumbleCarl commented on #180
How do I pause the game? @luanpotter

[2019-11-03 22:08] Astrophysik opened #184 "Timer documentation not complete"
https://github.com/flame-engine/flame/blob/master/doc/util.md
The timer documentation right here is not complete. It misses the call of the timer update function in in update function of the example.

[2019-11-04 03:46] #158 closed

[2019-11-04 03:47] #157 closed

[2019-11-04 10:04] sdullaghan commented on #178
@erickzanardo

i tried to load up 3 images so we had the typical scenarios but on device, it still ran uber fast, as such, start to end several times in short time frame, while on Sim, ran slower and more deliberate

also, is there a way to have it complete the sequence only one time and not keep looping? I was not seeing which param to use to prevent this.

Some images attached to show structure

[2019-11-04 14:29] renancaraujo commented on #167
Let me hop int the discussion.
I've recently [updated TRex to the latest flame](https://github.com/flame-engine/trex-flame/pull/5) version, and a felt a lot of this pain.
I think every component should be able to contain a child.
Another approach could be similar to "render widgets" on Flutter, where we have `MultiChildRenderObjectWidget` and a `LeafRenderObjectWidget`.

[2019-11-04 14:30] renancaraujo commented on #167
IMHO tappable and other mixins that are child-awere does too much.

[2019-11-12 06:02] #180 closed

[2019-11-12 06:07] HumbleCarl opened #186 "Sometimes app suddenly crash."
Here's the error logs: "Activity com.example.space_blocks/.MainActivity onDestroy took 110ms". Hope you can help me this thanks in advance.

[2019-11-12 09:20] erickzanardo commented on #186
This log tells practically nothing, isn’t there any more logs with more meaningful messages?

[2019-11-12 09:48] HumbleCarl commented on #186
Currently trying to get that sudden bug/err again cause I didn't notice the logs above that. But, have you encountered sudden app exit? Will post the logs after I get it.

[2019-11-12 11:24] HumbleCarl commented on #186
I/le.space_block(13499):   at void com.android.internal.os.RuntimeInit$MethodAndArgsCaller.run() (RuntimeInit.java:547)
I/le.space_block(13499):   at void com.android.internal.os.ZygoteInit.main(java.lang.String[]) (ZygoteInit.java:873)
I/le.space_block(13499):
I/le.space_block(13499): Rejecting re-init on previously-failed class java.lang.Class<io.flutter.embedding.engine.plugins.FlutterPlugin$Fl

[2019-11-12 11:26] HumbleCarl commented on #186
I guess this is it?

[2019-11-12 11:49] HumbleCarl commented on #186
This is the logs when the app exits suddenly.

![Screen Shot 2019-11-12 at 7 47 08 PM](https://user-images.githubusercontent.com/46557328/68669355-484cbf80-0585-11ea-9379-39207fceebd3.png)

[2019-11-12 11:50] HumbleCarl commented on #186
Maybe it's become of too much event on the main thread?

[2019-11-12 13:51] erickzanardo commented on #184
Fixed on a5e61e005ed92a8dc52f680d0d7d6e012b8f8916

[2019-11-12 13:51] #184 closed

[2019-11-12 14:41] erickzanardo opened #187 "Fix tapable import on docs"
The import on https://flame-engine.org/docs/input.md#tapable-components is outdated.

[2019-11-12 14:43] erickzanardo commented on #178
@sdullaghan it is expected that you have low perfomance on a Simulator.

About running the animation only one time, you can use the `loop` property, just set it to `false`

[2019-11-12 14:48] erickzanardo commented on #164
We have added a new API for gesture detection on version `0.17.0`, this should fix this, gonna close this, but if there is still problems, feel free to open a new issue

[2019-11-12 14:48] #164 closed

[2019-11-12 14:48] erickzanardo commented on #156
We have added a new API for gesture detection on version `0.17.0`, this should fix this, gonna close this, but if there is still problems, feel free to open a new issue

[2019-11-12 14:48] #156 closed

[2019-11-12 14:53] erickzanardo commented on #186
@HumbleCarl crashes happens, happened sometimes with me, but it always had a log on logcat.

Flame itself has no native code (only audioplayers has) so I think Flame is not causing the crash.

try inspecting logcat to see if you can see some error right before the crash, and let us know.

[2019-11-12 15:00] erickzanardo commented on #154
@luanpotter have you had any chance to take a look on this?

[2019-11-12 15:24] sdullaghan commented on #178
@erickzanardo

Thanks for the info, will try with only 1 largest image.

Can you advise regarding the loop property please, as i am not seeing it accessible on the current function being used

<img width="199" alt="Screenshot 2019-11-12 at 16 12 12" src="https://user-images.githubusercontent.com/5144867/68684210-6526ca00-0568-11ea-8b8d-ebb18a5e1fdf.png">

[2019-11-12 15:26] erickzanardo commented on #178
The loop property is not on the constructor, but you can access it after calling the constructor using the `..` operator, see this as an example: https://github.com/fireslime/rogue_shooter/blob/master/game/lib/main.dart#L149

[2019-11-12 15:40] luanpotter commented on #178
we could add an optional parameter for loop as well, @erickzanardo , I think it's a good thing

[2019-11-12 15:44] erickzanardo commented on #178
Totally agree @luanpotter , but it will demand a new version, no need for @sdullaghan to wait for a new version as you can already use with the `..` operator 😉

But lets open a PR adding the loop to the constructors.

[2019-11-12 16:51] sdullaghan commented on #178
loop worked great thanks, still not getting it to run right on the phone though, on sim with largest image, it sits fine and at a speed that makes sense visually (4 second animation time until all are finished)

but on device, still crying.

i see there is a .done() function on the animation, is there a means to listen to this so i can be then sure the animation is finished and follow that line a

[2019-11-13 02:15] HumbleCarl commented on #186
I guess this is?
![Screen Shot 2019-11-13 at 10 15 19 AM](https://user-images.githubusercontent.com/46557328/68727137-8639fa00-05fe-11ea-941c-3af54bd9849f.png)

[2019-11-13 02:22] erickzanardo commented on #186
All this seems to be related to very low-level android stuff, probably some other process throwed this

[2019-11-13 05:41] HumbleCarl commented on #186
![Screen Shot 2019-11-13 at 1 40 58 PM](https://user-images.githubusercontent.com/46557328/68736317-42a1b900-061b-11ea-8c07-c5f30aee5564.png)
How about this?

[2019-11-13 09:16] HumbleCarl commented on #186
this is the logs on logcat. same with the above.
![Screen Shot 2019-11-13 at 5 15 04 PM](https://user-images.githubusercontent.com/46557328/68749488-48a69280-0639-11ea-9bc5-7d3bd7566fa1.png)

[2019-11-13 10:51] erickzanardo commented on #186
Have you tried the app on other devices/emulators? Like I said on the previous comment these exceptions are happening on a very low layer of the android system, this is hardly caused by Flutter/Flame and is probably been throw by other processes.

[2019-11-16 12:29] impulse commented on #81
I can confirm that the workaround by awaiting prior to runApp works!

[2019-11-18 12:43] erickzanardo commented on #178
which device are you using? and what is the specs of the machine you are using to host the simulator? Also, which simulator are you using?

[2019-11-21 09:41] mhd-barikhan opened #188 "MissingPluginException when try to play audio in Android"
[ERROR]MissingPluginException(No implementation found for method startHeadlessService on channel xyz.luan/audioplayers)

`Flame.audio.play('test.mp3');`

the sound play fine but showing above error in android.

[2019-11-23 17:35] nisimjoseph opened #189 "Use Flutter Tweening for easing on Flame Components"
How can I use a Flame Component and Flutter Tweening, or any other moving/rotation/scale animation, to any Flame component? (I am not talking about Sprite animation using images)
Currently, I see that I can only set values and not do animation on them.

[2019-11-23 23:34] erickzanardo commented on #189
This not something that is implemented on Flame yet, we sure do want to add this feature, but at the moment you need to implement it yourself on your component. Hopefully this example can help you in the meanwhile https://github.com/fireslime/bounce_box/blob/master/game/lib/screens/game/in_game_message.dart

[2019-11-24 07:18] nisimjoseph commented on #189
thank you.

[2019-11-24 07:18] #189 closed

[2019-11-25 03:11] vanduong185 commented on #154
I have the same problem. Does anyone have a solution ?

[2019-12-01 09:40] tempral opened #193 "[feature request] liquidfun support"
If is possible to implement it, would be a great option...
thanks to all the Devs involved

[2019-12-01 14:30] erickzanardo commented on #193
Can you please provide some links and material about this? so we can understand better your request?

[2019-12-01 22:43] tempral commented on #193
http://google.github.io/liquidfun/
At this link you can find the documentation of the library add-on of box2d,
was famous in the past recent years, I wonder how don't you heard about it...
Its main features is adding fluid simulation

[2019-12-02 00:07] feroult commented on #193
Sometime ago I thought about doing this... Since it is a C++ lib, It's not going to be easy, I think. But seems to be possible.

The link below could be a start:
https://stackoverflow.com/questions/54952245/how-to-use-c-code-in-flutter-android-application

[2019-12-02 02:13] erickzanardo commented on #193
It seems to be supported on both Android and iOS, as well as desktop, my only concern on using channel APIs is that we will have some trouble porting to desktop and maybe web.

I see two paths:

 - implementing this using the channel APIs like @feroult suggested, but not directly on Flame, we could have a flame_liquidfun package

 - porting the c++ code to dart (kind like how box2d is ported)

I h

[2019-12-02 09:43] renancaraujo commented on #193
There is the DART native FFI which as an interface between dart code and c++. I got this sample running:
Dart code: https://github.com/renancaraujo/bitmap/blob/master/lib/transformations/brightness.dart#L35
c code: https://github.com/renancaraujo/bitmap/blob/9cd10ebf045858067542d5c55c39246db17d9678/ios/Classes/bitmap.cpp#L26

We can do something like that perhaps.

[2019-12-02 10:56] erickzanardo commented on #178
I have no idea, device should perform way better than the simulator. @luanpotter do you have any idea?

[2019-12-03 01:32] luanpotter commented on #188
This is clearly a bug in Audio Players, in fact, one already open that, already fixed I believe (just need to release a new version): https://github.com/luanpotter/audioplayers/pull/332

[2019-12-03 01:32] #188 closed

[2019-12-07 16:10] sdullaghan commented on #178
Thanks for the help and time on this, ended up then with memory issues on higher resolution attempts on some iPhones, so we just switched idea for the section so we could move on.

Appreciate it.

[2019-12-07 16:10] #178 closed

[2019-12-09 16:23] erickzanardo commented on #186
Any news on it?

[2019-12-09 16:24] erickzanardo commented on #167
This has been inactive for some time now, @luanpotter do you think this can lead to an enhancement or should we close this?

[2019-12-09 16:48] kurtome commented on #167
I've been holding off on responding to this because I don't think there is a simple solution...

This seems like possibly a good idea although it's bit restrictive. @renancaraujo had the idea of making all components Composed by default, which does feel more natural if you're coming from Unity or something like that.

Overall I think the big design decision takeaway from this is that Mixins should

[2019-12-10 02:06] luanpotter commented on #167
I would also like to see @renancaraujo take on this. I particular do not use composable components much, so I never ran into this issue myself. What are the use cases for you guys? Because since component is so abstract, I don't know what advantage composability would have... For example, if PositionComponent was composable that would make more sense (as you can compose position).

[2019-12-10 16:29] MichelDiz commented on #149
FYI: There is a perf issue with Desktop
https://github.com/flutter/flutter/issues/32569#issuecomment-564111864

I believe that is cuz Flutter doesn't have Metal support.

But, I'm not sure if it can perform well in Windows or Android. With ++50k particles.

[2019-12-10 23:09] luanpotter commented on #149
On my testings on desktop, our games run with no problem at all at 60fps on all my linux devices. They are very complex games, but 2D, so computer hardware should not have any trouble at all running that natively. WIndows and Mac should be no different AFAIK.

[2019-12-10 23:14] MichelDiz commented on #149
I intend to create a "graph viewer". So I need the render to handle millions of nodes. I did the test with just "bubbles". So, if it is possible to render Ok in V8, it should be even easier to render in Flutter Desktop. That's why I think it is related to the Metal apple thing.

Cheers.

[2019-12-10 23:17] luanpotter commented on #149
@MichelDiz that is a very interesting test! I'm glad seeing flame used like that.

Do you have a repo I can try on linux so we can see how it performs? Also we are using the go implementation of flutter desktop, while I assume you are using the official one. That could also make a potential impact (would be cool to compare).

[2019-12-10 23:18] erickzanardo commented on #149
Like @luanpotter said, our games run nice on desktop, but just want to complement saying that we use the go-flutter-desktop at the moment, although we have already used Flutter's official desktop support, and it worked nice.

Both FDE and go-flutter-desktop uses glfw on windows and linux, which I don't think will ever perform well for that amount of in game objects :(

[2019-12-11 00:13] MichelDiz commented on #149
@luanpotter no repo, I was just testing around some repos and examples. To test it fast, I've searched mainly about game engine, because in my view it gathers some facilities. I used the doc/examples/particles in Flame's repo to do so. I also used the Flutter Desktop embedding instead of the go-flutter-desktop. I'm not sure if they would perform differently. I've used the go one before, it is good

[2019-12-11 11:55] erickzanardo commented on #149
It would be very cool if we could have a fulling optimized shells running on top of OpenGL, or even better, Vulkan, that would allowed flutter desktop games to be really performant.

[2019-12-11 15:23] kurtome commented on #167
In the one semi-complicated game I've prototyped so far, essentially every component (95%) was a composed position component. Like I made Tile components to be children of the Level Component. And I made the Player component a child of the Level component, and the Player's animation as a child of the Player, etc.

In Unity every component is a position component, and you just ignore the position i

[2019-12-11 15:45] stefankrosell commented on #167
I hope it's OK I leave my two cents: I just started using Flame and found it very strange that I was unable to add children to a component by default. For any game or game-like use, a transform hierarchy is relevant. It's not only Unity - all game (or game like) environments I've worked with does this because it makes sense. Character armor and weapons etc. I recommend you look to pixi.js for more

[2019-12-12 21:49] DavidDomkar opened #197 "Flutter web support"
Hello. Are there any plans on implementing support for Flutter web? I would love to use this for my experimental project using Flutter web.

[2019-12-12 22:07] erickzanardo commented on #197
Hey, we sure do! But since Flutter Web is so early in development, we are taking our time working on other features. Hopefully Flutter web will leave this early development stage soon and we can try adding support to Flame.

[2019-12-13 00:33] erickzanardo commented on #186
Closing due inactivity.

[2019-12-13 00:33] #186 closed

[2019-12-21 05:26] Renkon117 opened #198 "Fullscreen issue, status bar shrinks the screen size"
Hello, I am currently using this library and I am loving it! but I have some issue on Util()...
I am using the game class inside of the scaffold of home as a game widget.

For now it run
`Flame.Util().fullScreen();`
to get screen size of the device, but at the same time, I want the screen to have status bar in the app. So, I am using
`SystemChrome.setEnabledSystemUIOverlays(SystemUiOverlay.values)

[2019-12-23 14:20] luanpotter commented on #198
You can use `await Flame.util.initialDimensions();` to get the size of the screen.

The `Flame.util` namespace also has some other helpers for you to se full screen or not and the orientation desired :)

[2019-12-29 23:34] rubberbird opened #199 "TapDectector and Tapable conflict"
[✓] Flutter (Channel stable, v1.12.13+hotfix.5, on Mac OS X 10.15.1 19B88, locale en-NZ)
flame: ^0.17.2

It seems that there is a conflict between TapDetector and Tapable mixins.

If I use the TapDetector Mixin with my BaseGame class like below.

`extends BaseGame with TapDetector`

I don't see any tap events registering in my Tapable SpriteComponent. When I remove the BaseGame mixin, everything w

[2019-12-30 08:00] Renkon117 commented on #198
Thanks for the reply, it helped a lot

[2019-12-30 08:00] #198 closed

[2019-12-30 23:10] luanpotter commented on #199
@erickzanardo I think you might know the issue here

[2019-12-30 23:50] erickzanardo commented on #199
tbh I don't @luanpotter, rubberbird discovered this, and reported on our Discord, and I asked him to open this issue, so we don't forget, but I need to investigate, my guess is that the `TapDetector` mixins is overriding the BaseGame method, removing its behaviour which calls the tapable handlers.

[2019-12-30 23:50] erickzanardo commented on #154
@luanpotter any news?

[2020-01-03 09:09] johrpan commented on #154
This seems to be a Flutter issue. I opened flutter/flutter#48114 there.

[2020-01-03 12:12] lhk opened #200 "Drawing a Sprite more than once"
I have to draw the same object many times and would like to reuse a `Sprite` object.
To experiment, I've tried to reimplement bunnymark. But using `SpriteComponents` seems to mess up the positioning of sprites.
As soon as a `Sprite` object is rendered with a `SpriteComponent`, all subsequent calls to render lead to strange offsets.

Here is an example of the problem. I'm drawing three rows of rabb

[2020-01-03 12:42] erickzanardo commented on #200
Like I commented on discord, to use SpriteComponents, or other Components, you need to use `BaseGame`  class instead of `Game`, because most components, uses transformations on its render, and `BaseGame` is the one who manages that, that is why you are seeing that weird offset.

I am not sure why the components are not draw when using `BaseGame`, maybe you missed something, take a look on this exa

[2020-01-03 13:20] erickzanardo commented on #200
If you need further help on this issue, feel free to add new comments.

[2020-01-03 13:20] #200 closed

[2020-01-07 16:41] stefankrosell opened #202 "Cannnot set width or height of FlareComponent"
I assume width and height should be passed on to internal _flareAnimation

[2020-01-11 15:43] willhlas opened #203 "Lag/Jitter on iOS but not Android"
I've made a game that runs smoothly on Android, but for some reason lags on iOS. I've tried just about everything to fix this but nothing seems to work!

Is anyone else is experiencing an issue with their game on iOS?

I've also opened the question at:
https://stackoverflow.com/questions/59695778/has-anyone-else-had-lag-on-ios-apps-games-built-using-flutter-and-flame

[2020-01-11 18:58] luanpotter commented on #203
Please share a little bit of code or try to create a minimal reproducible example of the problem, otherwise we have no idea what the problem is...

[2020-01-11 19:02] erickzanardo commented on #203
we have been testing our games on iOS for some time now, and it has always run very nice, you can check an example [here](https://apps.apple.com/br/app/bob-box/id1475025340).

In addition to @luanpotter said, it would help to know what resources are you using, Sprite, Animation, etc, and most important what device are you using for testing?

[2020-01-11 19:23] #203 closed

[2020-01-12 18:47] ohjs88 opened #205 "box2d component crash has occurred. (Android & iOS - SIGSEGV)"
Crash is occurring while updating some box2d components in iOS.
It doesn't happen every time, it happens intermittently.

flame version : 0.17.2
box2d_flame version : 0.4.4

[code]

Following the above code trace, the call stack is as follows:

[code]

Finally, I attach my "flutter door -v" information.

[code]

[2020-01-14 21:34] Brixto commented on #148
I wrote a simple plugin for this functionality, check it out here: https://pub.dev/packages/flame_texturepacker

[2020-01-14 22:39] erickzanardo commented on #148
This is really cool @Brixto can I suggest you adding this to our awesome-flame repository?

[2020-01-16 12:04] erickzanardo commented on #148
Closing this, as @Brixto released the plugin, and it is already on flame awesome.

[2020-01-16 12:04] #148 closed

[2020-01-16 12:07] erickzanardo commented on #197
Just to update anyone following this, a person on our discord shared a test made on web, and Flame worked fine on it. On the side, a version of audioplayers for web is been implemented by @luanpotter , so we should have this sorted out sooner than we thought!

[2020-01-16 13:38] luanpotter commented on #167
I'm leaning on either making position component composable by default and every subclass and instance can be composable (and then the other mixins can work around on that) OR making a child of position called composable component with is just a wrapper and then you add stuff inside (like your composable will not be able to be a Sprite component but you can add the Sprite component as a child to yo

[2020-01-16 13:42] luanpotter commented on #205
Hi, can you share as well a bit of your code to see how you are using the components from box2d?

I think @feroult might be able to take a look.

I recently bumped box2d to 0.4 5 but it was mainly formatting stuff, so I don't think it impacts that.

[2020-01-16 16:48] ohjs88 commented on #205
@luanpotter Thank you for your quick response.

![emotion](https://miro.medium.com/max/1200/1*N3q-cYfcW_ZBa5Yw_lGRVw.gif)

[2020-01-16 23:16] DavidDomkar commented on #197
I can confirm that it mostly works on the web. Biggest issue for me at the moment is that I can't use FlareComponent (prints "Another exception was thrown: UnimplementedError" every frame). I am looking forward to future improvements on this as the flutter web becomes more stable.

[2020-01-17 17:16] kurtome commented on #167
I think making `PositionComponent` always composable makes a lot of sense.

There are some instances where I want to compose components just for organizational reasons (like my InputManagerComponent has children that need to update on every frame but are positionless), but I don't mind making those PositionComponents.

[2020-01-18 10:09] FrankenApps commented on #202
Not sure if I understand correctly, but I am able to set width and height like this:
`FlareAnimation myAnimation  = await FlareAnimation.load("assets/myAnimation.flr");
myAnimation.width = 50;
myAnimation.height = 30;`

However the location seems to be influenced by this action, because
`myAnimation.x = 300;
myAnimation.y = 80`
moves in a strange way, if the size is changed.

It's even worse, when

[2020-01-18 16:37] stefankrosell commented on #202
FlareAnimation can be rescaled, but FlareComponent does not respond to new values for width or height.

[2020-01-18 16:50] luanpotter commented on #202
@erickzanardo wanna take a look?

[2020-01-22 11:29] erickzanardo commented on #202
I should be looking into this tonight.

[2020-01-22 12:02] stefankrosell commented on #202
Great! It would also be very nice to have "updateAnimation" available in the component.

[2020-01-22 23:59] erickzanardo commented on #202
This should be fixed by #210

[2020-01-24 19:06] felipebueno opened #211 "It looks like Flame'd logo is giving me the finger"
![image](https://user-images.githubusercontent.com/241271/73096368-660e9d00-3ec3-11ea-9c0b-68251d5676fc.png)

:smile:

[2020-01-25 17:52] erickzanardo commented on #211
You sure have some imagination...

Either way I have been thinking on retiring the old and leaving only the new one, your thoughts @luanpotter ?

[2020-01-29 13:57] Gericop opened #213 "Frame drops when not touching the screen"
I have been working a game for some time now and noticed that the FPS drops significantly if the user is not touching the screen for a few seconds. (The real problem is the stuttering due to frame drops.)

Here are an empty (no visible objects on the screen) game's frame rendering times when the user is touching constantly the screen:
![kép](https://user-images.githubusercontent.com/5181621/733621

[2020-01-29 15:59] luanpotter commented on #213
Is there no other differences when the user taps the screen? Like do you handle the tap and do something that could cause the difference to happens?

Otherwise would be very hard to solve, probably something to do with some energy saving optimization on your hardware or something deep within Flutter engine.

[2020-01-29 17:42] erickzanardo commented on #213
another important thing to consider, is that, for some reason that fps overlay from flutter not always reflects the in game fps, I suggest you checking out the flame fps indicator, you can see an example [here](https://flame-engine.org/docs/debug.md)

[2020-01-29 17:56] Gericop commented on #213
@luanpotter The results you see above are from a blank `BaseGame` without any added components / handlers and it's the same if I add objects that move around the screen. I think the Flutter engine is trying to do some battery optimizations when the user is not interacting with the app, and I posted it here hoping you knew something about that.

@erickzanardo It's not really about the FPS, but the

[2020-01-29 18:55] erickzanardo commented on #213
oh, I see @Gericop , if it has visible effects, then my suggestion is worthless.

I have never saw that happening, but usually, the games I work on, has constant interactions, so that is probably the reason.

If I would guess, I would say that your assumption on the battery saving optimization is the reason, given that Flutter is meant for apps, and not specifically for games, it makes sense to sl

[2020-01-29 19:05] ddonze commented on #213
@Gericop what device is this? I have seen similar behavior on my iPhoneSE. It sporadically seems to drop frames and run at about 45fps instead of 60. It is rather unpredictable and I haven't been able to track it down. I have actually noticed similar behavior with a 100% native Obj-C app using a CADisplayLink as a timing mechanism (Flutter uses the same mechanism under the hood for VSync). Power-s

[2020-01-29 19:20] ddonze commented on #213
I seem to recall, years ago, there was an issue where screen orientation caused slow down. If you were using CADisplayLink, you basically had to disable auto-rotation or you would get slow-down. That was a loooooong time ago - like the iPhone 3GS. So I have a hard time believing it is still a problem.

[2020-01-30 00:51] Gericop commented on #213
@ddonze It's an HTC 10. It'd be nice to know whether it's a Flutter engine optimization thing or the device is trying to save battery by using less resources after a few seconds (this seems rather unlikely as it would be bad for the native 3D performance as well).

Anyways, while I was investigating where I could optimize the game, I found a pretty big problem with the `TextComponent` (technically

[2020-01-30 13:44] luanpotter commented on #213
@Gericop I believe it should be easy to fix, we can create the text painter only on the `_updateBox` method. Having it pre-calculated and just render on every frame. What do you think? I'd be glad to merge a PR for that.

[2020-01-30 13:53] Gericop commented on #213
Yeah, it's basically that. I've already fixed it for my game but I'll do a PR.

Also, would you be interested in including a `ScoreComponent` or something similar that pre-allocates the digits from 0-9 as `TextComponents` and renders the integers one by one? I know it's rather an edge case but I needed this in my game as the score is increasing continuously (10 times / sec initially and it grows l

[2020-01-30 14:02] erickzanardo commented on #213
@Gericop that ScoreComponent seems really cool, as you said it is really an Edge case, my suggestion would it be that you make it as a package, we have a section only for packages and plugins on [Awesome Flame](https://github.com/flame-engine/awesome-flame#plugins--libraries) and this would be a great addition.

[2020-01-30 22:11] erickzanardo commented on #202
Fixed on #210, a new version should be shipped soon with this fix, stay tuned for the next release.

[2020-01-30 22:11] #202 closed

[2020-02-03 16:58] flowhorn commented on #197
I guess this ist actually related to flutter_svg. I use an experimental flutter_svg draft with web support and it works together with flame on web.

[2020-02-03 16:59] flowhorn commented on #197
Here is the flutter related issue. [https://github.com/flutter/flutter/issues/48491](https://github.com/flutter/flutter/issues/48491)

[2020-02-04 20:33] gabrielmm1234 commented on #205
@feroult @ohjs88 We are having the same issue here. The use case is pretty much the same, but without gyro stuff.

[code]

@ohjs88 how did you manage to get the stack trace with the crash? We tried a lot of stuff and did not succeed

[2020-02-04 20:34] lucasmafra commented on #205
+1

[2020-02-04 22:32] luanpotter commented on #211
I actually like both, @erickzanardo . A nice small square image as logo has some good usages, for example, our favicon. Is it easy to randomize the flame a little bit to make it not look like a hand? (if it even does, I can see the point but it does require some imagination haha).

[2020-02-04 23:35] lucasmafra commented on #205
@ohjs88 We have forked the repo and surrounded the `init` function on file `contact_solver.dart:68` with try and catch and for some reason it worked out for us. Can you try changing your box2 version to our fork to see if it works for you too?

[code]

[2020-02-05 05:37] ohjs88 commented on #205
@lucasmafra
Thank you. I'll leave a comment after the test in two days.

@gabrielmm1234
I checked the iOS application call stack by referring to the link below.
https://github.com/flutter/flutter/wiki/Crashes

[2020-02-05 12:15] felipebueno commented on #211
I agree that it does require a bit of imagination but it's the first thing that comes into my mind when I look at the logo and I can't unsee it. The same thing happened with Resident Evil 6's logo :smile:

[2020-02-11 05:32] ggslayer opened #218 "Any problem when develop a flutter game with flame and flare?"
I am new for game develop, And In my new project, I should develop a game with flutter, engine select flame, but some game characters have animation affect, So, I want to use flare make some animation, will this occur any problem?

[2020-02-11 05:32] ggslayer commented on #218
than you, wait for your response...

[2020-02-11 09:17] erickzanardo commented on #218
No problem should occur, you can take a look on the examples for flare on doc/examples for references.

Closing this, as this is not an issue, but if you have further questions feel free to add comments here.

[2020-02-11 09:17] #218 closed

[2020-02-11 14:38] ggslayer commented on #218
thanks very much！

[2020-02-13 09:17] ggslayer opened #219 "about flare'controller mechanism"
Hi, I saw the "flare" example, now I wan't to play audio when the flare animation reach some keyframe, In the flare runtime, there is a parameter "controller" where I can call the api: triggerEvent to test if there is a event, but in the flame's FlareAnimation class, I can't find any interface where i can do that.    Is this not support or something else i missed?

if there is no such mechanism to

[2020-02-13 13:40] erickzanardo commented on #219
At the moment, there is no way to pass a controller to FlareAnimation or FlareComponent, this could be an improvement on Flame support of Flare.

In the meantime, the only way I can think on doing that, would be playing the sound on a time event, and kind of sincronize it with your animation, try checking this https://github.com/flame-engine/flame/blob/master/doc/util.md#timer

[2020-02-14 03:49] ggslayer commented on #219
Thanks!~  Because it is very importort for me,  so, I can wait,  Can you add this to your schdule?

[2020-02-16 08:18] kingsleyh commented on #211
gosh now it's in my head too lol

[2020-02-17 04:36] carlchandev opened #221 "The example app tapping does not work"
I tried creating a new flutter app and just copy the whole main file to my app.
I did not modify anything on main but whenever I tap on the screen, it throws

![image](https://user-images.githubusercontent.com/34772941/74624119-3a10cf80-5182-11ea-94f3-30bde91eedb7.png)

[code]

[2020-02-17 04:40] carlchandev commented on #221
I think I posted on a wrong thread. Close it.

[2020-02-17 04:40] #221 closed

[2020-02-17 20:24] luanpotter commented on #219
@ggslayer feel free to contribute with a PR, that would be a great feature!

[2020-02-27 00:14] juanitogan opened #222 "Image Loading and Image Dimensions"
It seems the docs and examples could use some clarification about how to use `loadAll` with images and audio.  I was attempting to avoid hard coding image dimensions when setting up the sprite rect but noticed the various sprite props (`originalSize`, `size`, `image`, `src`) that might have the dimensions were null directly after Sprite instantiation.

I had cached all images with `loadAll` as dir

[2020-02-27 02:55] luanpotter commented on #222
@juanitogan, thanks for your clear and well educated feedback!

I might need some more time to properly look into this, but I believe this my elaborate a little bit (my first thoughts).

Your first approach does use the cached image. However, it's fetched from the cache asynchronously, so you can't immediately access it. The second way you enforce it to be sync. We def. can improve, if not our api

[2020-02-27 04:43] juanitogan commented on #222
If it helps, here's my use case for auto sizing and scaling sprites on load:

[code]

(I was hoping to use the HasGameRef mixin as well but, well, it isn't set until `add()` and thus is always null during construction.  Bugger.  Still learning the hard way.)

[2020-02-27 06:07] juanitogan opened #223 "ComposedComponent vs HasGameRef vs BaseGame/Game"
So, it seems this is currently the correct way to use ComposedComponent without implementing a bunch of overrides (not quite what the doc says):

[code]

If, however, you want to ref your own BaseGame class, you might try this:

[code]

That, however, generates messages like this:

And, yet, without ComposedComponent, it passes:

[code]

Now, I've read #167 and look forward to the ComposedComponen

[2020-02-27 06:24] juanitogan commented on #222
Just noting that I showed the use case because I'm only interested in solving the case of how to define sprites without hard coding all the dimensions.  This is primarily to allow the art to easily evolve but, also, I just don't like hard coding all those value regardless.

I can't say I care how I solve that case, I just wanted to solve it.  If there's a better way by redesigning a tangent featur

[2020-02-29 18:24] erickzanardo commented on #213
Hey @Gericop any news on this?

Have you had time to work on that PR?

Since we discovered that the problem is on TextComponets, I am thinking on closing this and openning an specific PR for that. What do you people think?

[2020-02-29 18:29] erickzanardo commented on #197
Just a new update, we done some further tests on this, and web support seems pretty solid already, here you can find some POC and live demo that we have done: https://github.com/fireslime/rogue_shooter

Perfomance is not yet optimal, but we are hoping that this is been worked by the Flutter team.

We also have work been done on Audioplayers to support web, so the all the features will be able to b

[2020-02-29 18:33] erickzanardo opened #224 "Flame gesture API does not support multi touch"
Currently, Flame Gesture API (TapDetector and etc) don't work with multiple touches, I think this is an important feature and needs to be supported by Flame.

I have created a branch (`gesture-detector-multitaps`) on Flame with a little game to expose the problem, you can find the example here: `doc/examples/gestures/lib/main_multitap.dart`

@luanpotter @renancaraujo I am researching on how to mak

[2020-02-29 19:07] erickzanardo commented on #224
Alright, I have found a possible solution, this will be a lot of work, but will make Flame gesture api way powerful, we can use RawGestureDetector to combine the detectors that supports multi handlers, something like that:

[code]

I will continue to work on this.

[2020-02-29 23:22] Gericop commented on #213
@erickzanardo Yeah, sorry for the delay, I've been busy with work. I'll do a PR for the `TextComponent` on Monday, probably. Also, I've been thinking: does `TextBoxComponent` have the same issue?

[2020-03-03 10:17] Karthikputchala opened #225 "In Flutter's / flame- engine the TextPainter text color differs in debug and release. Urgent (Help needed)"
As I am using the flame engine in this flutter project  and while i am running it in the emulator or in the test device the text color in shown in black but after converting the project in to an apk file then text is shown in white color.
[code]

[2020-03-03 18:06] Gericop commented on #213
@erickzanardo There's a PR (#226) now. Check it out when you have some time.

[2020-03-04 13:21] erickzanardo commented on #213
Awesome, thanks! Gonna take a look on it as soon as possible.

[2020-03-04 13:31] erickzanardo commented on #225
This is a Flutter bug as far as we realise, there is already an issue tracking this here #154

Closing this for duplicated issue.

[2020-03-04 13:31] #225 closed

[2020-03-05 00:28] luanpotter commented on #167
We discussed this and are going forward with a proposal for merging `PositionComponent` and `ComposableComponent`, making it so that every `PositionComponent` can optionally have children. We will add more details soon :) (cc @renancaraujo @erickzanardo)

[2020-03-05 13:01] ellis2323 commented on #197
Is there an example to use Audio on Web Platform? It works on my project with the android platform but not on Web. I use flame 0.18.1.

[2020-03-05 13:20] erickzanardo commented on #197
Not yet, audio on Flame is provided by [audioplayers](https://github.com/luanpotter/audioplayers) and although a lot of work has already been done by @luanpotter for the web support on audioplayers, is is not yet ready to be used yet.

[2020-03-05 13:26] erickzanardo commented on #223
This is indeed very similar to #167, I am going to link this issue there, and close this one, so we can track this in one only one place.

[2020-03-05 13:26] #223 closed

[2020-03-05 13:26] erickzanardo commented on #167
Related issue for reference https://github.com/flame-engine/flame/issues/223

[2020-03-05 13:27] erickzanardo commented on #213
Closing this since the PR has already be merged.

[2020-03-05 13:27] #213 closed

[2020-03-05 13:44] erickzanardo commented on #222
This also is something that bothers me, I was thinking on adding a new method for components, that is called by the BaseGame on the components after their initialization is done, what do you think, @luanpotter and @juanitogan ?

[2020-03-05 13:50] erickzanardo opened #227 "Animation and AnimationComponent must ensure stepTime is informed"
Is the a value for `stepTime` ins't informed, a NullPointerException can happen, we must add a `@required` to ensure that it is informed upon creation.

[2020-03-05 13:51] erickzanardo commented on #133
@renancaraujo think you can give this a try?

[2020-03-05 15:01] renancaraujo commented on #133
Wildo

[2020-03-05 15:24] renancaraujo commented on #227
Since required is removed on compilation, an assert would coimplete it with a more explicit error in debug runtime.

[2020-03-05 15:37] erickzanardo commented on #227
In this case, I vote for both!

It is very user friendly to receive an handled error in compilation time instead of runtime.

[2020-03-05 15:39] renancaraujo commented on #227
Yep, me too. Thats why I wrote `complete it`.

[2020-03-05 15:49] erickzanardo commented on #227
Fair enough!

[2020-03-05 18:58] kurtome commented on #167
@luanpotter Not sure if this is the right place to raise this idea, but I think some of the fields on `Component` should also be mutable via a widely-used base class (possible `PositionComponent`?)

For example, while waiting for this issue to be resolved, I've been using something like this:

[code]

Does that make sense to add those fields or am I overcomplicating it, or should they be somewhere

[2020-03-05 19:02] erickzanardo commented on #167
I agree with you @kurtome , although I would suggest removing the method destroy, and leaving only the property.

The priority also is more complicated than that, you can't change it in runtime, as this is used by the internal list of the base game, but it would be nice to have a updatePriority method on components.

[2020-03-05 22:12] juanitogan commented on #222
@luanpotter , What I ended up doing about my gameref needs in the constructor was to build features to get rid of the need.  In this particular case, I added a universal scaling feature to `Game` so that I no longer need to scale all child objects in a low-res game.  I tried limiting the feature to just `BaseGame` but then could only universally scale components.  That was not a bad design idea bu

[2020-03-09 02:12] cedarbob opened #231 "Box2d dynamic body falling at startup in 0 gravity"
I'm checking out Flame with a trivial game that extends Game and has 2 box2d bodies.  A static background body and a small circular dynamic body added on top.  The world is configured with 0 gravity and the dynamic body initialized at (0,0) in world coordinates and (0,0) velocity.  Yet the dynamic body immediately drifts down to the bottom of the screen.  If I make it kinematic or static, it remai

[2020-03-09 18:15] erickzanardo commented on #199
@rubberbird I didn't find the solution, but I think I find a workaround. Don't make your game instance use the `TapDetector` mixin, and just override the `onTap*` methods, and make sure to call the `super`.

This effect is happening because `BaseGame` it self includes `TapDetector` and when you make your instance use it too, we create that multi inheritance problem.

We probably need to find a bet

[2020-03-10 11:55] erickzanardo commented on #231
@japalekhin could you help us with this?

[2020-03-10 11:59] erickzanardo commented on #205
Hey @ohjs88, just checking in on this issue, how is this going? Have the solution from @lucasmafra worked?

[2020-03-11 03:32] japalekhin commented on #231
@cedarbob i don't see world initialization code, can you post that part too?

also, you can look at my break-out example and see how i initialized the world https://github.com/japalekhin/brick-head/blob/master/lib/brick-game.dart#L27

[2020-03-12 01:39] cedarbob commented on #231
We can close or delete this issue.  Turns out I neglected to set up collision filtering to prohibit the static background body from colliding with the dynamic body and it was apparently pushing the dynamic body down.  Sorry to waste anyone's time.

[2020-03-12 01:39] #231 closed

[2020-03-13 20:42] BoHellgren opened #234 "Strange behaviour of second component"
I am trying to learn how to use Flame and have made a simple test program with one BaseGame and two SpriteComponents, see below.
The second component only differs from the first one in terms of its width and height. But it is not displayed in the same position as the first component. Instead, it is shown some 100 pixels above the first components.
Is this a bug, or am I doing something wrong?
Bo H

[2020-03-13 22:15] erickzanardo commented on #234
Don’t override the BaseGame update and render methods, they already call your components update and render method.

[2020-03-14 13:12] BoHellgren commented on #234
Thanks, @erickzanardo! Now it works as expected.

[2020-03-14 13:12] #234 closed

[2020-03-17 11:44] abegehr opened #236 "HasWidgetsOverlay causes exception after restart/reload"
calling addWidgetOverlay or removeWidgetOverlay after restarting/reloading the app in debug mode (on iOS Simulator), causes an exception.

The exception:
[code]

Cause:

I think this is, because HasWidgetsOverlay's StreamController `widgetOverlayController` is closed in the Game widget's `onDetach()` method: https://github.com/flame-engine/flame/blob/master/lib/game/game.dart#L70.

Logging the wid

[2020-03-17 13:51] BoHellgren opened #238 "Tapable mixin should use localPosition"
I am trying to learn Flame and my app so far looks as shown below. It displays two moving sprites. When a sprite is tapped, it is destroyed. It works, but ...
- To get the onTapDown callback in the Component, I had to override the toRect function and return a Rect surrounding the sprite. Is this the right way to do it? I would have thought that the plugin should calculate this Rect, but I can't fi

[2020-03-17 21:20] luanpotter commented on #238
Hi, @BoHellgren ,

I believe the crux of the problem is that you are redefining `x` and `y` in your component. In fact you also have a `pos` that you are also using to keep track of position?

I believe if you use `x, y, width, height` provided by the PositionComponent, toRect will work as intended.

As per specific the Tapable question, let me refer to @erickzanardo who might help us out. If I un

[2020-03-18 02:06] erickzanardo commented on #238
Thinking on this know, I think @BoHellgren is correct, we probably need to use the localPosition, this will probably make a diference if the game widget is not using all the space of the app. I am going to take a look on this.

[2020-03-18 02:09] erickzanardo commented on #236
This seems indeed like a good solution, I will probably try that, but I would also like to hear @luanpotter and @renancaraujo thoughts about this.

[2020-03-18 15:16] BoHellgren commented on #238
Thank you very much, @luanpotter and @erickzanardo ! With the new Tapable mixin and Luans suggestion, the code gets MUCH cleaner and simpler. Se the new code below. I also found a way to keep a total destroys counter.
Bo Hellgren

![device-2020-03-18-160617](https://user-images.githubusercontent.com/18601125/76975235-8fcbc980-6932-11ea-83a5-37ce7a03642e.png)

[code]

[2020-03-18 23:37] luanpotter commented on #222
Closing because of #229 in lieu of smaller PRs we will open as a followup.

[2020-03-18 23:37] #222 closed

[2020-03-19 12:28] #238 closed

[2020-03-24 18:11] erickzanardo commented on #187
fixed on #232

[2020-03-24 18:11] #187 closed

[2020-03-24 18:12] erickzanardo commented on #236
fixed on #241

[2020-03-24 18:12] #236 closed

[2020-03-26 02:32] bung87 opened #245 "Proposal using 2d list store layer's _tiles"
useful for get tile by coordinate x,y

see https://github.com/feroult/tiled.dart/pull/1

when this get merged need update `TiledComponent`

[2020-03-27 11:36] bung87 opened #247 "Proposal widgetbuilder work with Listener that handle pointevent"
current it using `GestureDetector` which is good.
[Listener](https://api.flutter.dev/flutter/widgets/Listener-class.html)

or prefer leave the end developer custom their own `WidgetBuilder`?

[2020-03-27 11:40] erickzanardo commented on #247
Can you point the benefits of using Listener instead of the GestureDetector?

From what I see, Listener has only Raw inputs, while GestureDetector offers a higher end detectors, if we change to use Listener, the developer will have to write a lot of code to detect specific gestures, while GestureDetector already does that.

[2020-03-27 11:54] bung87 commented on #247
I think `GestureDetector` is more fit application use cases, I'm trying using ComposedComponent but it requires `with tapable` ,which I dont need, I'm trying implement a minimap component like photoshop navigator that can handle point down point move events.

or maybe I just implement it as `OverlayWidget`?

[2020-03-27 12:00] erickzanardo commented on #247
We have some work been done to improve Flame gesture API to provides multitouches as reported here: #224

Today we always wrap the game widget on a GestureDetector widget, I think what we can do, is to not wrap the game widget inside a GestureDetector widget if no Flame gesture detector is used on the game, then the user is free to implement its own solution of gesture detection in the case of the

[2020-03-27 12:05] bung87 commented on #247
I think game class could be Generic class, let the end developer decide which detector as container, for now I will try `OverlayWidget `.

[2020-03-27 12:12] erickzanardo commented on #247
I like the idea to let the end dev to decide what to use, but it is nice to let Flame provides out of the box solutions that makes it easier for you if you don't have a complex need.

Anyway, I think it is valid to wrap the game widget on `GestureDetector` only when Flame APIs are used, so it will not conflict in the case of the dev wanting to use their own getector container.

[2020-03-27 12:16] bung87 commented on #247
yeah, may have some articles about this thread,  extends Game class and rewrite builder property will cover this.

[2020-03-27 18:37] rapus95 opened #248 "Animation.sequenced from any image object"
To support loading sprite sheets from the internet it'd be easiest if you could pass any object that can be created by `Image`
`Animation.sequenced(Image.network("myurl"), args...)`

[2020-03-27 18:41] erickzanardo commented on #248
You mean this? https://api.flutter.dev/flutter/widgets/Image/Image.network.html

[2020-03-27 18:51] rapus95 commented on #248
Exactly!
Looks like you only need to add a constructor which uses the `Sprite.fromImage` function inplace of the `Sprite(...)` constructor

[2020-03-27 18:55] erickzanardo commented on #248
That is not that easy, this is a Widget, the Image that we use is an class from the dart:ui library, which really represents an Image, and not an widget, I don't know how easy would it be to draw an Image widget into the canvas.

[2020-03-27 18:56] erickzanardo commented on #248
@luanpotter @renancaraujo what are your thoughts about this? I am not sure about this.

[2020-03-27 19:03] rapus95 commented on #248
You misunderstand me.
Currently, `Animation.sequenced("filepath", 8)` instantiates the sprites from a local file (i.e. `Sprite("filename",args...)`). I suggest to have another constructor: `Animation.sequencedImage(...)` which is a copy of the current `sequenced` function but which calls `Sprite.fromImage(img, sameargs...)` instead of `Sprite("filename", args...)` and by that loads the sprites fro

[2020-03-27 20:15] erickzanardo commented on #248
@rapus95 I see, that is totally possible, I was understanding that you wanted to use the Image Widget inside the animation here.

Sorry for the confusion. Gonna mark this an an enhancement and will do when possible, or if you want, feel free to submit a PR.

[2020-03-28 03:54] bung87 opened #249 "suggestion: repo self contained tiled.dart"
season 1:
Improve the original tiled.dart
my current need:
need the tiled.dart layer store tiles in 2d list so I can easily have `getNeighboursOf` method which used in path finding.
[code]

and see my commits https://github.com/bung87/tiled.dart/commit/a13da7c6339d0c6bcb022c13c35548602cb616bd

I also need set the map offset by tiled map coordination and pointer position. somelike `centerTo`

seaso

[2020-03-28 09:01] bung87 opened #250 "can initialDimensions just using WidgetsBinding.instance.window"
https://github.com/flame-engine/flame/blob/e1d4886c67dcc53d0e08c3b80b0d99753bfefbeb/lib/util.dart#L96

[WidgetsBinding.instance.window](https://api.flutter.dev/flutter/dart-ui/Window-class.html)

Currently I using `WidgetsBinding.instance.window` everywhere, and works fine.

[2020-03-28 13:29] erickzanardo commented on #250
Please provide a meaningful description of your problem, what problem you are facing and etc, otherwise we can't help.

[2020-03-28 13:31] erickzanardo commented on #249
Improve can be quite a lot of things, what you want to be improved here?

This repository you sent don't look to have any relation with the Tiled format, what is idea?

Provide a better and meaningful description of your suggestion, or even better, send us PR with your ideas, otherwise we can't do much.

[2020-03-28 14:18] bung87 commented on #249
hi I update my description, explained my idea.

[2020-03-28 14:19] bung87 commented on #250
this is not a problem , just confirm the current solution.

[2020-03-28 18:56] rapus95 commented on #248
It'd also be helpful if `sequenced` supports `cacheHeigth` and `cacheWidth` as otherwise sprites can easily crash the system :/

[2020-03-29 15:04] thoward27 opened #254 "Designing an Arcade"
Hello and thank you for this great game engine.

Today, I am desperately trying to figure out what the design patterns should be to create an arcade in flame. I need to provide a homescreen, game selection screen, and a number of leaderboards. Unfortunately, I can't seem to put my finger on any good resource for this type of work. Everything I'm finding is based around a single game with a lot of

[2020-03-29 16:17] erickzanardo commented on #250
I see, closing this then, let us know if you have further questions, consider joining the Discord for that kind of doubts.

[2020-03-29 16:17] #250 closed

[2020-03-29 16:19] erickzanardo commented on #254
Hey,

Flame does not implements any type of screen change features, we decided to leave that to Flutter's route system, which is already quite powerful. So since a Flame game is a widget in the end, you just need to register it on a router to have multiple screens.

Let me know if you have further questions.

[2020-03-29 19:27] thoward27 commented on #254
Thanks for the quick reply! Do you know of any examples that I could explore? I'm having trouble determining how to handle gestures/tap interactions across multiple games.

[2020-03-29 20:53] erickzanardo commented on #254
Take a look on this repository, maybe it help you

https://github.com/fireslime/gravitational_waves

For handling taps I suggest you taking a look on Flame gesture api, you can find about it o  the input section of the flame site.

[2020-03-30 19:16] thoward27 commented on #254
thank you! Really appreciate all of your help! Closing for now, will re-open if I have future questions

[2020-03-30 19:16] #254 closed

[2020-03-30 19:25] erickzanardo commented on #254
Thanks for the feedback, feel free to re open if needed, although I would recommend you joining our Discord, we have channels for help there, you can find the link for it on the README.

[2020-03-31 13:09] erickzanardo commented on #205
Closing due inactivity, feel free to re open if needed.

[2020-03-31 13:09] #205 closed

[2020-04-05 16:18] ProgrammingLife commented on #110
What about **shouldRepaint** for now? Is this supported well to stop from repainting screen when it's not needed?

[2020-04-05 16:29] ProgrammingLife commented on #110
That would be useful to use some components from Flame in Flutter such as NineTile png for creating beautiful modal windows, dialogs. Then we don't need repaint it every frame.

[2020-04-07 13:46] BoHellgren opened #265 "addWidgetOverlay not working as expected"
I extended the addWidgetOverlay test program a bit, see below. Each time you press the FAB, a new instance of the ExampleGame class is created and its widget is displayed.

The first time you press the FAB, it works as expected. The "Paused" box is displayed on tap.

But after the second time you press the FAB, the "Paused" box is never shown. The console messages are the same, but that's all.

Se

[2020-04-07 14:03] erickzanardo commented on #265
This is very weird, I can't think of any reason why your example is not working as expected, but I will take a look on it.

[2020-04-07 14:17] erickzanardo commented on #265
@BoHellgren have you tested on both debug and release mode?

[2020-04-07 14:18] BoHellgren commented on #265
Yes, makes no difference.

[2020-04-07 23:27] erickzanardo commented on #265
Should be fixed on #267

[2020-04-07 23:28] erickzanardo commented on #110
@ProgrammingLife we haven't worked on this yet, we have been focusing on other features at the moment.

[2020-04-08 18:29] ProgrammingLife commented on #110
@erickzanardo is that feature on your plans? Is it too hard to implement?

[2020-04-09 01:24] erf opened #268 "Performance"
Hi. I'm considering Flutter for game dev and i'm curious regarding performance compared to other cross platform frameworks like Love2d / Corona etc., where you have a C++ / OpenGL library, handling the low level graphics stuff, with Lua on top. I know Flutter is using Skia, which is a low level library, and using OpenGL / Metal for rendering, but i wonder if you are able to tap into those low leve

[2020-04-09 11:14] renancaraujo opened #269 "An issue"
Yeah thats an issue.

[2020-04-09 11:14] #269 closed

[2020-04-10 01:54] ProgrammingLife commented on #268
Depends on your needs. What type of games are you going to develop? If something like crosswords, sudoku, japan crosswords or some other puzzle games where you don't have forever animation so you don't need to update screen every frame than performance might be increased in many times by solving this issue :) https://github.com/flame-engine/flame/issues/110

[2020-04-10 02:51] erickzanardo commented on #268
Hey,

I would say it perform pretty well, Flutter already has made a lot of progress on skia and it’s apps strive for 60fps, even on devices not that powerfully.

It will probably not be as fastest as some tools specifically made for game dev, but given the nature of how flutter works, it rendered a lot of good results so far.

I have done a small perfomance test recently, it for web, but that sho

[2020-04-10 02:52] #268 closed

[2020-04-10 04:31] feroult commented on #268
I wonder if it is a good idea do just close it?

Have we checked the overall perfomance by enabling/disabling repainting on games with different number of components?

Don't you think we could improve performance on games with lots of components?

Flutter has a complex system to detect render boxes, overlays, hit tests, etc... we could borrow some ideas form them.

Food for thought.

[2020-04-10 08:02] ProgrammingLife opened #270 "A broken link to Flare's website"
You have a broken link to Flare here: https://github.com/flame-engine/flame/blob/master/doc/images.md#FlareAnimation

[2020-04-10 08:27] erf commented on #268
@erickzanardo thanks, it seem like the performance is pretty good for real time games. it would perhaps be interesting to set up a demo for rendering a bunch of sprites, but then a sprite batch renderer should probably be impl first. now metal is enabled by default for ios on master, so perf is probably up.

@ProgrammingLife if you dont need realtime updates, like a shooter, physics game etc, but

[2020-04-10 08:37] erf commented on #268
@erickzanardo @feroult it seem you now use `Canvas.drawImageRect` for rendering sprites, it is mentioned in the [docs](https://api.flutter.dev/flutter/dart-ui/Canvas/drawImageRect.html) you can use [Canvas.drawAtlas](https://api.flutter.dev/flutter/dart-ui/Canvas/drawAtlas.html) to render multiple sprites, given a sprite sheet. You could impl a `SpriteBatchRenderer` based on this, which would prob

[2020-04-10 14:29] erickzanardo commented on #268
@feroult The point on painting and repaint, is that this not something that would fit on a game engine, at least not like it would fit on a conventional app.

Game Engines are made with active rendering in mind, where a lot of updates will happen even when there is no input from the user, not to mention the high number of things moving, glowing and etc that happens on a game. So calculating if we

[2020-04-10 14:30] erickzanardo commented on #268
@erf I wasn't aware of that `drawAtlas`, this seems pretty cool, I am going to take a look on it and see how it would fit on Flame, thanks for pointing this out.

[2020-04-10 14:33] erickzanardo commented on #270
Fixed on befbb90

[2020-04-10 14:33] #270 closed

[2020-04-10 14:44] erickzanardo commented on #265
live on `0.19.0`

[2020-04-10 14:44] #265 closed

[2020-04-11 01:45] chengenzhao opened #273 "3d/shader support?"
Hi:

Recently we play around with Swiftui and Sprite Kit and Metal
for ios development Apple provides Metal Kit and Mtkview to easily integrate shader file(.metal) into Swiftui
so is it possible for us to provide a similar widget that allow us to integrate shader files?
like vk widget or mtl widget?

If so that should be great

[2020-04-13 15:28] CodingDavid8 opened #277 "Missing implementations"
Got a weird message when I try to debug my project and have no clue what to do about it. Any known fixes?
My flutter is on channel main and I upgraded it, Flame version is 0.19.0, I ran pub get.

`Compiler message:
/C:/src/Flutter/.pub-cache/hosted/pub.dartlang.org/flame-0.19.0/lib/flame.dart:67:7: Error: The non-abstract class 'FlameBiding' is missing implementations for these members:
 - Schedul

[2020-04-13 15:29] erickzanardo commented on #277
This is happening only on newer versions of Flutter, there is already a PR to address that #276

[2020-04-13 15:31] CodingDavid8 commented on #277
Thanks - so what exactly am I supposed to do?

[2020-04-13 15:32] erickzanardo commented on #277
At the moment, you could downgrade your flutter (I have been using the beta channel with no problems so far), or you could try using the branch from the PR, until it is merged.

[2020-04-14 12:45] erf commented on #268
@erickzanardo i could perhaps help out with this, but i'm afraid implementing `drawAtlas` would cause big structural changes which is perhaps better implemented by the creators

[2020-04-14 12:53] erickzanardo commented on #268
I think we could think on a way to support it, without breaking the existing stuff. The bad thing is that `drawAtlas` is [undocumented](https://api.flutter.dev/flutter/dart-ui/Canvas/drawAtlas.html) on and receives a lot of parameters.

Either way, it seems to receive an image, it is what we currently use for the other classes like Sprite, so this probably could work well together.

[2020-04-14 13:15] erf commented on #268
@erickzanardo Maybe they added the method recently and thats why its not documented yet, but the method is pretty self explantory. And we could just test it out. Buffering a bunch of transformed, textured, triangles or sprites for rendering is pretty normal in most graphics engines. You could add support for it without breaking existing stuff by adding a type of `SpriteBatchRendrerer` where you wo

[2020-04-14 16:39] CodingDavid8 commented on #277
Thanks, that helped me. Also wanted to say: You guys are incredible! Didn't expect such a fast reaction.
Enjoy your week and stay healthy ;)

[2020-04-14 16:39] #277 closed

[2020-04-14 16:59] erickzanardo commented on #268
@erf I say we would do this by steps, and do the refactor bit by bit. Would you like to open an issue so we can track that there?

[2020-04-14 17:15] erickzanardo commented on #110
Fixed on #272 and released on Flame 0.19.1

[2020-04-14 17:15] #110 closed

[2020-04-14 17:17] erickzanardo commented on #197
Flame 0.19.1 now supports web with audio and everything.

You can see an working example here: https://fireslime.xyz/rogue_shooter/

Source: https://github.com/fireslime/rogue_shooter

[2020-04-14 17:17] #197 closed

[2020-04-14 17:26] erickzanardo commented on #154
Can anyone test to confirm if this stills happens on more recent Flutter version? @renancaraujo @luanpotter

[2020-04-14 17:29] erickzanardo commented on #273
I don't think we can support 3d, as we only use what Flutter provides, and 3d is not supported by Flutter yet.

About Shaders, Flutter provides a very small set of Shaders that can be used on its paint API, you can check it here: https://api.flutter.dev/flutter/dart-ui/Shader-class.html

[2020-04-14 17:29] #273 closed

[2020-04-14 17:41] erickzanardo commented on #219
@renancaraujo want do assign this to yourself? I know you are messing around with this.

[2020-04-14 17:46] erickzanardo commented on #211
I am gonna close this, it does require a good amount of imagination to see that, and this issue open could influence people the wrong way. We will nevertheless try to change the logo a little bit.

[2020-04-14 17:46] #211 closed

[2020-04-14 21:48] erf opened #279 "Fail to load assets from the example folder"
I'm trying to get familiar with the codebase and got into some problems when trying to load a sprite image from a file in the example folder.

I added a test file `example/lib/sprites.dart` to the `flame` lib in order to test some functionality.

I had to do a `flutter create .` in the `example` folder in order to run the example code.

I then tried to create a sprite with image `test.png`.

Just

[2020-04-14 21:51] erf commented on #268
@erickzanardo it sound like a good idea. i would like to get a bit familiar with the codebase first. i added an issue #279  as i had some problems with making an example file which loads a sprite

[2020-04-14 21:55] erickzanardo commented on #279
Where have you added the `WidgetsFlutterBinding.ensureInitialized();`? When it is required, it needs to be added first thing on your `runApp`

[2020-04-14 21:57] erf commented on #279
@erickzanardo i did try to add it first in main, i just did not include it in the example

[2020-04-14 23:13] erf commented on #279
How do you usually work on the flame lib if you want to test out new features?

[2020-04-14 23:16] erf commented on #279
Should i be on the stable branch?

[2020-04-15 04:10] bangonkali opened #280 "Any plans on making a VideoComponent?"
Hi Guys, we're looking into mounting a Video on the Canvas for this Engine. Are there any plans on making a `VideoComponent`? Or can you send tips one where to start if I'm going to make one?

[2020-04-15 06:10] erf commented on #279
I tried to boil down loading image assets from the Example code to the following:
[code]
but fail with
[code]

[2020-04-15 10:39] spydon commented on #277
@CodingDavid8 it is now fixed in the latest Flame release, so you can upgrade to that and upgrade to latest Flutter again if you wish.