[2020-04-15 11:43] erickzanardo commented on #279
I usually use the beta channel of flutter, because of the web support

I am not sure why you are facing those problems, just yesterday I have used Flame and everything working ok regarding that.

If you want to, commit your example on some repository, so I can take a look and help you trouble shoot this problem.

[2020-04-15 11:50] erickzanardo commented on #280
We don't have any plans on that. That could be quite a big taking and we probably have a lot on our queue already.

But I think you could easily accomplish what you need, using a video player package from Flutter, on Flame you can show any kind of Widget on top of the canvas using the widget overlay API, more about this here: https://github.com/flame-engine/flame/blob/master/doc/game.md#flutter-wi

[2020-04-15 16:17] erf commented on #279
I found the error, i was missing a line in the pubspec.yaml file.

[2020-04-15 16:17] #279 closed

[2020-04-15 17:09] erf commented on #268
@erickzanardo i added a PR #281.

i'm thinking i could add a new issue for a sprite batch.

[2020-04-15 17:19] erf opened #282 "Sprite batch"
As per my discussion with @erickzanardo in #268, i would like to add a new `SpriteBatch` class, which will use the [Canvas.drawAtlas](https://api.flutter.dev/flutter/dart-ui/Canvas/drawAtlas.html) call to render a a set of sprites with transforms. This will have performance benefits when drawing sprite atlases, and will not break existing functionality. Next we could create a component for this, a

[2020-04-15 20:51] erf commented on #282
@erickzanardo i've added a PR for this now in #283

There is is improvements to be made, but should be a start. Let me know what you think.

[2020-04-15 20:54] erickzanardo commented on #282
Awesome, will look when I get some time

[2020-04-16 07:55] ProgrammingLife opened #285 "Is it possible to controll rendering loops count per second? To reduce FPS"
When I don't need to render at 60fps is there a chance to reduce it to 2-5? I mean not to call render function so often as it is in other situations.

Or should I write my own rendering system for binding it with Flutter?

[2020-04-16 08:20] erf commented on #285
You only need 60fps because you are simulating / animating stuff that is moving on screen. If you dont do that, you usually trigger a redraw yourself. It sound like you might not need a game engine but could rather use vanilla Flutter.

[2020-04-16 10:24] erf commented on #285
That said, i would look into `GameRenderBox._scheduleTick` and `GameRenderBox._tick` if you need some special behaviour. You could perhaps delay the next `_scheduleTick`.

[2020-04-16 12:12] erickzanardo commented on #285
You can't control FPS with Flame, only thing you can do is pause or resume the engine.

If you need that small amount of FPS, I think you don't need to use Flame's Game loop, you should just use Flutter itself.

I don't think you need to write a whole rendering system, you can use CustomPainter widget, that way you get access to a Canvas and can even use Flame's Sprite, Animation classes.

[2020-04-16 18:05] erf opened #286 "Split up game.dart into one file per class"
The `game.dart` file is quite big, i think we could move each class to separate files to tidy it up.

What do you think?

[2020-04-16 18:16] erickzanardo commented on #286
Sure thing, I have already splitted it a little already, the widget builder was together on that file, and that was separated, but yeah, sure we could split it even more, we just need to be careful to not introduce a big breaking change on Flame.

[2020-04-16 18:50] erf commented on #286
@erickzanardo ok great. btw could you look at my PR at #287 first ( it might be easier to split up game after this is merged ). btw should i make a separate issue for it ?

[2020-04-16 18:56] erf opened #288 "Game loop abstraction"
Reference issue for PR #287

Added a GameLoop class which abstracts the game loop from GameRenderBox, to clean things up a bit.

[2020-04-17 15:33] erf opened #289 "Discussion: Separate asset loading from render classes like Sprite etc | Cleanup"
Ok, so this is a potential touchy subject and big breaking changes, but i think it is worthy a discussion ( for me at least ;) .

### Asset vs rendering

Now loading assets happens asynchronously after you pass a named asset as a constructor parameter, like in `Sprite`, `SpriteSheet`, etc. I will argue why this might not be the best solution.

Loading assets this way, which is an async task, makes

[2020-04-17 16:11] erickzanardo commented on #289
This has been already been mentioned some times. And I always think is worth discuss about.

About the loading, I like to have the both options, I think it is very convenient to have the auto loading feature, it is particular useful when doing small games to be integrated alongside normals, for gamification for example.

But it is also very importante to let the develop also handle loading themsel

[2020-04-17 16:34] erf commented on #289
Thanks for the comment :)

I understand the need for supporting both ways of doing it, and the convenience of it. I might also be a matter of taste. I did not know you also had a method for `Sprite.fromImage` (still learning), which is nice. However in doing so, you also bring in more complexity, and more choices for the user, and more things to document, which can make it overwhelming, and make t

[2020-04-17 16:45] erickzanardo commented on #289
That is true, but IMO, our faulty here is the lack of docs and tutorials, we should have better docs that would make it easy for the developer to choose the best feature that serve their needs.

Sure, and we encourage devs to use Flutter to build UIs, see the widgets overlay API. But some UIs have some details really related to games, and sometimes what Flutter provides is not enough, so for that

[2020-04-17 17:36] erf commented on #289
Ok, here is a suggestion to support both construction of rendering objects with assets and also from name:

Let all rendering classes support pre-loaded assets ( e.g. Image ), in the constructor by default.

Make extensions per render class, which implements a «create» function which takes a asset name, and returns a future of the class obj, with a now loaded asset. This way you can grab a bunch o

[2020-04-19 14:49] ProgrammingLife commented on #285
@erickzanardo Sounds great. In that way I should draw all Flame's Sprite that I use in my project to my CustomPainter manually?

[2020-04-20 03:59] lastant opened #291 "Question: getting absolute time in the update()"
What is the proper way of getting the absolute time in the update()? Is it ok to use DateTime.now().millisecondsSinceEpoch or is it better to add-up the delta-t or another way?

[2020-04-20 07:14] spydon commented on #291
I don't think `DateTime.now().millisecondsSinceEpoch` is a very expensive call and if you add up the delta-t's you will slowly drift due to rounding errors, so I would go with the first one if it is important that it is exactly correct.

[2020-04-20 13:05] erickzanardo commented on #288
Closing this since #287 was merged.

[2020-04-20 13:05] #288 closed

[2020-04-20 13:56] renancaraujo commented on #219
YAS!

[2020-04-20 14:22] luanpotter commented on #285
the sprite class (not sprite component) has a render method that takes in the canvas, you can call that inside your custom painter draw function and provide the sprite

[2020-04-20 14:26] luanpotter commented on #286
+100 :)

[2020-04-20 14:29] luanpotter commented on #280
That might be a bit out of scope, but feel free to make like a flame-video package, as we have for other addons. We would definitely add that to the flame-awesome!

[2020-04-20 14:35] luanpotter commented on #291
I think either work fine, depends mostly on what you'd be using for I guess. Someone recently suggested to add a elapsedTime to BaseGame, not sure if it would help and how often.

[2020-04-20 14:39] #280 closed

[2020-04-20 15:38] erf commented on #282
Thank you for the merge!

I think next would be interesting to implement `SpriteSheet`and/or `Animation` using this, and add to `SpriteBatch` as needed.

[2020-04-20 15:38] #282 closed

[2020-04-20 16:25] luanpotter commented on #154
@erickzanardo I never experienced this issue, so I cannot reproduce. Must ask OP. However it seems the underlying issue on flutter engine is fixed? either way seems not to be a bug on flame.

[2020-04-20 16:49] renancaraujo commented on #154
Agree on this being a framework bug, should not be kept open.

[2020-04-20 16:50] erickzanardo commented on #154
I would only close this if the bug on Flutter is fixed, even this not been a problem on Flame, if the bug still happens, there is a high probability that another issue regarding that will be open.

[2020-04-20 17:47] renancaraujo commented on #154
Tested using material colors and params reported on https://github.com/flutter/flutter/issues/48114. Looks good.

[2020-04-20 17:47] #154 closed

[2020-04-20 22:03] erf commented on #289
I'll close this now. I just felt like pitching some ideas and helping out a little bit, since i've been working with Flutter lately, and do have a little game dev experience, but i'm not really doing any game dev with Flame right now. I think maybe doing some experimentation on my own might suit me better right now, as i have a few ideas which will probably be difficult to integrate in Flame witho

[2020-04-20 22:03] #289 closed

[2020-04-20 23:16] erickzanardo commented on #289
Thanks for all the contributions @erf , we will try to incorporate your suggestions with time.

Hopefully you will get back to Flame eventually and make something awesome :D

[2020-04-21 10:08] billy1380 commented on #193
Jbox2d https://github.com/jbox2d/jbox2d/tree/master/jbox2d-library/src/main/java/org/jbox2d already seems to have particle ported... does the dart port of box2d predate that or was it omitted?

[2020-04-21 10:11] billy1380 opened #293 "Is there a way to set and/or animate sprite transparecy?"
I have a sprite (called flare.png) that represents the flash that happens when a gun is fired. The effect that I am trying to reproduce is to show the sprite when the weapon is fired, then fade it out at a fixed rate until it is invisible and finally delete it.

In other 2d game engines I have used there is an opacity property e.g.

[code]

Is there a way that I can do something similar?

Many tha

[2020-04-21 11:28] erf opened #294 "Rationale behind basic rendering and render loop components"
I'm curious about some basic elements in Flame.

Especially the design choice behind `RenderBox` for `GameRenderBox` and it's use of `RenderBox with WidgetsBindingObserver` to render the game. And also the use of `EmbeddedGameWidget` which inherits from `LeafRenderObjectWidget`.

Also the use of `SchedulerBinding.instance.scheduleFrameCallback(_tick)` to schedule updates. I wonder if you considere

[2020-04-21 12:10] erickzanardo commented on #294
I am gonna answer the things that I can, others I will leave for @luanpotter to complement.

That structure was tailored through time to cover a number of scenarios, specially the `LeafRenderObjectWidget` which was needed to make it easy to add Flame animations as widgets. I remember @renancaraujo worked on this, maybe he can explain a little better.

A game engine relies on active rendering, and

[2020-04-21 12:17] luanpotter commented on #294
I agree with Erick, this structure has evolved and improved over time to the current state. There is not much a reason for it other than it works very well. We are open to tweaks as long as they make sense and improve something tangible.

About the scheduler, it's totally different than scheduleTick, because scheduleTick does not have a fixed time interval. It tries to maintain 60fps but it will a

[2020-04-21 12:18] luanpotter commented on #293
Wdym? If your sprite png image has transparency it will be rendered properly as transparent. If you want you can change the paint property on the sprite/animation component to add a transparent tilt to the whole thing.

[2020-04-21 12:23] erickzanardo commented on #293
@billy1380 please provide a meaningful description of your issue and not only a title.

[2020-04-21 12:24] erickzanardo commented on #285
Closing this, let us know if there is still any questions.

Consider joining our Discord for future questions :D

[2020-04-21 12:24] #285 closed

[2020-04-21 12:30] erickzanardo commented on #291
Closing this for now, if you have further questions, please, let us know, also.

Consider joining our discord for questions.

[2020-04-21 12:30] #291 closed

[2020-04-21 12:40] billy1380 commented on #293
@erickzanardo updated description.

@luanpotter that transparent tilt sounds like the thing... let me look into it.

[2020-04-21 12:44] erickzanardo commented on #293
@billy1380 hope this can help

[code]

[2020-04-21 12:46] billy1380 commented on #293
@erickzanardo I think that is it... thank you.

I found this https://github.com/flutter/flutter/issues/25969

Thanks again.

[2020-04-21 12:46] #293 closed

[2020-04-21 12:48] erf commented on #294
@erickzanardo what do you mean by `Flame animations as widgets`? Animation components seem to be rendered as other components and sprites? I'm curious as to not just use a `CustomPainter` and a `WidgetsBindingObserver`.

@luanpotter do you mean that `Stream.periodic` is different than `scheduleFrameCallback`? A `Ticker` is using `scheduleFrameCallback` so i think it could replace it for a simpler

[2020-04-21 12:52] erickzanardo commented on #294
@erf You sure can use CustomPainter, indeed I use it all the time when I don't need things very complicated, but you can also embedded Flame animations as widgets, check this: https://medium.com/flutter-community/sprite-sheet-animations-in-flutter-1b693630bfb3

[2020-04-21 13:09] erf commented on #294
@erickzanardo thanks. I found a couple of examples now. i wonder if performance is less when using `CustomPainter` vs `RenderBox` ..

[2020-04-23 00:50] rikinhim opened #296 "web game on box2d"
I am using flame with box2d now on a development of web based game. I used the BaseGame to start with and build a circle shape with fixture and bodydef set. I started to move it with a velocity at random then just let it bounce against the walls. It run smoothly on the browser.

The problem is when I started a new tab. And switch back to the tab where the game was, the ball slows down but not stop

[2020-04-24 23:53] ehoraizon opened #299 "Animation fromAsepriteData method does not loop"
I am trying to create an infinite animation using the **fromAsepriteData** method with **AnimationComponent**, when reaching the last frame it does not start the animation again.
This is the link to my assets folder and my main.dart below:

 https://drive.google.com/open?id=15vFq0CBZpy4bf_5Yg1P1lqvXEMu3VKql

`
        import 'package:flame/components/animation_component.dart';
        import 'pack

[2020-04-25 04:52] glennmichaelmejias opened #300 "Set the mass"
hello, on box2d how to set the mass of an object? even if i set the gravity to 1000, the simulation is still slow. thanks.

[2020-04-25 08:42] spydon commented on #300
Hi,
you set the density of the object and the mass is calculated by box2d.
When you create the body you do something like the **fixtureDef.density** here:

    final fixtureDef = FixtureDef();
    fixtureDef.setUserData(this); // To be able to determine object in collision
    fixtureDef.shape = shape;
    fixtureDef.density = 1.0;

    final bodyDef = BodyDef();
    bodyDef.type = BodyType.DYNAMI

[2020-04-25 08:55] spydon commented on #299
Hi ehoraizon,
could you post the content of `idle.json`?

[2020-04-25 09:16] ehoraizon commented on #299
It's in
https://drive.google.com/file/d/1xXjeE8axjB9IZFXogOEit3JQX9RxcuCG/view?usp=sharing

[2020-04-25 09:16] ehoraizon commented on #299
It's in
https://drive.google.com/file/d/1xXjeE8axjB9IZFXogOEit3JQX9RxcuCG/view?usp=sharing

[2020-04-25 21:16] luanpotter commented on #299
@ehoraizon please try this:

[code]

I'm not sure if the loop property is provided by aseprite and if so if we actually carry it over.

[2020-04-25 23:10] ehoraizon commented on #299
@luanpotter It doesn't work, I've already tried it before

[2020-04-26 06:36] deepak-gehlot opened #301 "unable to load large number of frame"
Hello,

i am working on an app, which need to load a sprite sheet which has 135 images, and it unable to load the frame. app close direct without any error when at place for frame count i give 10 or 20 it load but when i give 135 it hang app and closed.

[2020-04-26 08:23] erf commented on #301
It sounds like a memory problem. How big is the image file?

Can you add a minimal code example with image?

[2020-04-27 12:52] luanpotter commented on #286
Fixed by #292

[2020-04-27 12:52] #286 closed

[2020-04-28 11:38] glennmichaelmejias commented on #300
thanks. i fix it already, i just found the settings.dart on the box2d_flame package and I set the maxTranslation from 2 to 100

[2020-04-28 11:38] glennmichaelmejias commented on #300
test

[2020-04-28 12:38] #300 closed

[2020-04-28 18:10] androidDL commented on #299
The `idle.ase` is duplicate object key in `idel.json` file .
So when you decode the aseprite file,you only get one frame.

[2020-04-29 00:49] ehoraizon commented on #299
problem solved.

[2020-04-29 00:49] #299 closed

[2020-04-30 12:20] glennmichaelmejias opened #303 "collision"
how to detect collision in box2d component?
not just box collision,

[2020-04-30 14:59] rezendegc commented on #303
if you want to detect collision of a specific body i know you can do something like:
`
ContactEdge contact = body.getContactList();
while (contact != null) {
  contact = contact.next();
}
`

I also know that there's a ContactListener but haven't found any documentation or way to use it...

[2020-04-30 15:17] glennmichaelmejias commented on #303
thanks! i never thought of using while, i struggle implementing it on for loop but no luck.

[2020-04-30 15:20] rezendegc commented on #303
if you want to use for it can be done like this:
[code]

[2020-04-30 19:42] spydon commented on #303
It may be a little bit more complicated to get started with ContactListeners, but they are a lot easier to use in the long run. I will write up a PR with the system I have built for simplifying this so that others can use it too.

[2020-04-30 23:26] spydon commented on #303
There we go, once #304 is in it will be a lot simpler to do this.
You can have a look at it already if you want, and comment if you want it to have a different behaviour than how I suggested.

[2020-05-01 00:07] erf commented on #289
Been doing some experimentation -> https://github.com/erf/flim

[2020-05-01 02:16] rezendegc opened #305 "Physics problems"
Hello, i have been messing around with flame with box2d components for some days and and I have been having a lot of problems. On my first project i tried applying physics in many ways and never had the expected results, so i'll leave my project here (it has many things not relevant to the problem, and i can create a simpler project for debug purpose if it turns out to be the engines problem and n

[2020-05-01 02:22] rezendegc opened #306 "Render priority doesn't seems to be respected"
I have tried to set the priority to first render the HUD and then the world components, but it seems that no matter what the world is always rendered after the HUD. Here's the link for the project: [repository](https://github.com/rezendegc/vertical-scape-game/tree/bugs).

I don't think that there's a small piece of code to share but i've tried putting the priority as 0 on the world (box2dcomponent

[2020-05-01 08:05] spydon commented on #305
Hey,
`body.linearVelocity = Vector2(myWorld.playerSpeed * (forward ? 1 : -1), body.linearVelocity.y);`
don't set the linearVelocity directly in the update method if you are using forces and impulses at the same time, it will give you a lot of trouble. You could set it when you create the body, but then after that you should manipulate in with forces and impulses instead.
Not sure if that will solv

[2020-05-01 12:45] #294 closed

[2020-05-01 15:02] rezendegc commented on #305
I have just updated the example so the bugs occurs on the branch 'bugs' (and also removed a bunch of non-related stuff).

about updating the linearVelocity on the update it was completely necessary, since the BodyComponent simply loses velocity when falling and when forces are applied on different axis, so this was ugly but necessary to work, i removed it on the repo to show what happens...

it wa

[2020-05-02 06:15] JunoNgx commented on #224
Is there anyway to implement `MultiDragGestureRecognizer` at the moment, or is that a lost cause? There's nothing built-in in Flame that supports any multitouch at the moment.

I was able to attach an `ImmediateMultiDragGestureRecognizer` with `flame\util`, but its API is very bizarre, not the conventional `onDragStart. I have no idea what to do with `createNewPointerState(PointerDownEvent event)

[2020-05-03 11:16] spydon opened #307 "Box2D bodies lose momentum when app goes out of focus"
Someone else also had this problem when running in the browser and by switching back and forth between tabs, but it is not web specific.

It can easily be reproduced by running `docs/example/box2d/contact_callbacks` and turn off your device screen or change app, and then go back to the app and the bodies will have less or no momentum.

[2020-05-03 11:18] spydon commented on #307
I think this can be fixed by pausing the update for box2d when it is not in focus, I will experiment a bit with this later. Maybe the whole engine should always pause by default when the app is not in focus?

[2020-05-03 11:22] spydon commented on #296
I just noticed this in #307 too, it doesn't only affect web games apparently.
I will try to come up with a fix for it, but the fix will probably be in `Box2DGame` and not in `BaseGame`.

[2020-05-03 11:54] spydon commented on #296
Have you tried wrapping it in a `GameRenderBox` @rikinhim ?

[2020-05-03 16:22] erickzanardo commented on #306
I can't spot anything wrong with your code, I wonder if the nem `Box2DGame` could be affecting this, any thoughts on this @spydon ?

[2020-05-03 16:24] erickzanardo commented on #301
That does sounds like a memory problem, images when loaded are stored raw on the memory, and 135 images is indeed a lot.

[2020-05-03 19:26] billy1380 opened #309 "Problem with alpha in web"
I have been working on a port of the godot game "Blaster Faster".

https://www.youtube.com/channel/UChv-gaPlKNROf6iMDhxIpUA/videos

I finished the port but when I ran it on web transparency/alpha does not seem to work as expected.

Mac OS
<img width="369" alt="Screenshot 2020-05-03 at 20 22 30" src="https://user-images.githubusercontent.com/1329727/80923527-45849780-8d7c-11ea-963d-45619c7ba3f8.png

[2020-05-03 21:01] spydon commented on #306
I think it is, I'll put up a fix tomorrow.

[2020-05-04 12:22] billy1380 commented on #309
Can also be viewed here

https://www.willshex.com/blasterfaster/#/

[2020-05-04 12:36] erickzanardo commented on #309
Hey, before we go any further on this, keep in mind that the web support is really experimental, as Flutter is still on beta and many things are unstable, Flame does little regarding the graphics APIs, so many issues come directly from Flutter itself and there is little we can do.

By looking on your screenshot, it seems that you are not using the use skia flag to run your game, can you confirm th

[2020-05-04 12:42] billy1380 commented on #309
@erickzanardo I just did a build using SKIA and it worked perfectly. Many thanks. Happy to close this.

[2020-05-04 12:42] #309 closed

[2020-05-04 12:44] erickzanardo commented on #309
Awesome, glad you got this working!

[2020-05-05 05:23] glennmichaelmejias opened #312 "rotate box2d component"
how i can rotate box2d component anumated? its like tweening between angles on a certain time. thanks

[2020-05-05 07:23] spydon commented on #312
The simplest way is to give the body a angular impulse in the update method and then another angular impulse the other direction once it has reached the wanted angle.
`body.applyAngularImpulse(impulse);`
I find this tutorial quite helpful when it comes to rotation:
https://www.iforce2d.net/b2dtut/rotate-to-angle
It is for C++, but it is quite easy to translate what to do in Dart.

[2020-05-05 12:51] glennmichaelmejias commented on #312
thanks. i tried it but its not working, is there some setup for it?

[2020-05-05 12:58] glennmichaelmejias commented on #312
all applyforces on my code is not working.

`final fixtureDef = FixtureDef();

      fixtureDef.shape = shape;

      fixtureDef.restitution =
          0.5;
      fixtureDef.friction = 0.1;

      final bodyDef = BodyDef();

      bodyDef.setPosition(Vector2(thep.dx, -thep.dy));

        bodyDef.type = BodyType.DYNAMIC;

      fixtureDef.density = 0.1;
      bodyDef.gravityScale =
          100;

[2020-05-05 19:10] spydon commented on #312
Can you show the part of your update method where you apply the forces?

[2020-05-07 13:39] erickzanardo commented on #306
Fixed on 0.20.1

[2020-05-07 13:39] #306 closed

[2020-05-07 13:41] erickzanardo commented on #307
@spydon I don't know if we should automatically pause the engine when the app loses focus, I think that should be done by the developer, as they may want to do additional stuff when pausing.

[2020-05-07 13:45] erickzanardo commented on #303
#304 is on 0.20.1

[2020-05-07 13:45] #303 closed

[2020-05-07 13:46] erickzanardo commented on #296
Lets use #307 to track this.

[2020-05-07 13:46] #296 closed

[2020-05-07 14:17] erf opened #318 "Use my asset_cache package"
This [asset_cache](https://github.com/erf/asset_cache) package, grew out of my [flim](https://github.com/erf/flim) project.

Maybe you could use it in `flame` and `audioplayers`.

[2020-05-07 14:19] glennmichaelmejias commented on #312
when should i put the body.applyangularimpulse? i want that when i click a button it rotates.

[2020-05-07 19:01] rezendegc commented on #305
So, i discovered the root of all problems: using objects too big. I was creating the body with height/width proportional to screen size, like, 10% of screen size, which would generate a body with width of 100px. So, to things moving i needed a very large force, which was limited by some constants on flame. And when spawning, i would spawn it in middle of screen, so it dropped like 300px or more be

[2020-05-08 11:18] glennmichaelmejias opened #320 "box2d collision"
how can i make a box2d object does not affect physics world but still able to detect collision? thanks.

[2020-05-08 12:58] spydon commented on #320
Can you explain a bit more, should the object itself not move either if some object hits it?
Like a zone that your object can end up in?
https://www.iforce2d.net/b2dtut/collision-filtering
If I understand you correctly you probably need to change the fixtures `categoryBits` and `maskBits`.

[2020-05-08 13:14] glennmichaelmejias commented on #320
like when the object hits it it will not move but still it can detect collision. its like an object will pass through an object and detect collision.

[2020-05-08 13:16] glennmichaelmejias opened #321 "multiple points collider"
how to make a collider with multiple points, not just box or circle, like a polygon with 3 or more sides. thanks.

[2020-05-08 13:55] erickzanardo commented on #321
@glennmichaelmejias you seem to be having a lot of questions regarding box2d, please, consider joining our discord to ask such questions, as these questions would fit better there and would be easier for you to get help, as more people could answer.

[2020-05-09 08:48] spydon commented on #312
You could for example set some boolean or state when pressing the button and then look at that in the update method and apply the angular impulse.

[2020-05-09 08:54] spydon commented on #321
When you create the fixture you can create it from a path.
Be aware that collision detection only works for convex objects, if you have non-convex objects you have to use multiple fixtures.

[2020-05-09 08:56] spydon commented on #320
Then you'll have to have a look at how `categoryBits` and `maskBits` works, try the link that I sent.

[2020-05-09 08:58] spydon commented on #305
I'll close this since you seem to have solved the problem @rezendegc.

[2020-05-09 08:58] #305 closed

[2020-05-09 12:33] glennmichaelmejias commented on #321
@erickzanardo where is the link for discord?

[2020-05-09 12:34] glennmichaelmejias commented on #321
@spydon ok thanks. i will test it.

[2020-05-09 12:44] spydon commented on #321
@glennmichaelmejias here is the discord https://discord.gg/pxrBmy4

[2020-05-11 13:33] cranst0n opened #324 "Yoyo Effects"
A nice addition to the Effects API would be the ability to mirror/yoyo the effect so it runs in reverse after completing it's initial cycle, and then potentially running infinitely.

This would make creating pulsing sprites pretty simple.

[2020-05-11 19:20] spydon commented on #324
Very good suggestion!

[2020-05-13 02:55] DAN-AND-DNA opened #326 "drop frame at windows10"
flame is awesome, thanks!
I build the "debug example" of flame through go-flutter and offical desktop,  I found they all drop frame （always  at 48fps-52fps）.
but when I start up an another  process which is writen by golang, the game will run fine ( 60fps):
  1 package main
  2
  3 import (
  4     "time"
  5 )
  6
  7 func main() {
  8     for {
  9         time.Sleep(60* time.Millisecond);
 10

[2020-05-13 13:06] erickzanardo commented on #324
We probably could create a `SequencePositionEffect` which groups multiple effects, then the user could add two effects, the second been the inverted of the first, creating the desired yoyo effect, and that way, it would be generic enough to create sequences of effects.

[2020-05-13 13:07] erickzanardo commented on #301
Closing due inactivity, let us know if there is any news on this.

[2020-05-13 13:07] #301 closed

[2020-05-13 13:08] erickzanardo commented on #307
Any news on this @spydon ?

[2020-05-13 13:09] erickzanardo commented on #321
@glennmichaelmejias was your question solved?

[2020-05-13 13:14] spydon commented on #307
Haven't had time to investigate it more, but it's definitely a bug. I'll try looking into it tonight or tomorrow.

[2020-05-13 13:15] erickzanardo commented on #307
Don't worry, take your time, just wanted to confirm, flagged this as bug.

[2020-05-13 13:45] erickzanardo commented on #326
This is probably something due to the desktop platforms, Flame implements nothing regarding "render" perfomance, all that is used on it, is provided by Flutter, and the engine it is running.

So there isn't much we can do here to improve that, we need to wait those platforms became more stable, as Desktop support still is very experimental/beta.

You can see on this [issue](https://github.com/go-f

[2020-05-13 13:45] #326 closed

[2020-05-13 13:54] DAN-AND-DNA commented on #326
@erickzanardo thanks

[2020-05-14 08:05] Tokenyet opened #330 "Performance testing"
Hi, is there any benchmark about the flame performance testing? I just create a simple example for flame, but got 30fps in Xiaomi 5s plus. (500 objects)

[code]

Enviroment:
[code]

Just wondering, Is this normal for flame? and how many fps do you use this example.

By the way, in `release` mode, It's about 42 fps, still have a bit far from 60 fps. According to the test, I think there is really le

[2020-05-14 14:10] erickzanardo commented on #81
@impulse did you confirmed if this is still happening?

[2020-05-14 14:16] impulse commented on #81
@erickzanardo didn't run into the issue again in the newer flame versions (tested it on 2 devices). I think we can close this.

[2020-05-14 14:17] erickzanardo commented on #81
Awesome news, going to close it then, Thanks!

[2020-05-14 14:17] #81 closed

[2020-05-15 01:49] glennmichaelmejias opened #335 "set flame screensize"
how to set the flame render size? because when i get the size on resize is 800x400 but my screen is 2160x1080. thanks.

ps: how to label this as a question?

[2020-05-15 03:03] erickzanardo commented on #335
Flame game is a widget and it will use all available size by its parent.

When the widget is passed to the runApp directly for example, it will use all te screen size.

[2020-05-15 03:05] #335 closed

[2020-05-15 03:07] erickzanardo commented on #321
Closing due inactivity, let us know if you have more question, or hit us on discord

[2020-05-15 03:07] #321 closed

[2020-05-15 03:07] erickzanardo commented on #320
Closing due inactivity, let us know if you have more question, or hit us on discord

[2020-05-15 03:07] #320 closed

[2020-05-15 03:08] erickzanardo commented on #312
Closing due inactivity, let us know if you have more question, or hit us on discord

[2020-05-15 03:08] #312 closed

[2020-05-15 08:13] spydon opened #336 "Effects improvements"
Things we could add to Effects:
- [x] Rotational effect
- [x] Sequenced effects (@erickzanardo's idea)
- [ ] Effect that can move along path, possibly just an extra parameter to MoveEffect
- [x] CombinedEffect, combine two effects into one, with potential offset in time to start
- [ ] ShakeEffect, an effect that inserts some noise to shake the component
- [ ] Elasticity
- [ ] Have an argument whic

[2020-05-15 13:10] erickzanardo commented on #336
I like the idea of both rotation and sequence effects.

But the Effect don't need to have an anchor, the component already has a property for that, and the effects are working fin with it.

[2020-05-15 15:38] spydon commented on #336
Good point!

[2020-05-15 16:23] erickzanardo commented on #330
I just made a small perfomance test, you can check it here: https://github.com/flame-engine/flame_perfomance_test_game

I am not sure why your example lead to those results. But as you can see on the example I sent it tops 60fps almost all the times, there are some spikes of low fps sometimes, but it is probably because of the non-performant collision detection method I used for this example.

Thi

[2020-05-15 16:23] #330 closed

[2020-05-15 16:24] erickzanardo commented on #330
Also, you could probably optimize your example by not doing the following calculation on ever render:

[code]

[2020-05-16 06:24] Tokenyet commented on #330
I think my example is an minimal example to test flutter's ability, Just want to share the profile I got in debug mode (Because cpu profile only available in debug mode).

![image](https://user-images.githubusercontent.com/6420527/82112556-6e475c80-9780-11ea-9cea-150e031f7e36.png)

By the way, I used the example [flame_perfomance_test_game](https://github.com/flame-engine/flame_perfomance_test_gam

[2020-05-16 14:15] erickzanardo commented on #330
@Tokenyet thanks for sharing this profile.

Indeed to use the `fps(120).toString()` you need a modified version of Flame to do that, I have already submitted a PR for, but it is still in discussion, but you can check it here https://github.com/flame-engine/flame/pull/337

Using Flame from that branch, you will be able to use the `fps` method.

[2020-05-17 13:36] yahel-ck opened #340 "Box2D WeldJoint throwing failed assertion exception"
An assertion exception is thrown whenever I add a WeldJoint to the Box2D world, no matter the configuration.

`'package:box2d_flame/src/math_utils.dart': Failed assertion: line 86 pos 10: 'out != v': is not true.`

The exception is thrown in some matrix/vector multiplication function. `out` and `v` are two parameters of type Vector2 or Vector3.
I've traced the back stack and it seems like the two

[2020-05-18 19:01] spydon commented on #340
I have never tried the WeldJoint I'm afraid, could you add a minimal example to reproduce the exception?

[2020-05-18 19:09] spydon commented on #324
@cranst0n this was just released in version 0.21.0

[2020-05-18 19:09] #324 closed

[2020-05-18 19:24] erickzanardo commented on #224
Multi tap and multi drag support added on `0.21.0`

[2020-05-18 19:24] #224 closed

[2020-05-18 19:24] erickzanardo commented on #247
Multi tap and multi drag support added on `0.21.0`

[2020-05-18 19:24] #247 closed

[2020-05-19 08:51] jackyanjiaqi opened #344 "After adding flame in pubspec.yaml flutter run cannot work on ios, No `Podfile' found in the project directory"
Here is my console error output:
[code]

[2020-05-19 09:38] jackyanjiaqi commented on #344
I put the project under a Chinese named dir,fixed by change to another english name.

[2020-05-19 09:38] #344 closed

[2020-05-20 13:18] Flavsditz opened #345 "Tiled Example broken?"
I have been trying a couple of the examples and a lot of them don't work on their current form.

One example which I was really trying to make it work is the Tiled example. It does throw the following error stack:

[code]

From what I can see the problem is that the `TileGame` class tries to use the TiledComponent which works with Futures and that is where everything starts to come down...

I read

[2020-05-20 14:09] erickzanardo commented on #345
A lot of the examples are a little old, and were made before a breaking change was introduced on Flutter, we try to fix them, but there is a lot of example and some are forgotten,
the fix is pretty easy though, just add this line first thing on the main method:

[code]

[2020-05-20 14:14] Flavsditz commented on #345
That sounds good!
If it works I'll close this issue and work on a pull request as thanks ;)

[2020-05-20 15:19] Flavsditz commented on #345
Just created a pull request! (Pull Request #346)

[2020-05-20 15:19] #345 closed

[2020-05-20 21:56] Doetheman opened #347 "Would you recommend this for card games?"
Working on a spade game. Would this be possible?

[2020-05-20 22:01] erickzanardo commented on #347
Only if the game has a lot of interaction and effects.

A card game (Poker or Solitarie for example) are turn based and effects, animations and stuff only happens under user input. For those cases Flutter itself should cover what you need.

You usually only need a game engine, when there is so much happening on the screen, and when most of the action is not triggered by a player input.

If you hav

[2020-05-20 22:01] #347 closed

[2020-05-22 10:50] yahel-ck commented on #340
[code]

[2020-05-25 00:01] glennmichaelmejias opened #353 "Box2d make body follow another body with speed."
How can I make a body follow another body with speed and angle like when a body moves, the other object follows and look at it too.

[2020-05-25 11:00] spydon commented on #353
When you create the following component just pass a reference to the object you want to follow and look at its properties in the update function and give for example angularImpulse and forceImpulse to match the one you are following.

These kind of questions fit much better in discord.

[2020-05-25 18:29] #353 closed

[2020-05-27 08:38] daizongheng opened #359 "How to play mp4 video"
I want to play an mp4 video when I open the software, and also play an mp4 video during the game. How can I achieve this?

[2020-05-27 08:59] spydon commented on #359
You can use a the normal flutter functionality for playing videos:
https://flutter.dev/docs/cookbook/plugins/play-video
You can put the video widget as an overlay widget or in a stack on top of the game.

[2020-05-27 09:31] daizongheng commented on #359
thank you very much!

[2020-05-27 12:04] #359 closed

[2020-05-29 01:47] HarrisonQi opened #360 "'BaseGame with TapDetector' inherits multiple members named 'onTapUp' with incompatible signatures."
`flame/doc/examples/effects/infinite_effects`

[code]

When I run this, console:
[code]
flutter doctor:
[code]

Is my code or environment incompatible?

I also tried to find how to "adding a declaration of 'onTapUp' to 'BaseGame with TapDetector'", but I did not find a solution...

[2020-05-29 02:33] erickzanardo commented on #360
You can’t use TapDetector on BaseGame on 0.21. This is already fixed on the develop branch and will be released on 0.22 soon

[2020-05-29 20:42] erickzanardo opened #361 "Prevent methods that can't be called on web to crash the game"
There are some methods, like `Flame.util.fullScreen` that catastrophically crashes the game.

I think we should or do nothing when the method is called and is web, or throw a better message.

[2020-05-29 22:05] spydon commented on #361
Is it possible to know the context from within the methods, whether it is in web or not?
Then we could maybe just make those methods a no-op when it is called from a web context.

[2020-05-29 23:03] erickzanardo commented on #361
It sure is, on the foundation lib there is a variable called kIsWeb.

I just wonder if we should just do nothing on this methods like you said, or to make an assert with a meaningful message

[2020-05-30 07:48] spydon commented on #361
I think we should do nothing in that case but write a warning log message, so that people can easily run their app on web with the same code.

[2020-05-30 19:07] luanpotter commented on #361
I just use kIsWeb on my games, eg (from GW):

[code]

[2020-05-30 19:57] erickzanardo commented on #361
So do I, the point here is to make these methods of Flame do not crash the game without any message/warning, which is what happens today

[2020-05-30 23:40] luanpotter commented on #330
Other things to optimize in your example:

1. you call canvas.saveLayer 500 times every frame, not sure why that is needed, if you use the component system that won't happen.
2. creating lots of instances on each component on render: if you used the component system, you wouldn't need to recreate a lot of instances for every component x every frame.
3. optimize objects: since your object don't mov

[2020-05-30 23:43] luanpotter commented on #305
that is how box2d works on any platforms. if you look any box2d tutorial out there they will all tell you to use real life dimensions and scaling.

[2020-05-30 23:59] luanpotter commented on #133
@renancaraujo if we did this we could use it instead of the gif on the splash screen plugin and allow any BG colours!

[2020-05-31 00:00] luanpotter commented on #227
I'm ok with both, sincerely I think we don't necessarily need to add asserts to all our `@required`, if we had the annotation the user will know already before even running the code. But I'm ok with it. We should def. add required were needed

[2020-05-31 00:02] luanpotter commented on #199
@erickzanardo this is fixed by 0.22 right?

[2020-05-31 00:03] erickzanardo commented on #199
Yeah

[2020-05-31 00:09] luanpotter commented on #193
@billy1380 I was unaware that particle means liquidfun. we do have some particle related classes on box2d.dart from when it was ported.

@renancaraujo @spydon do you know anything about this? maybe we had liquidfun support all along and didn't know?

[2020-05-31 00:10] luanpotter commented on #307
I think it might be a rounding error that slowly builds up?

[2020-05-31 00:10] #199 closed

[2020-05-31 00:16] glennmichaelmejias opened #363 "onForcePress not working."
I want to have that when i press the screen its continuous updating and only end the updates when the finger is release.

[2020-05-31 00:17] erickzanardo commented on #363
Please, make a good description on your issue, otherwise we can't help.

What is not working? Is there stacktrace? Etc..

[2020-05-31 00:18] glennmichaelmejias commented on #363
no, PanUpdate is working but the ForcePress is not. or I just messed something on how to implement it?

[2020-05-31 00:19] glennmichaelmejias commented on #363
or do you have suggestions on how I can implement a continuous tap on the screen and only stops when I release my finger.

[2020-05-31 00:21] erickzanardo commented on #363
you probably only need TapDetector, using onTapDown is fired when the touch starts and on onTapUp when the touch has ended.

[2020-05-31 00:22] glennmichaelmejias commented on #363
okay. so I have to declare a variable to detect if its on tap down and set it to false when on tap up?

[2020-05-31 00:24] erickzanardo commented on #363
You can find how to that on the documentation, please take a look on it: https://github.com/flame-engine/flame/blob/master/doc/input.md#example

[2020-05-31 00:25] glennmichaelmejias commented on #363
Thanks. I will close this now.

[2020-05-31 00:25] #363 closed

[2020-05-31 00:27] spydon commented on #193
No, we don't have liquidfun support.
Liquidfun is a larger extension of box2d than just the particle afaik.

[2020-05-31 10:49] glennmichaelmejias opened #364 "How to implement Listener class."
GestureDetector is slow in flutter, but the Listener is so fast, how to use it instead of using GestureDetector or the flames detectors?

[2020-05-31 13:40] erickzanardo commented on #364
We have never found any issues using `GestureDetector`, but if you don't want to use it, you can give it a try on the Multitouch detectors from Flame (you can find how on the docs).

And if you really want to use the Listener class, remember that a Flame game is a widget. So you can just wrap your game on that widget.

Please, prefer to ask those types of things on Discord, questions are more suit

[2020-05-31 13:40] #364 closed

[2020-06-01 01:58] HarrisonQi commented on #360
After upgrading to` 0.22.0`, it runs successfully👍👍👍

[2020-06-01 01:58] #360 closed

[2020-06-02 15:36] mindplay-dk opened #368 "Layers?"
Hi,

Wonderful, fun little framework! 😃

I am new to Flutter as well as to Flame, so I've looked at the documentation for Canvas as well as the Flame docs and tutorials, and maybe I don't know what to look for - but is there any support for layers of any sort?

For example, I'd like to have a background layer, and a separate layer with some tiles, and the tile layer would be rendered with a drop s

[2020-06-03 18:40] erickzanardo commented on #368
Hey, sorry, I saw your issue yesterday, but was kind busy and couldn't answer before.

Indeed Flame does not provides anything regarding that, usually, we rely a lot on the Canvas API and don't implement much stuff like that.

I found a method saveLayer on the Canvas, but I couldn't test it yet, and I am not sure if it does what you need.

You sure could do the individual sprite thing, In fact I h

[2020-06-03 21:30] spydon commented on #336
@erickzanardo what do you think about a CombinedEffect that combines two (or multiple maybe) effects with an optional offset in time between them?

[2020-06-03 21:39] erickzanardo commented on #336
This seems like a good idea, but I don't know how easy would it be to implement this, imagine a MoveEffect together a ScaleEffect, wouldn't the scaling mess with the repositioning?

Anyway, I think it is nice, I just worry that this would be a complex take.

[2020-06-03 21:44] spydon commented on #336
It would depend on the anchor I think, on a centered anchor it shouldn't look too weird.
Not sure how bad it would be on other anchors, I'll do some testing.

[2020-06-03 21:45] erickzanardo commented on #336
Actually, since we rely only on the curve progress, maybe we will not have any trouble... Anyhow, it would be nice to do some testing, let me know how it turned out.

[2020-06-03 22:17] luanpotter commented on #368
We have the priority property to determine kind of the zindex of components. other than that, to determine "layers" as pre-rendered group of objects, I use PictureRecorder to create a in memory image. For example, for Tile maps, I draw the tiles on an image and then render that image on the canvas. Not sure if these concepts help you. Would be cool to try to figure out something more akin to a lay

[2020-06-03 22:21] erickzanardo commented on #368
I am on it, should submit a PR soon.

[2020-06-04 06:38] spydon commented on #336
It worked fine. :)
I think it would also make sense to have an optional anchor on the effects which can override the component anchor.

[2020-06-04 13:21] therockerline opened #372 "Keyboard"
When I have one key pressed and at the same time I press another one, then the ```RawKeyUpEvent``` event is triggered for the first key even if I am still physically pressing it and for the second key the ```RawKeyDownEvent``` event is triggered as it should be. Later if I actually release the first key, the ```RawKeyUpEvent``` event is called again. Is there any solution for these problems?

[2020-06-04 13:31] erickzanardo commented on #372
Which platforms does this happens? Can you share a reproducible code of this?

Be aware that keyboard support is totally provided by Flutter class RawKeyboard, so this could be a problem originating there.

[2020-06-04 14:17] therockerline commented on #372
I'm experiencing the problem with flutter web.
In the android version it's a mess. If I press a key, each frame makes an event change between ```RawKeyDownEvent``` and ```RowKeyUpEvent``` making it impossible to use the keyboard.
Also in the web version ```labelName``` is null so I can understand what key I am pressing only via ```debugName``` or the keyId, but this is not very important.
This is

[2020-06-04 22:45] erickzanardo commented on #372
Okay, I have made a small plain flutter example and was able to reproduce the problem, this is totally a Flutter issue, I have opened an issue there: https://github.com/flutter/flutter/issues/58727

Keeping this open to track the problem.

[2020-06-05 12:22] spydon opened #373 "Vector2 - Unify to one tuple format"
Since we are starting to plan for 1.0.0.

Let's consolidate Size, Position, Offset (Any more?) into one type, suggestion Vector2.

Reasoning: It will be less confusing than today where for example Size is a Position in flame and Size in Flutter and we (and our users) will also easily be able to do operations between them.

Maybe we could also convert box2d to use this new type instead of its own V

[2020-06-05 12:27] spydon commented on #336
CombinedEffect is almost done so I think that one will be aimed for 0.23.0 along with a fix for a drifting bug that I found.

For 1.0.0 I will propose a general update to the effects where you can choose if you want them to be relative or absolute.

Potentially I will also fix so that when `isInfinite: true` and `isAlternating: false` the effect will start from the beginning instead of from where

[2020-06-05 12:45] erickzanardo commented on #373
I am all for this, but I would suggest Vector2d. And to rename the Position class, to not loose all the work that is already done there.

[2020-06-05 14:21] spydon commented on #373
Are there that much that we gain from using Position than from using something more standardized like https://api.flutter.dev/flutter/vector_math/Vector2-class.html ?
I can only think of adding angles expressed as doubles.

[2020-06-05 15:50] cedarbob opened #374 "Is applyTorque working in box2d?"
I'm trying to port some java steering behaviors to dart and can't get body.applyTorque to work.  I'm having no problems with body.applyAngularImpulse, but the code I'm porting uses applyTorque.  I added a trivial SpinnerTest class to the box2d_flame example (also added a reference to it in index.html and set gravity to 0 in demo.dart just for the purposes of this test) to verify the issue.  Spinne

[2020-06-05 21:17] spydon commented on #374
Hello @cedarbob,
your body type is dynamic, applyTorque only works on non-dynamic bodies.

[2020-06-05 23:41] cedarbob commented on #374
That's odd.  I'm just trying to port some of the GdxAI steering behaviors to dart.  And in the process I'm porting many of their Box2d tests.  And they use dynamic bodies for their steering behaviors and applyTorque to generate angular velocities.  For example, this excerpt is from Box2dSteeringTest.java:
\\\
	public Box2dSteeringEntity createSteeringEntity (World world, TextureRegion region, bool

[2020-06-06 14:09] spydon commented on #374
The box2d implementations probably differ a bit, the dart port is from jbox2d and you can see here that it has the same behaviour:
https://github.com/jbox2d/jbox2d/blob/d958f4fadb5f756d5f48b809866dc42b7a446b2e/jbox2d-library/src/main/java/org/jbox2d/dynamics/Body.java#L525

[2020-06-06 14:23] spydon commented on #193
Actually I think I was wrong, I think we have liquidfun support.
According to jbox2d which the dart port comes from it says:

[2020-06-06 14:33] cedarbob commented on #374
I don't pretend to understand the box2d code very well.  But I did take the trouble to build and run some of the jbox2d testbed tests to investigate the issue.  In particular, I ran the Apply Force test and without giving the spaceship body any linear force or velocity I was able to rotate it clockwise and counterclockwise using the "a" and "d" keys - which just apply a torque of +/- 20.  Here is

[2020-06-06 14:43] spydon commented on #374
Aah, I read the code completely wrong.
It clearly says that it should only run if it is a dynamic body, which makes sense.
Then it is weird that it doesn't work in our version.
Reopening the issue.

[2020-06-06 15:08] spydon commented on #374
I found the issue, I'll submit a PR for it.

[2020-06-06 15:48] spydon commented on #307
I don't think this is a rounding error, I think it is that since `dt` will be so large when the solver is called again that it will think that the bodies haven't moved or had any interaction for a long time so it puts them to sleep.
https://github.com/flame-engine/box2d.dart/blob/master/lib/src/dynamics/island.dart#L393

[2020-06-07 16:51] luanpotter commented on #373
I think the main motivation of having a (own) Position class was to be able to easily add methods as needed. The classes from the stdlib like Offset and Size are extremely limited on what they provide for vector operations. Maybe this lib has more stuff (and by the name it should), but then we get back to not being able to add more stuff as we needed. I agree we can rename Position to Vector or Ve

[2020-06-07 16:52] luanpotter commented on #193
Maybe what we need them is just an example to showcase some liquidfun specific functionality? That will also ensure our port of a port works as intended. @renancaraujo or @spydon would you like to think of something? I myself am a bit unclear on the exact distinction of both, I originally thought it was a totally different project but it seems it was something that was eventually merged into box2d

[2020-06-07 16:54] luanpotter commented on #374
Fixed by #377

[2020-06-07 16:54] #374 closed

[2020-06-07 17:04] spydon commented on #373
Then we still have to convert things when they interact with box2d though. We could have an extension of Vector2 if we just want extra methods on top of it, and it would still be able to do the efficient vector operations implemented by Vector2.

[2020-06-07 20:58] spydon commented on #368
jrsonica mentioned on Discord that the current implementation won't work with web yet, just thought I'd put the referenced issues here so that we keep track of them:
drawPicture: https://github.com/flutter/flutter/issues/48491
saveLayer: https://github.com/flutter/flutter/issues/48417

[2020-06-07 22:48] erickzanardo commented on #368
Awesome, thanks for opening the issues, but I am almost sure that those methods works when using the skis method, which should always be used when developing games for web with flame.

Although it would be good if it worked without skia, as it easy for development process

[2020-06-13 20:09] Jayx239 opened #378 "Sprite transforms"
I am currently working on a game and the sprite sheet I am using has odd layouts for some of the sprites. For example, the sprite sheet has images that go in order from left to right as well as others that go top to bottom and some that are angled diagonally. For this particular sheet, the sprites are essentially the same images, just rotated. I would find it useful to have the ability to do the f

[2020-06-15 15:14] billy1380 opened #380 "upgrade to latest version of tiled"
Using a more up to date version of *tiled* in the project causes this issue.

Because flame 0.21.0 depends on tiled ^0.2.1 and no versions of flame match >0.21.0 <0.22.0, flame ^0.21.0 requires tiled ^0.2.1.
So, because ... depends on both flame ^0.21.0 and tiled ^0.4.0, version solving failed.
pub get failed

[2020-06-15 15:16] erickzanardo commented on #380
Already been handled on #379

[2020-06-15 16:10] billy1380 commented on #380
Ah... I did a search on the issues not the pull requests... so sorry!

[2020-06-15 16:10] #380 closed

[2020-06-15 17:03] erickzanardo commented on #380
Don't worry 😉

[2020-06-15 17:05] erickzanardo commented on #378
I am not sure if I understood correctly. But if you want rotate, flip and etc a Sprite, `SpriteComponent` already supports a lot of those transformations. And even if not using Components, most of transformations are available on the Canvas.

Could explain better what is your need?

[2020-06-16 17:09] OsaXma opened #381 "Add SpriteSheet.fromImage() to SpriteSheet"
Greetings,

Thank you all for the amazing package.

**Suggestion**:
- Add `SpriteSheet.fromImage `constructor to `SpriteSheet` class

**Reasoning**:
Unlike `Sprite`,  which has a constructor named `Sprite.fromImage`, `SpriteSheet` doesn't have a named constructor to load a spritesheet from an existing image (i.e. not from assets). For instance, in the case of having some sort of a character genera

[2020-06-16 21:53] erickzanardo commented on #340
@spydon any insights on this?

[2020-06-17 14:33] aloisdeniel opened #383 "Networking"
Do you plan to add helpers for networking too?

Implementing everything on top of UDP can be tedious and having basic helpers to manage
package ordering, prediction for example would be very useful I guess.

For exemple [Godot](https://docs.godotengine.org/en/stable/tutorials/networking/high_level_multiplayer.html) provides high level networking helpers.

This low level tools would be useful for r

[2020-06-17 14:35] spydon commented on #383
Hello, I'm a bit puzzled, why would you need to implement everything on top of UDP?
You can use all of Flutters excellent networking libraries.

[2020-06-17 14:38] erickzanardo commented on #383
Not on the foreseeable future, Netcode is something very complex that requires maybe its own project, and we still have bunch on other areas of Flame to improve/work.

And like spydon said, there is plenty of good network libraries for flutter, which could easily be used alongside Flame.

One thing that I hope that we can do someday, is to enable support for colyseus https://colyseus.io/

But even

[2020-06-17 14:39] aloisdeniel commented on #383
@spydon  Relying on TCP (HTTP/Websocket) is not enough for realtime communications. Real time games generally use UDP to avoid the extra cost of synchronisation of the TCP layer (packet ordering).

@erickzanardo Thanks !

[2020-06-17 14:41] erickzanardo commented on #383
Will keep this open for reference from people with the same questioning.

@aloisdeniel if you come up with some helpers for that and want to contribute, send us some PRs, that would be awesome!

[2020-06-17 14:44] aloisdeniel commented on #383
@erickzanardo Sure! I'll to try to use websockets first to see if it is enough, but wanted to ask if you thought about something else first. :) If I go further with UDP I'll share my reflections here.

[2020-06-17 16:31] aloisdeniel opened #384 "Camera rotation and scale"
I'm trying to scale all the rendering of my game and I wonder if it is possible to change it globally (just like Camera's position).

It may be more natural to change the `Camera` object to add rotation and scale.

[code]

[2020-06-17 16:38] #384 closed

[2020-06-17 16:39] aloisdeniel commented on #384
My mistake, it is already the case with the `Position` object.

[2020-06-17 16:43] erickzanardo commented on #384
@aloisdeniel consider joining our discord for questions, it is an easier and faster way to ask them 😉

You can find the invite on the README

[2020-06-17 22:10] #245 closed

[2020-06-18 10:53] spydon commented on #340
I started looking into it, but I don't really get what is happening, @yahel-ck might be onto something about both being null. I will look more into it on Sunday.

[2020-06-18 21:27] d-apps opened #386 "Update flutter_svg package to fix build problems on master channel"
Flutter SVG's PictureStream class is generating an error  when trying to run the project.

Could you please update fluter_svg package to fix an error on build? The current version that flame last version is using is **^0.17.4**
I'm using master channel because all of my projects was made in master, but I'm having this error.

According to [this](https://github.com/dnfield/flutter_svg/issues/364) i

[2020-06-18 21:37] erickzanardo commented on #386
Thanks for reporting that, but be aware that we keep Flame support to the beta channel, you may need to change to the beta channel for now.

There is already a PR for that (#379) and future versions should be working already.

[2020-06-18 21:37] #386 closed

[2020-06-18 21:42] erickzanardo commented on #381
Solved on 0.22.1

[2020-06-18 21:42] #381 closed

[2020-06-18 21:44] erickzanardo commented on #336
@spydon Can you help me update the checklist on this after the release of the `0.22.1`?

Also, maybe we should have separate issues for which improve? Otherwise this issue will live forever

[2020-06-19 09:56] spydon commented on #336
Updated the checklist!

[2020-06-20 18:03] compositephp commented on #336
It would be great to be able to add onComplete callback to effects.
Maybe it’s not difficult to implement and you can add it to flame?

[2020-06-20 22:19] spydon commented on #336
Very good idea, and should be easy to implement. I'll have a look at it tomorrow.

[2020-06-20 23:06] alanlanglois opened #387 "Remove component method / or a better way to destroy them."
Removing component from screen should be easier and as easier as adding.

We should be able to set the destroy method or pass an argument true from the wrapper
`this.text.destroy(true);`
Or have this kind of API : `this.add(text); ` & `this.remove(text);`

Have a look on [Starling](https://manual.starling-framework.org/en/#_display_programming), the whole display list concept, is pretty easy and c

[2020-06-21 13:34] erickzanardo commented on #387
Alright I submitted a PR to add the remove method.

I still want to change the Components to change the method `destroy` to be a `bool destroyed` property. But that will be something to the `v1` since it is a major breaking change.

[2020-06-24 01:18] illiapoplawski commented on #378
I'm also interested in a similar feature (I believe it's the same as what @Jayx239 is proposing so let me know if I'm asking the same thing @Jayx239 ).  Currently, spritesheet in flame only handles identically sized sprites and they are stored 2D grid using their x,y index times their width to determine their position in the sprite sheet.  However, some sprite sheets (like in my situation) have di

[2020-06-24 02:34] erickzanardo commented on #378
If I understood correctly, most of what you need is provided by the fire atlas tool that we provide for Flame. The only thing missing, which would be a nice addition, is the angle.

Please take a look on our GitHub organization for the fire atlas project, it should pretty straight forward to understand how to use it, I am away from a computer now and can’t elaborate much right now, but I sure can

[2020-06-24 09:44] spydon commented on #336
@compositephp this is implemented in #393 and will be released in the next version of flame. :)

[2020-06-24 10:57] erickzanardo commented on #387
This is already fixed on the develop branch and should be on the next release.

[2020-06-24 10:57] #387 closed

[2020-06-24 20:06] illiapoplawski commented on #378
It will definitely be promising after it supports rotation.  In my case I won't be able to use it normally as I am making a puzzle app that gives the user full control over how the pieces are created and shaped.  To optimize the app better, I have ported over this [project](https://github.com/TeamHypersomnia/rectpack2D) to dart to parse through all the puzzle pieces automatically and generate a sp

[2020-06-24 20:16] erickzanardo commented on #378
Very interesting @illiapoplawski , so If indeed this issue is about what fire atlas is meant to do, I am going to close this issue and ask the the author, or even you @illiapoplawski if you are up to, to open improvements issues on the fire atlas repository, so we can track this on the correct repository.

[2020-06-24 20:16] #378 closed

[2020-06-25 14:16] compositephp commented on #336
Many thanks! This callback is very useful.

[2020-06-26 08:07] spydon opened #395 "Effect that move along path"
Create an effect that moves along a path, possibly just an extra parameter to MoveEffect.

[2020-06-26 08:08] spydon opened #396 "ShakeEffect"
An effect that inserts some noise to shake the component.

[2020-06-26 08:09] spydon opened #397 "Elasticity for effects"
Create an effect/argument that can make the component looking elastic.

[2020-06-26 08:12] spydon opened #398 "Relative or absolute argument on effects"
Have an argument which decides whether the effect should be relative or absolute.
For example, if a component's effect has size: 10 as an argument, should the component be resized to 10 (absolute) or add 10 to the size of the component (relative).

[2020-06-26 08:13] spydon commented on #336
Split up issue into smaller issues.

[2020-06-26 08:13] #336 closed

[2020-06-26 09:31] spydon commented on #373
Scrap that, the Vector2 class is close to useless when it is extended because everything depends on factories that creates a Vector2.

[2020-06-26 10:07] multivoltage opened #399 "Change backgruond color of game"
I cannot understand how to change the black color of game. In my case I want to set a transparent background

[2020-06-26 11:24] erickzanardo commented on #399
You can change it by overriding the `backgroundColor` method on your Game class.

[2020-06-26 11:24] #399 closed

[2020-06-27 12:20] spydon commented on #373
Maybe we should keep Offset as it is? Since that one is used as an immutable data structure meanwhile Vector2d will be used as a mutable one.

[2020-06-27 15:14] DanTup opened #401 "Provide access to artboard within FlameComponent"
It seems like there's currently no way to access the FlareAnimation or FlutterActorArtboard from a FlareComponent. This means it's not possible to manipulate things other than the animation (for example to [change colours](https://github.com/2d-inc/Flare-Flutter/tree/master/example/change_color)).

Is this something that could be supported? (I can send a PR that just adds some getters if that woul

[2020-06-27 17:33] erickzanardo commented on #401
We are reworking all the API of our support of Flare for v1(you can see more on this WIP: https://github.com/flame-engine/flame/pull/328)

@renancaraujo can provide more context, Renan, please help us on this issue.

[2020-06-27 18:11] DanTup commented on #401
Ah, cool - I'll keep my eye on that PR and see if it does what I need when it's a bit closer.

As an aside - it felt a bit weird for the relative paths passed to FlameComponent to require "assets/" in them. This seemed different to the other classes (eg. sprite, which is relative to "assets/images/").

[2020-06-29 13:35] ironbatshashank opened #404 "Remove deprecated methods"
Some methods are deprecated from the util package and should be removed from documentation to avoid confusion.
For example, addGestureRecognizer() has been removed from flame.util  and some more methods should be looked into

[2020-06-29 13:38] erickzanardo commented on #404
That is already planned to happen for the v1 version, you can check it here https://github.com/flame-engine/flame/projects/1#card-40463501

[2020-06-29 13:38] erickzanardo commented on #404
I am gonna keep this open so we can track this on this the issues as well

[2020-07-01 14:18] erickzanardo opened #407 "Move the SVG support to a separated library"
The `flutter_svg` library is requiring the beta channel, which is not a bad thing, but that makes Flame get [UNIDENTIFIED] on pub.

Since SVG is only one feature from a big set of feature that Flame provides, I think we should move the svg support to a separate dependency, so the main repository don't take that hit on pub. We should then create the `flame_svg` package.

[2020-07-02 21:31] cyberlahy opened #410 "image from newtork"
Hi,
Any plan to load image from network with sprite?

thanks

[2020-07-02 22:59] erickzanardo commented on #407
Fixed on #408

[2020-07-02 22:59] #407 closed

[2020-07-07 04:20] d-apps opened #413 "Implement an optional parameter to do not block gestures after calling addWidgetsOverlay method"
My request is to implement for example a bool value as parameter to block or don't block gestures in game when calling addWidgetsOverlay, this could make very easier to add simple buttons to the screen without need to add a new Component just to add a simple button to the screen for example.

addWidgetsOverlay("Pause Button, PauseButtonWidget(), **blockGestures: false**");

[2020-07-07 11:52] erickzanardo commented on #413
I am not sure I understand the need of this. The method is meant to add an overlay on your game, so it will sure block the gestures. I don't even think this is something possible to do.

Also, the widget is supposed to block only the space it occupy.

[2020-07-07 11:55] erickzanardo commented on #410
Sprites on Flame are loaded based on a `dart:ui` Image class, so it is pretty easy to obtain an image from the network, without the need of Flame.

You just need to use a http package like the `http` or even `Dio` package, than you can use the `decodeImageFromList` from the `dart:ui`, and then just pass it to your Sprites. So I don't really think there is much thing need on the Flame side for this

[2020-07-07 13:04] #249 closed

[2020-07-07 16:41] d-apps commented on #413
I'll try to explain the issue more detailed.

My game uses **PanDetector** to drag the player through the screen,

[code]

I need to add a pause button in game on the top-right of the screen, to the user pauses the game when he needs.

![image](https://user-images.githubusercontent.com/20110433/86812767-c2224380-c055-11ea-991e-784db4019f48.png)

I realized that was two ways to do it:

**First (the

[2020-07-07 17:23] erickzanardo commented on #413
It seems you are not using the `HasTapableComponents` on you game class.

Please check the docs: https://flame-engine.org/docs/input.md#tapable-components

[2020-07-07 17:30] d-apps commented on #413
I just forgot to add here, because I wrote the code from scratch, didn't copy from the project, added now.

[2020-07-07 17:36] d-apps commented on #413
I am not sure what really solved the problem, but I solved removing the Container from the Pause Button widget.

[code]

And removing HasTapableComponents mixin (not sure if it was conflicting with anything), now it's working.

[code]

[2020-07-07 17:37] #413 closed

[2020-07-08 15:02] filleduchaos opened #414 "AnimationComponents not rendering at the correct position on web"
Basically, I'm trying to add web support to https://github.com/filleduchaos/grey_silence and I've hit a snag where AnimationComponents are being rendered out of place. For example compare this screenshot from Chrome (debug mode turned on for illustrative purposes):

<img width="641" alt="Screenshot 2020-07-08 at 3 51 13 PM" src="https://user-images.githubusercontent.com/29291843/86934543-bb69fe00-

[2020-07-08 15:05] erickzanardo commented on #414
@filleduchaos can you confirm if you are using skia to render the game? There can be weird effects when not using skia on web.

[2020-07-08 15:13] filleduchaos commented on #414
@erickzanardo no, not using skia. Will try again with that

[2020-07-08 15:18] filleduchaos commented on #414
@erickzanardo Okay so the sprite renders as intended with skia, but now I have a new error (`CanvasKit threw an exception while laying out the paragraph`) :(

[2020-07-08 16:01] #414 closed

[2020-07-08 16:29] erickzanardo commented on #414
That paragraph issue is solved on `0.24.0` of Flame :D

[2020-07-09 02:25] filleduchaos commented on #414
@erickzanardo alright now this is getting slightly weird 🙈 I don't quite want to open another issue for it since it's such a small thing, but there's a tiny somewhat breaking change in `0.24.0` - specifically that the `TextConfig` constructor is no longer `const`. I'm not sure if that's intentional because all the class fields are still final

[2020-07-09 02:53] erickzanardo commented on #414
Yes, it is intentional, we had to add a cache for the text painters created for rendering the texts. That solved a weird crash that used to happen on web.

And by adding that cache on the class, the constructor couldn’t be const anymore.

[2020-07-09 18:53] wolfenrain commented on #158
In case anyone stumbles upon this issue, I am currently adapting some Box2D C++ tutorials to work with dart: https://wolfenra.in/series/dart-box2d-fundamentals/

[2020-07-10 02:16] erickzanardo commented on #372
Sent a PR to address this on the flutter engine: https://github.com/flutter/engine/pull/19632

[2020-07-10 04:08] d-apps opened #416 "Game not running on web"
Everytime I try to run my game on web it gives me the error below, the game works fine on phone.

![image](https://user-images.githubusercontent.com/20110433/87114685-95358280-c247-11ea-91cb-cb13c14248fb.png)

![image](https://user-images.githubusercontent.com/20110433/87114708-a9797f80-c247-11ea-9e96-cc6c3ce2f7be.png)

**Could not load content for http://localhost:52472/C:/src/flutter/bin/cache/f

[2020-07-10 12:03] erickzanardo commented on #416
This seems too deep on the flutter to be an issue on Flame, it rather seems a problem with your installation or Flutter itself.

To try to track this, can you share the full part of the code that you omitted here:

[code]

[2020-07-10 12:05] erickzanardo commented on #416
btw, it seems that you are using dom to render your game, that is not recommend for Flame games, you should use skia instead.

You check how to use skia on web on this work in progress PR https://github.com/flame-engine/flame/pull/415/files

[2020-07-10 16:31] d-apps commented on #416
[code]

Only running this command it will use skia instead? If it's not recommended to use dom to render game, shoudn't be skia by default when using flame? if not, the command below will change to skia for all "flutter run"?

**flutter run -d chrome --release --dart-define=FLUTTER_WEB_USE_SKIA=true**

[2020-07-10 17:01] erickzanardo commented on #416
That is not something that Flame can do, Flame is just a package in the end. But would be very cool if there were a way t do that

Yes, that is one of the ways

[2020-07-10 17:30] d-apps commented on #416
I tried with skia but got the same error.

[2020-07-10 17:51] erickzanardo commented on #416
Did a quick search on google and found this issue. This seems to be related https://github.com/flutter/flutter/issues/60235

[2020-07-10 17:56] d-apps commented on #416
But your games like Flame and Watch, Rogue Shooter, works on web right? They were build beta channel too?

Bonfire works on web too: http://rafaelbarbosatec.github.io/bonfire/#/

Maybe a diferent beta version? That's strange.

[2020-07-10 17:58] erickzanardo commented on #416
have you tried running one of these projects on your machine?

[2020-07-10 18:28] d-apps commented on #416
Trying to run rogue_shooter I have this error about favicon.

![image](https://user-images.githubusercontent.com/20110433/87186492-f863fb00-c2c1-11ea-8e04-97f8c2501e41.png)

[2020-07-14 14:20] erickzanardo commented on #416
That is hardly related to the original issue, and this is just a matter of not having configured the favicon on the project rather than a real problem.

Anyway, have you been able to solve your issue? Is there any other help we can provide?

[2020-07-14 15:35] d-apps commented on #416
But a favicon error shouldn't stop to run the game right? I still the first error I described.

[2020-07-14 16:06] erickzanardo commented on #416
No and I doubt that this error is preventing you for running the game, I will try running rogue shooter on web when I get some time and will report back.

[2020-07-14 20:51] erickzanardo commented on #416
I just tested rogue_shooter on the web, and everything is working fine, I just had to update the codebase to the latest flame version, as the version that it was using previously (0.19.1-beta) wasn't compatible with the current beta channel.

Like I said, the favicon is really not the problema, as that error has occurred on my test, but didn't prevented the game from running.

Have you tried runni

[2020-07-14 21:09] d-apps commented on #416
I am building a flutter web site and it's working fine.
I already reinstalled flutter sdk, delete all files inside flutter's sdk folder, downloaded and re-extracted a fresh new folder. (C:/src/flutter).

It's strange because I am using same packages in another flutter web project, the only difference is this two packages; flame and flame_scrolling_sprite.

Even if I am not rendering anything on th

[2020-07-14 21:19] erickzanardo commented on #416
We use path provider on Audio players iirc, can you add this version on a plain flutter app and try it there?

  path_provider: ^1.5.1

[2020-07-14 21:46] d-apps commented on #416
I tried using path_provider versions: ^1.5.1 and ^1.6.11 on an Counter flutter web project and it worked fine.

I think I'll open an issue with this specific problem, there is one or two issues already opened about overflow but not about overflow on channel of the path_provider?

[2020-07-14 21:49] erickzanardo commented on #416
@spydon @renancaraujo @luanpotter can you please try running the rogue shooter project on web and see if that issue happen on your machine? Maybe more people testing we an try to simulate this.

[2020-07-14 21:52] d-apps commented on #416
When you have some time, if you want, you can access my machine through teamviewer and we can test investigate together.

[2020-07-14 22:13] d-apps commented on #416
I found the problem just not the solution yet, it's something about the audios, If I comment them, the game works, but the audios work on phone sp it's overflowing only on channel of the path_provider when running on web.

[code]

[2020-07-14 22:16] erickzanardo commented on #416
Dammit, how did I missed that, you cannot call load from the audio on web, please, there is an issue to track methods that can't be called on the web, please comment about that on that issue and close this one.

[2020-07-14 22:24] d-apps commented on #416
If you could add this information about not loading audios if is web will be very helpful.

if(!kIsWeb){
    await Flame.audio.loadAll(
        [

          "title_screen.mp3",
          "button.mp3",
          "stage_1_audio.mp3",
          "stage_2_audio.mp3",
          "stage_3_audio.mp3",
          "stage_4_audio.mp3",
          "stage_5_audio.mp3",
          "boss.mp3",

        ]
    );
  }

[2020-07-14 22:25] #416 closed

[2020-07-15 14:04] obitodarky opened #419 "Rename Animation Class"
Flutter has it's own `Animation` class in Material Library which is very conflicting while using Flame's `Animation` class.
IDE doesn't suggest importing the Flame's Animation class but instead takes Flutter's class as Default, even after importing, the IDE still throws an error that problems will occur while using classes with the same name.

![Screenshot 2020-07-15 at 7 27 58 PM](https://user-im

[2020-07-15 14:05] obitodarky commented on #419
I'd love to work on this issue @luanpotter @renancaraujo :)

[2020-07-15 14:11] erickzanardo commented on #419
This discussion has been raised already and we don't see the need to rename this.

Yes there has that name clash, but this is not the only one that can clash and since the Flutter framework has a lot of classes and features, it is unlikely that we can prevent all the name clashes.

Using the `as` on import is not a workaround IMO, it is supposed to be used exactly on situations like this.

And thi

[2020-07-15 16:01] d-apps commented on #361
We cannot preload audios too when running on web or it crashes, it overflows the path_provider channel.

`Overflow on channel: plugins.flutter.io/path_provider.  Messages on this channel are being discarded in FIFO fashion.  The engine may not be running or you need
to adjust the buffer size if of the channel.`

To prevent this just use kIsWeb to check if it's running on web.

if(!kIsWeb){
    awa

[2020-07-16 03:37] obitodarky commented on #419
@erickzanardo I guess that kind of makes sense, but since Flame Components are very independent, people who are new to it and learning it may find it frustrating. I myself was just trying to play around with Flame and this happened, I couldn't figure out what the problem was because the `Animation` class I used didn't show any error at all, rather just told me that there was no such message for th

[2020-07-16 04:15] obitodarky opened #420 "Page Not found in Doc"
In the `Getting Started` section in the docs, under `Topics`, the links don't have a proper redirect and show a 404 page not found in all links.

https://flame-engine.org/docs/

I checked out the links and all of them look somewhat like this

https://github.com/flame-engine/flame/blob/master/structure.md

The original files are inside the `doc` directory so I believe, all the links just need `mast

[2020-07-16 04:15] obitodarky commented on #420
I'd like to work on this issue :)

[2020-07-16 04:35] obitodarky commented on #420
Closing this issue since it seems to be a problem with the site. So I've submitted the issue to the site repo instead:

https://github.com/flame-engine/flame-engine-site/issues/3

[2020-07-16 04:35] #420 closed

[2020-07-16 10:09] HesterS opened #421 "Paint.isAntiAlias is null while loading flare animation with flame"
I am creating an application for android and am getting the following error when trying to play a flare file made with svg images:

E/flutter ( 1413): [ERROR:flutter/lib/ui/ui_dart_state.cc(166)] Unhandled Exception: Failed assertion: boolean expression must not be null
E/flutter ( 1413): #0      Paint.isAntiAlias= (dart:ui/painting.dart:1114:25)
E/flutter ( 1413): #1      FlutterColorFill.update

[2020-07-16 13:22] erickzanardo commented on #419
@obitodarky even though I am not sure about the renaming, we did an extensive discussion with the tema ad @renancaraujo convinced us that `SpriteAnimation` is a better name, as it gives more context about what the animation is about.

We will do that for the `v1` since this is a total breaking change.

Thanks for raising that discussion @obitodarky

[2020-07-16 13:34] obitodarky commented on #419
@erickzanardo that's great `SpriteAnimation` seems a viable name. I'd really love to be involved in this issue, is there any way I can help?

[2020-07-16 13:37] erickzanardo commented on #419
@obitodarky, @renancaraujo is going to handle that issue, if you two can find a way to collaborate it would be awesome, if you are not yet, I suggest you join our discord, so you two could communicate easier.

[2020-07-23 10:11] lohitbura opened #422 "Because every version of flutter_test from sdk depends on xml 3.6.1 and tiled >=0.4.0 depends on xml ^4.2.0, flutter_test from sdk is incompatible with tiled >=0.4.0. And because flame >=0.24.0 depends on tiled ^0.6.0, flutter_test from sdk is incompatible with flame >=0.24.0. So, because flutter_game depends on both flame ^0.24.0 and flutter_test any from sdk, version solving failed. pub upgrade failed (1; So, because flutter_game depends on both flame ^0.24.0 and flutter_test any from sdk, version solving failed.)"

[2020-07-23 10:12] lohitbura commented on #422
Should I reduce flame version or what ??

[2020-07-23 11:37] erickzanardo commented on #422
Please, use meaningful titles and description when opening a issue.

Anyway, you have two alternatives here

 - Stay on stable and replace the `flutter_test` dependency from the sdk to the `test` package from pub
 - Go to the beta channel

[2020-07-24 02:19] ProgrammingLife opened #423 "How to drag an image?"
I'm thinking about ```onTapDown()``` and ```onTapUp()```. But what about something like ```onTapMove()```? :)
How do I get coords when my image is pressed and dragging? Should I use ```MultiTouchDragDetector``` and detect just the first touch?

[2020-07-24 02:45] erickzanardo commented on #423
Please, take a look on the input section of the documentation, there are similar mixins like TapDetector but for for dragging, like PanDetector.

[2020-07-24 03:02] #423 closed

[2020-07-24 16:01] erickzanardo commented on #422
Let us know if there are still doubts about this.

[2020-07-24 16:01] #422 closed

[2020-07-24 16:03] erickzanardo commented on #410
closing due inactivity

[2020-07-24 16:03] #410 closed

[2020-07-24 16:05] erickzanardo commented on #421
Please, use markdown when share stacktrace or code, it is so much more better to read and by not doing so, this issue just referenced a bunch of pull requests and issues that have nothing to do with this issue.

@renancaraujo can you help here?

[2020-07-24 17:54] ProgrammingLife commented on #422
I have the same issue.

[2020-07-24 18:42] erickzanardo commented on #422
Just the remove the flutter_test dependency that is on your pubspec, and drop that one instead: https://pub.dev/packages/test

About the beta channel, I am talking about flutter's beta channel, so you can just run `flutter channel beta`, and keep using fame 0.24.0 from pub

[2020-07-24 22:27] ProgrammingLife opened #424 "What's the top method of the engine which calls render()?"
Wanna make some changes in render process in my own implementation but I can't find out what's the top render() method of the engines which calls other render() methods? What's the start point for all of this rendering system? Wish to know a little more about the engine structure.

In short words I wanna know what Flame's method calls my MyGame.render()? (MyGame extends BaseGame)

[2020-07-25 02:44] ProgrammingLife opened #425 "Flame breaks other CustomPainter's paint() methods?"
I've created some CustomPainter and set shouldRepaint to false. So it shouldn't repaint my CustomPainter forever, right? But it does.
Only when I remove game.widget from my scene then all works fine as expected. What does Flame-engine change in terms of Render? Or maybe I do something wrong?

[code]

[2020-07-25 03:38] erickzanardo commented on #424
Here: https://github.com/flame-engine/flame/blob/fb478f465bdc314ebcca70e759c91ad5b114f570/lib/game/game_render_box.dart#L66

Please prefer to use our Discord server for this kind of question.

Closing this as this is not an issue.

[2020-07-25 03:38] #424 closed

[2020-07-25 03:50] erickzanardo commented on #425
To discover the root cause of this we would need to dig a lot, but CustomPainter can be repainted even if the shouldRepaint method returns false:

From: https://api.flutter.dev/flutter/rendering/CustomPainter/shouldRepaint.html

My guess is that since we use a Ticker and marksRepaint to create the render loop and that may be triggering the CustomPainter to repaint.

Also, by a quick look on your c

[2020-07-25 04:43] ProgrammingLife opened #426 "'ComposedComponent' can't be mixed onto 'PositionComponent'"
Tried to deal with ComposedComponent which describes here https://flame-engine.org/docs/components.md but I faced an issue:

My attempt was simply just:

[code]

How to properly use it in this way?

[2020-07-25 08:07] ufylord commented on #426
The code of ComposedComponent is below ( [link](https://github.com/flame-engine/flame/blob/fb478f465bdc314ebcca70e759c91ad5b114f570/lib/components/composed_component.dart#L40) ) :
[code]
It is `mixin XXX on XYZ`, so your component `GameOverPanel` should implement `Component`, `HasGameRef` and `Tapable`

[2020-07-25 14:53] erickzanardo commented on #368
Fixed on #371

[2020-07-25 14:53] #368 closed

[2020-07-26 03:28] ufylord commented on #426
#167

[2020-07-26 16:28] Leviosar opened #428 "Docs URLs broken"
The [official website](https://flame-engine.org/docs) links on "Getting started" section that points to this repository markdowns are broken, for example the `Structures` link points to `https://github.com/flame-engine/flame/blob/master/structure.md` which gives a 404 error, i believe it should be `https://github.com/flame-engine/flame/blob/master/doc/structure.md`. Other links have the same probl

[2020-07-26 16:58] ufylord commented on #428
#420

[2020-07-26 17:02] ufylord commented on #428
Duplicate of #420
And the repository for the [official website](https://flame-engine.org/docs/) is [flame-engine-site](https://github.com/flame-engine/flame-engine-site)

[2020-07-26 23:00] Leviosar commented on #428
Sorry, I didn't know about the repository for the website. I am closing this issue then, thanks.

[2020-07-26 23:00] #428 closed

[2020-07-28 08:54] camillo777 commented on #373
Just a newbie here, but I would like to suggest to use Google "vector_math" library for Flutter, it is very optimized.

[2020-07-28 21:48] spydon commented on #373
That was my thought at first since we use that in box2d, but it is not extendable in a nice way since it is using factories. (It also has a pretty ugly interface in general).

Also luans comment:
https://github.com/flame-engine/flame/issues/373#issuecomment-640247244

[2020-07-29 23:13] erickzanardo commented on #426
@ProgrammingLife the help provided by ufylord fixed, clarified your issue?

[2020-07-29 23:14] erickzanardo commented on #425
@ProgrammingLife any news on this?

[2020-07-30 00:37] erickzanardo commented on #361
Fixed on #427, will be shipped on `0.25.0`

[2020-07-30 00:37] #361 closed

[2020-08-02 15:12] LiquidatorCoder opened #431 "rotate effect not working in a simple game"
I am new to Flame and I was following the official documentation to make an endless game in it.
<img src="https://user-images.githubusercontent.com/42910433/89125991-d562ea80-d4ff-11ea-9cbe-b4350e5d7728.jpg" width=300>

I hope the game is clear from this image.

Now I have two dart files.
First is box.dart which is the main player component.
[code]

As you can see I have added a spin method which

[2020-08-03 23:01] shinayser commented on #167
Hello everyone!  Just started studying flame and got myself stuck on this compasability problem. Luckly you guys already discussing it here!
Are you guys already working on making PositionComponent composable by default?

There is also something that I found pretty weird is that 'ComposedComponent' needs the 'Tapable' mixin. Isn't that weird? Forcing a class to be tapable just beucase of composabi

[2020-08-05 06:40] beyondacme opened #436 "audioPlayer null exception"
void didChangeAppLifecycleState(AppLifecycleState state) {
    if (state == AppLifecycleState.resumed) {
      if (isPlaying &&
          audioPlayer != null &&
          audioPlayer.state == AudioPlayerState.PAUSED) {
        audioPlayer.resume();
      }
    } else {
      **audioPlayer.pause();**
    }
  }

null

[2020-08-05 10:27] erickzanardo commented on #436
Please provide a meaningful description for the issue, I have no idea what is the problem by just looking at some code without any explanation of what is happening

[2020-08-05 10:42] beyondacme commented on #436
When I used this plugin, I encountered an exception. The player may not be initialized successfully, calling **audioPlayer.pause()** will throw an exception：**NoSuchMethodError: The method 'pause' was called on null. Receiver: null Tried calling: pause()
Bgm.didChangeAppLifecycleState**

Here to add a non-null judgment

void didChangeAppLifecycleState(AppLifecycleState state) {
if (state == AppLif

[2020-08-05 10:58] erickzanardo commented on #436
Your audioPlayer variable is null when you tried to call `pause` on it, maybe you forget to initialize it?

[2020-08-05 11:26] beyondacme commented on #436
I called ```Flame.bgm.initialize();```  to auto-pause and resume.  But in ```bgm.dart```  Other codes have done audioPlayer non-null  processing， only this line do not do  non-null judgment.

[2020-08-05 11:55] erickzanardo commented on #436
Oh, okay, that snippet you posted is from Flame, now I understand what is the problem

[2020-08-05 23:30] erickzanardo commented on #431
It seems that you are using `BaseGame` and overriding the `update` method. When using BaseGame, that is not advisable, as the BaseGame is responsible to handle your components lifecycle, which includes calling the update from the components, and a bunch of additional stuff.

So, long story short, you need to make sure that your update method calls the super.update.

[2020-08-05 23:30] erickzanardo commented on #426
closing due inactivity.

[2020-08-05 23:30] #426 closed

[2020-08-05 23:33] erickzanardo commented on #219
This will be solved by https://github.com/flame-engine/flame-flare/pull/2

[2020-08-06 16:46] luanpotter commented on #431
Underlying misconception was addressed by #437

[2020-08-06 16:46] #431 closed

[2020-08-09 04:49] wengxianxun opened #441 "BoxGame可以放在非main的widget里面初始化吗？"
BoxGame game = BoxGame();

runApp(game.widget);

这段初始化代码可以放在后面的某个具体Widget中吗，比如我现在项目里面main开始是一个纯flutter，然后点击一个按钮push到一个新的Widget在初始化这个BoxGame， 当我pop回main后注销掉BoxGame

[2020-08-09 10:12] spydon commented on #441
Since I had to google translate your question I'm not sure that I got it correctly, but yes, you can put it wherever in your flutter tree since the game is just a widget. Please keep to English for future issues.

[2020-08-09 10:12] #441 closed

[2020-08-10 18:37] renancaraujo commented on #421
This was due to a new feature introduced on `flare_flutter` 2.0.5. The [new implementation](https://github.com/flame-engine/flame_flare) of the integration between Flare and Flame is compatible with that change.

[2020-08-10 18:47] HesterS commented on #421
Thank you very much! Ik will try this next week.

Op ma 10 aug. 2020 20:37 schreef Renan <notifications@github.com>:

[2020-08-11 08:58] LBXjixiangniao opened #443 "How to set collision detection for flare animation?"

[2020-08-12 01:15] erickzanardo commented on #425
Closing due inactivity

[2020-08-12 01:15] #425 closed

[2020-08-12 01:18] erickzanardo commented on #421
The new package is released and flame 0.25.0 has the old Flare implementation deprecated. closing this.

[2020-08-12 01:18] #421 closed

[2020-08-12 01:19] erickzanardo commented on #419
Done on `v1.0.0`

[2020-08-12 01:19] #419 closed

[2020-08-12 01:20] erickzanardo commented on #401
This support is ready on the `flame_flare` package. Closing this.

[2020-08-12 01:20] #401 closed

[2020-08-12 01:20] erickzanardo commented on #219
This is available on the `flame_flare` package. Closing this.

[2020-08-12 01:20] #219 closed

[2020-08-12 23:17] erickzanardo commented on #443
@renancaraujo can you help us here?

[2020-08-12 23:30] erickzanardo commented on #318
Thanks for the suggestion, but we ended up using an implementation of our own!

[2020-08-12 23:30] #318 closed

[2020-08-12 23:52] renancaraujo commented on #443
Yeah, at first we can since `FlareActorComponent` is a `PositionComponent` and therefore we have as rect shaped area that can be used for the collision.

But if the case is to define a collision area based on a flare **shape**, you may need to retrieve it somehow via flares API (maybe via `getNode`).

[2020-08-13 08:24] LBXjixiangniao commented on #443
@renancaraujo It seems that the flares API cannot get the actual size of the content during the animation. For example, when a person is animated, is there a way to get the height of the person after squatting?

[2020-08-13 22:32] diezep opened #445 "Custom method not drawing"
I have this code, when i call _generatePoint_ method, the print works, but the TapableSquare isn't drawing, someone can help me pls.
[code]

[2020-08-13 22:33] diezep opened #446 "Custom method not drawing"
I have this code, when i call _generatePoint_ method, the print works, but the point isn't drawing, someone can help me pls.
**I tested the function calling inside the class and works, but when i tried to call outside, it doesn't works.**
[code]

[2020-08-13 22:35] erickzanardo commented on #445
What is the render method of the `TapableSquare`?

[2020-08-13 22:41] diezep commented on #446
The TapableSquare class is :
[code]
As an extra, the print in onTap isn't work too, i don't know what i'm doing wrong..

[2020-08-13 23:28] diezep commented on #445
[code]

[2020-08-13 23:30] diezep commented on #446
Continue in [#445]

[2020-08-13 23:30] #446 closed

[2020-08-13 23:37] luanpotter commented on #445
This `screenSize.width * offset.dx / 100` is probably offscreen. You probably want something like `x = offset.dx`?

[2020-08-13 23:42] luanpotter commented on #445
ohh I finally understood why you did that. You thought offset.dx was a percentage right? it's not, it's the absolute virtual pixel coordinates.

[2020-08-13 23:58] diezep commented on #445
# Yes, it's the porcentage to show in different screens

[2020-08-14 14:21] renancaraujo commented on #443
Via the getNode api you can get (and update) the position of specific nodes in the animation (like in the [teddy example)](https://github.com/2d-inc/Flare-Flutter/tree/master/example/teddy). It could be possible if there enough nodes in the flare animation.

[2020-08-14 16:20] renancaraujo commented on #445
Do you really mean to calculate `y` based on screen **width**?

[2020-08-14 16:46] renancaraujo commented on #167
@shinayser Yes, @luanpotter is working in the composed refactor. Since the changes will be very disruptive, it will aim the `1.0.0` branch.

[2020-08-14 17:07] renancaraujo commented on #248
Found this at the bottom of my notifications, sorry for the ridiculous delay.

We cant mix widgets with flame components (for now), so we could receive an [`ImageProvider`](https://api.flutter.dev/flutter/painting/ImageProvider-class.html) instead of the Image widget as proposed initially in this issue.
ImageProvider has as subclasses [`NetworkImage`](https://api.flutter.dev/flutter/painting/Netwo

[2020-08-14 17:32] erickzanardo commented on #248
This will be addressed on the v1 on the task I am working on

[2020-08-14 20:10] diezep commented on #445
Yes, because the offset always

[2020-08-14 20:20] erickzanardo commented on #445
I don't think so @diezep, it is the absolute value of the virtual position where the tap happened, you can just use the value directly.

[2020-08-14 20:40] diezep commented on #445
But.. The method has a variable offset as argument, i assign a value between 0 and 100, right?

[2020-08-14 20:42] diezep commented on #445
I think that is not the problem, because i have a periodic timer in resize method that works

[2020-08-14 20:43] diezep commented on #445
Or may i don't understand what you mean at all

[2020-08-15 07:45] #445 closed

[2020-08-15 10:03] glennmichaelmejias opened #447 "Smooth camera follow"
Is it possible to make a smooth camera follow?

[2020-08-15 14:18] erickzanardo commented on #447
This may help you https://fireslime.xyz/articles/20190911_Basic_Camera_Usage_In_Flame.html

[2020-08-15 21:26] christopherfujino opened #448 "Flame app FPS drops when upgrading from Flutter SDK 1.19.0-4.0.pre -> 1.19.0-5.0.pre"
There seems to have been a regression in the Flutter engine on [`f46dde1`](https://github.com/flutter/engine/commit/f46dde1f06e11b18fb07f51cfc93286bdda3eaa6), which was first published in Flutter SDK 1.19.0-5.0.pre, that can lead to a regression in framerate for a Flame app.

Minimal app reproduction to follow via @jiack214

[2020-08-16 17:13] christopherfujino commented on #448
This has independently been filed upstream as #63876, and it includes a minimal (non-flame) reproduction https://github.com/deckerst/flutter_image_anim_regression

[2020-08-16 23:16] Dannark commented on #447
Its pretty ease, Just use `lerp `interpolation maths.

[code]

In this way you will move an object to one point to another, the deltaTime is the time passed since the lastframe, it is necesseary if you want this to run equallys in 30, 60 or any other fps, since it uses the time to make this interpolation, and not just the how many iterations loops it passed.

Ah but to move only the camera and let

[2020-08-17 10:34] glennmichaelmejias commented on #447
@Dannark have you tried using the box2d camera follow? i can only update the camera on update and i cannot update it on button click perhaps.

[2020-08-17 11:56] Dannark commented on #447
@glennmichaelmejias No, I didn't try that, can you show me your code?

Another thing, Does this button fires only once when it's clicked?

[2020-08-17 15:02] Dannark commented on #447
Check it out, here is a full example:
[Smooth Camera Follow](https://github.com/Dannark/FlameExamples/blob/master/lib/examples/smooth_camera_follow/smooth_camera_follow.dart)

[2020-08-18 22:12] erickzanardo commented on #447
Let us know if the advice received here didn't solved your question, closing this for now.

[2020-08-18 22:12] #447 closed

[2020-08-18 22:14] erickzanardo commented on #443
Please let us know if the advice provided didn't solved your question. For the future, open issue about flare on its own repository here: https://github.com/flame-engine/flame_flare

[2020-08-18 22:14] #443 closed

[2020-08-20 19:48] Bes79 opened #449 "Strange behavior when trying to use onTapDown from Tapable and setting an angle other than zero"
class LeafComponent extends SpeedComponent {
  LeafComponent() : super('Leaf.flr', 'Show', 50, 50){
    angle = math.pi * 2 * leafRand.nextDouble();
  }

  @override
  void onTapDown(TapDownDetails details) {
    // TODO: implement onTapDown

    controller.Start([SpeedAnimation('Hide')]);
    super.onTapDown(details);
  }
}

when i change angle property and try to click on area 1 component dont s

[2020-08-25 22:15] luanpotter commented on #449
The current tappable implementation doesn't consider the angle for bounding box detection. In fact, toRect never considers the angle because it returns an AA (axis-aligned) rectangle. My idea for fixing this is counter-rotating the point with respect to the anchor point and check collision on that space.

I normally use anchor center in which case this problem is barely noticeable if width ~= heig

[2020-08-27 20:31] d-apps opened #453 "Flame.util.initialDimensions() getting wrong size of the screen"
**Flame version:** 0.24.0

**Flutter doctor -v**

[√] Flutter (Channel master, 1.22.0-2.0.pre.36, on Microsoft Windows [versÃ£o 10.0.19041.450], locale pt-BR)
    • Flutter version 1.22.0-2.0.pre.36 at C:\src\flutter
    • Framework revision d30e36ba8c (6 days ago), 2020-08-21 22:36:03 -0400
    • Engine revision d495da20d0
    • Dart version 2.10.0 (build 2.10.0-49.0.dev)

[√] Android toolchain -

[2020-08-27 20:46] erickzanardo commented on #453
@d-apps Thanks for filling this, we usually don't support the master channel, could you confirm if this behaviour happens on stable/beta?

[2020-08-27 23:25] d-apps commented on #453
I just tested and it happens on beta too. Exactly the same behavior.

`Channel beta, 1.21.0-9.1.pre`

[2020-08-31 23:55] erickzanardo commented on #453
@d-apps I have tried your code, and it always returns the correct dimension, are you testing on the device? Emulator? can you share additional information?

[2020-09-01 06:55] MrMuMu commented on #453
I came across this problem 1 week ago, I solved it with resize functionality. My main was like the following:

[code]

and `Game` class was like this:

[code]

and `SpawnManager` was using `tileSize` of the `Game` instance to spawn things.

I was using emulator, not every time but most of the time, the cold start was getting wrong size. When I hot reload everything works as it should. BTW, even th

[2020-09-01 12:26] d-apps commented on #453
I changed the order of methods on main.dart and the behavior is a little different now. If I flutter run in debug mode, the game gets only half of the screen on the width, the first screen of my game is the menu screen , an Overlay Widget, and I get an overflow error, but if I stop the flutter run and open my game directly from the launcher on the device, everything works fine and I don't have thi

[2020-09-01 15:23] d-apps commented on #453
I just realized that starting the game from the launcher it still doesn't gets the correct dimesions, same problem.

[2020-09-01 22:22] erickzanardo commented on #448
This is already solved on Flutter beta channel, and will probably be too on stable, closing this.

[2020-09-01 22:22] #448 closed

[2020-09-03 17:02] MrMuMu commented on #167
I'm new to flutter, flame, game dev and also what I'm going to suggest probably requires a lot of refactoring/designing. However from prior experience what I'm going to explain feels like the right approach to the problem.

# Option 1
- Add an abstract `GameObject` class which has fixed `PositionComponent`
- Hold a list for other components if the derived class needs to create a complex game objec

[2020-09-06 10:27] tommybuonomo opened #456 "[Box2D] Random deletion of body components in release mode"
Hello there 🙂 ,

Each time I test my game in release mode, I have weird random behaviours, and those bugs **never** happen in debug mode.

The most annoying bug is the one that delete randomly some body component of the world. In this video, you can see that the circle component at the half of the worm is destroyed just after launching it.

![ezgif com-video-to-gif (2)](https://user-images.githubu

[2020-09-07 08:37] spydon commented on #456
Interesting, I don't know what difference between debug and release mode that would make this happen.
I will try to debug this when I get some time.
If you decide to go further and debug the box2d code we would of course accept a PR fixing this too.

[2020-09-07 08:51] tommybuonomo commented on #456
Hey @spydon I tried to debug the box2d code but in fact, I don't really found something different between the 2 mode debug/release.
My theory is that it's maybe due to Android R8 obfuscation. I'll try with the `--no-shrink` option. I'll try also to reproduce the issue on iOS to confirm it's only an Android release mode issue.
Thanks for your help 🙏

[2020-09-09 12:17] tommybuonomo commented on #456
Hey @spydon,
I haven't found a solution yet, event with the --no-shrink option, the issue still happening in release mode :/
Keep me in touch if you work on this when you have time :)

[2020-09-09 12:27] spydon commented on #456
@tommybuonomo If you want to try more things you could try to run it with this version of box2d https://github.com/flame-engine/box2d.dart/pull/9 which has quite a lot of changes in it, but since I don't know what the problem could be here yet I have no idea if anything in there would change anything.
Thanks for the investigation so far, it is very valuable!

[2020-09-09 18:54] tommybuonomo commented on #456
Wow good job @spydon this is a huge refacto 👍
Unfortunately, there is breaking changes that prevent the libraries `flame` and `flame_svg` to compile if I switch the `box2d_flame` to your branch (even if I override the `flame` library to your `spydon.vector2d-unification` branch).
Maybe due to the fact that the `spydon.vector2d-unification` is 126 commits behind master ?

[2020-09-09 20:10] spydon commented on #456
Yeah, it gets a bit complicated to run it now before Flame v1.0 is released since the box2d support is moved out to `flame_box2d`.
I'll try to finish up what needs to be done on the flame side and make instructions of how to make it running.

[2020-09-09 21:21] christopherfujino opened #457 "Enable `avoid_function_literal_in_foreach_calls` lint and update code"
Per the [effective dart style guide](https://dart.dev/guides/language/effective-dart/usage#avoid-using-iterableforeach-with-a-function-literal):

It doesn't explicitly say it, but I believe that `.forEach()` with a function literal has the additional overhead of creating a new closure each time the code is run.

We could enable the lint [`avoid_function_literals_in_foreach_calls`](https://dart-lan

[2020-09-09 21:31] luanpotter commented on #457
@christopherfujino I think every bits and scraps of performance we can gather is always welcome. Flame is blazing fast but still some very heavy games face problems (we have seem issues). Normally those games have other things to be optimized, but I would never go against a performance boost. The cost here seems pretty low, as I don't have a strong opinion. Your quote really describes the reason I

[2020-09-09 21:41] erickzanardo commented on #457
On some languages, forEach has a better use of CPU cores than a common for. But I confess that I never researched about that on dart.

I would just check this before implementing the proposal, if we found out that the ir no difference on that, I am in favor of the proposal.

[2020-09-09 21:43] wolfenrain commented on #457
I would like to add my cup of tea, considering I have been doing all kinds of performance increases with Flame.

I have been down this rabbit hole before and eventually found out that `forEach` is in most cases the better performing variant of looping in Dart. As @erickzanardo already said it should obviously be tested before implementing but from my own tests I dare to make a bet :D.

Also see ht

[2020-09-09 21:45] christopherfujino commented on #457
Often with code like this, I personally struggle with how to strike the balance between raw performance and being expressive and concise. As a former ruby programmer, I love the elegance of that code. However, it also iterates the length of the list 4 times, whereas you **could** do a single loop, that would ~4 times faster but longer and more confusing to read:

[code]

I'm not recommending makin

[2020-09-09 21:47] christopherfujino commented on #457
From that post:

Is that really true? Doesn't a `forEach` create a closure while the for loop doesn't?

[2020-09-09 21:49] christopherfujino commented on #457
Also, that stack overflow response is from 2013, so everything could be different now. I guess the bottomline, we must benchmark!

[2020-09-09 22:13] erickzanardo commented on #457
I agree with the benchmark :D

[2020-09-10 03:00] christopherfujino commented on #457
We should still benchmark a flame game, but I create a [pure Dart benchmark](https://github.com/christopherfujino/dart-loop-benchmark), and it looks like for-in is faster:

[code]

[2020-09-10 08:33] renancaraujo commented on #457
This rule is just for foreach calls.

It would look more like:

[code]

Since foreach is aways at the end of the chain, there's no harm.

[2020-09-10 08:58] renancaraujo commented on #457
I don't think we have to add this rule.

Avoid function literals is not about performance, it is about writing in a more "idiomatic" way.
We can say that not creating a closure improves one _zillionth_ of a second, but that will not be enforced with this rule. As said above, this only enforces closures in forEach interactions. Maps, wheres, and other interactions will not be affected by this rule.

[2020-09-10 09:39] christopherfujino commented on #457
My point with that code snippet was not about the lint, but rather about striking the right balance between expressiveness and performance. Doing the two `.where()` calls are extra list traversals that **could** be skipped by just having two nested loops (the outer for list elements, the inner for their children). And I concluded by saying in that case, expressiveness is probably more desirable as

[2020-09-10 09:41] christopherfujino commented on #457
That having been said, if in AOT `for - in` is slower than `forEach` (per https://github.com/christopherfujino/dart-loop-benchmark), then switching to `for - in` probably isn't worth it.

[2020-09-10 13:13] erickzanardo commented on #457
Even if we don't apply this, I am thinking that making the benchmark on a Flame game is worth it, it will provide us with cool info.

This could be a nice game to be tested: https://github.com/flame-engine/flame_perfomance_test_game

It has intentional bad optimized code for collision detection, so the differences between the two for may be evident

[2020-09-10 13:47] luanpotter commented on #457
@renancaraujo I meant in this case I prefer the `forEach` rather than saving a variable and doing a `for`

@christopherfujino totally agree with the balancing thing, in general is a big problem to try to find the best route. I also programmed ruby in the past, and have had some interesting discussions about it. But, in this particular case, one interesting thing is that with Java streams (or Kotli

[2020-09-10 20:20] christopherfujino commented on #457
I know a lot of functional compilers do such optimizations, TIL Java is able to. I guess modern compilers are pretty smart...

[2020-09-10 21:20] renancaraujo commented on #457
That's why I think this rule should not be added. I would rather add as a "common practice" in our docs than trying to enforce it via lint.

[2020-09-14 17:58] tommybuonomo commented on #456
Hey @spydon 🙂
A little update of the long investigation I made on this issue:

- It concerns both Android & iOS OS, so it's not a specific platform issue, but a dart issue
- Bodies are randomly set to **inactive** (there are not destroyed, but just set to inactive)
- I checked the box2d_flame code, and the method `setActive(false)` on a body is never called.
- In the class `Body`, the `_flags` fie

[2020-09-14 23:42] d-apps commented on #453
This project has the problem, sometimes it retrieves the correct size but most of times it doesn't, I think you you'll be able to reproduce.

[https://github.com/d-apps/dont_starve_pumbaa](url)

[2020-09-15 07:32] spydon commented on #456
Hey again @tommybuonomo
I think I bumped over the issue yesterday too in the benchmarking code, which is just pure dart code, so if it is the same problem it has nothing to do with flutter. Since you seemingly aren't handling a lot of bodies in your app maybe you can do a fork of `box2d.dart` and turn off that the bodies can go to sleep, if you don't want to delay your launch?

[2020-09-15 07:44] spydon commented on #456
Ah sorry, it's too early in the morning. You shouldn't have to fork it, just call:
`world.setAllowSleep(false);`

[2020-09-15 11:19] tommybuonomo commented on #456
Hey @spydon, I already try the setAllowSleep option and it's not working 😔
Thanks

[2020-09-15 13:54] spydon commented on #456
Do they only go inactive outside of the viewport, or have you seen it on screen too?
Was your print ever invoked in the solution that you tried above?

[2020-09-15 14:27] tommybuonomo commented on #456
Yes, the print is always invoked in release mode, with bodies inside of the viewport.

[2020-09-15 17:01] aliasonym opened #463 "Cannot use CombinedEffect inside SequenceEffect"
## Description

When trying to add a SequenceEffect to a PositionComponent with a CombinedEffect inside it, the following exception is thrown:

[code]

I think the cause of this issue is quite obvious. The CombinedEffect calls initialize from the reset function, but the component parameter is null because the CombinedEffect was not initialized before with a valid component.

## Development envirom

[2020-09-16 09:52] spydon commented on #463
This is a bug indeed, good find!
If you have a solution we are always open for a PR.

[2020-09-16 12:10] tommybuonomo commented on #456
I confirm that even with the setAllowSleep at the right place, the bug is still here 😭
Plus, I had another issue, that is surely related. A ChainBody loose all contacts, but it remains active (cf gif the brown ChainBody is a static body and it had none contacts). It happened suddenly.
![ezgif com-video-to-gif (5)](https://user-images.githubusercontent.com/15737675/93335143-4e0ad580-f826-11ea-8880-

[2020-09-21 00:58] luanpotter commented on #457
I think (to conclude this) we can do the following:

* no add a hard rule, maybe mention it on our guides that it's a way to improve performance if we have a perf test code to prove it
* change our core for loops (eg the loop components inside render / update) to be fors because those are by far the most important and expensive loops in all the application. any other for loops are likely too small

[2020-09-21 01:03] luanpotter commented on #456
I don't know a lot about box2d but one thing I would check is to play around with different velocities, angles, gravities, etc to try to identify when it happens. is it random (if you hardcode the params does it happen all the time or not), and if not what exact values cause it. might help to identify the issue in the code.

just to be safe, on your own code, are there any places at all where you

[2020-09-21 01:05] luanpotter commented on #395
can't this be easily done just by conjoining multiple move effects one after the other with different destinations? a path is a list of points:

[code]

something like that

[2020-09-21 07:17] spydon commented on #395
There will be a lot of overhead if the path is long though, I think it would be more user friendly to create a separate class for it?

[2020-09-21 19:05] christopherfujino commented on #457
I updated https://github.com/christopherfujino/dart-loop-benchmark to use a for loop over for in, which provided an additional speedup (the for in loop may have checks for concurrent modification?), however, the for loop is still between 20%-0% slower than the foreach in AOT compilation. I believe this is because the AOT compiler is more conservative about optimizing the for loop than the JIT comp

[2020-09-21 19:05] #457 closed

[2020-09-22 14:26] renancaraujo opened #470 "Create migration guide to 1.0"
We shall provide a guide to point a path of migration of an existing project using a 0.x version fo flame to make it use the upcoming 1.x versions.

This shall make the way to this milestone alongside the preview(RC) versions.

[2020-09-22 22:13] erickzanardo commented on #436
Fixed on #468 will be released on 0.0.27

[2020-09-22 22:13] #436 closed

[2020-09-22 22:14] erickzanardo commented on #373
Solved for the v1. On #459

[2020-09-22 22:14] #373 closed

[2020-09-22 22:14] erickzanardo commented on #372
Solved by the PR mentioned above.

[2020-09-22 22:14] #372 closed

[2020-09-22 22:15] erickzanardo commented on #340
@spydon any news on this?

[2020-09-22 22:15] erickzanardo commented on #307
@spydon did the #370 fixed this?

[2020-09-22 22:16] erickzanardo commented on #167
This is solved on the v1 branch.

[2020-09-22 22:16] #167 closed

[2020-09-23 06:27] spydon commented on #307
It should, but I need to confirm.

[2020-09-23 13:13] spydon commented on #340
Haven't had any time to look into it, will do it once the massive box2d refactor is merged

[2020-09-23 18:29] tommybuonomo commented on #456
Hey @luanpotter ,
Every time the worm is out of the screen, I delete it from the world (using the `box.remove()` method) and I recreate it instantly at the right position. But I never touch the active option of a body.
FYI, i create a simple project to provokes the bug in release mode: https://github.com/tommybuonomo/box2d-dart-release-issue/settings
To resume this project: I add one worm in the w

[2020-09-23 18:35] spydon commented on #456
Why do you delete it?
When you have such few bodies, why not let box2d handle it when it is outside of the screen too?

[2020-09-23 18:48] tommybuonomo commented on #456
Yes you're right, I could recycle it and place it to the new position. I'll try this for my game !
But this will not fix the first issue. If someone create a game with a lot of bodies and a lot of deletion, the bug will pop again :/

[2020-09-23 19:15] tommybuonomo commented on #456
The issue is still here, even with the recycling. The reason is that each level of the game, I navigate to a new fresh page to load a new level. So I think the leak persist

[2020-09-23 20:08] spydon commented on #456
I think I misunderstand you, I'll hopefully have time to look at your example code tomorrow and that will probably make it clearer. But do you delete the body when it is not visible on the screen anymore, like when you shoot it upwards and it goes out on the top of the screen? If that is so, why not have the box2d world large enough to handle the parts outside of the screen too?

[2020-09-23 21:38] tommybuonomo commented on #456
Yes I delete the bodies out of the screen because I don't need them anymore, and I don't want box2d to still handle those bodies because they affect performances of the game. If the user retry 100 times a level, I want to keep only one reference of the worm in my game, not 100.
And from what I saw, box2d doesn't automatically destroy the out-of-screen bodies.
It could be a big help in fact if you

[2020-09-25 19:53] tommybuonomo commented on #456
FYI, and to give some update in this discussion, I opened an issue (just above) on flutter because the bug is more than a coding issue, and does not concerns the flame-engine library.
Feel free to consult it the know more about it and how I fixed it.
Thanks again for your precious help !

[2020-09-25 19:53] #456 closed

[2020-10-01 08:17] spydon commented on #398
Merged to v1.0.0

[2020-10-01 08:17] #398 closed

[2020-10-02 12:06] cloudseasail opened #477 "Any better way to interact from component to game instead of GameRef?"
I see there is builtin GameRef mixin which could reference to game instance,  wondering is this the recommended way to interact between component and game?
I am thinking to make async behaviour when user click component and trigger game state changing,  wondering is there any builtin method for this purpose?  or I have to add sth by myself  (like stream?)

Thanks!

[2020-10-02 20:05] d-apps commented on #477
I think there is only 3 ways to retrieve the reference of your game instance, mixin inside component classes, singleton and passing through constructor (singleton is useful when you need to retrieve the game instance inside widgets that you'll call using `addWidgetOverlay`)

[2020-10-02 20:21] d-apps commented on #453
It seems it was fixed now using flame: **^0.27.0**, plus I am using Flame's init method, I am closing this issue.

[code]

[2020-10-02 20:21] #453 closed

[2020-10-03 13:05] bung87 opened #478 "question: how to create animation with component ?"
I want create a simple fade out animation, I know flutter can use `AnimationController` in `widget` which is simple.
however in component I can't get right `this` context pass to `AnimationController`'s `vsync` parameter .
below is the code demonstrate the logic.
[code]

[2020-10-03 15:01] erickzanardo commented on #478
Flame components are not Flutter widgets, so you can't use AnimationController. To make a component fade, you will need to manipulate the `Paint` opacity that is used to render that component.

This probably can give you some idea: https://github.com/erickzanardo/cave-ace/blob/c2ef124c7b2e53cddb28c71eacf1f9b1b9311c4e/cave_ace/lib/components/effects/hit_effect.dart#L17

[2020-10-03 16:29] bung87 commented on #478
Thank you ! this is helpful, I have suggestion , I think better have `ComponentEffect` as basic class contains `Component` could be generic type make it more flexible.

[2020-10-05 18:58] spydon commented on #478
That is actually a pretty good idea @bung87, I did an implementation of it here https://github.com/flame-engine/flame/pull/484 if you want to have a look.

[2020-10-06 04:28] bung87 commented on #478
nice!! That's what I need.

[2020-10-06 07:23] #478 closed

[2020-10-06 12:50] cloudseasail opened #487 "Is it possible to render a component outside of game.render()."
I like to show a sprite on canvas when user Tapdown,  however I noticed "small lag" between Tapdown and sprite show.
I think this is because the game.render() not run directly after component created (in the Tapdown event).
So wondering if there is any way to render directly in Tapdown event,  instead of waiting for next render tick?

This is not FPS issue,  I record my FPS which is 60 perfectly.

[2020-10-06 12:54] cloudseasail commented on #477
Thanks for the advices,  I will try mixin or singleton.
Actually I was expecting more elegent way to handle this,  will close this issue and might get back if some better idea rised.

[2020-10-06 12:54] #477 closed

[2020-10-06 14:10] oakstair opened #488 "audio_pool example is not working on iOS"
## Description

I fail to run the audio_pool example under iOS. After one or two click it hangs.

    Syncing files to device iPhone SE (2nd generation)...
    flutter: Fatal Error: Callback lookup failed!
    flutter: Fatal Error: Callback lookup failed!
    flutter: Fatal Error: Callback lookup failed!

When googling this issue I found some hacks around that probaly should be added to flame !?

[2020-10-06 22:13] erickzanardo commented on #488
Can you please share those hacks with us?

[2020-10-06 22:18] erickzanardo commented on #404
Fixed on #486

[2020-10-06 22:18] #404 closed

[2020-10-07 05:37] oakstair commented on #488
https://stackoverflow.com/questions/61263458/flutter-fatal-error-callback-lookup-failed-with-audioplayers-package

[2020-10-07 12:28] luanpotter commented on #487
It doesn't make sense to render outside of render. If the game is running at 60 FPS, render will be called at most (worst case) 17ms after the handler. that is faster than humans can perceive. The whole idea of the game loop is to render as fast as possible, otherwise the whole game will look like it's moving in steps.

What I think you are seeing is a delay in the handler of on clicks by your dev

[2020-10-07 12:28] #487 closed

[2020-10-07 12:31] spydon commented on #487
Could it be the async loading of the sprite that @cloudseasail is experiencing?

[2020-10-07 21:35] spydon commented on #340
I just tried this, it works after the refactor.
So if you'll follow https://github.com/flame-engine/forge2d/pull/1 @yahel-ck you can start using that version, either now or when it is merged and published.

[2020-10-07 21:35] #340 closed

[2020-10-07 21:36] spydon commented on #307
Confirmed that it is fixed.

[2020-10-07 21:36] #307 closed

[2020-10-08 10:02] MacroLove opened #489 "Is it possible to support plist format spritesheet?"
## Description

Describe your issue here

## Development enviroment

Flame version:

Flutter doctor:

[code]

## Runtime

This issue is related to running on which platform? (Select all that apply)

 - [ ] Android :android:
 - [ ] iOS :apple:
 - [ ] Web :browser:

## Minimal reproducible code (Required for bugs)

Include a minimal code that reproduces the problem add it inline using code block mar

[2020-10-08 12:19] salah-rashad opened #490 "How to get the x & y coordinates of my sprite in a list of tiles"
How to get the x & y coordinates of my sprite in a list of tiles

## Description

How to get the x & y coordinates of my sprite in a list of tiles

## Development enviroment

Flame version: ^0.27.0

Flutter doctor:

[code]

## Runtime

This issue is related to running on which platform? (Select all that apply)

 - [*] Android :android:

## Minimal reproducible code (Required for bugs)

double x =

[2020-10-08 12:59] renancaraujo commented on #490
Hi @salah-rashad,
When openning the issue, you probably had seen something like this:

Check dicord.
https://discord.com/invite/pxrBmy4

[2020-10-08 12:59] #490 closed

[2020-10-08 13:50] erickzanardo commented on #489
Please send your suggestion on our Discord, you can find the join link on the README.

We use github issue for tracking real issues like bugs and problems.

When you join, please explain what do you mean plist format as I am not sure what that means.

Thanks!

[2020-10-08 13:50] #489 closed

[2020-10-10 22:19] spydon commented on #395
Added to v1.0.0 in the MoveEffect.

[2020-10-10 22:19] #395 closed

[2020-10-10 22:19] spydon commented on #463
Fixed in v1.0.0 (not yet released).

[2020-10-10 22:19] #463 closed

[2020-10-12 05:54] daisy1754 opened #492 "Deadlink to https://flame-engine.org/docs/effects.md"
## Description

At the bottom of https://flame-engine.org/docs/components.md it links to https://flame-engine.org/docs/effects.md but it's deadlink. I believe it should point to https://github.com/flame-engine/flame/blob/master/doc/effects.md

[2020-10-12 06:01] daisy1754 opened #493 "Feature Request: API to specify effect with total duration"
## Description

Currently [Effects](https://github.com/flame-engine/flame/blob/master/doc/effects.md) takes speed as argument. There is a use case where user of library want to specify duration instead.

Currently user has to look into implementation of Effect and reverse the math of calculating `travelTime`. It would be great if library can provide utility function so I can do like:

[code]

Anot

[2020-10-12 07:30] spydon commented on #493
Good suggestion, I'll try to get this feature into v1.0.0.

[2020-10-13 09:16] jamminc opened #497 "Error: Type 'FrameTiming' not found."
## Description

1. Create standard flutter app
2. Added Flame dependences ^0.27.0, pub get..
3. Goto Example tab, copy example program from page and paste to main.dart
4. Run the app and get a long list of compile error:

Launching lib/main.dart on sdk gphone x86 in debug mode...
Running Gradle task 'assembleDebug'...

Compiler message:
../../DevTools/flutter/.pub-cache/hosted/pub.dartlang.org/fla

[2020-10-13 11:07] erickzanardo commented on #497
The flutter version you are using is outdated, please update your flutter to the latest stable or beta and the problem will most likely be resolved.

[2020-10-14 08:33] jamminc commented on #497
Thanks... working now!!!
Time to update my disk image again :)

[2020-10-14 08:33] #497 closed

[2020-10-14 20:19] spydon commented on #193
Alright, so I did some more investigation regarding this and we have liquidfun support in the world, but we have no support to render the particle system yet.

[2020-10-17 19:32] luanpotter opened #503 "[1.0.0] Should we clone position on the PositionComponent setter?"
So currently if you do:

[code]

For a Position component it does *not* create a clone. I just wanted to discuss if this is our desired behaviour. These are the side effects:

### No clone

If you do
[code]

They will be linked forever. Which might be intended or not, or might be a bit confusing.

### Cloning

If you do

[code]

It won't move the box. Which might be intended or not, or might be a

[2020-10-18 16:08] spydon commented on #503
I wrote up a PR for it so that it sets the values to position instead of changing the reference, but I think it might be more confusing.
Because then we should also do the same on `size` and then I thought there are probably cases where you want to control the sizes of many components at the same time by just changing the same `Vector2`. And then I thought maybe the same is true for `position`, fo

[2020-10-20 05:53] daisy1754 opened #506 "is there a way to render scrollview?"
## Description

I want to render list of text. It's long text so I would like allow user to scroll through text.
Is there equivalent of Android's ScrollView in flame? I realize I can probably implement something using ScrollDetector but ideally I would like to have standard component with scrollbar etc

## Development environment

Flame version:

Flame version: 0.27.0

[2020-10-20 11:25] erickzanardo commented on #506
Flame don't provide any scrollable text component to be rendered inside the canvas.

My suggestion to you is to use Flame's widget overlay feature, where you can show Flutter widgets on top of the game canvas, that way you could simply Flutter widgets to show the scrollable text, an example here: https://github.com/flame-engine/flame/tree/master/doc/examples/with_widgets_overlay

Closing this as t

[2020-10-20 11:25] #506 closed

[2020-10-20 18:23] wolfenrain opened #507 "[1.0.0] Unable to use the `vector_math` library"
## Description

I am using the `vector_math` library for `Vector3` and other things. The problem is now that I have to pass a `Vector2` value that I receive from the `Game.resize` method to a class that uses the `Vector2` from my own imported `vector_math` which throws the following error:
[code]

## Development enviroment

Flame version:
`1.0.0-rc1`

Flutter doctor:

[code]

## Minimal reproducib

[2020-10-20 18:30] erickzanardo-creditas commented on #507
Isn't just the import of the extension missing?

[2020-10-20 18:31] erickzanardo commented on #507
Isn't just the import of the extension missing?

[2020-10-20 18:39] wolfenrain commented on #507
Hmm interesting, no the problem was because i was importing `vector_math` instead of `vector_math_64`..

But might it be a suggestion that we export the whole `vector_math` easily? So people first dont have to add their own dependency, but also so these kind of mistakes can be prevented?

[2020-10-20 18:42] erickzanardo commented on #507
Seems interesting to me! @spydon what are your thoughts ?

[2020-10-20 18:57] spydon commented on #507
Sure, I guess with the tree shaking it doesn't matter if we export the whole thing.

[2020-10-20 19:49] wolfenrain commented on #507
I would suggest hiding things like `Color` and `Colors` from the `vector_math` as they are not the same as the one we need for `Paint.color`

[2020-10-20 21:13] spydon commented on #507
@wolfenrain please review #508

[2020-10-22 06:05] daisy1754 opened #510 "HorizontalDragDetector doesn't work with HasTapableComponents"
## Description

I want to add horizontal swipe gesture to my app. I added `HorizontalDragDetector` to my game but drag is not detected. It seems it doesn't work if `HasTapableComponents` is there.

Example code:
https://github.com/daisy1754/flame/commit/7e3c95cf418714d6eec6d355fd8d7503f5be40e2

Is this bug or intended behaviour? https://flame-engine.org/docs/input.md says "Many of these detectors

[2020-10-22 11:46] erickzanardo commented on #510
`HasTapableComponents ` Makes uses of "advanced" detectors, `HorizontalDragDetector` is a "basic" detector, when mixing advanced and basic detectors, only the advanced will work. To have drag support on your game, together with the tapable components, you will need to use `MultiTouchDragDetector` instead.

[2020-10-22 11:51] spydon commented on #507
Fixed in #508

[2020-10-22 11:51] #507 closed

[2020-10-22 16:15] daisy1754 commented on #510
@erickzanardo is there a way to know which ones are advanced and which ones are basic?

[2020-10-22 16:40] erickzanardo commented on #510
Yeah, basically all the ones who has MultiTouch prefix are advanced, here you can find some better explanation: https://flame-engine.org/docs/input.md#touch-and-mouse-detectors

[2020-10-22 17:00] daisy1754 commented on #510
hm but I guess the fact that `HasTapableComponents` uses advanced detector is not very clear. If you want to implement basic touch functionality to your app you would use `HasTapableComponents` so I assume most of people use advanced detectors without knowing it

[2020-10-23 00:46] erickzanardo commented on #510
You are correct, this is not very clear on our docs. I have assembled a PR to fix that for v1. Thanks for bringing this to our attention.

[2020-10-23 00:48] erickzanardo commented on #248
Solved for the v1.0.0

[2020-10-23 00:48] #248 closed

[2020-10-26 20:57] erickzanardo commented on #227
Fixed on v1

[2020-10-26 20:57] #227 closed

[2020-10-27 22:13] erickzanardo commented on #488
@luanpotter can you take a look on this? Seems a problem on AP

[2020-10-28 14:53] LBXjixiangniao opened #516 "The percentage of PositionComponentEffect is null"
## Description

'package:flutter/src/animation/curves.dart': Failed assertion: line 36 pos 12: 't != null': is not true.

## Minimal reproducible code (Required for bugs)
For a PositionComponent, add an PositionComponentEffect and remove immediately，then when PositionComponentEffect update ,the percent for curve is null.
final double c = curve?.transform(percentage) ?? 1.0;

[2020-10-28 19:46] spydon commented on #516
We have a big rewrite of the effects system for v1.0.0, it will be released with the next RC and this bug should be fixed.

[2020-10-29 03:07] #516 closed

[2020-10-29 19:30] luanpotter opened #517 "Rename `resize` to `onGameResize`"
Followup of: https://github.com/flame-engine/flame/pull/504
Instead of doing both renames, since game.gameSize is a bit redundant, we decided on only changing the name of the resize method handler.

[2020-10-30 18:10] joaopehen98 opened #521 "Util.addGestureDetector is deprecated"
## Description

I'm starting to develop games with flame, but I'm facing this problem described above when I try to add a detector to receive the touches made to the screen. I already tried to downgrade my flame version, which ended that problem, but caused another one that prevented me from running the program. The android studio says I should try to use an equivalent to the addGestureDetector in

[2020-10-30 18:28] erickzanardo commented on #521
That API is deprecated, you can still use it, but on future versions it will be removed. You can find the new API and an example on how to use on the site: https://flame-engine.org/docs/input.md#example

[2020-10-30 18:28] #521 closed

[2020-10-31 00:38] joaopehen98 commented on #521
Thank you, very much! Orgulho de brasileiros tendo sucesso!

[2020-10-31 00:45] erickzanardo commented on #521
🇧🇷🇧🇷🇧🇷🎉🎉🎉

[2020-11-08 04:31] CQZW opened #523 "ComposedComponent will replace update method"
## Description

//issues 1  mixin ComposedComponent will replace update method
class SomeCompoent extends PositionComponent
    with HasGameRef, Tapable, Resizable, ComposedComponent {
.....

  @override
  void render(Canvas canvas) {
//issues 2,if do not invoke prepareCanvas be myself,it SomeCompoent can not be render, as some problem, //PositionComponent can not be render,,this may not a issues,

[2020-11-08 15:47] luanpotter commented on #523
`ComposedComponent` has been removed on v1 precisely because of this sort of issue. Now every position component can have potentially have children.

[2020-11-08 15:47] #523 closed

[2020-11-08 15:47] luanpotter commented on #517
Fixed by #518

[2020-11-08 15:47] #517 closed

[2020-11-11 08:12] dreamfly32 opened #524 "Error: Applying the mixin 'FPSCounter' to 'Game' introduces an erroneous override of 'onTimingsCallback'."
Flame version:0.28
flutter:1.17

error:
[code]
![image](https://user-images.githubusercontent.com/32086491/98786165-aa5e3000-2438-11eb-83b8-fbdb6ded3db7.png)

[2020-11-11 11:00] erickzanardo commented on #524
You are using an outdated version of Flutter. Please update it to the latest stable and the error will be solved.

[2020-11-11 11:00] #524 closed

[2020-11-15 14:16] spydon opened #528 "[1.0.0] Update docs"
## Description

We need to update the docs to be aligned with all the code changes for v1.0.0

## Development environment

Flame version: v1.0.0

## Files checked and updated
- [ ] components.md
- [ ] splash_screen.md
- [ ] particles.md
- [x] effects.md
- [ ] box2d.md (should be renamed to forge2d)
- [ ] util.md
- [ ] README.md
- [ ] gamepad.md
- [ ] tiled.md
- [ ] bgm.md
- [ ] palette.md
- [ ] de

[2020-11-15 19:29] cuong0993 opened #529 "Is it possible to change the particle system to support particle editors?"
Currently, particles are composed programmatically.  Is it possible to change the particle system to support a particle editor as other game engines? For example, https://pixijs.io/pixi-particles-editor/#.

[2020-11-15 20:51] spydon commented on #529
It doesn't exist at the moment, but it is a good suggestion for a feature!
I don't think anyone will have time to look at it in the very near future, but you can always put up a PR yourself if you want to contribute.

[2020-11-15 20:51] #493 closed

[2020-11-15 20:53] spydon commented on #510
I guess we can close this now, right @erickzanardo?

[2020-11-19 21:59] unger1984 opened #532 "TextBoxComponent exception"
## Description

Example for [text](https://github.com/flame-engine/flame/blob/a3fa58377681cb3505bdb51e5af6729cdf4b8f77/doc/examples/text/lib/main.dart) in documentation not work.

StackTrace:

[code]

## Development environment

Flame version:

1.0.0-rc2

Flutter doctor:

[code]

## Runtime

This issue is related to running on which platform? (Select all that apply)

 - [x] Android :android:

## M

[2020-11-21 17:05] spydon commented on #532
This is indeed a bug, the TextBoxComponent seems to have some missing pieces to work with v1.0.0, we are looking into it.
Thanks for reporting it!

[2020-11-21 20:28] spydon commented on #532
@unger1984 fixed it here #534.
It will probably be merged in a few days, but it might take some time until we release a new RC so you might want to depend directly on that branch for a while if you are in a hurry.

[2020-11-21 20:31] unger1984 commented on #532
@spydon Thank you for your reply and for making such a great tool!

[2020-11-24 11:51] osharaki opened #541 "Components only render after a hot reload"
## Description

I'm following along with the joystick example [here](https://github.com/flame-engine/flame/tree/master/doc/examples/joystick). When I attempt a hot restart of my app, this is what I see:

![image](https://user-images.githubusercontent.com/38385026/100088516-8b0bcd80-2e50-11eb-8555-b0b2af558eba.png)

Only when I trigger a hot reload do I actually see the components being rendered pr

[2020-11-24 11:57] spydon commented on #541
How are you running it?

[2020-11-24 12:01] osharaki commented on #541
In VS Code I hit Ctrl+F5 (Run without debugging).

[2020-11-24 12:02] spydon commented on #541
Do you get the same result if you just run `flutter run` from the terminal?

[2020-11-24 12:05] osharaki commented on #541
Yes. Then if I enter r (hot reload), it works as expected, but if I enter R (hot restart), the issue arises.

[2020-11-24 12:07] osharaki commented on #541
It seems when I enter s (take a screenshot), this has the same effect as doing a hot reload.

[2020-11-24 22:04] osharaki commented on #541
Changing the square from type `Component` to *flame_forge2d*'s `BodyComponent` causes it to render from the start as expected. The problem persists for the joystick, though.

[2020-11-25 08:09] lig opened #545 "What is the state of null-safety support in Flame at the moment?"
I couldn't find any info on the null-safety support state in Flame.

Is it worth attempting to work on that?

[2020-11-25 09:34] spydon commented on #545
I think the plan is to have it before we release the final v1.0.0 version.

[2020-11-25 10:40] lig commented on #545
@spydon is the work started already? I would like to give it a try myself. AFAIU, first all the dependencies need to have the NS support anyway.

[2020-11-25 10:52] spydon commented on #545
@lig is is not started, so please go ahead an give it a try, it would be very appreciated!
I think the `OrderedSet` needs to be updated first, if they haven't done that already.

[2020-11-25 11:02] lig commented on #545
@spydon yep, `OrderedSet` it is and, I've checked lately, there is no support for NS there yet.

[2020-11-25 11:07] spydon commented on #545
If you want to you could put up a PR in for that one too, shouldn't be that much code, it is maintained by @luanpotter.

[2020-11-25 12:51] #532 closed

[2020-11-25 13:39] lig commented on #545
@spydon that's exactly what I'm planning to do. Go to every dependency and then up to Flame (sic).

[2020-11-26 00:55] lig commented on #545
@spydon I think it could be useful to create a branch for `null-safety` ready code as it shouldn't be considered stable yet according to https://dart.dev/null-safety/migration-guide#step5-publish

It would be handy to target PRs addressing null-safety to such a branch, IMO.

BTW, https://github.com/luanpotter/ordered_set/pull/5

[2020-11-26 12:31] spydon commented on #545
@lig good idea
https://github.com/flame-engine/flame/tree/null-safety

[2020-11-28 22:14] lig commented on #545
https://github.com/flame-engine/flame/pull/549

[2020-12-05 12:52] spydon commented on #449
This will be solved in v1.0.0-rc3
(Solved in PR #548)

[2020-12-05 12:52] #449 closed

[2020-12-05 12:54] spydon commented on #397
This can be achieved already with a `ScaleEffect` and `MoveEffect` inside a `CombinedEffect`.

[2020-12-05 12:54] #397 closed

[2020-12-07 16:40] johnpryan opened #560 "Example doesn't work on desktop"
## Description

Enabling desktop and running the example throws exceptions:

[code]

<details>
  <summary>Console Output</summary>

[code]

</details

## Development environment

Flame version: master (https://github.com/flame-engine/flame/commit/61a3932eb95350f3ed4bd195ae3a0b318eb590f5)

Flutter doctor:

[code]

## Runtime

This issue is related to running on which platform? (Select all that appl

[2020-12-07 16:59] spydon commented on #560
Are you even using Flame here?
This looks like an issue for Flutter.

[2020-12-07 17:01] spydon commented on #560
You can use the #552 branch.

[2020-12-07 17:03] #560 closed

[2020-12-07 17:52] unger1984 opened #561 "SpriteBatch not work in Chrome"
## Description

doc/examples/sprite_batch not work in flutter web (Chrome). Crashed on render method of SpriteBatch

## Development environment

Flame version:

branch develop

[code]

Flutter doctor:

[code]

## Runtime

This issue is related to running on which platform? (Select all that apply)

 - [ ] Android :android:
 - [ ] iOS :apple:
 - [x] Web :browser:

## Minimal reproducible code (Requi

[2020-12-07 20:15] unger1984 opened #562 "AnimationComponent not work as child of PositionComponent"
## Description

If use AnimatedComponent as child of PositionComponent - animation not work.

## Development environment

Flame version:

develop branch

Flutter doctor:

[code]

## Runtime

This issue is related to running on which platform? (Select all that apply)

 - [x] Android :android:
 - [x] iOS :apple:
 - [x] Web :browser:

## Minimal reproducible code (Required for bugs)

[code]

[2020-12-07 20:19] spydon commented on #562
Does it work if you send in a `Game` to `addChild`?
`addChild(animationComponent, gameRef: gameRef);`

[2020-12-07 20:19] unger1984 commented on #562
I used an example from an animation from the docs doc/examples/animations, adding a PositionComponent to it

[2020-12-07 20:20] unger1984 commented on #562
Its not work too

[2020-12-08 23:02] spydon commented on #562
Can you try to add the children to the component after you have added the component to the game and see if that works?

[2020-12-09 09:38] unger1984 commented on #562
In the top example, on tap it adds an AnimationComponent to an existing component. But that doesn't work either.

[2020-12-09 12:13] erickzanardo commented on #561
SpriteBatch uses an API that is not available on web, I wonder if we should add an `assert` on it to check if this is running on web. Or if we could somehow implement the Spritebatch API without using drawAtlas. Any thoughts @wolfenrain ?

[2020-12-09 12:14] erickzanardo commented on #488
@luanpotter news on this?

[2020-12-09 12:38] unger1984 commented on #561
https://github.com/flutter/flutter/issues/32217 canvas.drawAtlas added to the ToDo list with priority 5

[2020-12-09 16:03] renancaraujo commented on #211
Updated the logo.

[2020-12-09 18:13] wolfenrain commented on #561
This is still my plan indeed, haven't gotten around on implementing it. It has some problematic caveats with it because of the `RSTransform`s that are used internally by the SpriteBatch. We cant reuse the transforms for other draw calls. So we need to introduce a different way of caching the original values.

The `RSTransform` only keeps the values that it calculates based on the arguments that go

[2020-12-11 14:19] erickzanardo opened #566 "SpriteAnimation Aseprite support not working"
## Description

Creating a SpriteAnimation from aseprite data is not working, for some reason, this line is breaking the `SpriteAnimation.fromAsepriteData` constructor.

[code]
## Development environment

Flame version: v1.0.0-rc3 (not published yet)

Flutter doctor:

[code]

[2020-12-11 14:22] spydon commented on #566
Is this working in `v1.0.0-rc2`?

[2020-12-11 14:48] erickzanardo commented on #566
To be honest, I haven't tested, but the line which is breaking is the same since always, I think this is a Flutter change, because it breaks on a casting statement.

[2020-12-11 19:43] spydon commented on #562
@unger1984 it's now fixed on develop, and we'll probably release a new version with it before the weekend is over.

[2020-12-11 19:45] unger1984 commented on #562
thx!

[2020-12-11 19:45] #562 closed

[2020-12-12 15:43] spydon opened #568 "[1.0.0] Update examples"
This is the state of the examples for v1.0.0, compiled by @oboingo (xx_light_xx on Discord), some needs fixing and others work fine already.

## Examples (- [x] = working)

- [x] animations
        Works on android, web
- [x] asesprite
        Fails on web: sprite_animation.dart, line 167
        Error: Expected a value of type 'Map<String, Map<String, dynamic>>', but got one of type '_JsonMap'

[2020-12-19 10:09] jefrisingh opened #582 "override method missing from component and it's not documented, Don't know how to use it"
## Description

destroy method misson on component

## Development environment

Flame version: ^1.0.0-rc3

Flutter doctor:

[✓] Flutter (Channel dev, 1.25.0-8.0.pre, on Linux, locale en_IN)
[!] Android toolchain - develop for Android devices (Android SDK version 30.0.3)
    ✗ Android SDK file not found:
      /home/jefri/Android/Sdk/build-tools/30.0.3/aapt.
[✓] Chrome - develop for the web
[✗] Lin

[2020-12-19 10:45] spydon commented on #582
Hi,
it has been renamed to `bool shouldRemove` (not a function), so now you can either override it like this:
[code]
or just do that check in `update()` and call `remove()` if it should be removed.

There is also a function called `onRemove()` which I suggest you override and put things like the audio which I can see that you have commented out there.

[2020-12-19 10:46] spydon commented on #528
#582 the lifecycle of removal of components needs to be documented.

[2020-12-19 11:01] jefrisingh commented on #582
It worked, thanks  +1:

[2020-12-19 11:01] #582 closed

[2020-12-20 00:41] christopherfujino commented on #560
This new API is now on Flutter beta channel, and I can reproduce it on an iOS simulator.

[2020-12-20 17:09] MrMuMu opened #584 "Keyboard up event on hold"
## Description

I press and hold without releasing keyboard key "A" for example, but I still receive `RawKeyUpEvent`

## Development environment

Flame version: 1.0.0-rc3

This issue is related to running on which platform? (Select all that apply)

 - [ ] Android :android: api 30 simulator

## Minimal reproducible code (Required for bugs)

`game.dart`
[code]

`main.dart`
[code]

When you press and

[2020-12-20 20:05] christopherfujino commented on #584
What Flutter version are you using? Sharing the output of `flutter doctor -v` would help.

[2020-12-21 05:31] MrMuMu commented on #584
updated

[2020-12-21 16:04] kickwaxapps opened #586 "Flame does not run on 1.25.0-8.1.pre: GameRenderBox class does not implement "computeDryLayout"."
## Description

Flutter 1.25.0-8.1.pre does not work nicely with Flame:

The following assertion was thrown during performResize():
The GameRenderBox class does not implement "computeDryLayout".

## Development environment

Flame version:
  flame: ^0.28.0

Flutter doctor:

[code]

## Runtime

This issue is related to running on which platform? (Select all that apply)

 - [ ] Android :android:
 - [

[2020-12-21 16:10] spydon commented on #586
This is not in Flutter stable yet unfortunately, #552 is the PR with the fix on it.
We are considering adding this before it has reached stable due to the amount of people it affects.

[2020-12-21 16:10] #586 closed

[2020-12-21 18:56] erickzanardo commented on #568
Since FDE has evolved a lot, maybe we could just drop `go_desktop`?

[2020-12-22 03:33] jefrisingh opened #590 "Android SDK file not found"
## Description

I did wrote simple game with only background image, but unable to run :disappointed:

## Development environment

Flame version: ^0.28.0

Flutter doctor:

[code]

## Runtime

This issue is related to running on which platform? (Select all that apply)

 - [x] Android :android:
 - [ ] iOS :apple:
 - [x] Web :browser:

## Minimal reproducible code (Required for bugs)

Below is the tot

[2020-12-22 09:02] spydon commented on #590
This is not in Flutter stable yet unfortunately, #552 is the PR with the fix on it.
We will most likely release `1.0.0-rc4` later today including that fix.

[2020-12-22 09:02] #590 closed

[2020-12-22 17:54] erickzanardo commented on #584
I have isolated this on a flutter app, without Flame, and the problem seems to originate on Flutter, I have opened an issue on the Flutter repository: https://github.com/flutter/flutter/issues/72816

[2020-12-23 14:36] #510 closed

[2020-12-23 21:31] erickzanardo commented on #584
I did a bunch of investigation on this and it turns out that this is a problem with Android Emulators, when using a real device, the events work as expected, more info can be found on the issue linked on my previous comment.

[2020-12-23 21:31] #584 closed

[2020-12-23 21:44] erickzanardo commented on #541
@osharaki Can you confirm is this is still happening on the more recent version of Flame? (v1.0.0-rc4)

Also, I noticed that you are adding your components on the constructor of your game, you could also try to add them on the `onLoad` method, like

[code]

[2020-12-23 21:44] erickzanardo commented on #503
is this discussion still valid after all the changes we did?

[2020-12-23 22:21] spydon commented on #503
It is, we still don't have a setter which does `clone` on the argument to `position` on `PositionComponent`, we just have to decide whether that is something we want or not. If we do add it the user doesn't accidentally tie that Vector2 to something else, but it also restricts the user from controlling the position of multiple components at the same time through one single `Vector2`.

[2020-12-23 22:35] erickzanardo commented on #503
I see, IMO we shouldn't clone, so we create less instances, and hopefully get a better performance?

[2020-12-23 22:37] spydon commented on #503
Let's keep it as is then, I don't think @luanpotter had any strong opinions on the matter either.
(Otherwise we can just re-open it)

[2020-12-23 22:37] #503 closed

[2020-12-23 22:38] erickzanardo commented on #503
SGTM

[2020-12-24 17:12] osharaki commented on #541
When I upgrade to Flame `1.0.0-rc4`, `runApp(MainGame().widget)` now causes an error:

[code]

[2020-12-24 17:24] spydon commented on #541
@osharaki you have to wrap it in a `GameWidget`.

[code]

[2020-12-25 10:03] osharaki commented on #541
After upgrading and applying @spydon's comment, the behavior still hasn't changed. However, when I add the components in `onLoad()` instead, as @erickzanardo suggested, it works fine. I did need to add `return super.onLoad();`, though. So:
[code]
 In fact, `onLoad()` also fixes the issue on `1.0.0-rc2`. So it seems this was simply a matter of incorrectly adding the components all along?

[2020-12-25 13:59] erickzanardo commented on #541
You shouldn't need to return 'super.onLoad()' that probably was required because you didn't added the 'async' keyword to your method declaration.

Since the use of the onLoad method solved the issue, I am gonna close this, feel free to add more questions here if needed.

[2020-12-25 13:59] #541 closed

[2020-12-26 18:22] spydon commented on #528
Svg docs are outdated after we released the last version.

[2020-12-28 18:48] klloggss opened #595 "Weird Joystick drawing issue"
## Description

So my Joystick is only drawn normally if I start my program two times or more often in debug. Otherwise it's drawn on the top. For example if I set the top and bottom margin to 0, you can see that the y-coord of the Joystick is the screenheight. In profile and release mode it's the same.

## Development environment

flame: 1.0.0-rc4
flame_forge2d: ^0.5.0-rc1

Flutter doctor:

[code

[2020-12-28 19:02] erickzanardo commented on #595
Please, can you post the full minimal reproducible code? It seems that you didn't informed all of the code, we need to have some snippets that we would be able to just copy it from here, paste it in a project, and see to problem happening.

[2020-12-28 19:39] klloggss commented on #595
### main.dart
[code]

### my_game.dart
[code]

### game_joystick.dart
[code]

[2020-12-28 19:43] klloggss commented on #595
and I changed the forge2d version to : ```flame_forge2d: ^0.6.0-rc1```

[2020-12-28 21:54] klloggss commented on #595
This issue doesn't occur on flame version: ```flame: 1.0.0-rc1```

[2020-12-29 22:47] luanpotter commented on #488
Will take a look!

[2020-12-30 20:30] luanpotter commented on #492
@renancaraujo is this fixed on the new website?

[2020-12-31 20:06] luanpotter commented on #488
Fixed in the latest flame_audio (rc3) for 1.0.0.
For v0.x I am planning on releasing a hot fix 0.29.0 version.

[2020-12-31 20:06] #488 closed

[2021-01-02 16:33] klloggss commented on #595
Update: It's still appering in

  flame_forge2d: ^0.6.0-rc2>

Could you please help me?

[2021-01-04 12:57] lig opened #606 "Improve `JoystickAction.update` logic"
existing code, but this could be:

[code]

_Originally posted by @luanpotter in https://github.com/flame-engine/flame/pull/603#discussion_r551152386_

[2021-01-04 13:01] lig opened #607 "Improve `parseAnchor()` logic in `examples/widgets`"
I think parseAnchor should just throw instead of returning null

_Originally posted by @luanpotter in https://github.com/flame-engine/flame/pull/603#discussion_r551152640_

[2021-01-04 13:10] lig commented on #606
Feel free to assign to me

[2021-01-04 13:10] lig commented on #607
Feel free to assign to me

[2021-01-04 13:16] spydon commented on #606
This is not related to #595 right?

[2021-01-04 13:19] lig commented on #606
I'm not sure yet as I'm not that familiar with the code. I will try to reproduce the test provided in #595 before and after the change.

[2021-01-04 18:39] wolfenrain commented on #606
I don't think it is, the code functionality did not change, only the way it is written.

[2021-01-04 22:44] spydon commented on #595
@klloggss is the behaviour the same if you run the `GameWidget` directly in `runApp`?
Like this:
[code]

[2021-01-04 23:03] klloggss commented on #595
No it is the same, if you run it in Release Mode for example.

[2021-01-07 08:53] dreamfly32 opened #615 "how to flip a sprite？"
![image](https://user-images.githubusercontent.com/32086491/103871723-6457dc80-5108-11eb-9fdc-33a9e4e34921.png)
![image](https://user-images.githubusercontent.com/32086491/103871786-746fbc00-5108-11eb-9ff8-cdd63f8b9009.png)

I use DynamicLayer to make the explosion effect, but I only have one picture. How do I rotate a sprite ？ As shown in the picture, it should face down. I tried add AnimationCom

[2021-01-07 08:55] dreamfly32 commented on #615
![image](https://user-images.githubusercontent.com/32086491/103872255-1e4f4880-5109-11eb-9f20-9ea31f693739.png)

[2021-01-07 08:58] HarrisonQi commented on #615
try this:

[code]

If use `PositionComponent`, try to change `renderFlipX` and `renderFlipY`

[2021-01-07 09:06] dreamfly32 commented on #615
@HarrisonQi 首先感谢你的回复。
renderFlipY我试过，可以旋转，但是会导致动画不一致，不知道是不是我写的问题
![image](https://user-images.githubusercontent.com/32086491/103873337-9c601f00-510a-11eb-8992-8ed7fbdff85c.png)
![image](https://user-images.githubusercontent.com/32086491/103873410-b437a300-510a-11eb-9fdd-72664881b961.png)

[2021-01-07 09:47] dinoandcat commented on #615
In the `SpriteComponent` or other Component which is extends  `PositionComponent`, you can use the `renderFlipX` and `renderFlipY` to flip the Sprite and user the angle can rotate the Srpite.
在 `SpriteComponent` 或继承了`PositionComponent`的组件中,可以使用`renderFlipX`和`renderFlipY`属性来翻转图片,使用`angle`可以旋转图片.

[2021-01-10 15:15] dominichamon opened #617 "Chain bgm plays"
## Description

I'm trying to chain two mp3s together so there's an intro and then a loop. I have tried:

[code]

and (in case there are assumptions in the bgm code):

[code]

In either case on Android I get no audio but I do get errors:

[code]

on iOS I get audio, but i get both loops playing simultaneously, so it seems the "whenComplete" isn't when the loop ends on iOS at least.

Is there a way

[2021-01-11 18:56] zb3119 opened #619 "Flame text-box not rendering if render() or update() defined in BaseGame subclass."
## Description

MyTextBox class defined in [documentation](https://github.com/flame-engine/flame/blob/master/doc/examples/text/lib/main.dart) not rendering if BaseGame Subclass has either render() or update() function defined.

## Development environment

`Flame version: ^1.0.0-rc5`

Flutter doctor:

[code]

## Runtime

This issue is related to running on which platform? (Select all that apply)

[2021-01-11 23:02] lig commented on #619
This is `BaseGame.render` implementation and docs

[code]
I guess you need to do the same job it does saving/restoring canvas or call `super.render` but I'm not exactly sure.

[2021-01-13 07:29] Alex-A4 opened #626 "IsometricTileMap render method"
Hey there!
Just learning Flame and watch for IsometricTileMaps, I really can't understand why the render method line looks like this:

`final p = getBlockPositionInts(j, i);`

Isn't it should be:

`final p = getBlockPositionInts(i, j);`

Flame version:
`flame: ^1.0.0-rc5`

Whole render method:
[code]

Looks like it's inverting rows and columns. Is that a bug or feature?

The problem is that in the

[2021-01-15 12:22] zmunk opened #629 "The GameRenderBox class does not implement "computeDryLayout"."
## Steps to Reproduce

1. Run `flutter create bug`.
2. Update the files as follows:

*pubspec.yaml*
[code]
*main.dart*
[code]
3. run `flutter clean` and `flutter pub get`
make sure you're on the master channel (run `flutter channel master`)
if not enabled, enable linux desktop with `flutter config --enable-linux-desktop`
run app `flutter run -d linux`

**Results:**
I was following [this tutorial](

[2021-01-15 13:01] zmunk commented on #629
Can you tell me how to update my pubspec.yaml to use Flame `v1.0.0-rc5`?

[2021-01-15 13:04] spydon commented on #629
Just change  `0.28.0` to `1.0.0-rc5`

[2021-01-15 13:13] erickzanardo commented on #629
Just be aware that `1.0.0-rc5` has a lot of API changes, so your code that was using `0.28.0` will most likely present compilation errors, which are all quite easy to fix.  If you have trouble with that migration, feel free to join our Discord and we can help you there.

[2021-01-15 13:41] zmunk commented on #629
I got the following error: `lib/main.dart:15:21: Error: The getter 'widget' isn't defined for the class 'BoxGame'.`

[2021-01-15 13:49] spydon commented on #629
Please try to solve things yourself first before asking, if you look in the [docs](https://github.com/flame-engine/flame/tree/master/doc) all your questions should be answered. (For this specific question the answer is that you have to wrap it in a `GameWidget`)
Also, the alekhin tutorials are very outdated, you can have a look at our [examples](https://github.com/flame-engine/flame/tree/master/do

[2021-01-15 14:05] zmunk commented on #629
Switching to the `flutter stable` channel allows the code to work using flame `0.28.0`.
The other option is migrating to `1.0.0-rc5` as mentioned above.

[2021-01-15 14:05] #629 closed

[2021-01-17 14:10] #607 closed

[2021-01-17 14:33] erickzanardo commented on #619
You `render` method on your base game class is not calling super, you must call super on that method otherwise the rendering of components will not work.

[2021-01-17 14:33] #619 closed

[2021-01-17 14:34] erickzanardo commented on #615
@dreamfly32 the advice received here solved your issue? Can we close this now?

[2021-01-17 23:15] #561 closed

[2021-01-18 00:37] #606 closed

[2021-01-18 17:00] lc-c opened #635 "Nested components cannot trigger click events"
## Description

Nested components cannot trigger click events

## Development environment

Flame version: ^1.0.0-rc5

Flutter doctor:

[code]

## Runtime

This issue is related to running on which platform? (Select all that apply)

 - [x] Android :android:
 - [ ] iOS :apple:
 - [ ] Web :browser:

## Minimal reproducible code (Required for bugs)

Include a minimal code that reproduces the problem a

[2021-01-18 17:10] spydon commented on #635
@lc-c you'll have to include some code and more explanation to what is not working here, composed components and click event are working for me.

[2021-01-18 17:33] lc-c commented on #635
game -> PositionComponent -> PositionComponent ->PositionComponent

[2021-01-18 18:28] erickzanardo commented on #635
@lc-c as mentioned on the template, we need some [minimal reproducible code](https://stackoverflow.com/help/minimal-reproducible-example) when a bug is reported, could you please take a look on that so we can continue on analyzing this?

[2021-01-19 16:47] FelixBruebach opened #637 "Little spaces between rectangles drawn on canvas"
## Description

I want to make a tile based game. Depending of their position there are little spaces between the rectangles I draw on the canvas.

![image](https://user-images.githubusercontent.com/41200990/105064849-87c24600-5a7d-11eb-859b-a673be80d05b.png)

## Development environment

Flame version:

flame: ^0.28.0

Flutter doctor:

[code]

## Runtime

This issue is related to running on which

[2021-01-20 12:44] #635 closed

[2021-01-20 18:48] luanpotter commented on #626
what are rows and columns? that is just a matter of definition right? is there any standard I am missing? I just did the way it made sense in my head

[2021-01-20 18:52] luanpotter commented on #626
(I am ok with replacing i<=>j btw if that makes more sense, just trying to understand the rationale)

[2021-01-20 18:54] Alex-A4 commented on #626
When it's j,i it rotates the result matrix and looks strange

[2021-01-20 19:00] Alex-A4 commented on #626
In the example empty square should not be clicked but it is. Because matrix rotated 90 degree to right

[2021-01-21 12:12] spydon commented on #635
Fixed in `1.0.0-rc6`

[2021-01-22 18:07] akashlilhare opened #641 "showing this error while trying to run the app on device"
/C:/flutter/flutter/.pub-cache/hosted/pub.dartlang.org/flame-0.15.2/lib/flame.dart:62:7: Error: The non-abstract class 'FlameBiding' is missing implementations for these members:
 - _FlameBiding&BindingBase&GestureBinding with ServicesBinding.SchedulerBinding.addPersistentFrameCallback
 - _FlameBiding&BindingBase&GestureBinding with ServicesBinding.SchedulerBinding.addPostFrameCallback
 - _FlameBi

[2021-01-22 18:09] spydon commented on #641
Hi,
this is an extremely old version of flame, please use either `0.28.0` or `1.0.0-rc6`.

[2021-01-22 18:12] #641 closed

[2021-01-23 06:46] rundun commented on #637
@FelixBruebach maybe im not understanding your question.  But if you read the comments in your render method.

`canvas.translate(1, 1); // if you remove this the spaces disappear`

I ran the code like this :
[code]
And the spaces between the squares were removed.

Please could you specify what the actual problem you are trying to solve is?

[2021-01-23 16:15] akashlilhare commented on #641
After updating with the latest version it showing error while using  **ComposedComponent** mixin. How to solve that error.
I want to use **ComposedComponent** mixin as :

`class Horizon extends PositionComponent with Resizable, ComposedComponent {
...
...
}`

[2021-01-23 16:45] spydon commented on #641
@akashlilhare you have to be more specific in your issues.
You have to post both the error that you get and code to reproduce it.
These kind of questions are much better suited for our [discord channel](https://discord.com/invite/pxrBmy4).

[2021-01-24 00:46] FelixBruebach commented on #637
@rundun I am well aware of the fact that removing the translation operation "removes the issue" (I wrote that comment). But in my opinion I shouldn't have to remove the translation in order to fix the issue. The translation is just one way to reproduce this issue. I encountered this issue when drawing a grid of tiles at float positions.

[2021-01-26 23:42] erickzanardo commented on #615
Closing due inactivity

[2021-01-26 23:42] #615 closed

[2021-01-26 23:43] erickzanardo commented on #566
Fixed on 1.0.0-rc6

[2021-01-26 23:43] #566 closed

[2021-01-26 23:46] erickzanardo commented on #595
@klloggss after some thought, we noted that you are adding the joystick component on the game contructor. The size of the game is not ready there yet, you need to add your components using the `onLoad` of the game.

I am going to close this issue, but if you still find problems with that approach let us know and we can reopen this.

[2021-01-26 23:46] #595 closed

[2021-01-27 22:47] callagga opened #645 "approach for changes "rooms" (screens) for a Flame 2D app?"
Question - What approach would one use in a Flame 2D simple RPG app, which is just different rooms that can you navigate between?  Is there something within Flame I should be looked at & what would the persistance mechanism you would recommend (e.g. which state the the user was in before quitting the game).

Would this best be done within Flame as opposed to using Flutter screens/routes to track t

[2021-01-30 09:25] mulieli opened #648 "flutter pub get error"
Because (project name) depends on flame ^0.29.0 which doesn't match any versions, version solving failed.
pub get failed (1; Because (project name) depends on flame ^0.29.0 which doesn't match any versions, version solving failed.)

[2021-01-30 16:27] spydon commented on #637
I would guess that this is due to rounding errors.
This doesn't really have anything to do with Flame, since you are just using the canvas to draw the tiles here.
Could be something like this: https://stackoverflow.com/questions/9942209/unwanted-lines-appearing-in-html5-canvas-using-tiles

I'll close this since it isn't flame-related, but feel free to share any conclusions that you come to here an

[2021-01-30 16:27] #637 closed

[2021-01-30 21:28] erickzanardo commented on #648
Cantou elaborate more on the problem, there isn't much info information here to work on.

0.29.0 is published as we can see here on pub https://pub.dev/packages/flame/versions/0.29.0

And please follow the issue template.

[2021-02-01 02:33] newPersonKing opened #649 "Tapable with angle change，it doesn't handle rotation"
## Description

Wrong coordinate processing of angle rotation click event
[code]

I think `toRec`t is the area that responds to events, but it doesn't handle rotation

## Development environment

Flame version:

Flutter doctor:

[code]

## Runtime

This issue is related to running on which platform? (Select all that apply)

 - [x] Android :android:
 - [ ] iOS :apple:
 - [ ] Web :browser:

## Minim

[2021-02-01 07:41] mulieli commented on #648
When I was using the flutter pub get library, the console prompted me an error

[2021-02-01 07:46] mulieli commented on #648
一个新建的项目，flutter 的版本是
![image](https://user-images.githubusercontent.com/24307960/106428858-90b30e80-64a4-11eb-8053-8fb210a8c293.png)

[2021-02-01 08:21] spydon commented on #649
Hi,
Which Flame version are you running?

[2021-02-01 08:33] newPersonKing commented on #649
0.29.0

[2021-02-01 08:34] newPersonKing commented on #649
0.29.0

[2021-02-01 08:54] spydon commented on #649
Right,it seems like the 0.x.0 branch doesn't support rotation.
You can upgrade to `v1.0.0-rc6` to get rotation and `Tapable` working properly.

[2021-02-01 12:13] erickzanardo commented on #648
Just to be sure I have just created a new project, used 0.29.0 and flutter pub get worked as expected, not sure why you are facing that issue but seems something local, try cleaning your flutter pub cache.

[2021-02-01 12:13] #648 closed

[2021-02-01 12:33] erickzanardo commented on #492
@renancaraujo is this fixed on the new website?

[2021-02-01 12:50] erickzanardo commented on #645
There are many ways of achieving that, Flame don't bundle any specific APIs for rooms of something like that, but if I were to implement something like that, I would probably create Components to represent the rooms and add the game objects, player, enemies and etc as its children. So when changing rooms, I could just remove that component and add the other one.

Regarding persistence, there are m

[2021-02-01 12:50] #645 closed

[2021-02-01 15:02] callagga commented on #645
ok - many thanks

[2021-02-01 20:24] rundun commented on #492
I can help test the new site if there is a staging instances?

[2021-02-02 23:06] erickzanardo commented on #649
Closing this since this is fixed on v1. We advice for you to upgrade your flame version.

[2021-02-02 23:06] #649 closed

[2021-02-02 23:24] erickzanardo commented on #617
The completion of the Future don't mean that the sound or music has ended, that future will return you an instance of AudioPlayer, which you could use to set listeners which will be called when the playing is completed, more here: https://github.com/luanpotter/audioplayers#completion-event

[2021-02-02 23:24] #617 closed

[2021-02-08 22:41] spydon commented on #492
The link now works, but it doesn't set the scroll position to the top of the page seemingly.

[2021-02-10 02:42] songtao542 opened #655 "How can i listen onPointerDown,onPointerMove,onPointerUp,onPointerCancel event ?"
I want to listen the pointer event. Can you provide a way to monitor pointer events?

[2021-02-10 05:10] luanpotter commented on #626
I'm so sorry but I'm really not sure I see what you are saying... We are transforming a matrix (which has no inherent geometrical representation but can be seen as a 2d cartesian space by the way we write it in the code) to a representation in isometric space. There is no unique way of transforming the x and y axis from 2d cartesian to isometric; there might be one standard way, which, I believe,

[2021-02-10 11:50] erickzanardo commented on #655
Flame already provides that, please look the docs and examples:

https://github.com/flame-engine/flame/tree/master/doc/examples/gestures/lib

https://github.com/flame-engine/flame/blob/master/doc/input.md#input

[2021-02-10 11:50] #655 closed

[2021-02-10 20:58] mpugach opened #657 "AudioCache prefix is changed since `audioplayers` 0.16.0"
## Description

Since `audioplayers` version 0.16.0 the mandatory non-configurable prefix is changed
https://github.com/luanpotter/audioplayers/blob/0.15.1/lib/audio_cache.dart#L138
https://github.com/luanpotter/audioplayers/blob/0.16.0/lib/audio_cache.dart#L147

This causes `Unable to load asset` exception for assets in `./assets/audio`

## Development environment

Flame version:

0.29.0
0.29.1-b

[2021-02-12 18:16] rusoleal opened #658 "Component.onGameResize with zero value first call"
## Description

first onGameResize on all components added to game comes with size(0.0,0.0). As consecuence, the onscreen joystick component isn't draw until next onGameResize call.

I/flutter (28817): player resize: [0.0,0.0]
I/flutter (28817): preload
I/flutter (28817): joystick resize: [0.0,0.0]
I/flutter (28817): resizing: [1280.0,844.0]
I/flutter (28817): load
I/flutter (28817): postload
I/fl

[2021-02-12 18:26] erickzanardo commented on #658
@rusoleal that example is incorrect, we need to fix it. Components shouldn't be added on the game constructor but on the `onLoad` function.

We will add validations to prevent this confusion in the future.

[2021-02-13 08:33] rusoleal commented on #658
Now is perfect!!! Thanks Erick.

Im working actively with flame and I would like to contribute as possible.

I try by myself to fix the problem and I created my custom game deriving directly from Game. My problem was that using JoystickController depends on BaseGame because...

abstract class JoystickController extends Component with HasGameRef<BaseGame> {

I checked that JoystickController just n

[2021-02-14 15:35] pedia opened #662 "Zero sized component's containsPoint always return true"
## Description
Zero sized component's `containsPoint` always return true. Is this right?

As test below:
[code]

I think Point(3,4) is not in the component, `containsPoint` should return false.

but test failed as:
[code]

## Development environment

Flame version: 1.0.0-rc6

Flutter doctor:

[code]

## Runtime

This issue is related to running on which platform? (Select all that apply)

 - [✓] An

[2021-02-14 17:25] spydon commented on #662
Good catch, thanks for reporting it!
I fixed it here now https://github.com/flame-engine/flame/pull/633/files#diff-9e66c4875dd208d36b553fdccbc6edaab29860cf826fdf18ecdd499431eb0e5cR109
The fix will be available in rc7

[2021-02-15 18:15] pedia opened #663 "Behavior of SpriteAnimationComponent.shouldRemove is much different with Component.shouldRemove?"
Normally we can remove a `Component` easily with `shouldRemove = true` or `remove()`, but this not worked in `SpriteAnimationComponent`.

I noticed SpriteAnimationComponent override `shouldRemove` as below:
[code]

I think it's better change to
[code]
Is this right?

And this cause `BaseGame` bug: never remove a removeOnFinish=false `SpriteAnimationComponent`.

flame version: 1.0.0-rc6

Thanks

[2021-02-15 20:55] spydon commented on #663
Sounds reasonable!
Do you want to make a PR with it?
(Otherwise we'll fix it of course)

[2021-02-15 22:07] #658 closed

[2021-02-16 00:17] luanpotter commented on #657
Excellent catch, @mpugach, I indeed forgot about this small breaking change I did on AP.

Fix: https://github.com/flame-engine/flame/pull/665

[2021-02-16 04:58] pedia commented on #663
@spydon PR #666 fired and all passed. ;-)

[2021-02-16 09:14] pedia opened #668 "Game.images and Flame.images are different instances"
I noticed `Game.images` and `Flame.images` are different instances and
`Game.images` is not be able to change because marked as final.

Is this behavior right?

Library(flame) always use `Flame.images` in 7 times.
Library user maybe preferred `gameRef.images` instead because of less file import.

[code]

[2021-02-16 09:34] erickzanardo commented on #668
We explain the diferente between the two instances on our docs, check it here for a better understanding: https://flame-engine.org/docs/#/images?id=flameimages

[2021-02-16 09:41] pedia commented on #668
I understood.
Thanks your patient to explain it.

[2021-02-16 09:41] #668 closed

[2021-02-16 17:32] erickzanardo commented on #662
@spydon can we close this then?

[2021-02-16 22:13] spydon commented on #662
GitHub will automagically close it when the PR is merged.

[2021-02-16 23:07] erickzanardo commented on #657
Fixed on #665

[2021-02-16 23:07] #657 closed

[2021-02-17 02:20] #663 closed

[2021-02-19 14:20] spydon commented on #626
I don't think it really matters here, but if it makes users confused maybe it would be a good idea to swap them (even though it doesn't make a difference)?

[2021-02-19 14:23] erickzanardo commented on #626
I agree with that, It don't seem to matter much, but if there is a standard our there, that we are missing, I vote to change, otherwise I think we should maintain the current implementation.

[2021-02-19 20:52] luanpotter commented on #626
AFAIK the most standard we have is the one I used.

@spydon the opposite could be equally confusing right?

[2021-02-21 10:28] pedia opened #674 "Support rotation canter is not geometric center?"
## Description

Set `Component.anchor` to `Anchor.center`, the rotation center is geometric center.
Rotation canter of Turrets on Tower always is not geometric center. The rotation is not desired.

## Development environment

Flame version: 1.0.0-rc6

Flutter doctor:

[code]

## Runtime

This issue is related to running on which platform? (Select all that apply)

 - [✓] Android :android:
 - [✓] iO

[2021-02-21 10:30] spydon commented on #674
Hi,
I don't understand what the issue is here, could you try to re-phrase it?
As far as I can see you set the anchor to the center, and it rotates around the center, what is your expected outcome?

[2021-02-21 10:48] pedia commented on #674
Sorry for my poor english.
[code]
The turret's rotate center is B, but it rotate with A.

[2021-02-21 11:00] spydon commented on #674
Aah, now I understand what you mean.
You don't want to use the predefined anchors, and set the anchor yourself?
Something like this right?
[code]
I'll write up a PR for that and see what the others think.

[2021-02-21 23:44] #662 closed

[2021-02-22 07:10] wolfenrain commented on #626
I agree with @luanpotter / @erickzanardo  on this, unless there is a standard that we should uphold, I vote to not change it.

[2021-02-22 21:09] #674 closed

[2021-02-22 23:40] luanpotter opened #677 "Standardize `dt` for time intervals"
On many overrides for update we end up using `t` to represent the delta from the last update. We should standardize the naming to use `dt` everywhere.

[2021-02-22 23:52] luanpotter commented on #492
@renancaraujo can you take a look on the anchor issue?

[2021-02-23 13:31] pedia opened #678 "Render order between parent component and its children"
# Current bug behaviour

Parent render above its children.

# Expected behaviour

Parent should render under its children.

# Steps to reproduce
[code]
Then `parent.png` render above `child.png`. Is this right?
Affected components are: `SpriteComponent` and `SpriteAnimationComponent` normally.

# Flutter doctor output

[code]

# More environment information
[code]

Now:
[code]

should be:

[code]

[2021-02-23 13:46] spydon commented on #678
Good find!
Your comments are swapped though? (`// render children < - > // render self`)
Do you want to make a PR for this?

[2021-02-23 13:52] pedia commented on #678
Sorry, I changed the code, but it's not worked properly.
I think there are more bugs in position of children component related to its parent(translate).

[2021-02-23 13:59] spydon commented on #678
How are you positioning your components?
Are you aware that the children are supposed to be positioned in relation to their parent, and not to the absolute top left corner?

[2021-02-23 14:46] pedia commented on #678
Yes, children's position is relative to their parent.

[2021-02-24 08:14] #677 closed

[2021-02-24 08:14] spydon commented on #678
So what is the problem that you are having with the positioning @pedia?

[2021-02-24 08:55] spydon commented on #678
I realized we have to do this differently, since `prepareCanvas` is called in super and it should always be called first.

[2021-02-24 12:35] pedia commented on #678
@spydon Yes, I test a little [This](https://github.com/pedia/flame/commit/c4ff1400ec4e6cb66bb0a9d229a637c6a2f5fdac) commit fixed. But it's ugly. Maybe there is better solution.

[2021-02-24 12:53] spydon commented on #678
Yeah, it would be nicer to not have all subclasses having to run prepareCanvas

[2021-02-24 19:28] spydon commented on #678
@pedia now it is solved, we'll release the fix with rc7 which should be released in the coming days (maybe even today)

[2021-02-24 19:29] spydon commented on #626
Let's close this one then, and if someone comes up with a standardized way that is different from the one we are using right now we can re-open it.

[2021-02-24 19:29] #626 closed

[2021-02-25 11:57] pedia commented on #678
Great，👍👍👍

[2021-02-25 11:59] spydon commented on #678
It is now released, please try if it works like you expect it to

[2021-02-25 11:59] #678 closed

[2021-02-27 22:00] christopherfujino opened #688 "Proposal: Flame LTS release channel"
Hey all,

I wrote up a request for comments proposal for a Flame LTS (long-term support) release channel: [Flame LTS](https://docs.google.com/document/d/1EfXiJcoDZaN7MKO9YZHsUrAyRFuQouIvfzLkf_O1a1k/edit?usp=sharing). Anyone with a gmail account should be able to view and comment on the doc. I am happy to also discuss on this issue, and on Discord. Please let me know what you think!

[2021-02-28 03:42] au-top opened #689 "On the optimization of collidable and hascollidables aubot collide passively"
On the optimization of collidable and hascollidables,

In a game, there may be a large number of collidable instances that will not move actively but only collide passively. Can you add attr ``` activeCollision ``` of bool type to the collidable abstract class to judge whether they are active or not

,

And change the logic of collisiondetection

Decompose the collindables parameter into

[code]

[2021-02-28 12:25] spydon commented on #689
Awesome to see a contribution to the collision detection code already, since it has only been out a few days!

[2021-03-01 13:52] au-top opened #691 "Will there be a built-in simple physical"
Sorry, I am not a professional 2D game developer, but a programmer. I hope to have a suggested physical library to work with the collision detection in flame1.0 .

[2021-03-01 14:15] spydon commented on #691
You can use either [Forge2D](https://github.com/flame-engine/forge2d/) or the built-in more [simple collision detection](https://github.com/flame-engine/flame/blob/master/doc/collision_detection.md).

[2021-03-01 14:51] #691 closed

[2021-03-07 17:08] spydon commented on #689
This is now merged and will be released together with rc8, thanks for your contribution @au-top!

[2021-03-07 17:08] #689 closed

[2021-03-07 17:09] spydon commented on #568
We should add an example with priority too, I realized that we didn't have that (or docs about it) today when someone on discord asked.

[2021-03-10 08:23] wenxiangjiang opened #697 "Add srcPosition and srcSize for SpriteComponent"
# Problem to solve

We can't create a `SpriteComponent` with part of an image.

# Proposal

Add `srcPosition` and `srcSize` for `SpriteComponent.fromImage()`.

# More information

I will submit a PR.

[2021-03-10 09:34] wenxiangjiang commented on #697
@spydon Yes, this PR is an extension.

[2021-03-10 20:50] #697 closed

[2021-03-11 02:10] luanpotter opened #703 "Rework the examples deploy github action"
Previously on our `flame_examples` repo we had this action:

[code]

We need to not only add `workingDir: 'example'`, move it to this repo and make sure it works with our new structure/flutter 2/etc. @erickzanardo shall take a look at this.

[2021-03-13 04:14] nateonguitar opened #705 "Flame 1.0.0-rc8 Tap regions off"
First of all, thank you for working on this game framework, it's really awesome!

I am trying out `1.0.0-rc8` with Flutter `2.0.3` (but I was having the issue with my game right before Flutter 2.0 released, no change in behavior pre-2.0)

The bug:
If the camera is moved, tappable items stay in the same place on the screen even though the camera moves and the object draws relative to where the came

[2021-03-13 06:17] luanpotter opened #706 "Consider making gameRef late in HasGameRef"
When I tried we had some issues with our testing framework. But now that we are ready for NS we should consider this carefully and make a change if necessary.

[2021-03-13 06:18] luanpotter commented on #705
Hi @nateonguitar , thanks for reporting this!

This was actually a known side effect of the interaction of camera/viewport + tapables. I proposed a list of solutions on [the original PR](https://github.com/flame-engine/flame/pull/673), you can take a look there it describes what exactly the issue is and how to hack a solution (using the provided transform functions).

We landed on implementing opt

[2021-03-13 06:53] nateonguitar commented on #705
Oh dude! I'm excited to see the outcome!

I just skimmed through the other thread, is the anchor position with the tap regions also a known issue?

[2021-03-13 08:38] spydon commented on #705
Is that a new bug for rc8 too? The tap regions and anchors should have been working in rc7 at least. I will have a look later!

[2021-03-13 14:11] luanpotter commented on #705
Watching the video, there is definitely a bug with anchor as well if you can take a look @spydon

[2021-03-13 16:51] nateonguitar commented on #705
I just tested with `1.0.0-rc8` and yes, both the camera move offset and anchor offsets have the same results as my `rc7` test.

[2021-03-14 14:00] parth181195 commented on #528
don't u think docs should be updated before they are considered for and rc and i guess si should be updated at the time of changing code by the person who changed code because i realty like this library and i cant get it to work because docs are not up to date and i have to go poking around in source code to find how to get something as simple as parallax component to work

[2021-03-14 15:22] spydon commented on #528
@parth181195 the code in v1 have been changing so quickly that we wanted to wait until the API stabilized before we started doing the full overhaul of the docs. We are starting now to go over the docs though, so it shouldn't be that long until they are accurate with the reality of the code.

[2021-03-14 15:31] parth181195 commented on #528
i wanted to update docs and add pr but for the same reason i haven't done so

[2021-03-15 07:48] Vadaski opened #708 "Does Flame support Rive2"
Hi I am currently build my game using flame. I found flame is already support flare but rive2 haven't support yet.
Is there any plane to support rive, so we can use it to build great animation.

[2021-03-15 08:52] spydon commented on #708
We do not support Rive yet, we will probably start working on rive2 support once we have release v1.
Or when our rive/flare-expert @renancaraujo gets time to do it. :)

[2021-03-15 08:54] spydon commented on #705
I have found the issue with the anchors, I will hopefully have a PR up later today.

[2021-03-15 10:57] wenxiangjiang opened #709 "Add repeat parameter for render function of Sprite"
# Problem to solve

I want to repeat a small image as the background of the game.

<img width="978" alt="flame background" src="https://user-images.githubusercontent.com/10527100/111142729-f922fe80-85bf-11eb-819c-4a75a7dfd894.png">

# Proposal

There is a function named `paintImage`, the api link is https://api.flutter.dev/flutter/painting/paintImage.html

The logic that can be used for reference

[2021-03-15 11:07] spydon commented on #709
You should be able to use the parallax api for this, even if you don't want it to move.

https://flame-engine.org/docs/#/components?id=parallaxcomponent

[2021-03-15 11:36] wenxiangjiang commented on #709
@spydon Oh, it is true. I really did not expect it to be achieved in this way. Thank you.

[code]

[2021-03-15 11:39] #709 closed

[2021-03-15 15:21] Vadaski commented on #708
Thank you for your reply！Efficient animation creator like Rive is really helpful for building games，hope we can use this feature soon；）@renancaraujo

[2021-03-16 22:52] erickzanardo commented on #705
Fixed on #710

[2021-03-16 23:15] nateonguitar commented on #705
Awesome, thanks for working in this!

[2021-03-18 01:06] erickzanardo commented on #703
@luanpotter I have fixed the action, here is the new code that you can use on the action

[code]

[2021-03-18 16:52] renancaraujo commented on #706
This depends on what kind of error we want to be thrown when the customer tries to access `.gameRef `before components onload. Making it late, we would have a `LateInitializationError`. If that doesn't work for us and we want a custom error, we can make `.gameRef` a getter for a private nullable field and throw our custom error when this private field is null.

Either way, `.gameRef` doesn't to be

[2021-03-18 17:08] spydon commented on #706
Yeah, would be very nice to not expose it as nullable, since we now have to do `gameRef!` everywhere.

[2021-03-18 17:56] gnudles opened #713 "where have all the audio gone?"
Flame.audio unit no longer there.
# Current bug behaviour

# Expected behaviour

# Steps to reproduce

# Flutter doctor output

[code]

# More environment information

# Log information

[code]

# More information

[2021-03-18 18:15] spydon commented on #713
It has moved out to a separate package: https://github.com/flame-engine/flame_audio/

[2021-03-18 18:15] #713 closed

[2021-03-19 06:01] gnudles commented on #713
Great, thanks. could you please update the docs to reflect that change?

[2021-03-19 09:16] GwaedGlas opened #715 "Possibility to set a package name for asset loading"
# Problem to solve
I have implemented my first game with flame in the last days. Because I want to divide this from the app where this should be integrated, I decided to handle the flame part in a separate package.
This guides to the problem, that the assets are always loaded from assets/images/ or assets/audios, which is leaking of the package name in the file path. So it is needed to have the im

[2021-03-22 09:20] gadgetreviews commented on #182
Hello,

I have same problem. I am developing a game with flame engine. I need to open a text input (textField, textEdit or whatever its name) and ask the user his/her input (player name) as a text in my flame game. How can I do that in flame?

Thanks for help

PS: I don't understand why OP decided to close this case. Because the link provided 2 years ago did not answer the original queson.

[2021-03-22 12:26] wolfenrain commented on #182
@erickzanardo also mentioned this in our discord, but for the sake of archiving I am going to copy his answer here.

If you want to integrate widgets into your Flame game, we recommend using our Overlay API. This allows for overlaying different kind of widgets into your game.

https://github.com/flame-engine/flame/blob/main/doc/game.md#flutter-widgets-and-game-instances

[2021-03-23 09:37] chirag729 opened #722 "Add function to allow clearing all components"
# Problem to solve
The ability to clear all components with a single function call would be quite useful. It allows me to simplify my logic in certain situations.

# Proposal
Add clear() function in BaseGame

[2021-03-24 12:44] wenxiangjiang opened #727 "SpriteAnimationComponent was removed prematurely"
# Current bug behaviour

`SpriteAnimationComponent` was removed in the last frame immediately regardless of the `stepTime`.

[code]

# Expected behaviour

I think `SpriteAnimationComponent` should be removed when `SpriteAnimation` is done.

[code]

PS: `SpriteAnimationComponent` can never be automatically removed if `SpriteAnimation#loop` is true. Perhaps this is a breaking change.

# Steps to rep

[2021-03-25 14:52] erickzanardo commented on #727
I think that makes sense, we should only remove the component when the animation is really done, not when it is on the last frame. Sounds like a good fix, if you are willing to work on this, it would be quite appreciated.

[2021-03-30 22:10] #727 closed

[2021-03-31 18:41] spydon commented on #528
Only the joystick docs that need to be updated now.

[2021-03-31 20:29] erickzanardo commented on #568
@spydon we have done a lot of work on examples, I wonder if we need to keep this open, what do you think?

[2021-03-31 20:32] spydon commented on #568
Agree, probably time to close it

[2021-03-31 20:44] #568 closed

[2021-04-03 13:32] luanpotter commented on #722
Fixed by https://github.com/flame-engine/flame/pull/723

[2021-04-03 13:32] #722 closed

[2021-04-03 13:40] luanpotter commented on #715
Hey @GwaedGlas that is a good idea! In fact in flame audio (and audioplayers) I already made it configurable after a similar request. For flame itself, we have asset and images loading, and indeed those were still hardcoded (my bad).

Here is my proposed solution: https://github.com/flame-engine/flame/pull/741
What do you think?

[2021-04-03 13:42] luanpotter commented on #706
The error is not on flame side, but rather our own tests setup games in an incomplete manner which leads to the late init exception. I will take a look at this now if I can fix all the tests.

[2021-04-03 22:04] nateonguitar commented on #705
Hi guys, first of all, thanks for working on this, I'm excited to see where Flame is headed for v1.0 release!

@erickzanardo @luanpotter @spydon

I think this issue might have been closed prematurely.  Here's a video of the issue still happening.  Before making the video I used `rc8` and the issue was still there, but I know you guys have done a lot of work since then.  When I point at `main` in g

[2021-04-03 22:05] nateonguitar commented on #705
Also, I'd like to mention, I have no pre-1.0 experience with Flame.  I saw that version 1.0 is being worked on so I didn't really care to learn pre-1.0, so if I'm doing anything wrong please let me know, I posted the code above.  If this can be fixed with some documentation update that's a lot easier than fixing it when it does actually work if I used it correctly.

[2021-04-03 23:47] luanpotter commented on #706
Fixed by #742

[2021-04-03 23:47] #706 closed

[2021-04-05 11:34] spydon commented on #705
Hey @nateonguitar, you are correct this was closed too early since only one of the the problems were solved (the anchor one), and I don't think we are tracking the new events system (which this depends on) in an issue, right @luanpotter?

[2021-04-05 12:34] erickzanardo commented on #705
I am unsure if this is really a problem, we have planned the new event system to be implemented, but at the moment the methods on the camera can be used to get coordinates into the game world right?

[2021-04-05 12:39] spydon commented on #705
@erickzanardo I assume the users would think that for example tapable should continue working even if they move the camera?
It's not something the common user would think that they would have to re-implement themselves just because they move the camera I think, and therefore classed as bug?

[2021-04-05 12:41] erickzanardo commented on #705
You are right @spydon, I totally forgot about tapbles and draggables

[2021-04-05 16:13] luanpotter commented on #182
I also answered this here: https://stackoverflow.com/questions/66743319/how-to-use-textfield-in-a-flame-game

[2021-04-07 04:08] nateonguitar commented on #705
Hi guys, just trying our rc9 which says:

![image](https://user-images.githubusercontent.com/19334124/113809055-92a78100-9724-11eb-8276-59f4f82947b2.png)

I just tried out the tap regions for having an anchor not centered and it's the same issue.  I can tap off to the bottom right of the square and it triggers the tap event.  The left and top quadrants don't trigger the tap event as expected when

[2021-04-07 05:06] mcpeakdb opened #753 "tutorials/1_basic_square/README.md version incompatible with paint()"
# Current bug behaviour
README.md states to use 1.0.0-rc8 version. I ran into issues with paint() until I tried using version 1.0.0-rc9

# Expected behaviour
Update README.md to reflect version change

# Steps to reproduce
Followed the tutorial with version 1.0.0-rc8, paint() does not compile

# Flutter doctor output
No issues found! exit code 0

[2021-04-07 05:09] mcpeakdb commented on #753
apologies if this is labeled incorrectly as a bug, I am relatively new to open source contributions

[2021-04-07 07:00] spydon commented on #753
Thanks for the report, do you want to contribute with a PR for it?
Could be a good thing to learn if you are new to open source contributions (and we'll guide you through it if you have any problems). :)
https://github.com/flame-engine/flame/blob/main/CONTRIBUTING.md

[2021-04-07 08:37] spydon commented on #705
Hmm, that is odd, I thought I added tests for this after I fixed it.
Just to clarify, this is without moving the camera right?

[2021-04-07 08:41] spydon commented on #705
It feels like this example should be broken if it wasn't fixed in rc9:
https://flame-engine.github.io/flame/#/Controls_Tapables :thinking:

[2021-04-07 09:56] spydon commented on #705
Ah, I see what the problem is here.
It looks like your `render` function is off:
[code]

`position` will be the anchor position in there, not the center which you expect. Try this instead:

[code]